[2021-07-21 13:10] suukit opened #3041 "Module gitlab_group_members does fail if more than 20 users are already in member of a group"
### Summary

The current implementation fetches the list of members to check if the given user is already member. The call to group.members.list() is done without any arguments so that standard pagination is in order and cuts the returned list which results in wrong evaluation for some users. The resulting create fails due to the user already being in the group.

https://github.com/ansible-collect

[2021-07-21 13:41] suukit commented on #3041
Same problem for gitlab_project_members
https://github.com/ansible-collections/community.general/blob/main/plugins/modules/source_control/gitlab/gitlab_project_members.py#L133

[2021-07-21 18:13] smalleni opened #3042 "VirtualMediaEject should not require image_url"
### Summary

When using `redfish_command` I want to eject all virtual media and looks like the module expects a value for image_url for this to work. There are cases when a user wants to eject all virtual media and it might not be possible to know the exact urls of the virtual media previously supported. It looks like redfish supports ejecting all virtual media without providig an image_url link (

[2021-07-21 18:19] smalleni commented on #3042
Looks like there is an explicit check for image_url: https://github.com/ansible-collections/community.general/blob/ea822c7bdd9cbeccc4541c2f95280442c6f213ab/plugins/module_utils/redfish_utils.py#L2325-L2327

[2021-07-21 18:32] mraineri commented on #3042
Yes, at least with the behavior we've implemented today the image URL is needed since the expectation is the user is specifying the image URL for the ISO to eject. I think we need to consider some things first before making changes.

If the image URL is not given, then what exactly should be ejected? All virtual media? This seems a bit heavy handed in my opinion, but others might like this behavio

[2021-07-21 19:04] smalleni commented on #3042
Thank you for taking a look quickly. This is especially useful in our situation where the hardware nodes get recycled quite a bit between tenants and we might have things lingering around from previous tenants. Hence the need to remove any virtualmedia. If redfish supports this, I would expect the ansible module also to show the same behavior.

[2021-07-21 19:38] Ajpantuso commented on #3040
@omula Can you take a look and see if this is related to #2901

[2021-07-21 20:18] felixfontein commented on #3041
!component =plugins/modules/source_control/gitlab/gitlab_group_members.py

[2021-07-21 21:07] omula commented on #3040
I tried the example below and failed with the following error: `FAILED! => {"changed": false, "msg": "Error: Failed to add 'Wired connection 1' connection: connection.interface-name: 'Wired connection 1': interface name contains an invalid character\n", "name": "Wired connection 1", "rc": 4}`
[code]

By changing the connection name to just `Wired` it worked.
`{"Connection": "Connection Wired of Ty

[2021-07-21 22:21] ziegenberg commented on #3031
Hi @quidame, If you tell me which way to solve the inconsistency, I can compile a PR and fix the issue. I've been working on PR #3033 and got some insight into ini_file lately. Based on the decision here, PR 3033 might need a small update as well.

[2021-07-22 02:26] russoz commented on #752
hi @tmiroslav any updates on this?

[2021-07-22 12:46] mraineri commented on #3042
That particular example ejects a virtual media instance called "CD"; there are other virtual media instances in the collection. Essentially you'd replace the segment "CD" in the URI for the action with another instance identifier (I think "USB" is another one used by iDRAC).

[2021-07-22 14:18] smalleni commented on #3042
Got it, but since it doesn't require an image url, maybe even in ansible we can support ejecting all media instance of a particular media type?

[2021-07-22 20:05] mraineri commented on #3042
Maybe an explicit "all" option just for clarity? I'd be concerned with having default behavior eject everything since the other slot could be in use for another user.

[2021-07-23 08:35] russoz commented on #371
@Yajo please take a look at the PR, see if it fits the bill :-) Also, if you see some testing that could/should be added to it, by all means let us know.

[2021-07-23 11:19] jpmens commented on #2692
As far as I can tell (FreeBSD running Ansible core 2.11.2) it really only is a matter of removing the lines `/\._options/`, at least that works for me.

[2021-07-24 02:37] estenrye opened #3057 "community.general.tss Lookup Plugin throws exception when using python-tss-sdk 1.0.0."
### Summary

python-tss-sdk introduced a breaking change by removing the [SecretServerAccessError](https://github.com/thycotic/python-tss-sdk/blob/9727ffea263fd29ed7cb0a64325a95a735162365/thycotic/secrets/server.py#L106) class.

It appears to have been replaced with the [SecretServerClientError](https://github.com/thycotic/python-tss-sdk/blob/6969b8ee2161cab7c72ed01e1b7e6f1cdb2fd7f2/thycotic/secre

[2021-07-24 12:25] Ajpantuso commented on #3057
` SecretServerAccessError` is imported but unused so removing the import should safely fix this.

[2021-07-24 19:13] #3041 closed

[2021-07-25 10:01] russoz opened #3070 "supervisorctl integration tests - Python 3 support"
### Summary

The integration tests for the `supervisorctl` module currently do not support Python 3.

### Issue Type

Feature Idea

### Component Name

supervisorctl

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-07-25 12:59] quidame commented on #3031
I can reproduce the bug. In fact, it has nothing to do with `allow_no_value=False`. Or, more precisely, we get the same inconsistency when `allow_no_value=True`, but with a different result than when it is False.

[code]

 When we should get:
[code]
with `allow_no_value=False`, we get:
[code]
with `allow_no_value=True`, we get:
[code]
The lines to focus on seem to be:
https://github.com/ansible-co

[2021-07-25 20:22] quidame commented on #2460
for me, https://github.com/ansible/ansible/pull/24616 makes clear that `pkcs12_*` options were introduced to import a private key into a keystore, as well as its matching certificate. So, import of private key is not a side effect, but an explicit intention, even if is is not well documented in the module. What could be considered as a side effect, in my opinion, is the import of the CA chain.

Wh

[2021-07-25 23:18] quidame commented on #3023
I can't reproduce the issue.
@davexre , could you please provide more accurate input/output ?

In the description, module parameters in **Steps to reproduce** don't match the ones in **Actual results**.

Additionally, in **Actual results**, `cert_alias` and `pkcs12_alias` got a `VALUE_SPECIFIED_IN_NO_LOG_PARAMETER`, whereas the module doesn't set `no_log=True` for these parameters (and never did t

[2021-07-26 04:26] felixfontein commented on #3023
It could be that the aliases that are marked `VALUE_SPECIFIED_IN_NO_LOG_PARAMETER` equal the password(s) used. Ansible is clever by masking the `no_log=True` values also if they appear somewhere else.

[2021-07-26 04:33] #1713 closed

[2021-07-26 05:04] amigus commented on #3057
Pinning it at 0.0.6 will fix the problem in the short term, however, we are working to update this code to use 1.0.0 and expect it to be done in a couple of days.

[2021-07-26 09:42] #2460 closed

[2021-07-26 21:36] miterion commented on #2957
@Ajpantuso According to the changelog the latest proxmox release only includes the `template` parameter if the guest is a template, see [here](https://pve.proxmox.com/wiki/Roadmap#7.0-breaking-changes) (the last entry in the breaking changes list).

[2021-07-26 21:46] Ajpantuso commented on #2957
Thanks! The reporter of this issue indicated the same behavior occurred in Proxmox 6, but that makes more sense.

[2021-07-28 17:32] digitalcraig commented on #2860
I'm not sure if related to this issue, but I'm not able to make the proxmox inventory plugin work correctly after following the example:

[code]

my.proxmox.yml:
[code]

Versions:

ansible [core 2.11.3]
  python version = 3.9.5 (default, May 11 2021, 08:20:37) [GCC 10.3.0]
  jinja version = 3.0.1
  libyaml = True

community.general:3.4.0

[2021-07-28 17:44] Rudedog9d opened #3105 "Support GRE Type Tunnels within NMCLI Module"
### Summary

The NMCLI module supports IPIP and SIT tunnels. According to [Linux Foundation](https://wiki.linuxfoundation.org/networking/tunneling), the Linux Kernel supports IPIP, SIT, and GRE tunnels out of the box. As far as I can tell, the syntax for IPIP and GRE tunnels are the same. I think the NMCLI module could support GRE tunnels pretty easily, by just adding `gre` to the list of allowed

[2021-07-29 16:42] JoelRobinson-Tista opened #3109 "Yarn module: support --frozen-lockfile argument"
### Summary

Ensure `yarn install` will not update the `yarn.lock` file, and fail if an update is required

### Issue Type

Feature Idea

### Component Name

yarn

### Additional Information

If a `yarn.lock` file is not in the current directory normally yarn will generate one. In order to add more stability to nodejs deployments `yarn install` has the `--frozen-lockfile` command line option which

[2021-07-29 20:30] #371 closed

[2021-07-30 19:51] smalleni commented on #3042
Sure, but it's really useful for sysadmins to be able to eject all virtual media. Either it is a default option when you don't provide image_url or you have to explicitly ask for it, either is fine.

At the end of the day I want to be able to eject virtual media (either of a particular type like CD or of all types) without the image_url since I may not always know the image_url used by a user who

[2021-07-30 21:11] bashfulrobot opened #3118 "community.general.flatpak - reports no match, but seems to install"
### Summary

I have a role setup where I am leveraging flatpaks to install on my local system. It keeps reporting the package is not found but appears to have been installed.

Thank you for your time.

### Issue Type

Bug Report

### Component Name

community.general.flatpak

### Ansible Version

[code]

### Configuration

[code]

This command results in an empty result.

### OS / Environment

[co

[2021-07-31 05:31] russoz commented on #553
Hi @fbruetting I was taking a look at this issue, and it does not seem like it would be too complicated to work on. Could you please:
* confirm the problem still exists, on Ansible 2.11.x? (2.9.9 is too old - in fact is not supported anymore).
* paste the output of the problem running with `-vvv` ?
* don't make Ansible go to khaza-dum, we all know what happnes there ;-)

[2021-07-31 05:43] #2999 closed

[2021-07-31 07:22] felixfontein commented on #3118
The flatpak module only allows to install multiple packages at once since community.general 3.3.0. Are you using this or a newer version of community.general?

needs_info

[2021-07-31 07:43] bmillemathias commented on #2473
Hey @Akasurde
Did you had time to look into this ?

Best.

[2021-08-01 19:07] hummeltech commented on #2866
I don't think anything can be done here at the moment, you should really bring this issue up with the maintainers of `NetworkManager`/`nmcli` since this module relies on it and its configuration option IDs. It does seem that there is at least some effort in that project to achieve the result you desire.

https://gitlab.freedesktop.org/NetworkManager/NetworkManager
https://networkmanager.pages.free

[2021-08-02 06:24] #2589 closed

[2021-08-02 06:41] Akasurde commented on #2473
@bmillemathias I am currently swamped up with other responsibilities. Feel free to engage and create feature.

[2021-08-02 07:20] edvinas31 commented on #3011
Thank you for your answer. Can confirm that playbook works with:

- Ansible 2.11.3
- community.general 3.3.2

[2021-08-02 07:22] rainerleber commented on #3011
@edvinas31 sounds good

[2021-08-02 18:11] sylgeist opened #3134 "Expose BootOverrideMode parameter to redfish_command"
### Summary

Defined in Redfish 2017.0:

The BootOverrideMode property allows selecting between Legacy/UEFI when using BootSourceOverride settings. This allows intentionally setting the boot mode instead of using whatever may be set on the system at the time.

### Issue Type

Feature Idea

### Component Name

redfish_utils

### Additional Information

redfish_utils.py and redfish_command.py would

[2021-08-02 18:45] mraineri commented on #3134
Thanks for the suggestion. Just for clarity for others, this would be added to the `SetOneTimeBoot` and `EnableContinuousBootOverride` commands where the user may want to specify UEFI vs legacy as part of the boot override request. `DisableBootOverride` simply shuts off the boot override, so I don't see a need to add this parameter there.

I agree keeping this optional is desired; if the service d

[2021-08-02 18:46] sylgeist commented on #3134
I will have a PR coming soon if that sound reasonable?

[2021-08-02 19:59] mraineri commented on #3134
Sounds great! Thanks for volunteering!

[2021-08-02 22:31] sylgeist commented on #3134
PR Created: https://github.com/ansible-collections/community.general/pull/3135

[2021-08-03 12:57] netcho opened #3137 "OpenNebula one_service fails to create a service with unique name"
### Summary

Reinstantiating a service with the same name from a template fails when `unique: true`. This happens if one undeploys the service either via Sunstone or OneFlow CLI. In this case, the service transitions to state `DONE`. When trying to instantiate a service with the same name, `one_service` module fetches all services, including those in state `DONE`. It finds a service with the speci

[2021-08-03 13:01] netcho commented on #3137
!component plugins/modules/cloud/opennebula/one_service.py

[2021-08-03 13:09] Alexhha opened #3138 "Zypper module do not remove a packages which contains wildcard"
### Summary

Can't remove packages if name contains wildcard

[code]

It works with apt/yum modules, but doesn't work with zypper

### Issue Type

Bug Report

### Component Name

zypper

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

SLES12 SP5

### Steps to Reproduce

[code]

### Expected Results

All postgresql packages should be removed

### Actual Results

A pack

[2021-08-03 13:48] fbruetting commented on #553
I just have Ansible 2.9.23 in my non-Khazad-dûm machine (Khazad-dûm is even worse) - is this sufficient?

[2021-08-03 16:55] GuessWhy opened #3140 "Cloudflare module problem - API bad request"
### Summary

I have a problem with the cloudflare_dns module. When adding records I get something like this:

`fatal: [localhost]: FAILED! => {"changed": false, "msg": "API bad request; Status: 400; Method: GET: Call: /zones?name=example.com; Error details: code: 6003, error: Invalid request headers; code: 6103, error: Invalid format for X-Auth-Key header; "}`

The problem also occurs with A recor

[2021-08-04 06:29] felixfontein commented on #3138
Does the module document that it supports wildcards somewhere? If not, this isn't a bug, but a feature request. In the documentation, I only found the special value `*` for `state=latest`.

[2021-08-04 06:31] felixfontein commented on #553
Please note that Ansible 2.9 only receives critical security fixes, and no longer bugfixes. So you'll have to use the community.general collection instead of the modules included in Ansible 2.9 if you want this fixed.

[2021-08-04 06:36] #1605 closed

[2021-08-04 07:20] Alexhha commented on #3138
It doesn't, but the same for apt/yum modules. They are not document * support, but they do support

[2021-08-04 10:59] felixfontein commented on #3138
The modules mostly pass the user input on to the package manager, which is why wildcards seem to work in some cases. If the modules don't explicitly support wildcards, things like idempotency and presence checking will fail, which is probably what you are experiencing here.

[2021-08-04 11:08] felixfontein commented on #2866
@hummeltech do you have more precise information on the effort you have been mentioning? I have trouble finding that in the links you provided.

[2021-08-04 11:23] GuessWhy commented on #3140
I solved the problem. In account_api_token I used API Token instead of API Key.

[2021-08-04 11:23] #3140 closed

[2021-08-04 12:22] Ajpantuso commented on #2866
I think the reference is to the deprecation notices added in this [commit](https://gitlab.freedesktop.org/NetworkManager/NetworkManager/-/merge_requests/680/diffs?commit_id=7fe765483f4e8003a41853b49d703f06d4b13081).
Those deprecations are to stop using `connection.type` to specify these types of connections however.

From the `man` pages.
[code]

[2021-08-04 14:58] hummeltech opened #3145 "nmcli: Writing secrets to command line is a security hole (I.E. `wifi_sec.psk`)"
I don't see any mention of this in #2220, but writing secrets to command line is a security hole. If possible I believe it would be best to add the `-a` or `--ask` flag to prompt for the password to be passed via `stdin`. `nmcli` also can be directed to a file containing the password which is preferable to command line, but still risky.

Snippet from the `nmcli` man pages:
[code]

_Originally post

[2021-08-04 15:01] hummeltech commented on #3145
!component =net_tools/nmcli.py

[2021-08-04 15:28] bartoszkosiorek opened #3146 "community.general.pkgin: add possibility to enable the verbose mode for installing packages via pkgin"
### Summary

With current `community.general.pkgin` plugin implementation, there is no possibility to display the output from `pkgin`.
It is causing the issues in analysing issues, which could be only reproduced in Ansible

Proposal:
Add `verbose` parameter to be able to display StdOut and StdErr from running `pkgin` invocation, for example for installation:
https://github.com/ansible-collections/

[2021-08-04 17:30] felixfontein commented on #3145
!component =plugins/modules/net_tools/nmcli.py

[2021-08-04 17:32] felixfontein commented on #3145
stdin is the best way to pass passwords.

[2021-08-04 17:32] felixfontein commented on #3146
!component =plugins/modules/packaging/os/pkgin.py

[2021-08-04 17:53] #3134 closed

[2021-08-04 18:21] omula commented on #3040
@MartinHerren have you had time to reproduce it?

[2021-08-04 19:22] felixfontein commented on #3040
needs_info

[2021-08-04 19:47] hummeltech commented on #3145
Yes, I agree. I do, however, also think that the option to specify it via a configuration option should still be available, albeit it perhaps not a recommend one.

[2021-08-04 19:54] Ajpantuso commented on #3145
From a user perspective they will always be providing the password via a module option. We however have to make sure that the `nmcli` binary is receiving the password via `stdin` rather than command line during the `run_command` call. The reference to using a password file was the alternative in question and I brought that up only to mention that it still bears risk (in case someone had the idea t

[2021-08-04 20:14] hummeltech commented on #3145
Ahh indeed, yes I see what you mean, I might experiment with that.

[2021-08-05 12:25] #724 closed

[2021-08-05 17:28] #3057 closed

[2021-08-06 05:05] hummeltech commented on #3145
@Ajpantuso I have come up with a solution for you to examine here:
https://github.com/hummeltech/community.general/compare/nmcli-wifi-sec...hummeltech:nmcli-wifi-sec-ask

Basically, I just used the `data` attribute of `run_command` to call `nmcli con edit` with any potential "`secrets`" passed in via `stdin` after completing a `nmcli con add` or `nmcli con modify`:
https://github.com/ansible/ansib

[2021-08-06 05:58] felixfontein opened #3155 "yum_versionlock - tests are disabled on RHEL 8.4"
### Summary

When adding RHEL 8.4 to CI (#3111), I had to disable the yum_versionlock tests on it because the `Update all packages (not really)` task fails. (Unfortunately AZP already deleted the logs for it...)

### Issue Type

Bug Report

### Component Name

yum_versionlock

### Ansible Version

devel

### Configuration

*

### OS / Environment

*

### Steps to Reproduce

*

### Expected Results

[2021-08-06 07:42] goutam-ghosh commented on #726
Any resolution on this issue?

[2021-08-06 08:00] felixfontein commented on #726
I don't think anyone has been working on this plugin. In any case, the history speaks for itself: https://github.com/ansible-collections/community.general/commits/main/plugins/become/pbrun.py (my changes are not related to any functionality except some very generic bug fixing)

[2021-08-06 08:40] goutam-ghosh commented on #726
pbrun (power broker) with ansible is not working as every time it is giving the error "Command not found"

 **Exec of echo BECOME-SUCCESS-tsafolemoxcgtbnrzzjvehfja ; /usr/bin/python /users/userid/.ansible/tmp/ansible-tmp-1628238621.82-19572-9510618362995/AnsiballZ_command.py failed: Command not found.**

[2021-08-06 09:36] kayahk opened #3157 "gitlab_project_variable module can't connect to Gitlab API"
### Summary

I am trying to transfer a string as a variable into a Gitlab project by using the gitlab_project_variable module. However, any combination of the api_url is leading to an error, mostly to 404 not found. I can curl the Gitlab API manually and acces the project and it's variables, the same URL does not work, regardless of the URI path versions I have tried.

So this is the task:
[code]

[2021-08-06 10:11] markuman commented on #3157
`"https://gitlab.local.fqdn"` is the right value.

The returning error message you've pasted `404: 404 Project Not Found` indicates two possible errors.

1. the project does not exist (typo e.g.)
2. the provided credentials have insufficient permission

[2021-08-06 10:29] kayahk commented on #3157
Hi @markuman,

thank you for your suggestions. The project does exist, as I tried to make this clear by showing the cURL access result. The API token has the scope `api` and should there have all required privileges.
Could you please clarify the exact requirement for the parameter `project` of this module? I find the documentation a bit unclear on this point.
[code]
However, when looking at the Gi

[2021-08-06 14:43] fc1717 opened #3159 "Package management on OpenSUSE transactional servers"
### Summary

The `package` module does not work on an OpenSUSE transactional server.

### Issue Type

Bug Report

### Component Name

`zypper`

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

OpenSUSE Leap 15.3

### Steps to Reproduce

[code]

### Expected Results

All packages are updated.

### Actual Results

[code]

### Code of Conduct

- [X] I agree to follow the

[2021-08-06 19:07] mraineri commented on #3042
The group has discussed this a bit and is okay with adding a dedicated "eject all" command in order to keep the semantics of the existing eject command as is.

Is this something you'd be able to work on?

[2021-08-06 21:23] sebix commented on #3159
For package installation, the required action is
[code]
And for removal
[code]

[2021-08-07 11:46] sebix commented on #3159
Unfortunately, prefixing the zypper commands with `/sbin/transactional-update --continue --quiet --drop-if-no-change run` doesn't work (yet), because of not-so-quiet outputs of transactional-update: https://github.com/openSUSE/transactional-update/issues/69

[2021-08-07 13:26] felixfontein commented on #3159
resolved_by_pr #3164

[2021-08-08 16:34] #3031 closed

[2021-08-08 16:35] #3145 closed

[2021-08-08 21:39] hummeltech commented on #2866
Thank you, yes, I believe I probably mistook that or a similar change when browsing the commit history, I didn't do a very thorough search, so it's likely. The problem, as I see it, is that in order to do this right, you will need to maintain versioned matrices of supported properties and values, this would leave any unwelcoming language remaining within the module's code (and potentially add more

[2021-08-09 14:47] felixfontein commented on #582
3.5.0 and 2.5.5 will be released tomorrow.

[2021-08-10 16:29] kayahk commented on #3157
@markuman can I provide anything else to help you help me with this issue? I would be happy to add more details if required.

[2021-08-10 17:45] felixfontein commented on #582
2.5.5 and 3.5.0 have been released.

[2021-08-10 18:18] jeffreynelson opened #3190 "Add the ability to get a secret by name instead of just the ID in the TSS module."
### Summary

I am trying to retrieve a secret password using the TSS module.  The module currently only supports looking up the secret by it's ID.  I think looking up the secret by the Name or the 'User Name' would greatly improve the module.  If you can also specify the secret field to return that would be even more helpful.

Example lookup secret by the user mane and return the password:
mysecre

[2021-08-10 18:34] Ajpantuso commented on #3190
!component =plugins/lookup/tss.py

[2021-08-11 07:59] russoz commented on #752
@tmiroslav it seems you are no longer pursuing this issue, so we are going to close it next week unless we hear from you. The output you presented is consistent with a missing dependency on the remote server, so it does not look like a problem in the module itself.

[2021-08-11 12:44] cschroeder512 opened #3192 "tss lookup plugin fails in 3.5.0 release"
### Summary

Following the release of community.general 3.5.0, the thrycotic secret server lookup plugin is producing an error.  The error is no longer present if reverted to 3.4.0

Error:
 "msg": "An unhandled exception occurred while running the lookup plugin 'vars'. Error was a <class 'ansible.errors.AnsibleError'>, original message: An unhandled exception occurred while templating '{{ lookup('

[2021-08-11 13:07] felixfontein commented on #3192
This could be related to #3139.

CC @EndlessTrax @amigus

[2021-08-11 20:24] russoz commented on #735
hi @SWADESNA , currently modules for Ansible 2.9.x receive only critical security fixes - no more bugfixes. Could you please confirm the problem still happens with ansible-core 2.11 and community.general 3.4 or 3.5 (released yesterday) ? I suspect it will.

That said, I am unfamiliar with `pbrun` myself, and the issue has been open for quite a while without gathering any attention, so I think most

[2021-08-11 20:44] EndlessTrax commented on #3192
When you revert back are you doing so on the same machine? The error suggests you don't have the `python-tss-sdk` installed if it's a different machine.

If you're in the same machine, what version of the sdk are you running? (so I can try reproduce the error)

[2021-08-11 21:19] cschroeder512 commented on #3192
@EndlessTrax
python-tss-sdk version 0.0.5

This plugin broke on 2 servers, both ansible tower servers, where the sdk is installed in a venv, and the playbooks are using the venv.  there have been no modifications to the venv or to the plugin, other than the update to the community.general collection.  The plugin had been working fine for months, up until today.

thanks

[2021-08-12 06:17] #3159 closed

[2021-08-12 06:18] #1043 closed

[2021-08-12 12:14] fdervisi opened #3198 "Long Terraform Scripts timeout when called from Ansible, but not when called directly"
### Summary

I have a multi region AWS deployment which takes 8-12min. When I use Ansible to start the Terraform Apply, it always fails with large multi region deployments:

[code]

When I issue "terraform apply" manually it always works. How can I get rid of this timing issue?

### Issue Type

Bug Report

### Component Name

terraform

### Ansible Version

[code]

### Configuration

[code]

### O

[2021-08-12 14:15] EndlessTrax commented on #3192
@cschroeder512 @felixfontein

Okay, I've isolated the issue. It appears, and I do not know why, that **v0.0.5** doesn't have the builtin `__version__`. So the import is failing. This seems only to be an issue with that version, **0.0.6** and **1.0.0** have the expected builtin `__version__`.

I'm working on the fix now to make the plugin backwards compatible. And will be making a PR soon. But I wo

[2021-08-12 20:23] felixfontein commented on #3198
Could you please elaborate what exactly times out? Ansible? The SSH connection? Some other random thing?

This here:

is quite likely **not** the output you received.

needs_info

[2021-08-13 07:36] fdervisi commented on #3198
I just updated the error. So it seams in the first run I got a timeout from the provisioner. If I rerun the Playbook, everything works, this only happen when I have long running Terraform process.

[2021-08-13 07:53] rainerleber commented on #3198
@fdervisi this seams to be a problem on the provisioner/terraform side not a ansible terraform module problem. You can see it for example here: 'timeout - last error: dial tcp 18.230.71.9:22: i/o timeout'

[2021-08-13 14:26] fdervisi commented on #3198
Indeed, I verified it again and it looks like Terraform is the culprit. So we can close the issue

[2021-08-13 14:26] #3198 closed

[2021-08-13 15:13] bendermIBM commented on #481
Hey, just found this issue through a google search. Looks pretty similar to what I'm seeing which is just always "changed" when trying to create a bridge using the same module.

Ansible Version : 2.9.22
community.general : 3.5.0 (Just updated to most recent)

Not the biggest deal just hard to build handlers around it. Can run it again and again and will always see "Connections do exist so we are m

[2021-08-13 19:39] stdevPavelmc opened #3201 "On proxmox ct creation pubkey does not work and fails, also what key format?"
### Summary

Hi

I'm using the community.general.proxmox role to create a new CT, all works great as per doc if I don't include the pubkey var. Once you includes the `pubkey` var it fails.

Also the docs is ambiguous and I quote:
[code]

What format do you want when refers to the key?

- The path to the file containing the key
- The contents of the file containing the key as per PGP specs (an ansi

[2021-08-14 01:48] russoz commented on #226
Hi @tinsjourney ,

Thank you for your contribution in making this colleciton even better!

Please notice that this collection is supported for Ansible 2.9.10 onwards, and even so, only critical security fixes will be applied on the Ansible 2.9 branch. Thus, this issue should be checked against ansible-base 2.10.x or, preferably, against ansible-core 2.11.x to ensure the problem has not been fixed

[2021-08-14 05:42] russoz commented on #495
hi @fbruetting ,

The module states in its docs that it relies specifically on `dconf`. it never claimed to work with other D-Bus implementations. This is a feature request, not a bug.

In fact, as I read thruogh, I think this should be a new module.

[2021-08-14 05:45] russoz commented on #1016
@felixfontein it does not seem like anyone is going to pick up on this one - may I suggest we clsoe this one down?

[2021-08-14 09:15] kellinm commented on #2457
I opened https://github.com/ansible-collections/community.general/pull/3203 which also includes an example for pulling the private IP address in addition to pulling in the complete information available in the upstream Linode APIv4.

This will negate the need to try and detect public vs private addresses via regex since the API provides this information already.

[2021-08-14 13:41] Loader009 opened #3204 "parted ignores "number" + flag is ignored"
### Summary

I am trying to setup partitions in different order
/boot -> 1
/ -> 2
bios_grub -> 10

But this doesn't work as expected.

### Issue Type

Bug Report

### Component Name

parted

### Ansible Version

[code]

### Configuration

[code]
(nothing)

### OS / Environment

ArchLinux

### Steps to Reproduce

[code]
variables:
[code]

### Expected Results

Set the partition number of the bios_g

[2021-08-14 16:46] rosowiecki commented on #3204
Thanks for detailed report @Loader009 ! Unfortunately, there's very little that could be done because parted's mkpart command doesn't allow to specify desired partition number.

https://www.gnu.org/software/parted/manual/html_node/mkpart.html

I guess this is a parted (program) limitation and the best parted (ansible module) could do is to warn/fail in such case.

[2021-08-14 20:21] Loader009 commented on #3204
You're right - it looks like parted does in general not allow to manually change or specify the partition number.
I guess because of a "quick gpt support"-feature.

I will have to implement something with gdisk I think.
Thanks!

I'll close this issue then, since there is nothing that can be done as long as parted doesn't support it.

[2021-08-14 20:21] #3204 closed

[2021-08-14 23:34] russoz commented on #779
@mowgli @felixfontein @samdoran @rightaway Hi folks, any further reasonto keep this issue open here? From what I read, I reckon the matter is... settled, if not solved.

[2021-08-15 00:24] quidame commented on #3023
@davexre , could you test your use case with the module from 3.5.0 of community.general ? #3080 may have fixed this issue too :)

[2021-08-15 00:33] russoz commented on #1050
@8bb-glshk @ramondelafuente will close this issue ths week unless we hear otherwise from you. Thanks for raising the issue!

[2021-08-15 03:15] russoz commented on #2970
@felixfontein the output from the `snap` command is clear enough, IMO.

For the case when then snap does not exists, `rc=1` and:
[code]

For the case when the snap server is offline, `rc=1` and:
[code]
As a matter of fact, if we use `check_rc=True` the user should get a clear picture of what happened.

[2021-08-15 10:51] felixfontein commented on #481
@bendermIBM could you please create a new issue for this?

[2021-08-15 10:55] felixfontein commented on #1016
@russoz no, this should stay open until the issue is fixed. (If it is never fixed, this will stay open forever.)

[2021-08-15 10:59] #273 closed

[2021-08-15 11:03] #779 closed

[2021-08-15 11:03] felixfontein commented on #226
needs_info

[2021-08-15 11:14] felixfontein commented on #2457
Since this is addressed by #3200, I'll close. If that's too inflexible, the solution from #3203 will allow to better handle this. (#3200 also works for already released versions.)

[2021-08-15 11:14] #2457 closed

[2021-08-15 14:20] quidame commented on #1204
@ptMcGit what you describe is the intent to manage a complete datastructure by calling the module only once.

I think it doesn't. More precisely: even if it is technically doable, it would bloat the module and make it harder to maintain. Also, there is no real benefit to break the existing interface, that means the current parameters of the module should still work.

A recent PR (#3033) has improv

[2021-08-16 05:29] Akasurde commented on #735
@russoz `pbrun` is licensed software. I think someone from the community who has a license might be able to debug and resolve this issue. Thanks.

[2021-08-16 08:00] staticdev commented on #2970
@russoz the output of `snap` is clear. I just opened the issue because we don't see it by default.

[2021-08-16 09:10] russoz commented on #2970
Exactly my point: improving the error handling is achieved by simply passing the messages from the command up to the user.

[2021-08-16 09:59] russoz commented on #1749
Hi @zeitounator , thanks for reporting this issue!

Yes, this is the right place for that module - as it belongs to this collection.

Not exactly as such. This is a volunteer-based community, so that question becomes "Is there anyone in the community willing to make this module compatible"? Given the rest of your comments, I think we are about to have one.

Contributions to the modules are more th

[2021-08-16 10:00] russoz commented on #1749
By the way, I am changing the label from bug to feature request - it's not broken, it is simply not doing something else that we would like it to do, right?

[2021-08-16 10:19] felixfontein commented on #1749
@russoz it could be that the bot changes that back (right now it seems to be down). If it does, you can edit the issue's text and replace `Bug Report` by `Feature Request`, that should do the trick.

[2021-08-16 11:59] 314eter opened #3215 "community.general.django_manage fails on commands with arguments"
### Summary

Since #3098 it's impossible to run django commands with arguments, like
[code]
The whole `collectstatic --noinput` string is considered one argument now, which results in an error.

### Issue Type

Bug Report

### Component Name

django_manage

### Ansible Version

4.4.0

### Steps to Reproduce

[code]

### Expected Results

I expect the command to be executed as `["./manage.py", "col

[2021-08-16 12:36] felixfontein commented on #3215
CC @russoz

Looks like shlex should be used to split up the command into a list.

[2021-08-16 13:50] bendermIBM opened #3216 "nmcli - Task always changed : Connections do exist so we are modifying them"
### Summary

When utilizing `community.general.nmcli` to create a bridge interface I noticed that it was always returning as "changed" even though nothing was happening before it to modify. I proceeded to slim down the playbook to only have that step and I was able to reproduce the same behavior.

Some idempotency is broken in the module, possibly surrounding a `bridge` interface.

### Similar Iss

[2021-08-16 13:53] davexre commented on #3023
@quidame - many apologies - notifications for this thread were dropping in my Spam, and I just now noticed it. Sheesh. I'll try to test today (will have to figure out exactly how to do that). I can tell you that we worked around this for now by dropping back to the ansible builtin java_cert module (so, "java_cert" instead of "community.general.java_cert") and everything works correctly there.

In

[2021-08-16 14:30] quidame commented on #3023
@davexre you can try by copying the module to test into the `library` directory (beside the playbook), and still call it by its short name.

Yes, I confirm. So it seems in your example that you used a keystore alias as its password too :)

[2021-08-16 14:48] davexre commented on #3023
Yeah, "password" is not what we're actually using :)

I was discussing this with a colleague just a moment ago - we realized it would probably help to mention that our project still uses Java 8. The keytool binary in use is part of Java 1.8u292.

[2021-08-16 18:07] anappi-vc opened #3217 "Terraform module can't handle list/dict variables"
### Summary

It looks like when terraform was moved to community.general, [this bug report](https://github.com/ansible/ansible/issues/51687) got lost. I am having the same issue it is reporting. Specifically, the Terraform module does not correctly escape list/dict variables, so they can't be passed to the Terraform command.

### Issue Type

Bug Report

### Component Name

Terraform

### Ansible V

[2021-08-16 18:10] anappi-vc commented on #3217
As mentioned on the other bug report, the workaround is to use the `to_json` filter in the playbook: `vms: "{{ vms | to_json }}".

[2021-08-16 20:51] felixfontein opened #3219 "datadog_downtime unit tests are failing"
### Summary

Since apparently [datadog-api-client 1.3.0](https://pypi.org/project/datadog-api-client/1.3.0/) was released today, the unit tests are failing; see for example https://dev.azure.com/ansible/b24bf3ca-6168-45d7-99e2-bf8029e67c87/_apis/build/builds/22716/logs/652:
[code]

### Issue Type

Bug Report

### Component Name

datadog_downtime

### Ansible Version

*

### Configuration

*

### O

[2021-08-17 05:17] felixfontein commented on #2084
@schlupov since you contributed that module and are it's maintainer, can you please take a look at this?

[2021-08-17 05:22] felixfontein commented on #3219
I've disabled the tests temporarily in #3222. Since the failing tests could show an incompatibility between the module and this new version of the library, this really should be investigated by the module maintainers.

[2021-08-17 07:53] schlupov commented on #2084
Sure, I forgot about the issue, I'll fix it.

[2021-08-17 08:07] felixfontein commented on #2084
@schlupov thanks :)

[2021-08-17 09:51] russoz commented on #3215
@314eter thanks for reporting this issue! You are absolutely correct, and I have already added a test for that case. Will be working on it in the next couple of days. OTOH, the module has got some smarts in it to add `--noinput` automatically to some of the commands, `collectstatic` included. That means that, as a workaround, you can use something like:
[code]
And it will produce the desired outpu

[2021-08-17 10:05] wadevries commented on #3215
@russoz that works for the stock django management commands and global options, but not for all (it's currently failing for me on `check --deploy --fail-level=WARNING`, and will also not work for custom management commands with extra params/options.

Will be great to see the command-as-a-string being split into a list.

[2021-08-17 10:13] russoz commented on #752
Closing as per previous comments.

[2021-08-17 10:13] #752 closed

[2021-08-17 10:15] felixfontein commented on #1050
needs_info

[2021-08-17 16:20] jyundt opened #3232 "Include sensor Status property when querying chassis thermal properties via Redfish"
### Summary

Currently `get_chassis_thermals()` in `redfish_utils.py` [does not include the Sensor "Status" property](https://github.com/ansible-collections/community.general/blob/771e9de010b2c4cb256f5fe2a9375d63e6eac511/plugins/module_utils/redfish_utils.py#L1884-L1890).

As per DSP2046, items in the "Temperatures" array should include a Status object [as per Redfish 2016.2](https://www.dmtf.org/

[2021-08-17 16:36] jyundt commented on #3232
PR for this feature: #3233

[2021-08-17 16:59] mraineri commented on #3232
Thanks for the suggestion and pull request; certainly useful info to extract.

[2021-08-18 05:50] mathewatspm opened #3234 "lvol: "Bad size specification of '+100%FREE' for creating LV""
### Summary

# Module used:
* https://docs.ansible.com/ansible/2.9/modules/lvol_module.html
* https://docs.ansible.com/ansible/latest/collections/community/general/lvol_module.html

# Affected versions:
[code]

# Unaffected / Working version:
[code]

# Affected task:
[code]

# Error:
[code]

### Issue Type

Bug Report

### Component Name

lvol

### Ansible Version

[code]

### Configuration

[code

[2021-08-18 07:17] thinkdoggie commented on #481
@bendermIBM thanks for your feedback.

The bridge connection works properly at my side. Could you run the playbook with the parameters of `--check --diff` to collect more details.

Let's move on to #3216 for further discussion.

[2021-08-18 07:19] zigaSRC commented on #3234
@mathewatspm That's the message you get when the LV doesn't exist because you can't extend an LV that's not there. Are you sure the LV exists? If you want to create a new one with the remaining space drop the +.

[2021-08-18 07:21] thinkdoggie commented on #3216
Please run the playbook with `--check` and `--diff` to show the details.

I guess there're some implicit connection parameter values that are not considered in the code.

[2021-08-18 07:26] #3192 closed

[2021-08-18 20:54] samccann commented on #2866
Created an issue at nmcli to see what's happening - https://gitlab.freedesktop.org/NetworkManager/NetworkManager/-/issues/779

[2021-08-18 21:50] mathewatspm commented on #3234
@zigaSRC Thank you for your reply.

In the past (before core < 2.11), the `lvol` would create the LV using "+100%FREE" if it does not exist yet, or extend the LV using the same "+100%FREE" if it is already present.

So based on your reply, I guess that has changed in the current collections version.

In that case, I shall write additional logic in our playbook to check the existence of the LV befo

[2021-08-19 05:59] zigaSRC commented on #3234
@mathewatspm That is correct. It was inadvertently changed when better support for extends was added, as before only a subset of uses was covered (+ with percentage values, no - or absolute values were supported).

[2021-08-19 08:35] #3234 closed

[2021-08-19 11:14] TakaseNochi opened #3236 "A status of parted module always change option when specific units are specified and resize option is true"
### Summary

A status of parted module always change to changed when specific units like KiB, s, or KB are specified and resize option is true.
But the status doesn't change when spcific GB, GiB and compact.

I think [`conver_to_bytes`](https://github.com/ansible-collections/community.general/blob/a343756e6f3a9ed24f1cb3c16a97dfbae2273bf3/plugins/modules/system/parted.py#L410) function has some pro

[2021-08-19 11:55] jake2184 commented on #3236
I suspect this is because you're using GPT partition table, which parted doesn't play too nicely with.

I'll try to verify, but this is probably because you're specifying end as 100% - so it's trying to use the whole disk. However GPT has an extra partition table at the end of the disk, so it will never be able to use up the full disk. It will detect it as not matching requested config as the byte

[2021-08-19 16:23] zerotens opened #3238 "nmcli ignoring IP4 / IP6 settings on tunnel type sit"
### Summary

IPV4/IPV6 settings are not getting configured on sit tunnel devices.
This bug exists due to IPV4 / IPV6 configuration is only applied if the device type is in an hardoded list of Ip supported devices and SIT is missing.

Relevant code:
https://github.com/ansible-collections/community.general/blob/6ac410b3f617074bb7af86050d8adfa4d495a3e6/plugins/modules/net_tools/nmcli.py#L821

Solutio

[2021-08-19 19:13] #3232 closed

[2021-08-19 20:13] DaveSpe opened #3241 "AttributeError: module 'gitlab' has no attribute 'exceptions'"
### Summary

When I try and have ansible delete a repo I get the following error:

`AttributeError: module 'gitlab' has no attribute 'exceptions'`

### Issue Type

Bug Report

### Component Name

gitlab_project

### Ansible Version

[code]

### Configuration

[code]
CALLBACKS_ENABLED(/etc/ansible/ansible.cfg) = ['profile_tasks']
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = yaml
INTERPRETER_

[2021-08-19 20:56] skyfaller opened #3242 "timezone requires tzdata on Alpine Linux"
### Summary

I cannot update the timezone on Alpine Linux without tzdata installed. It goes like this:

[code]
/usr/share/zoneinfo does not seem to exist.

It appears tzdata provides zoneinfo: https://pkgs.alpinelinux.org/contents?file=&path=%2Fusr%2Fshare%2Fzoneinfo*&name=&branch=v3.14

If instead I install `tzdata` first, timezone works fine, with output like this:

[code]

 Therefore, I believe

[2021-08-20 01:23] TakaseNochi commented on #3236
I work around this bug by specifying GiB to unit option.

[2021-08-20 06:24] deruli79 opened #3243 "Proxmox lxc creation fails after updating Proxmox VE Hosts"
### Summary

After updating Proxmox VE to the latest version (6.4.13) the creation of lxc containers fails.
It seems to be related to the following thread in the Proxmox forums, because the error message is the same "500 Internal Server Error: Only root can pass arbitrary filesystem paths. at /usr/share/perl5/PVE/Storage.pm line 492."
https://forum.proxmox.com/threads/api-returns-500-but-no-logs.9

[2021-08-20 09:31] SipSeb opened #3244 "udm_dns_record does not work for managing PTR records"
### Summary

I can create an destroy A records in a Univention server with the module. However, managing PTR records does not work, and looking into the code can never have worked.

### Issue Type

Bug Report

### Component Name

udm_dns_record

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Mac OS Big Sur, ansible installed in virtualenv via pip

### Steps to Reprod

[2021-08-20 11:54] felixfontein commented on #3242
I guess adding another note like the one for SmartOS (https://github.com/ansible-collections/community.general/blob/main/plugins/modules/system/timezone.py#L45) should suffice. Would you mind creating a PR?

[2021-08-20 11:57] felixfontein commented on #3241
Which version of the `gitlab` Python library do you have installed?

[2021-08-20 12:20] Ajpantuso commented on #3243
As per the suggestion from `Proxmox support` on that thread have you tried replacing `disk: '20'` with `disk: 'ZFS_SSD_01:20'`? The issue appears to be the value being passed to the API which this module does not influence.

[2021-08-20 12:29] deruli79 commented on #3243
You are the man, it is working now :-) I did not consider (in hindsight it is kind of obvious) to test this because the documenation (https://docs.ansible.com/ansible/latest/collections/community/general/proxmox_module.html) says:
disk -> hard disk size in GB for instance
Thanks a lot.

[2021-08-20 12:29] #3243 closed

[2021-08-20 14:08] DaveSpe commented on #3241
[code]

[2021-08-20 15:22] felixfontein commented on #3241
That's strange, since 2.10.0 should have `__version__`: https://github.com/python-gitlab/python-gitlab/blob/v2.10.0/gitlab/__init__.py#L28 That has been around since https://github.com/python-gitlab/python-gitlab/commit/96e341ebc8a32c794bbc6978e0eed4c7cd12797a, which has been in the very first release (version 0.1).

It looks like there's some other Python module called `gitlab` on your system whi

[2021-08-20 16:53] zeitounator commented on #1749
Well it really depends how you look at it. But if we go the go the three new modules route, Yes, it can definitely be considered as a new feature.

I don't have as much time to devote today than back in February when I was working hard on our consul roles. But I'm still interested and will try to propose something (don't take that as a commitment ;)). Anyway, getting a response tens to give me som

[2021-08-20 19:21] DaveSpe commented on #3241
@felixfontein thanks for catching that it is working now. Where and how did you catch that? What was the offending line that gave it away?

[2021-08-20 19:50] felixfontein commented on #3241
@DaveSpe I'm not sure what you mean. I only looked at the output you provided, and then checked out the sources of python-gitlab.

[2021-08-20 23:58] DLee-AU commented on #2860
Hit this issue as well

Line 302
`if config == 'agent' and int(value.split(',')[0]):`

Is tripping up because proxmox agent is only report a '1' for enabled agent

Reference

https://pve.proxmox.com/pve-docs/api-viewer/#/nodes/{node}/qemu/{vmid}/config

Code is tripping on not having ',' in the string

I threw this in for a quick fix

[code]

Versions:
ansible-inventory [core 2.11.3]
python versio

[2021-08-21 00:23] Ajpantuso commented on #2860
These are three separate issues:
1. The original issue is a valid docs request as the constructible options do rely on `want_facts` being enabled.
2. The second issue is likely because the plugin is not enabled.
Add a line like the following to your `ansible.cfg` and try again: (See [here](https://docs.ansible.com/ansible/latest/plugins/inventory.html#id2) for more info)
[code]
 3. The latest issu

[2021-08-22 13:47] tmshn commented on #3242
I believe zoneinfo files (which are usually provided by `tzdata` package) are required for all Linux systems. The point is: some minimal setups like pure Alpine lack them, which requires explicit installation. And, as another point, [timezone database is occasionally updated](https://data.iana.org/time-zones/tzdb/NEWS), so it's better practice to update `tzdata` package even if it is preinstalled.

[2021-08-22 20:08] strarsis opened #3253 "apache2_module: Relies on a2enmod / misleading error on CentOS"
### Summary

The ansible `apache2_module` module relies on Debian-style (also sometimes called "Debianisms") binaries as `a2enmod` for managing `httpd`/`apache` modules. On CentOS this is not the case as this distribution doesn't use these binaries.

On CentOS this module emits a misleading error:
[code]

Responsible code:
https://github.com/ansible-collections/community.general/blob/da11a98cb734e

[2021-08-23 04:24] #3238 closed

[2021-08-23 08:41] fabianseelbach commented on #836
I ran into this again today using Ansible 2.9.22
The dnspython version did not change.

[2021-08-23 18:11] jocelynj commented on #3243
I've seen the same issue with proxmox and disk option. I can change the value for "disk" locally, but does it mean that documentation should be updated?

I would prefer proxmox module to create "rootfs" value from "storage:disk", which should work on previous versions of Proxmox too.

[2021-08-23 19:25] Ajpantuso commented on #3243
Having the module automatically format the `rootfs` string would address the breaking change that Proxmox introduced, but it would also limit the options available for `rootfs` and other `lxc` mount points.

[code]

I think for now a doc update would be an appropriate holdover solution, but ultimately new options should be introduced:
1. `rootfs` as a dict to which these options can be set and ass

[2021-08-23 20:04] felixfontein commented on #836
@fabianseelbach are you using this collection with Ansible 2.9, or are you using the module included in Ansible 2.9?

[2021-08-23 20:38] fabianseelbach commented on #836
@felixfontein the module included in the package distributed by Red Hat

[2021-08-24 04:13] felixfontein commented on #836
@fabianseelbach what do you mean by "the package distributed by Red Hat"? If you are using Ansible 2.9, are you using FQCNs (community.general.nsupdate) or not? Or are you using Ansible >= 2.10, or ansible-base/ansible-core (see output of `ansible --version`)?

[2021-08-24 04:22] felixfontein commented on #3253
That's already documented, see https://docs.ansible.com/ansible/latest/collections/community/general/apache2_module_module.html#notes

(In case you wonder why this wasn't there yesterday: the docs were accidentally not updated after the last release, and the note only has been in there since then.)

This is definitely a bug that should be fixed. I'm working on a fix right now.

[2021-08-24 04:27] felixfontein commented on #3253
resolved_by_pr #3258

[2021-08-24 04:51] fabianseelbach commented on #836
@felixfontein Sorry for the confusion.
Im using Ansible **without** FQCN.
The version output is the following:
[code]

[2021-08-24 04:59] felixfontein commented on #836
In that case, please note that the Ansible verion you are using only receives security fixes anymore, so this problem won't get fixed there. You will have to start using the community.general collection if you want an updated version of this module. (Though that problem needs to get fixed here first for that to actually make a difference :) )

[2021-08-24 06:29] fabianseelbach commented on #836
Thanks, I am aware of that. I'm currently in the transition to collections.

[2021-08-24 10:00] tinsjourney commented on #226
Hi @russoz,

I tried with ansible-core 2.11.3, and I have the same behavior, always return changed.

[code]

[2021-08-24 12:04] jocelynj commented on #3243
I'm not sure I follow your proposition. Would you remove storage/disk options on "proxmox" task, and replace them by rootfs?

In my opinion, it is a bit more clearer to have separate options storage/disk, and "rootfs" could be set from "storage:disk" if it is not set. I can propose a code change around this if there are no objection.

[2021-08-24 12:29] Ajpantuso commented on #3243
No, removing options would require two major release versions of `c.g` and is unnecessary in this case. The issue with simply constructing the newly enforced format `<storage>:<disk>` from the existing options is that it only makes the module more fragile with regards to future changes in the Proxmox API (`volume=<storage>,size=<disk>` would be a better compromise). At least in the current state u

[2021-08-24 12:46] strarsis commented on #3253
Would it make sense to create another Feature Request PR for adding support for systems without `a2*` binaries (as CentOS) to the module? Currently I have to write the config file myself - it makes toggling modules much harder.

[2021-08-24 15:43] dmsimard opened #3259 "gem: ERROR: Use --install-dir or --user-install but not both"
### Summary

Installing a gem with no arguments (other than ``state: present``) yields the error ``ERROR: Use --install-dir or --user-install but not both`` on Fedora 34. Doesn't reproduce on Debian 10. I would test on Debian 11 but cloud images aren't available yet.

It is likely due to a change in one of the newer versions of rubygems.

### Issue Type

Bug Report

### Component Name

gem

### An

[2021-08-24 15:54] dmsimard commented on #3259
I am able to reproduce the issue straight from CLI:

[code]

I was confused because I am not specifying ``--install-dir`` but if I check ``/usr/bin/gem install --help`` I see the following at the end:
[code]

So it picks up ``--install-dir`` from the defaults which conflicts with the ``--user-install`` ?

[2021-08-24 18:07] gburjan opened #3260 "pamd: module argument removal doesn't work with state=updated"
### Summary

When I try to execute the documented way to remove all the module arguments of an existing rule, it doesn't change anything. Current documentation on https://docs.ansible.com/ansible/latest/collections/community/general/pamd_module.html contains the following example

[code]

This simply cannot work, because update_rule method in plugins/modules/system/pamd.py calls parse_module_argum

[2021-08-25 04:36] #3253 closed

[2021-08-25 04:37] felixfontein commented on #3253
@strarsis sure, that would be great. I have no idea how much work it is, though.

[2021-08-25 04:54] felixfontein commented on #3260
CC @russoz

[2021-08-25 13:10] aniruddha-a opened #3265 "counter_enabled is not working with roles, still."
### Summary

counter_enabled does not show total tasks when there are `roles` - always shows as `0`

### Issue Type

Bug Report

### Component Name

counter_enabled

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 18.04.4

### Steps to Reproduce

[code]

### Expected Results

[code]

### Actual Results

[code]
total count is always 0

### Code of Conduct

- [X]

[2021-08-25 13:58] Tyler-2 commented on #2956
Fixed by https://github.com/ansible-collections/community.general/pull/2986

[2021-08-25 13:58] #2956 closed

[2021-08-26 04:22] parrishjd opened #3269 "lvol does not handle rounding down for resize"
### Summary
UPDATED:  Updated to ansible 2.9.24 resolved the first issue with multiple %VG, but did not resolve the issue with use if 100%FREE

When Using 100%FREE as the size the module is not idempotent
[code]

First run through size_free is the whole disk, second run through Size free is 0.  Since there is a separate operator of +100%FREE to extend the lv to consume all remaining space or Perce

[2021-08-26 11:15] Andersson007 opened #3273 "Community pinboard"
### Summary

This is a pinboard for general discussions and announcements

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-08-26 14:05] pmdumuid opened #3274 "Keycloak roles should support the ability to define the composite roles"
### Summary

I am trying to get ansible to create roles that include composites but unable to do so.

### Issue Type

Feature Idea

### Component Name

keycloak

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-08-28 09:44] russoz commented on #1749
We tend to look at that question as in "is it doing what it was supposed to do when the code was written?" In that sense, and assuming the module was written having only that mode which is now legacy in mind, the code does what it was supposed to do, what it *promised* to do. Disclaimer: I did not go git-spelunking to test my assumption.

If you find some time and inspiration for doing that, by al

[2021-08-28 19:54] #2970 closed

[2021-08-29 11:39] felixfontein commented on #582
1.3.13 and 3.6.0 will be released on Tuesday (August 31st).

[2021-08-30 04:53] #3244 closed

[2021-08-31 05:14] #3215 closed

[2021-08-31 08:21] #2860 closed

[2021-08-31 10:34] #3260 closed

[2021-08-31 11:43] rossengeorgiev opened #3311 "Make it possible to add a single user to a group with ipa_group, witout removing existing users"
### Summary

I'm trying to create a user and add it to an existing group. This is not possible with ipa_group as it expects a full member list.

### Issue Type

Feature Idea

### Component Name

ipa_group

### Additional Information

_No response_

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-08-31 15:48] felixfontein commented on #582
1.3.12 has been released. 3.6.0 will follow later today.

[2021-08-31 16:38] antoinep92 opened #3318 "pacman: return details on failure"
### Summary

When `pacman` fails, the error visible to the master or in the remote logs carry very little information. I understand it mainly depends on flags passed to pacman, like there is one message if upgrading the index failed, and another if upgrading a package failed, etc.

I understand that handling all pacman's return codes, parsing it's output, etc. is a lot of work. What I'm proposing

[2021-08-31 17:16] felixfontein commented on #3318
!component =plugins/modules/packaging/os/pacman.py

[2021-08-31 17:49] felixfontein commented on #582
3.6.0 has been released. The next expected release is 3.7.0.

[2021-08-31 20:14] markfaine opened #3320 "Error: "Command does not accept argument /dev/sdb1" when doing lvreduce"
### Summary

I have a task that is used to manage a logical volume.  It's a one size fits all task that is intended to be used for creating, reducing, extending, etc. a logical volume, however, it fails with the error message: "Command does not accept argument <value of pvs>"

This works fine when I create or extend the logical volume.

I suspect because it's being included in the command [here](h

[2021-09-01 20:58] #2084 closed

[2021-09-03 04:54] aniruddha-a commented on #3265
Used print/debug messages as "poor-man's-progress" report.

[2021-09-03 04:54] #3265 closed

[2021-09-05 00:53] russoz commented on #3320
Hi @markfaine thanks for reporting this. This error message comes from lvreduce itself, not from the lvol module. If I may ask, what is the rationale for passing the PV when doing a lvreduce, to begin with?

[2021-09-05 07:48] bluetech opened #3333 "django_manage: loaddata fails with more than one fixture argument"
### Summary

I am doing the following:

[code]

This used to work well, but broke with the latest ansible, with the following error (trimming the irrelevant parts):

[code]

The problem is that ansible now passes the `fixtures` as a single argument instead of multiple argument split by space. Remember that `django_manage`'s `fixtures` argument has type `string` and is documented as "A space-delimi

[2021-09-05 11:12] russoz commented on #3333
hi @bluetech thanks for spotting this issue! I have push an update in #3334 . Could you please test if it solves your case?

[2021-09-05 11:27] bluetech commented on #3333
Thanks @russoz, I tested it (just by overriding `django_manage.py` with the version from the PR) and can confirm that it works.

[2021-09-05 16:22] felixfontein commented on #3118
You can always run `ansible-galaxy collection list` to see which collections (with which versions) you have installed where. (If you are using ansible-base 2.10, this list can be incomplete if you installed the collections as part of the [Ansible community distribution](https://pypi.org/project/ansible/).)

[2021-09-06 11:07] Oloryn opened #3337 "In Linode dynamic inventory plugin, ip_style defaults to an invalid value"
### Summary

After upgrading Ansible to 4.5.0 (from 4.3.0), I started getting this error when running any ansible playbook:

`[WARNING]:  * Failed to parse /home/oloryn/ansible/inventory/linode.yaml with
ansible_collections.community.general.plugins.inventory.linode plugin: Invalid type for configuration option
plugin_type: inventory plugin: ansible_collections.community.general.plugins.inventory.

[2021-09-06 17:12] felixfontein commented on #3337
Yes, that's definitely wrong. Looks like nobody actually tried this out :-(

[2021-09-06 17:15] felixfontein commented on #3337
@Oloryn I created a fix in #3338. I would be glad if you could test or/and review the PR :)

[2021-09-06 20:37] #3337 closed

[2021-09-07 04:22] #3333 closed

[2021-09-08 05:55] OpaDopa commented on #2463
Anyone?

[2021-09-08 06:34] felixfontein commented on #2463
CC @mscherer

@OpaDopa I've never used this plugin, it looks to me like it cannot be configured from inside Ansible, it probably needs configuration from somewhere else.

[2021-09-08 09:50] dvoetsSFBX opened #3347 "Error on gitlab authentication for gitlab_runner module"
### Summary

When trying to use the `community.general.gitlab_runner` module to register a new runner on a private gitlab server, I get a Gitlab Authentication Error.

What is strange to me is that I tried to register a runner with curl using the gitlab api, it works perfectly well. The only difference is that curl doesn't seem to need an api_token for registering a runner. I tried to run curl com

[2021-09-08 12:24] felixfontein commented on #3347
Which version of `python-gitlab` do you have installed on the target?

[2021-09-08 12:25] dvoetsSFBX commented on #3347
python-gitlab is in version 7.5.0-1 on the target

[2021-09-08 12:35] felixfontein commented on #3347
Ah sorry, I missed you already wrote that in the issue. I'm not sure what you mean with 7.5.0-1 though; according to https://pypi.org/project/python-gitlab/ the latest version is 2.10.1. Do you maybe mean the Debian package of the same name (https://debian.pkgs.org/9/debian-main-amd64/python-gitlab_7.5.0-1_all.deb.html)? That package actually contains [pyapi-gitlab](https://pypi.org/project/pyapi-

[2021-09-08 16:55] dvoetsSFBX commented on #3347
You are totally right, I was using the wrong python-gitlab.
Thanks a lot.

[2021-09-08 19:05] felixfontein commented on #3347
@dvoetsSFBX you're welcome! If this issue is now resolved, please close it.

[2021-09-09 07:44] #3347 closed

[2021-09-09 08:04] Andersson007 opened #3353 "Misc doc issues"
### Summary

Suits for the first contribution. Use this [Quick-start guide](https://github.com/ansible/community-docs/blob/main/create_pr_quick_start_guide.rst) to learn how to submit your first PR

1. Use `- name: ` with the tasks in EXAMPLES block in `plugins/modules/remote_management/oneview/oneview_fcoe_network_info.py`.
For example
[code]
should be changed to something like
[code]
This is the

[2021-09-09 08:12] Andersson007 commented on #3353
bot_skip

[2021-09-09 08:28] Andersson007 opened #3354 "For the hackathon: Improve readability of examples in nios_network module"
### Summary

**NOTE: Please don't fix this before the hackathon** https://hackmd.io/CqUQNTEqRBCHBTC4WF-9Aw?view. If interested in fixing this, please register for the [summit](https://github.com/ansible-collections/community.general/issues/3273#issuecomment-906314999)

The readability of examples in the EXAMPLES doc block in `./plugins/modules/net_tools/nios/nios_network.py` can be improved. Curre

[2021-09-09 08:28] Andersson007 commented on #3354
bot_skip

[2021-09-09 10:15] felixfontein commented on #3353
@Andersson007 the nios modules are deprecated and will be removed soon, I would not invest any work in them. Also they mainly live in another place (https://galaxy.ansible.com/infoblox/nios_modules) where changes to them should mainly happen.

[2021-09-09 10:46] mscherer commented on #2463
This was a old plugin I wrote some years ago, I no longer use it.

It has no specific configuration, you just need to run Ansible on the salt master, like you would to execute a command (see https://docs.saltproject.io/en/getstarted/fundamentals/install.html "Send a command"). And you use the minions name instead of hostname.

The plugin just use the salt bus to execute command remotely instead of

[2021-09-10 13:17] petrkr opened #3357 "nmcli: eui64 and ipv6privacy"
### Summary

Add support for IPv6 specific options
 - nmcli connection modify "ipv6conn" ipv6.ip6-privacy 0
 - nmcli connection modify "ipv6conn" ipv6.addr-gen-mode eui64

used to generate MAC based SLAAC IPv6 address instead random privacy ones

### Issue Type

Feature Idea

### Component Name

nmcli

### Additional Information

_No response_

### Code of Conduct

- [X] I agree to follow the Ansi

[2021-09-10 16:54] ari75 opened #3358 "TSS: Environment Variables are ignored"
### Summary

Following the documentation of the TSS lookup plugin available [here](https://docs.ansible.com/ansible/latest/collections/community/general/tss_lookup.html), it should be possible to use Environment Variables to define the key parameters of the plugin:
  - base_url (env:TSS_BASE_URL)
  - username (env:TSS_USERNAME)
  - password (env:TSS_PASSWORD)

However these environment variables d

[2021-09-10 17:18] Ajpantuso commented on #3358
What's being done in the `cyberarkpassword` plugin is unnecessary as the options are read directly from the `DOCUMENTATION` string (including the `ENV` names). What may be your issue is the use of the `environment` keyword (See [here](https://docs.ansible.com/ansible/latest/user_guide/playbooks_environment.html#setting-the-remote-environment). Those variables when defined at the task or playbook l

[2021-09-10 17:20] felixfontein commented on #3358
They don't need to be handled by the code (and in fact should not be), since Ansible's config manager takes care of them: https://github.com/ansible/ansible/blob/devel/lib/ansible/config/manager.py#L496

That plugin isn't yet using the config manager, so it has to do everything manually.

You have to define the environment variables when running the playbook. Here you are defining them for the `an

[2021-09-12 13:08] kviolka opened #3363 "lxc_container for unprivileged containers"
### Summary

In LXC 4 there is a special command to start containers as an unpriviledged users. The ansible module always uses the lxc-start command, which fails in my case.

Thanks for the great module :)

### Issue Type

Feature Idea

### Component Name

lxc_contrinaer

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-09-12 13:08] kviolka commented on #3363
The command is lxc-unpriv-start and lxc-unpriv-attach

[2021-09-12 21:45] laurpaum commented on #3027
Hi @Pimmetje
Could you have a look at my pull request to see if it fits your needs before it gets merged?

[2021-09-13 08:40] bioinfornatics opened #3366 "Updates-alternatives slaves support"
### Summary

Dear,

[alternatives module](https://github.com/ansible-collections/community.general/blob/118c040879c742cf3d97c452653efd6f91a4f91b/plugins/modules/system/alternatives.py#L1) seems to not support yet slaves

as records with `--install` we can use `--slave`

Usage:
[code]

Thanks

### Issue Type

Feature Idea

### Component Name

alternatives

### Additional Information

Can you add th

[2021-09-13 19:34] dmsimard commented on #2968
!component None

[2021-09-13 19:35] dmsimard commented on #2179
!component plugins/modules/packaging/os/homebrew.py

[2021-09-13 19:37] opoplawski commented on #861
I think this is still a valid request.

[2021-09-13 19:39] felixfontein commented on #2179
!component =plugins/modules/packaging/os/homebrew.py

[2021-09-13 20:09] dmsimard opened #3370 "A test issue for ansibullbot"
### Summary

This is meant to test the matching of components.

### Issue Type

Bug Report

### Component Name

plugins/modules/packaging/language/gem.py

### Ansible Version

n/a

### Configuration

n/a

### OS / Environment

n/a

### Steps to Reproduce

n/a

### Expected Results

ansibullbot should identify this with the "main" branch, not the "devel" branch.

### Actual Results

ansibullbot ide

[2021-09-13 20:26] dmsimard commented on #3370
Files identified in the description:
* [`plugins/modules/packaging/language/gem.py`](https://github.com/ansible-collections/community.general/blob/main/plugins/modules/packaging/language/gem.py)

If these files are incorrect, please update the `component name` section of the description or use the `!component` bot command.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/deve

[2021-09-13 20:48] #3370 closed

[2021-09-14 11:01] cyberhck opened #3371 "github_gpg_key module"
### Summary

I'm trying to create a gpg key and add that gpg key to Github. Currently, there's doesn't seem to exist a module which will upload my gpg key to github. But there exists a github_key which pushes ssh key into github, the logic would be exactly the same except the URL to POST to will be different and maybe some other changes.

This is my first time in ansible community so I might not k

[2021-09-14 11:29] felixfontein commented on #3371
!component =plugins/modules/source_control/github/github_key.py

[2021-09-14 11:34] felixfontein commented on #3371
We do accept pull requests! We have some [information on contributing](https://github.com/ansible-collections/community.general/blob/main/CONTRIBUTING.md), which contains a section on [creating new modules](https://github.com/ansible-collections/community.general/blob/main/CONTRIBUTING.md#creating-new-modules-or-plugins).

- You need to create the symlink yourself.
- All new modules need tests (un

[2021-09-14 14:05] mator commented on #3242
something like this?
[code]

[2021-09-14 14:29] necrose99 commented on #894
**@feature_requested**
at best a new module else an update module to detect and use eselect repository over the other
at worst they could update repoman module for ansible...  to detect eselect repo...

anymore i keep repoman to [gsourcery ](https://packages.gentoo.org/packages/app-portage/g-sorcery)
R , perl etc ebuild generators , howver layman i surmise will get the axe sooner or latter ...

ht

[2021-09-14 14:42] necrose99 commented on #894
foe embedded ie RPi4 /IoT , or servers i would rather automate vs ssh to by hand all day this would be a nice to have

[2021-09-14 18:33] felixfontein commented on #3242
Small copy-editing:
[code]

[2021-09-15 13:47] mator commented on #3318
@antoinep92 could you please give a few samples where it failed? I mean, i could review the module, and if problem occurs, return more info (which would probably visible via `--verbose` command line)

[2021-09-15 14:07] antoinep92 commented on #3318
Hi, unfortunately I fixed it manually and can't reproduce, but I believe I got `signature is unknown trust`, I guess it's similar to [this](https://bbs.archlinux.org/viewtopic.php?id=207957). It happens from time to time, when you haven't upgraded for some time.

An automated resolution is not trivial because there are a few reasons why signature verification may fail. When scripting the upgrade o

[2021-09-15 15:21] mator commented on #3273
@Andersson007 , @felixfontein ,
#3242 could be probably used as a sample (simple to fix, just create a PR) to introduce new ansible developers...

[2021-09-15 22:53] zabullet commented on #1609
If anyone does pick this up it might be worth moving the underlying python API library (which is written for Pingdom API 2.0 which was EOL December 2020) for https://github.com/sekipaolo/pypingdom which seems to run API 3.0

[2021-09-16 07:09] Andersson007 commented on #3273
@mator yes, thanks! there's the [hackmd.io file](https://hackmd.io/CqUQNTEqRBCHBTC4WF-9Aw?both), feel free to update.
Also would be nice to mark the issue somehow to prevent fixing it before the hackathon:)

[2021-09-16 08:27] mator commented on #3273
i believe another label like 'hackathon21' would make it easier to search =)

[2021-09-16 08:31] Andersson007 commented on #3273
sounds good, and maybe put explicitly "Please don't fix this before the hackathon 09.21 <reg link>"

[2021-09-16 15:47] Ajpantuso commented on #3358
@ari75 were you able to successfully use environment variables for the tss lookup plugin based on the recommendations here?

[2021-09-17 09:31] ari75 commented on #3358
Hello,

Thank you very much for the explanation! It makes sense yes.

I didn't have time to test it yet, I will let you inform as soon as I'll have more feedback to provide.

Please let the issue pending meanwhile.

Cheers

[2021-09-17 10:55] wernerfred opened #3386 "GitLab API searches always return first found match"
### Summary

When trying to add gitlab users to a gitlab group using the `gitlab_group_members` we found that the users were not assigned to the correct given group. Instead they were assigned on a totally different subgroup.
We traced down the problem and found that every time the API is asked to search a specific group the module only returns the first match instead of the "exact" match.

This m

[2021-09-17 11:52] bioinfornatics opened #3387 "scaleway"
### Summary

Dear,

I tried to use `scaleway-cli` through ansible without succss
Indeed with following ansible statements
[code]
An error message is raised

[code]

Moreover in order to use this ansible module we have define the `SCW_TOKEN` variable nonetheless this variable is deprecated and scaleway use  now ` SCW_SECRET_KEY`

Thanks to keep updated this module

best regards

### Issue Type

Bug

[2021-09-17 11:55] felixfontein commented on #3386
CC @Lunik @Shaps @dj-wasabi @marwatk @waheedi @zanssa @scodeman @metanovii

[2021-09-17 13:54] sprnza commented on #1100
Such a misleading behavior! 3 years passed and no fix. Please at least describe it in the docs with a huge red symbols.

[2021-09-17 14:18] fghaas commented on #1100
@sprnza Please feel free to take my original patch from https://github.com/ansible/ansible/pull/41195, modify it to the point that core reviewers are happy with it (meaning, make it default to the current and, in my opinion, broken behavior), and re-submit it. I'm fine with it landing that way; I just don't want my name on it if it does. Thanks for respecting my stubborn stance here!

[2021-09-17 14:37] jpmens commented on #1100
@sprnza and if you do as @fghaas suggests, I'll slap a `shipit` onto it so this can finally be put to rest. :)

[2021-09-18 07:57] bioinfornatics commented on #3387
@russoz @felixfontein @Andersson007  to starts with issue [here](https://github.com/ansible-collections/community.general/blob/main/plugins/module_utils/scaleway.py#L16) the var `SCW_SECRET_KEY` have to be added

[2021-09-18 10:00] russoz commented on #3387
@bioinfornatics thanks for reporting this. Would you be interested in submitting a pull request to fix that?

[2021-09-18 10:01] russoz commented on #3387
@felixfontein it seems the bot skipped mentioning the folks in the `team_scaleway`. Is that something we should report on?

[2021-09-18 11:29] felixfontein commented on #3387
@russoz the bot currently skips all notifications. I already mentioned that to @dmsimard on IRC.

[2021-09-18 17:33] bioinfornatics commented on #3387
Thanks @russoz for the proposition, you can do th pull request. If in the meantime it is not yet  done I would  in a week or two.
Anyway thanks for your awesome works

Have a nice day

[2021-09-18 19:45] russoz commented on #3387
@bioinfornatics I'm not sure I am taking this one myself. The maintainers of the module would be the first candidates for that. 😉

[2021-09-18 21:52] russoz commented on #3387
Cc @QuentinBrosse @abarbare @jerome-quere @kindermoumoute @remyleone @sieben

[2021-09-19 05:43] russoz commented on #317
hi @tabacha thanks for reporting this (quite a while ago!).

I took a quick glance at the code, and it seems that in both cases:
- reporting a change when using a shortened IPv6 address
- reporting a change the second time it runs

This is coming straight from the univention python library. When running a `state=present` on an existing value, there is this `obj` object, and everything happen withi

[2021-09-19 07:09] tabacha commented on #317
Hi I have updaded ansible via pip3 as root
[code]
 and installed community.general witth
[code]
( community.general:3.6.0)

The bug exists, see example playbook and output, attached to the issue
[test-playbook-and-output.zip](https://github.com/ansible-collections/community.general/files/7191158/test-playbook-and-output.zip)

[2021-09-19 07:18] tabacha commented on #317
I have looked in the code I think the problem is located here:

https://github.com/ansible-collections/community.general/blob/main/plugins/modules/cloud/univention/udm_dns_record.py#L207

The univention library is not calculating any changes/diff. This is done by the communtiy.gerneral collection.

[2021-09-19 08:19] tabacha commented on #317
I wrote bullshit. The code for the diff  is here:
https://github.com/univention/univention-corporate-server/blob/5.0-0/management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py#L253

[2021-09-19 08:27] tabacha commented on #317
See also: https://help.univention.com/t/error-in-python-lib-ansible-package-python-univenton-directory-manager/18586

[2021-09-19 11:48] felixfontein commented on #317
Probably fixing that requires to normalize IP addresses when comparing. Using the [`ipaddress` library](https://docs.python.org/3/library/ipaddress.html) for this (part of the standard Python library since Python 3.3, and [backports available on Pypi](https://pypi.org/project/ipaddress/) for Python 2) is probably the best solution. From what you wrote, this needs to be fixed on Univention's side t

[2021-09-19 13:50] braindevices opened #3397 "ini_file: Support multiple option=value pairs to atomically change config ini"
### Summary

currently we can only do with loops:
[code]
but then the config file is not atomically changed, when service read this intermediate change, the service will get confused and error out or even cause damage to the database

We should allow follow way to put multiple options in one go:
[code]

The FR has been discussed before https://github.com/ansible/ansible/issues/33856 but closed due

[2021-09-19 15:51] felixfontein commented on #3397
Not sure, but did you see #3033, which landed in [community.general 3.6.0](https://github.com/ansible-collections/community.general/blob/stable-3/CHANGELOG.rst#v360)?

[2021-09-19 15:55] braindevices commented on #3397
This is completely different feature. 3397 allow u set list of values to
the same option. I want different option:value pairs.multiple options in
one go.

On Sun, Sep 19, 2021, 17:51 Felix Fontein ***@***.***> wrote:

[2021-09-19 16:30] felixfontein commented on #3397
Ah sorry, then I misread. In that case, I think this is a duplicate of #1204.

[2021-09-20 08:05] bioinfornatics commented on #3387
So on my investigation I see that the `ip_payload`variable is `None`, so the at line [640](https://github.com/ansible-collections/community.general/blob/771e9de010b2c4cb256f5fe2a9375d63e6eac511/plugins/modules/cloud/scaleway/scaleway_compute.py#L640) the function [public_ip_payload](https://github.com/ansible-collections/community.general/blob/771e9de010b2c4cb256f5fe2a9375d63e6eac511/plugins/modul

[2021-09-20 11:24] mikedlr opened #3403 "mobule for git commits and other git actions"
### Summary

In order to be able to check that a git repository is correctly configured I would like to push a commit into that repository.  Having an ansible module that would do that would make sense in my case.

There is a pre-existing module, git_acp.  This has been discussed in https://github.com/ansible/ansible/issues/50334 - I'm primarily creating this issue for discussion of whether it mak

[2021-09-20 11:26] mikedlr commented on #3403
Looks like the fact that https://github.com/ansible/ansible/issues/50334 is locked means that this doesn't turn up there as a reference.  It would be good if a contributor could add a comment to that issue so that people who were involved before know to comment here if still interested.

[2021-09-20 12:27] gundalow commented on #3386
bot_status

(Felix noticed the bot isn't pinging maintainers)

[2021-09-20 16:12] tubatodd opened #3404 "redfish_config: SetManagerNic Sub-property Address in nic_config is invalid"
### Summary

Using community.general 3.6.0 ansible module

Running....

[code]

Results in
[code]

### Issue Type

Bug Report

### Component Name

redfish_config

### Ansible Version

Ubuntu 21.04: 2.10.5
Rocky Linux 8.4: 2.9.25

### Configuration

NA

### OS / Environment

Ubuntu 21.04 and Rocky Linux 8.4

### Steps to Reproduce

[code]

### Expected Results

Success

### Actual Results

[code]

[2021-09-20 17:19] #3027 closed

[2021-09-20 17:53] felixfontein commented on #3403
There already was a PR for this in this collection, #57, which was then split up into two modules, with a PR for the first: #168. That PR unfortunately wasn't completed.

[2021-09-21 05:48] dericcrago commented on #3273
[AnsibleFest]: https://www.ansible.com/ansiblefest
[Ansible Contributor Summit]: https://ansiblecs202109.eventbrite.com/?aff=github
[Hackathon]: https://hackmd.io/@ansible-community/contrib-summit-202109#Hackathon
[Ansible Contributor Summit 2021.09 HackMD]: https://hackmd.io/@ansible-community/contrib-summit-202109

**Reminder - [AnsibleFest] and [Ansible Contributor Summit] are 1 week away!**

I

[2021-09-21 06:22] felixfontein commented on #582
2.5.6 and 3.7.0 will be released to day.

[2021-09-21 11:15] hydrapolic opened #3417 "dnsmadeeasy A record removal fails on monitor call"
### Summary

Cannot remove DNS A record:
https://api.dnsmadeeasy.com/V2.0/monitor/123456789 returned 404, with body: HTTP Error 404: Not Found

It removes the entry if the code is changed to omit the monitor call:
[code]

### Issue Type

Bug Report

### Component Name

dnsmadeeasy

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Linux Gentoo

### Steps to Reproduce
[c

[2021-09-21 11:37] felixfontein commented on #582
2.5.6 has been released. 3.7.0 will follow later.

[2021-09-21 11:41] bioinfornatics commented on #3387
@russoz @QuentinBrosse @abarbare @jerome-quere @kindermoumoute @remyleone @sieben
I made a pull request finally

[2021-09-21 16:49] felixfontein commented on #582
3.7.0 has been released. The next set of releases is expected to be in three weeks.

[2021-09-22 02:14] sojancj opened #3419 "Ansible Jira Community Module exits with error"
### Summary

When I use ansible jira module for creating jira ticket , it exits with below error . The interesting part it had created the jira ticket , but the task exists with an error .

To see the full traceback, use -vvv. The error was: KeyError: 'body'
fatal: [f51 -> localhost]: FAILED! => {"changed": false, "msg": "Module failed with exception: 'body'", "output": {"restbase": "https://jira2

[2021-09-22 02:39] aiotter commented on #238
I'm trying to fix this issue. I'm ready to create PR shortly.

[2021-09-22 05:16] felixfontein commented on #3419
You should really run the module with `-vvv` to provide the stack trace.

[2021-09-22 06:28] aiotter commented on #238
I found that the current implementation for reading current value from `defaults` output is hard to apply to dictionary.
It just read NeXTSTEP format and parse it with regex. It's easy for simple structure like array, but difficult for possibly nested dictionary.

https://github.com/ansible-collections/community.general/blob/e1cdad35373abfa3b32e37bd5bf17466dabe80c6/plugins/modules/system/osx_defau

[2021-09-22 09:27] tp199314 opened #3421 "Failed to validate Terraform configuration files"
### Summary

Hi there,

i was running a short terraform task, which exists with the following error:

Failed to validate Terraform configuration files:
Failed to parse command-line flags
flag provided but not defined: -var
Error:
Too many command line arguments
Expected at most one positional argument.
For more help on using this command, run:
  terraform validate -help

### Issue Type

Bug Report

[2021-09-22 20:35] felixfontein commented on #3421
Have you tried installing community.general and using the module from this collection? The module coming with Ansible 2.9 is seriously outdated.

[2021-09-23 07:32] tp199314 commented on #3421
I created a custom execution environment for AWX for my ansible scripts.

I am using the following version:

requirements.yml
[code]

execution-environment.yml
[code]

context/Dockerfile
[code]

The ansible version is ansible 2.9.25.post0

[2021-09-23 09:05] alexdepalex opened #3423 "Can't set virtual media as one-time boot device"
### Summary

When trying to set the virtual cd as one-time boot device, the list of allowable values doesn't contain virtual media.

[code]

### Issue Type

Bug Report

### Component Name

community.general.redfish_command

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04.2

### Steps to Reproduce

[code]

### Expected Results

Set the boot device to the v

[2021-09-23 10:22] tp199314 commented on #3421
Hi @felixfontein

using community.general.terraform fixed the problem for me.
[code]

Thank you very much!

[2021-09-23 15:33] tubatodd commented on #3404
Upgraded to 3.7.0 and the issue is still present

[2021-09-23 18:34] braindevices commented on #1204
@quidame what you proposed is not atomic which can cause serious consequences.
I described here https://github.com/ansible-collections/community.general/issues/3397

[2021-09-23 22:56] tannerjfco commented on #1050
@aminvakil @russoz please do not close this issue. Based on my testing the issue is valid and needs to be fixed. At the very least I think documentation needs to be updated to make the requirements more clear

Similar to OP I did not initially catch the requirement to use WebAPI token to get a return on thread_id. I updated to use the bot token instead of webhook token, but with this change ansibl

[2021-09-24 05:12] felixfontein commented on #3404
I don't think anyone worked on this, so that's no surprise.

CC @mraineri (right now the bot isn't CCing people for some reason, I hope that gets fixed soon...)

[2021-09-24 05:13] felixfontein commented on #3421
Great to hear! In that case, would you mind if we close this issue, since it doensn't affect this collection (anymore)? Thanks!

[2021-09-24 05:15] felixfontein commented on #3423
CC @mraineri

[2021-09-24 10:41] krauthosting commented on #1952
@markuman @envy Just worked around this bruteforcing with `uri` module using the filter. Did you proceed here?
For reference the fallback using `uri` which is obviously needs one API call per variable AND enviroment scope :see_no_evil:

[code]

[2021-09-24 12:53] mraineri commented on #3423
There is no selecting of a "virtual CD"; from a system software perspective, it's still just a CD and it really is unaware of the fact it's virtual. Whether the CD was inserted via opening a tray on the system versus mounting it remotely via a manager, the device is still presented to UEFI and BIOS (and the OS) as a CD.

So, you should be using the "Cd" value for this.

[2021-09-24 12:56] lapo-luchini opened #3428 "pkgng install from file reports failure on success"
### Summary

Pre-migration ansible/ansible#29270 still applies on 2.11.5.

### Issue Type

Bug Report

### Component Name

pkgng

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Target is FreeBSD 13.0 / amd64.

### Steps to Reproduce

[code]

### Expected Results

Installs package and reports success.

### Actual Results

[code]

### Code of Conduct

- [X] I agree to

[2021-09-25 14:55] felixfontein opened #3436 "OpenTelemetry unit tests are disabled for Python 3.10"
### Summary

The libraries needed depend on grpcio, which takes 7 minutes (!) to build on Python 3.10 (it builds a C/C++ library from source). This is not acceptable in CI, hence they were disabled for Python 3.10 in #3435.

### Issue Type

Bug Report

### Component Name

plugins/callback/opentelemetry.py

### Ansible Version

devel

### Configuration

-

### OS / Environment

-

### Steps to Repr

[2021-09-25 15:09] felixfontein opened #3439 "zypper: netcat conflict in tests disabled"
### Summary

Disabled in #3438:
[code]

### Issue Type

Bug Report

### Component Name

zypper

### Ansible Version

devel

### Configuration

-

### OS / Environment

-

### Steps to Reproduce

-

### Expected Results

-

### Actual Results

-

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-09-26 16:59] #3386 closed

[2021-09-26 23:05] c33howard commented on #1342
I also ended up here.  If you don't like ssh and qm, another work around is to use lineinfile with the config file in `/etc/pve/qemu-server/{{ vmid }}.conf` while the vm is not yet running.

I'm also not seeing the security issue, especially since there are multiple ways to achieve the same goal.

[2021-09-27 08:08] Andersson007 commented on #3273
[Ansible Contributor Summit]: https://ansiblecs202109.eventbrite.com/?aff=github
[Hackathon]: https://hackmd.io/@ansible-community/contrib-summit-202109#Hackathon
[Ansible Contributor Summit 2021.09 HackMD]: https://hackmd.io/@ansible-community/contrib-summit-202109

**Reminder** - Day 1 of the [Ansible Contributor Summit] and the [Hackathon] start tomorrow (Tuesday, 28 September 2021)!

For more

[2021-09-27 10:42] fungus-crypto opened #3452 "Gitlab groups 500 Internal Server Error"
### Summary

Few weeks ago I wrote a playbook that was working fine.
Today i re-built the docker image again due to some new stuff I added to other roles (and it installed newer version of community.general) and my playbook stopped working.

It says : "Failed to create group: 500: 500 internal server error."
I checked logs on my gitlab-ce server and it says "KeyError","exception.message":"key not

[2021-09-27 13:07] AX-florian opened #3454 "Proxmox VE 6.4 internal server error on LXC creation"
### Summary

When I try to create a Linux container on a Proxmox VE 6.4 host with the module "community.general.proxmox", an internal server error is returned. Versions below 6.4 are not affected.

The reason for this error is the Proxmox API option "rootfs", which is used incorrectly by the Ansible module. See [this forum thread](https://forum.proxmox.com/threads/api-returns-500-but-no-logs.93425

[2021-09-27 13:18] AX-florian commented on #3454
!component -plugins/modules/cloud/misc/proxmox

[2021-09-27 13:19] AX-florian commented on #3454
!component =plugins/modules/proxmox.py

[2021-09-27 16:19] aardbol opened #3455 "zstd support in archive module"
### Summary

The unarchive module has support for zstd, but the archive module hasn't. Support for zstd compression would be great as I now have to do it in a non-ansible way.

### Issue Type

Feature Idea

### Component Name

archive

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-09-27 18:02] Ninjiner opened #3456 "proxmox_kvm always returns changed as true when updating a machine"
### Summary

If you update a VM with the `proxmox_kvm` module the return value of `changed` is always true.
This can be very annoying if you for example have a reboot job, which is only supposed to run when the values actually changed.
I think it is currently hardcoded in the module, that true is returned if the `update` parameter is set to true.
It would be nice if the `changed` status would refl

[2021-09-27 18:10] felixfontein commented on #3452
resolved_by_pr #3453

[2021-09-27 19:50] #3452 closed

[2021-09-28 12:06] avictor0826 commented on #2692
the `_options` looks to be obselete

From [here](https://github.com/ansible/ansible/blob/8643db5ac3f583cecaf03d20473902cfdfdb7574/lib/ansible/plugins/callback/__init__.py#L84-L87)
[code]

The `_options` for the plugin is now specific to the module as `_plugin_options`.

the `C` or the `Context` can be used to get the desired values. (as below)

[code]

I have tried these and it works. below is  sa

[2021-09-28 12:47] Akasurde commented on #2692
@avictor0826 Would you be interested in raising PR with your findings? Thanks.

[2021-09-28 18:27] wombelix commented on #1791
As far I can see, no one is working on this Issues already, so I will give it a try during the ongoing Ansible Summit / Hackathon

[2021-09-28 20:56] gotmax23 opened #3466 "[zypper_repository] `state: absent` does not work properly"
### Summary

When passing `state: absent` to the `community.general_zypper_repository` module, Ansible reports a change but does not actually remove the `.repo` file in `/etc/zypp/repos.d`. This results in a task that does not behave as it should and a non-idempotent playbook.

### Issue Type

Bug Report

### Component Name

zypper_repository

### Ansible-core Version

[code]

### Community.genera

[2021-09-28 21:00] stgrace commented on #1892
Password reset + password no longer being required were indeed added in that PR. Generating a random password however was not.

[2021-09-28 21:10] gotmax23 commented on #3466
[Here](https://gist.github.com/gotmax23/47741a17004d5fc088329eb46feb6572) is a link to a Gist with the same output as above but with `-vvvv`. I ran this as a new Github Actions job; [here](https://github.com/gotmax23/ansible-role-packman/runs/3737241653?check_suite_focus=true) is the full job output for this run.

[2021-09-28 21:11] gotmax23 commented on #3466
I did include it. Is the bot broken or did I just mess something up?

[2021-09-28 21:21] conloos commented on #2344
Yes, i will finish the lxd inventory caching at first

[2021-09-29 04:56] felixfontein commented on #3466
!component =plugins/modules/packaging/os/zypper_repository.py

[2021-09-29 04:58] felixfontein commented on #3466
Sorry, that's completely my fault. I yesterday edited the form so it now correctly asks for the ansible-core version, which (since 2.9) is not related to the Ansible version. It looks like the bot insists that the ansible-core version is called "Ansible version" though...

[2021-09-29 05:20] gotmax23 commented on #3466
It looks like ansibullbot also incorrectly added the `has_pr` label.

[2021-09-29 11:04] felixfontein commented on #3466
That label is added every time an issue is mentioned in a PR. Which is a good heuristic, but fails in cases such as this one :)

[2021-09-29 12:48] mraineri commented on #3404
@tubatodd what's reported when you collect the current manager network info? I know some Redfish services will hide certain properties when DHCP is currently disabled, and it appears the module is not going to allow for updating properties that are hidden in responses. If you can confirm "Address" isn't being reported when you get the network info, then we might need to simply remove the property

[2021-09-29 14:40] shk3bq4d opened #3471 "using YAML callback plugin changes multiline behavior of to_yaml filter"
### Summary

Using the `to_yaml` or `to_nice_yaml` filter returns differences in multi-line styling whether ANSIBLE_STDOUT_CALLBACK=community.general.yaml is used or not

### Issue Type

Bug Report

### Component Name

to_yaml
to_nice_yaml
community.general.yaml
plugins/callback/yaml.py
plugins/callback/yaml

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[c

[2021-09-29 14:48] shk3bq4d commented on #3471
as an external viewer, this seems close to #1519

[2021-09-29 15:16] felixfontein commented on #3471
!component =plugins/callback/yaml.py

[2021-09-29 15:17] felixfontein commented on #3471
I think this is mainly related to https://github.com/ansible-collections/community.general/blob/main/plugins/callback/yaml.py#L82 - the callback modifies the way PyYAML does formatting, which seeps through to all other uses in PyYAML in Ansible controller.

[2021-09-29 18:52] felixfontein commented on #3471
resolved_by_pr #3478

[2021-09-29 19:08] tubatodd commented on #3404
@mraineri that's the thing, DHCP is "currently" enabled at the time the play is being run. The DHCP false is part of the play that turns it off and sets the static IP. The play that I am running is the example I've found in the module documentation.

[2021-09-29 19:13] mraineri commented on #3404
Right, and that's the potential source of the issue that I'd like to verify; even though DHCP is currently enabled, the service is hiding static address properties. This goes against best practices from the DMTF for showing properties. Some types of clients might want to configure their static address settings before flipping the switch to disable DHCP, but a service actively hiding information li

[2021-09-29 20:12] tubatodd commented on #3404
@mraineri  How do I get this info?
[code]

Sorry I'm writing a whole lot of code for several different devices from several different vendors. So my brain is worn out. :(

[2021-09-29 20:58] tubatodd commented on #3404
@mraineri Ok I think I got what you are looking for from a simple rest GET. Looks there are NO fields pre-populated for `IPv4StaticAddresses`

[code]

[2021-09-29 21:03] mraineri commented on #3404
Great, thanks! That confirms my suspicion. We'll need to make a change in the module to not have that strict property checking prior to attempting to modify the resource.

[2021-09-30 09:12] Andersson007 commented on #3354
FYI rasdva3 on matrix has PICKED IT UP FILE 2.

[2021-09-30 13:35] #3421 closed

[2021-09-30 14:26] atosscsd-bb opened #3483 "gitlab_user should only modify provided fields"
### Summary

I'm trying to add SSH-keys to exsiting users:
[code]

When `gitlab_username` is an admin-account, the task removes the admin privileges as `isadmin` defaults to `false `.

Therefore `gitlab_user` should only modify the fields provided.

### Issue Type

Feature Idea

### Component Name

community.general.gitlab_user

### Additional Information

[code]

### Code of Conduct

- [X] I agre

[2021-09-30 14:38] felixfontein commented on #3483
I fully agree, but this is a bit more complicated to implement to avoid breaking backwards compatibility / inform users about this upcoming breaking change.

The classic approach is to:
1. Add a new option which allows to disable defaults for options;
2. Once that's released, deprecate its current default value, and announce that it will change;
3. Eventually change the default, effectively removi

[2021-09-30 15:08] stgrace commented on #3483
Best way to solve this might be to not specify any default for fields such as admin, since they are not required, and use the default the API provides?

I don't know if that would cause any breaking changes, because creating new users will work the same as always, and updating new users will not change anything that is not specified.

[2021-09-30 15:30] stgrace commented on #3483
Should be fixed in #3484

[2021-09-30 15:32] felixfontein commented on #3483
Definitely.

Well, it's changing the way a feature works, so it's breaking backwards compatibility. Someone might depend on that not specifying the `admin` parameter disables admin rights for a user.

This is not a bug, it's basically a mismatch of user expectations and implementation.

[2021-09-30 15:38] Andersson007 commented on #3273
[Ansible Contributor Summit]: https://ansiblecs202109.eventbrite.com/?aff=github
[Hackathon]: https://hackmd.io/@ansible-community/contrib-summit-202109#Hackathon
[Ansible Contributor Summit 2021.09 HackMD]: https://hackmd.io/@ansible-community/contrib-summit-202109

**Reminder** - Day 2 of the [Ansible Contributor Summit] and the last day of the [Hackathon] start tomorrow (Friday, 1 October 2021)

[2021-09-30 15:44] stgrace commented on #3483
So assuming these steps, I should add an option to disable defaults first?

[2021-09-30 15:53] felixfontein commented on #3483
Yes. It's best if that option is around for at least one release before its current default value gets deprecated.

[2021-10-01 09:16] smogsy opened #3486 "redhat_subscription: consumer_name is ignored"
### Summary

When using consumer_name to override name for foreman registration it is ignored during deployment  redhat_subscription task: example below

 this was reported in 2018 here:  https://github.com/ansible/ansible/issues/50502 but looks to be not fixed

example:
  redhat_subscription:
    org_id: "{{ foreman_default_organisation }}"
    activationkey: "{{ foreman_activation_key }}"
    co

[2021-10-01 13:54] ari75 commented on #3358
Hello,

Finally I could do some tests. As we are using Ansible Tower, we went for the option to use a custom Ansible Credential, as specified here: https://docs.ansible.com/ansible-tower/latest/html/userguide/credential_types.html. This one will in turn set up the 3 parameters as Environment Variable.

I can now confirm that these parameters are at least processed by the plugin:
`changed: [myserve

[2021-10-01 20:42] #3471 closed

[2021-10-02 14:26] je2555 opened #3497 "Zypper `disable_recommends` default setting voilates principle of least surprise"
### Summary

The default behaviour of the zypper package manager is to install a package and its recommended packages.  A user has to explicitly override that with the `--no-recommends` command line flag or with the `solver.onlyRequires = true` configuration setting.  However the community.general.zypper module has the default behaviour reversed, disabling recommended packages by default.

This vi

[2021-10-02 17:57] a01fe opened #3499 "macports: include stdout and stderr for more actions"
### Summary

At present, few `macports` actions include `stdout` and `stderr` in their status.
Add `stdout` and `stderr` to status for more actions so that it is possible to see detail on what has been done.

### Issue Type

Feature Idea

### Component Name

macports

### Additional Information

For example, running this task:

[code]

might produce in `macports_status`:

[code]
Including `stdout`

[2021-10-02 19:47] felixfontein opened #3505 "archive: OSX 10.11 tests have been disabled"
### Summary

The OSX 10.11 tests for the archive module were failing constantly and were thus disabled in #3501. The problem is that there exists no precompiled binary, and downloading the sources fails (probbaly due to the Let's Encrypt cross-sign root expiry).

### Issue Type

Bug Report

### Component Name

archive

### Ansible Version

2.10

### Community.general Version

all

### Configuratio

[2021-10-02 19:47] felixfontein opened #3506 "iso_extract: OSX 10.11 tests have been disabled"
### Summary

The OSX 10.11 tests for the iso_extract module were failing constantly and were thus disabled in #3501. The problem is that there exists no precompiled binary, and downloading the sources fails (probbaly due to the Let's Encrypt cross-sign root expiry).

### Issue Type

Bug Report

### Component Name

iso_extract

### Ansible Version

2.10

### Community.general Version

all

### Conf

[2021-10-03 11:40] russoz commented on #861
why not `loop: "{{ servers }}"`?

[2021-10-03 11:49] russoz commented on #3217
hi @anappi-vc could you please paste the output of your test, but running `ansible-playbook` with `-vvv`? It's going to be long, but it should have more details for us to work on. TIA

[2021-10-03 20:19] felixfontein commented on #3497
Changing the default breaks backwards compatibility, so this is somewhat more complicated.

If this option is set to `false`/`no`, then the module will not pass the `--no-recommends` parameter. What will happen then? Is there a default for the package manager that can be configured and will apply if that option is not passed? Is there an explicit option for "install recommended, and ignore what is

[2021-10-04 07:26] amit-prayag opened #3509 "SetOneTimeBoot Command in community.general.redfish_command giving error "http bad request" on HPE ProLiant Servers"
### Summary

SetOneTimeBoot Command in community.general.redfish_command giving error "http bad request" on HPE ProLiant Servers, while setting he onetime boot as Cd.

### Issue Type

Bug Report

### Component Name

   community.general.redfish_command:
      category: Systems
      command: SetOneTimeBoot

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[cod

[2021-10-04 12:20] je2555 commented on #3497
@felixfontein

Here's the section from the `zypper` manpage:

[code]

The conf parameter referred to is `solver.onlyRequires` in `/etc/zypp/zypp.conf`.  That file has the following configuration by default:

[code]

So omitting the `--no-recommends` parameter will use the default `zypper` recommends configuration which is to install recommended packages.

As noted above, the `--recommends` paramet

[2021-10-04 12:32] mraineri commented on #3509
At least from an HPE system that I have access to, it appears "BootSourceOverrideMode" is not writable.

We recently accepted code to allow a user to specify the BootSourceOverrideMode (which is either UEFI or Legacy). If the user does not supply the term, the module will just write out whatever is currently in the resource. So, while this is a no-change on that property, the attempt to set it wil

[2021-10-04 12:51] amit-prayag commented on #3509
Hello Mike,

Please find below the requested details.

(redfish) apandey@redfish2:~/projects/github/ansible> curl -D - -k -u hpadmin:hppasswd -H "Content-Type: application/json" -X PATCH https://10.3.40.6/redfish/v1/Systems/1/ -d '{ "Boot": { "BootSourceOverrideEnabled": "Once", "BootSourceOverrideTarget": "Cd", "BootSourceOverrideMode": "UEFI" } }'
HTTP/1.1 200 Connection established

HTTP/1.1 40

[2021-10-04 12:56] mraineri commented on #3509
Thanks; I don't quite understand the 401 Unauthorized after the 200 OK, but otherwise I'm seeing the same behavior.

We'll need to make the module omit the boot source override mode property from the request if no changes are being requested rather than attempting to set what's already there.

[2021-10-04 13:09] amit-prayag commented on #3509
Here is the o/p again. When are we expecting this change in which version?
=================================================================================

(redfish) apandey@redfish2:~/projects/github/ansible> curl -D - -k -u hpadmin:hppasswd -H "Content-Type: application/json" -X PATCH https://10.3.40.6/redfish/v1/Systems/1/ -d '{ "Boot": { "BootSourceOverrideEnabled": "Once", "BootSourceOverri

[2021-10-04 13:31] wolfgangkarall opened #3510 "apache2_module: using apachectl and broken ignore_configcheck"
### Summary

apache2_module uses `apachectl -M` in _module_is_enabled(), which depends on a working configuration, otherwise apachectl dies with:

[code]

This means there is a dependency on the order of tasks, i.e.you have to enable the module first _before_ writing a configuration snippet that uses one of the directives the module provides. Same for disabling, first remove the snippet, then disa

[2021-10-04 13:59] anappi-vc commented on #3217
@russoz Sure thing. Here you go:

[code]

[2021-10-04 15:38] amit-prayag commented on #3509
same issue for following command as well.

    community.general.redfish_command:
      category: Systems
      command: PowerReboot

Error is:
++++
msg: 'HTTP Error 400 on POST request to ''https://15.214.45.100/redfish/v1/Systems/1/Actions/ComputerSystem.Reset/'', extended message: ''Bad Request'''

[2021-10-04 17:06] mraineri commented on #3509
This looks like a different problem since that's an entirely different code path. Can you please file a new issue to track that new problem?

[2021-10-04 19:25] felixfontein commented on #3497
Thanks!

... if the default config hasn't been changed.

It's not undefined, but not exactly what is promised in the documentation either.

I think the optimal behavior should be:
1. If the option is set to `true`, it should explicitly pass `--recommends`.
2. If the option is set to `false`, it should explicitly pass `--no-recommends`.
3. If the option is not specified (or is `none`), it should no

[2021-10-05 01:15] overhacked commented on #3428
Trying to find some time to fix this and test the fix, but the root cause is this:
https://github.com/ansible-collections/community.general/blob/0bc4518f3b409c202c2fea6a5233601058119431/plugins/modules/packaging/os/pkgng.py#L282-L283

`query_package()` is called with its `package` argument set to the absolute path to the package file (i.e. `/tmp/pkg.txz` in this issue). That's not the actual name

[2021-10-05 09:06] je2555 commented on #3497
Sounds perfect to me and it mirrors the `apt` module exactly.

[2021-10-05 10:20] TheJenne18 opened #3513 "ZFS extra options with ":" is not allowed"
### Summary

We use a setup property with a ";" in it. In this case we would like to do this:
[code]

Because their is a ':' in the propery (aldo it is within double quotes), offsite 1 is seen  as the value.

Result: `    cannot set property for '<dataset>': invalid property 'autobackup:offsite1'`

### Issue Type

Bug Report

### Component Name

zfs

### Ansible Version

[code]

### Community.gene

[2021-10-05 14:20] arjuhe commented on #473
We are currently bumping into this issue and could really use it. Is there any updates on this PR.

[2021-10-05 14:24] EndlessTrax commented on #3190
Hi @jeffreynelson,

The underlying SDK doesn't yet support lookup by name. If that's implemented in the SDK, then we will update this plugin to reflect those changes. As secret names are not unique in Secret Server, and therefore it could get returned the wrong secret details, this brings some complexity to implementing that feature in the SDK.

I'll keep this issue open until that feature is impl

[2021-10-05 15:39] ifelsefi opened #3515 "community.general.tss - SSL:CERTIFICATE_VERIFY_FAILED"
### Summary

I get SSL certificate verification error when trying to connect to my secret server.   The CA is present in root bundle.

### Issue Type

Bug Report

### Component Name

tss

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

CentOS 7.9

### Steps to Reproduce

tss.yml:

[code]

roles/tss/main.yml:

[code]

### Expected

[2021-10-05 16:35] EndlessTrax commented on #3358
If you are using Ansible Tower, there is a [TSS Credential Plugin](https://github.com/ansible/awx/blob/devel/awx/main/credential_plugins/tss.py). Not sure if you are aware of that.

As for your login issue, is `sdk_client_rule` an application user, local, or AD user?

[2021-10-05 20:24] giuliotripi opened #3516 "gitlab_deploy_key failed to enable key already uploaded to gitlab"
### Summary

When I try to add the same deploy key to multiple repos, after the key has been uploaded the first time, I get an error on the next attempts because the key is duplicated. I think that the key should be enabled and not created again for each project.

### Issue Type

Bug Report

### Component Name

community.general.gitlab_deploy_key

### Ansible Version

[code]

### Community.general

[2021-10-05 22:03] DaniMajor commented on #544
Im having the same issue and would prefer to not have to encode or convert the file in order to get the desired output for this project. Is this possible? I am learning how to use `dd` for linux at the moment as a possible workaround.

[2021-10-06 02:11] dmc5179 commented on #1461
Could use this to fix just the gpt issue and not blindly fix all errors:

[code]

[2021-10-06 16:39] tubatodd commented on #3404
@mraineri I'm new to filing a bug here. Is this one being worked or does it have to be assigned or some other process?

One thing of note, I've been doing a lot of automation of the HPE ILO and part of my automation includes the factory reset of the Bios and ILO. I found that at some point in the process it appears that `Address` field is there and then it is not. Not sure that helps.

[2021-10-06 18:47] mraineri commented on #3404
Unfortunately I don't have anyone assigned to work this at the moment, but if no one volunteers in the next day or two, I will likely make a branch with a proposed change. If I make a branch available, would you be able to help with the validation?

[2021-10-06 20:02] felixfontein commented on #582
In today's community meeting, we approved the following release schedule for community.general:
1. There will be one more minor 3.x.0 release, 3.8.0, around October 12th (next week's Tuesday);
2. We will release community.general 4.0.0 around November 2nd (three weeks after 3.8.0), and regular minor 4.x.0 releases in usually a 3-week schedule (i.e. like now);
3. This will ensure that 4.1.0 will ge

[2021-10-07 04:22] amigus commented on #3515
The CA cert is present in what root bundle?

Is there a certain root bundle that ansible is supposed to check?

Are lookup plugins expected to accept 'validate_certs'?

[2021-10-07 05:08] felixfontein commented on #3515
I don't think so. What modules/plugins sometimes provide is an option which allows to specify a root CA certificate. Whether they do so usually depends on which underlying library is used for connecting to the service (and whether that one allows to specify one).

The option parser is permissive with options that are not documented, it basically ignores them (instead of reporting an error that the

[2021-10-07 14:38] liviuancas-elrond commented on #1050
I am having the same issue as @tannerjfco

if i use bot token aka **xoxb** token i get :  "error": "channel_not_found"
if i use _TAxXXX/XXXX/xXaxaxaxx_ token - i get only: "OK" and no ts response
if i use user token aka **xoxp** token works, but it sends the message as my username and i get the full response back.

[2021-10-08 01:46] russoz opened #3527 "scaleway_organization_info - RETURN docs are not well-formatted"
### Summary

The module `scaleway_organization_info` RETURN documentation does not conform with the expected format. We have a line to ignore that fact in the test/sanity/ignore*.txt files - the only one related to scaleway modules.

It would be nice to have that fixed.

### Issue Type

Documentation Report

### Component Name

plugins/modules/cloud/scaleway/scaleway_organization_info.py

### Ansi

[2021-10-08 05:41] #2265 closed

[2021-10-08 05:49] felixfontein commented on #3515
Requests allows to provide a CA cert in a call with the `verify` parameter (https://docs.python-requests.org/en/latest/user/advanced/#ssl-cert-verification), but that's not exposed in this plugin. Having an option for that is probably a good idea in the long run.

[2021-10-08 08:57] ari75 commented on #3358
hi @EndlessTrax ,

### Regarding the TSS Credential Plugin for Ansible Tower
I was not aware of this TSS Credential plugin for Ansible Tower, thanks for the hint.

Do I understand correctly that:
- One must build the custom plugin himself and install it in each Ansible Tower venv where it shall be used?
- One credential must created for each secret to be retrieved from Thycotic SS?

In this case,

[2021-10-08 13:20] laurpaum opened #3535 "keycloak_role should allow special characters in role name"
### Summary

Using the keycloak_role module with role names containing special characters causes an error when calling the Keycloak API.

### Issue Type

Bug Report

### Component Name

keycloak_role

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

_No response_

### Steps to Reproduce

[code]

### Expected Results

Role with nam

[2021-10-08 13:22] Andersson007 commented on #3354
Fixed

[2021-10-08 15:15] laurpaum opened #3537 "keycloak_identity_provider fails to detect mappers change"
### Summary

When updating an identity provider with only changes to mappers, the module fails to detect the change and does not apply the required updates.

### Issue Type

Bug Report

### Component Name

keycloak_identity_provider

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

_No response_

### Steps to Reproduce

[code]

##

[2021-10-08 20:08] smacz42 commented on #758
This is happening again with https://hub.docker.com/r/bitnami/suitecrm.
[code]

Specifically the line here:

[code]

I can't find where the actual run command is from here: https://github.com/ansible-collections/community.docker/blob/main/plugins/modules/docker_compose.py#L832

Where is this `up()` function? Probably here: https://github.com/docker/compose/blob/5becea4ca9f68875334c92f191a13482bcd6

[2021-10-08 20:22] Ajpantuso commented on #758
The up method is [here](https://github.com/docker/compose/blob/5becea4ca9f68875334c92f191a13482bcd6e5cf/compose/project.py#L630-L714)

The 10 second default timeout for `docker-compose up` is described in the [docs](https://docs.docker.com/compose/reference/up/) (see the `-t` option)

This module is now in `community.docker` and you can find more detail about the existing timeout behavior on this

[2021-10-09 08:10] felixfontein commented on #3515
@amigus Ansible does not use requests. Also this isn't about exposing the underlying library, but to provide an API that uses the underlying library to achieve common tasks, like proving a CA certificate to use for validation. If the plugin does not provide such an option, you are basically forcing users to try to find out what the underlying library does to try to achieve the correct behavior.

I

[2021-10-09 11:38] #3535 closed

[2021-10-10 13:06] felixfontein commented on #3515
I'm not sure what kind of system you're using, but neither on Arch Linux nor Debian /etc/pki/tls/ even exists. So this is **not** the "system default CA store" on Linux.

You can run `python -c "import ssl; print(ssl.get_default_verify_paths())"` to find out where Python by default find its CA certs. That will also be what Ansible uses. Requests (a third-party library that is used by the TSS SDK t

[2021-10-10 21:24] amigus commented on #3515
Likewise, I don't see why an individual Ansible plugin should couple itself to a particular location for a CA certificate bundle nor do I see why it should couple itself to a particular HTTP library by exposing that library's features.

Also, as @EndlessTrax said, this is an environmental issue and that's what environment variables are for.

[2021-10-11 04:55] #3499 closed

[2021-10-11 09:45] PeterNerlich commented on #2834
Not from me. Maybe I'll get around to look at this again the following months, we'll see. Anyone who can beat me to it is very welcome!

[2021-10-11 12:38] amit-prayag commented on #3509
Hello Mike, yeah this is the behavior observed on HPE ProLiant Server DL560 Gen10 Server.

[2021-10-11 20:43] #3537 closed

[2021-10-12 14:38] jpcaruana opened #3551 "supervisorctl can't restart all"
### Summary

supervisorctl can't restart all

see also https://github.com/ansible/ansible/issues/67838

### Issue Type

Bug Report

### Component Name

supervisorctl

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

_No response_

### OS / Environment

I am on MacOS and my servers are Ubuntu 18

### Steps to Reproduce

[code]

### Expected Results

same as run

[2021-10-14 12:51] azmeuk opened #3559 "ldap_attrs: 'Inappropriate matching' on cn=config olc* attributes"
### Summary

When I try to edit the `olc*` attributes (such as `olcTLSCertificateKeyFile`) on the `cn=config` database, I get a `ldap.INAPPROPRIATE_MATCHING` exception. Other kind of attribute (e.g. `olcRequires: authc`) works fine though.

This happens at the `self.connection.compare_s` call in the `_is_value_present` method that is executed before computing the modlist.
https://github.com/ansibl

[2021-10-14 13:44] sshnaidm opened #3560 "Wrong value calculation in IPA role for IPA_HOST"
### Summary

When using `IPA_HOST` environment set `ipa_role` module fails because of bug in fallback function.

https://github.com/ansible-collections/community.general/blob/9546bbb55e273860e87df6978daca70f921e4307/plugins/module_utils/ipa.py#L28-L41

The result from env search in `env_fallback` is not returned

### Issue Type

Bug Report

### Component Name

ipa_role

### Ansible Version

[code]

[2021-10-14 17:09] coute commented on #1302
Hello,
I have the same issue with gitlab.com
[code]
My task
[code]
The api_token is not necessary but can't be omitted.
https://docs.gitlab.com/runner/register/#requirements
https://docs.gitlab.com/ee/api/runners.html#register-a-new-runner

The username/password api authentication is deprecated on gitlab.com.

ansible version
[code]

If i try with uri module
[code]
It works !
[code]
And I don't ne

[2021-10-14 18:53] mraineri commented on #3509
I did confirm that HPE systems do have that dependency where if the system is in the middle of BIOS, they will reject PATCH requests to the boot override properties. However, I don't know if there's much value in checking the system state prior to attempting to PATCH. The reason being is that if we check the state and see it's not idea, we'd fail the operation. In the end, the user needs to retry

[2021-10-14 19:24] #2473 closed

[2021-10-14 21:17] #616 closed

[2021-10-15 05:51] felixfontein commented on #3219
bot_skip

[2021-10-15 05:51] felixfontein commented on #330
bot_skip

[2021-10-16 18:45] #3560 closed

[2021-10-16 20:23] edhilgendorf opened #3569 "DNSimple does not return records"
### Summary

According to dnsimple docs [1] it should be possible to list all records of a given domain but it actually is not.

### Issue Type

Bug Report

### Component Name

dnsimple

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

_No response_

### Steps to Reproduce

[code]

### Expected Results

all records from the my.com

[2021-10-16 20:53] edhilgendorf commented on #3569
Hi, in the examples section:
[code]
In the DNSimple UI if you click "my.com" records, you will see a list of records. This task seems to imply that records variable should hold the records to my.com domain.

[2021-10-16 21:15] edhilgendorf commented on #3569
Thanks for checking, I believe this is the most recent version:
`dnsimple in /home/user/.local/lib/python3.8/site-packages (2.2.1)`
general version is:
[code]

[2021-10-16 21:33] edhilgendorf commented on #3569
The action of "fetch" on "state: present" does not make a lot of sense to begin with, and is a little counter-intuitive.. If the domain doesn't exist this actually CREATES if it does not exist. Which can be pretty dangerous, for ex:
you have records under my.com:
ex1.subdomain.my.com
ex2.subdomain.my.com

and you run with this domain in attempt to see what is under "subdomain.my.com" expecting the

[2021-10-17 00:59] gotmax23 opened #3570 "[Feature Request] [zypper] Allow refreshing cache without specifying `name:`"
### Summary

Currently, it is not possible to update the package cache with the `community.general.zypper` module without specifying the `name` argument.

This task fails with the following error message:

[code]

This usecase is supported by every other distro package module (or at least the ones I've used). This includes `apt`, `yum`, `dnf`, `pacman`, and `apk`.

This missing feature makes updat

[2021-10-17 07:54] felixfontein commented on #3569
resolved_by_pr #3571

[2021-10-18 09:19] peterloeffler opened #3578 "Implement persistent/non persistent flag for OpenNebula images"
### Summary

Using the module plugins/modules/cloud/opennebula/ it is not possible to define or change the persistent flag for an image.
Would be helpful for example if you have a cloud image and want to update packages.

### Issue Type

Feature Idea

### Component Name

one_image

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-10-18 11:53] #3353 closed

[2021-10-19 11:42] felixfontein commented on #2834
resolved_by_pr #3588

[2021-10-19 17:59] dubmarm opened #3589 "Twilio error handling is vague and unhelpful"
### Summary

The following leaves a lot to be interpreted and can benefit from more robust reporting:

[code]

### Issue Type

Bug Report

### Component Name

https://github.com/ansible-collections/community.general/blob/main/plugins/modules/notification/twilio.py
twilio.py

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

MacOSX

[2021-10-20 15:26] #3404 closed

[2021-10-21 12:29] jameswilliams1 opened #3594 "Haproxy: Allow passing multiple backends"
### Summary

It's possible to either not pass a backend pool (and use all available) or pass only a single backend, but not pass a specific list of backends. Looking at the code it already works with a list, but the module expects a string as user input (and makes a list of one). Ideally if the input is type list it should pass this through directly so users can specify a group of backends rather

[2021-10-22 08:23] v1v opened #3597 "Opentelemetry: error handling for loops does not provide enough context"
### Summary

When the playbook failed in some cases the reported error does not show any meaningful information but the below details:

[code]

As far as I see `All items completed` might be related to a loop -> https://github.com/ansible/ansible/blob/6319a0f415e5fcc966e5424bb2191b19e770cf49/docs/docsite/rst/user_guide/playbooks_loops.rst#registering-variables-with-a-loop

### Issue Type

Bug Repo

[2021-10-22 15:22] yrro opened #3600 "Support for matching against @include lines in pam configs"
### Summary

I can't figure out how to use the `pamd` module to insert a line before this line in `/etc/pam.d/sudo`:

    @include common-auth

`@include` is a path Debian has carried for a long time (since before `pam.conf` supported the `include` control value). It's present on pretty much any Debian system going back over 10 years.

My workaround is to fall back to `lineinfile`:

    lineinfile

[2021-10-23 00:08] overhacked commented on #3428
@felixfontein, #3526 doesn’t actually fix this issue. I’ve planned a follow-on PR to address installing local files as packages correctly.

[2021-10-24 19:30] 4n70w4 opened #3607 "Set query_prefix rule via consul_acl"
### Summary

I can manually set in Consul:

query_prefix "" {
  policy = "read"
}

Docs: https://learn.hashicorp.com/tutorials/consul/access-control-setup-production#token-for-dns

May be similar: https://github.com/ansible-collections/community.general/issues/1085

But via consul_acl I get errors:

[code]

### Issue Type

Feature Idea

### Component Name

consul_acl

### Additional Information

[

[2021-10-24 19:41] #3607 closed, assigned to nobody

[2021-10-24 19:52] 4n70w4 opened #3608 "Able to manage consul agent token"
### Summary

H! I could not find anything similar in the documentation.

https://www.consul.io/api-docs/agent

and concrete https://www.consul.io/api-docs/agent#update-acl-tokens

`PUT /v1/agent/token/default`

it the same that `consul acl set-agent-token default "<dns token>"`

### Issue Type

Feature Idea

### Component Name

consul

### Additional Information

[code]

### Code of Conduct

- [X]

[2021-10-25 01:14] pmdumuid opened #3609 "keycloak_client detects changes on check_mode regarding `redirectUris`, `attributes`, and `protocol_mappers`"
### Summary

When I have a task that creates a keycloak client:

[code]

When I run the step once, it creates the client.
When I run the step a second time, it determines there are not changes, but when I run it in `--check` mode it determine there are.

### Issue Type

Bug Report

### Component Name

keycloak_client

### Ansible Version

[code]

### Community.general Version

[code]

### Configur

[2021-10-25 15:37] haddystuff opened #3612 "nmcli always returning "changed""
### Summary

community.general.nmcli always returning "changed" when running task with dummy interface even though there is nothing to change. Found this problem on Ubuntu 20.04 controller node but also was able to reproduce it on Fedora 34. I ran this task with --check --diff flags and found out that nmcli trying to change "802-3-ethernet.mtu" parameter. I also found similar issue [here](https://

[2021-10-25 18:04] azmeuk opened #3613 "ldap_entry: recursive deletion"
### Summary

I would like to delete a whole branch of my ldap tree with `ldap_entry` but it seems recursive deletions are not supported.

I suggest handling recursive deletions.

### Issue Type

Feature Idea

### Component Name

ldap_entry

### Additional Information

[code]
[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-10-26 03:13] alan-strohm opened #3616 "passwordstore removes trailing newlines"
### Summary

 lookup('community.general.passwordstore', 'foo returnall=true') never includes a trailing newline even if pass show does return one.

### Issue Type

Bug Report

### Component Name

plugins/lookup/passwordstore.py

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04.3 LTS (GNU/Linux 4.19.84-microsoft-standa

[2021-10-26 09:08] th-2021 opened #3617 "enhance cobbler support"
### Summary

Currently there is only cobbler_system available. I would like to get info about the other cobbler objects as well like distro, profile, repo  ...

### Issue Type

Feature Idea

### Component Name

cobbler

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-10-26 20:58] sabman3 opened #3619 "Allow community.general.ldap_search to be used even in check mode"
### Summary

It looks like community.general.ldap_search does no return data if using check mode. You have to use "check_mode=no" to get data if testing. It's a search, so nothing should be changed anyways. So whether or not "--check" is used when calling the playbook the correct result should be returned.

### Issue Type

Feature Idea

### Component Name

community.general.ldap_search

### Additi

[2021-10-26 22:14] alitvak69 opened #3620 "DNS MadeEasy unable to delete or update existing records"
### Summary

When I try executing update or delete command I get 404 not found.  The only commands I can execute are insert a new record (i.e. POST on dnsmadeeasy  api).  Example
[code]
Needless to say the records are present and I can manually edit / remove them via web console.

### Issue Type

Bug Report

### Component Name

dnsmadeeasy

### Ansible Version

[code]

### Community.general Versio

[2021-10-27 05:51] #3597 closed, assigned to nobody

[2021-10-27 09:43] weakcamel opened #3621 "gitlab_deploy_key in check mode deletes the deploy key"
### Summary

When I run task `community.general.gitlab_deploy_key` in a playbook with `--check --diff` mode after the deploy key has been added I would expect it to do no action.

Instead, running in `--check` mode **removes** the deploy key from the Gitlab project (!).

### Issue Type

Bug Report

### Component Name

gitlab_deploy_key

### Ansible Version

[code]

### Community.general Version

[

[2021-10-27 14:59] nerrehmit opened #3623 "Misleading documentation for maximum_timeout in gitlab_runner"
### Summary

The documentation for the `maximum_timeout` parameter of `community.general.gitlab_runner` states:
`The maximum timeout that a runner has to pick up a specific job.`

I think this is a bit misleading as I understand "pick up a specific job" in the sense on how long a job can be in a "pending" state before it is started.
However the parameter is used to configure how long a job can run

[2021-10-28 18:07] #3621 closed, assigned to nobody

[2021-10-29 12:57] stephan2012 opened #3630 "Cannot add multiple SRV records with nsupdate and subsequent invocations"
### Summary

Cannot add multiple SRV records because latter updates remove all previous. Multiple values for a single invocation of `nsupdate` allows multiple values but this is not idiomatic for Ansible.

Here is how it looks like from the DNS server’s perspective:

[code]

`nsupdate` currently allows records to be either present or absent. Maybe a `force` option is missing that allows changing t

[2021-10-29 14:24] jyundt opened #3631 "Redfish: Add support to configure Redfish Host Interface"
### Summary

Using `redfish_config`, I would like to be able to configure the Redfish Host Interface. Specifically, I'd like to toggle the `InterfaceEnabled` property to enable or disable the Redfish Host Interface.

### Issue Type

Feature Idea

### Component Name

redfish_config

### Additional Information

Currently we are using the `uri` module with (some) hardcoded URIs to enable or disable t

[2021-10-29 19:21] felixfontein commented on #3630
I don't think this is a bug. This behavior is what's documented and what I would expect from using this module (disclaimer: I never used it). Allowing to only add entries (instead of replacing) would be a new feature.

The name `force` for such an option is a bad choice; `force` usually has different meanings for modules. I guess `merge` or `update` (boolean) would be better.

[2021-10-29 21:47] russoz commented on #3630
Agree, this is a feature request not a bug.

[2021-10-30 06:18] #3609 closed

[2021-10-30 06:42] felixfontein commented on #582
Ok, I overlooked something: 4.1.0 will not get included in Ansible 5.0.0 since Ansible 5 is in feature freeze since November 9th. To mitigate that we will probably have a bugfix release 4.0.1 between 4.0.0 and 4.1.0 (assuming there are any bugfixes), as that will get included in Ansible 5.0.0. This will happen 1-2 weeks after the 4.0.0 release.

The last regular bugfix release 2.5.7 will happen wi

[2021-10-30 14:44] #3623 closed

[2021-10-31 17:36] #3551 closed

[2021-10-31 17:38] #566 closed

[2021-10-31 18:09] #2044 closed

[2021-11-02 05:50] felixfontein commented on #582
3.8.1 has been released. The next 3.8.x release will be 3.8.2 in roughly three weeks.

[2021-11-02 06:08] felixfontein commented on #582
4.0.0 has been released. The next exepected 4.x.y release will 4.1.0 around November 23rd, or potentially 4.0.1 on November 9th.

[2021-11-04 09:27] bendem opened #3663 "ini_file doesn't support multiline values (backslash at EOL)"
### Summary

When changing an ini value containing multiple lines, only the line with the option is removed and the rest of the value is left in the file.

### Issue Type

Bug Report

### Component Name

ini_file

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

RockyLinux 8 controller, CentOS 8 server, python3

### Steps to Repro

[2021-11-04 10:27] jpmens commented on #3663
I am not interested in fixing this. wontfix

[2021-11-04 10:28] #3663 closed

[2021-11-04 11:05] bendem commented on #3663
That's a bit harsh. I hope you mean you are not personally fixing this but it's still an acceptable bug to fix. Because the real world very much uses multiline ini files and ansible is useless to edit them without a fix.

[2021-11-04 11:47] jpmens commented on #3663
That's what I said: **I** am not interested in fixing this. :)

[2021-11-04 11:55] Kariton opened #3664 "module to gather facts about apache2/httpd config"
### Summary

Im looking for a way to gather information about the present httpd configuration.
Like one of the ``*_info``  modules. ``(mysql, mongodb, firewalld, listen_port etc.)``

i came across this two already existing scripts:
https://github.com/domcar/apache-config
https://github.com/etingof/apacheconfig

in my case an json from `apachectl -S` / `httpd -S` would be sufficient.
<details>
  <s

[2021-11-04 12:09] felixfontein commented on #3397
Closing since this is a duplicate.

[2021-11-04 12:09] #3397 closed

[2021-11-04 12:10] felixfontein commented on #3663
Please note that this is only a bug if the module's documentation explicitly says that multi-line entries are supported. There is no INI format, there are very many different INI format specifications, and some allow multi-line entries, while others don't.

To me this looks like a valid feature request though.

[2021-11-05 10:27] russoz commented on #3664
hi @Kariton thanks for submitting this issue.

This problem is actually less simple than it seems. Per your example I take it you are using a rpm-based distro, but if you were in a deb-based one the paths would be more like `/etc/apache2/*` and the directory structure is completely different. I have no idea how that goes in MacOS and/or FreeBSD, but I risk saying it must be even different.

One po

[2021-11-05 10:45] russoz commented on #3619
@sabman3 this seems to be a very simple and straightforward change. If you would be willing to send a pull-request for that, we would be more than happy to assist you on that process.

[2021-11-05 10:49] Kariton commented on #3664
Hey @russoz,

Yes - im on a RHEL based system. :)
I tested https://github.com/domcar/apache-config a bit more - seems to work mostly fine. On RHEL at least.

I noticed a little bug that i will try to debug. https://github.com/domcar/apache-config/issues/1

It even looks to me like he does handle ubuntu within his script as well.
[code]

For me and my newbie eyes it looks very promising.
anyway i c

[2021-11-05 11:40] Kariton commented on #3664
ether way - `` apachectl -S``  / ``httpd -S`` should work on any (?) OS type.

so that way it would at least print facts about:

and IMO this is the most important fact. and would be exactly what i was initially looking for.

[2021-11-05 11:49] Kariton commented on #3664
just for clarification:

the discovered script https://github.com/domcar/apache-config does parse the default ``apache2 / httpd`` config INCL. all included files.
It basically follows the hole configuration with every aspect of it. The README.MD explains that nicely.

i just "needed" the running vhost configs incl. listen IP / Port / ServerName

[2021-11-05 14:55] jake2184 opened #3665 "#2267 lead to behaviour regression"
### Summary

I recently upgraded to 3.5.0, which is past the point #2267 was merged.

This PR broke some behaviour I have been using for a long time with the lvol module.

I manage a large number of VMs - when they're created from a template with variable disk size, I create an lvol `data` that fills all free space. If, further down the line, I simply expand the disk and run the same ansible confi

[2021-11-05 17:00] sabman3 commented on #3619
@russoz I'm working on it. This is my first time contributing to a public GitHub project. I think I got the procedure correct. Also want to verify my change work in both check mode and non-check mode so it's backwards compatible for those that did use check_mode no as a workaroung.

[2021-11-05 19:34] mrfito opened #3668 "nmcli is not idempotent"
### Summary

When using nmcli to set the DNS servers for an interface, we noticed the module is not idempotent

### Issue Type

Bug Report

### Component Name

nmcli

### Ansible Version

[code]
ansible 2.9.25
  config file = /home/BC/xxxx/ansible/ansible.cfg
  configured module search path = [u'/home/BC/xxxx/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module

[2021-11-05 20:19] russoz commented on #3619
Will be checking soon

[2021-11-05 23:07] russoz commented on #3664
@Kariton I hadn't looked into that script before. It does look interesting. Would you like to submit the new module? We would be more than happy to assist you through the process. The first thing you would need is to read https://github.com/ansible-collections/community.general/blob/main/CONTRIBUTING.md and I also suggest you take a look other modules.

[2021-11-06 20:45] felixfontein commented on #3665
I'm not really familiar with the code, but it definitely should still fail if someone provided `size_operator == '-'`. So completely removing is not ok, but I **guess** that adjusting it to `if size_operator != '-':` should be fine.

@zigaSRC @unkaputtbar112 @russoz what do you think?

[2021-11-06 20:47] felixfontein commented on #3668
I'm not very familiar with the module's code, but maybe you can see what causes the change if you supply `--diff` when running the playbook.

[2021-11-06 21:35] felixfontein commented on #2866
According to that issue, the NM team is actively working on this. They anticipate to be done with this also for nmcli in mid 2022. Let's revisit this topic by then.

[2021-11-07 13:56] nejch opened #3669 "Usage of `purge` (or `strict`) flags in modules"
### Summary

The `gitlab_project_variable` and `gitlab_group_variable` modules come with a `purge` option that will delete variables not defined in a playbook:

https://github.com/ansible-collections/community.general/blob/fafabed9e6acc6bd49ce6e9bf266ee27f686aebe/plugins/modules/source_control/gitlab/gitlab_project_variable.py#L43-L47

I really like this idea because it would allow me to use Ansib

[2021-11-07 22:22] MisterWS opened #3670 "Add --apply-live option for rpm-ostree module"
### Summary

I would like to be able to have the option to run `rpm-ostree` with the --apply-live flag, so that I don't have to restart my Fedora CoreOS machines before the packages apply.

### Issue Type

Feature Idea

### Component Name

rpm_ostree_pkg

### Additional Information

Example of current task & handler file:

[code]

[code]

Offering the option to --apply-live would remove the need f

[2021-11-08 05:11] linehammer commented on #1692
An index in [Python](http://net-informations.com/python/iq/default.htm) refers to a position within an ordered list . This error basically means you are trying to access a value at a List index which is out of bounds i.e greater than the last index of the list or less than the least index in the list. So the first element is 0, second is 1, so on. So if there are n elements in a list, the last ele

[2021-11-08 07:02] zigaSRC commented on #3665
That would not be ok, since you still have other relative options: VG, LV, PVS, ORIGIN.

If you're going to be replacing the check you should also take into account the option specified. For example, if the LV doesn't exist we should not allow the option of LV at all.

[2021-11-08 14:05] manschwetusCS opened #3671 "pfexec become plugin does not work on illumos distros"
### Summary

Pfexec become plugin does use non existing options and bad quoting, see: https://github.com/ansible/ansible/issues/15642

The old change described in this [patch](https://github.com/OpenIndiana/oi-userland/blob/oi/hipster/components/python/ansible/patches/01-pfexec.patch) still works, I'm ready to open a pull request for.

### Issue Type

Bug Report

### Component Name

community.gene

[2021-11-08 14:07] manschwetusCS commented on #3671
My basic question is, for which OS does the become plugin work as it is today? And if any, should an option switch be added, to allow to choose between old (illumos incompatible) and new (illumos compatible) behavior?

[2021-11-08 14:15] manschwetusCS commented on #3671
!component plugins/modules/packaging/os/pkg5

[2021-11-08 15:45] mrfito commented on #3668
Felix,
The playbook output does not change with the -diff. Is there anything else
I can do to determine why it thinks that it needs to make a change when it
doesn't?
Thanks,
Rodolfo

On Sat, Nov 6, 2021 at 4:48 PM Felix Fontein ***@***.***>
wrote:

[2021-11-08 15:48] emper0r opened #3672 "community.general.random_string"
### Summary

I was reading documentation for latest version 4 and in this link https://docs.ansible.com/ansible/latest/collections/community/general/random_string_lookup.html seams to be update, but really that module can't find in the community.general
not exist.!

i got an error about this module when I try to use it after install the latest version

ERROR! couldn't resolve module/action 'commun

[2021-11-08 16:03] emper0r commented on #3672
Why i need to use lookup for get random string?
I want to use the module like others
[code]

[2021-11-08 18:32] sc-anssi opened #3673 "xattr module does not correctly handle values with non-printable characters"
### Summary

The xattr module fails to retrieve extended attributes with values containing non-printable characters.

### Issue Type

Bug Report

### Component Name

xattr

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

_No response_

### OS / Environment

Ubuntu 20.04

### Steps to Reproduce

[code]

### Expected Results

The module xattr should get the ext

[2021-11-08 20:29] felixfontein commented on #3672
This is a **lookup plugin**, not a module. So you need to use it as a lookup plugin and not as a module.

[2021-11-08 20:30] felixfontein commented on #3673
FYI: the 3.0.0 version of the collection is rather old and hides the 3.8.1 version coming with Ansible itself. You should uninstall it so that the latest version is used, and not an old version. (Just delete /home/user/.ansible/collections/ansible_collections/community/general for that.)

[2021-11-08 21:31] sc-anssi commented on #3673
Thanks for the advice, I've done just that but unfortunately I can still reproduce the issue.

[code]
[code]

[2021-11-09 05:08] #3673 closed

[2021-11-09 06:27] felixfontein commented on #582
2.5.7 has been released. Please note that stable-2 from now on only receives security fixes and major bugfixes, but no longer regular bugfixes. The next 2.5.x release will happen when needed.

[2021-11-09 11:19] emper0r commented on #3672
How?

[2021-11-09 11:50] emper0r commented on #3672
Ok thanks I think i got it

[code]

this way works how i need. thanks anyway

[2021-11-09 11:50] #3672 closed

[2021-11-09 16:29] bcoca commented on #3671
FYI, when in core this was tested against illumos.

In any case, the patch is not the right fix, the build_become_command function should be overridden instead, shell should not be hardcoded but use the one from the 'shell' variable passed in to allow the user to configure it depending on their context (for example, being restricted to only ksh).

[2021-11-09 16:34] bcoca commented on #3671
quick look, this might just bee  a quote problem in https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/become/__init__.py#L74 requiring a shlex.quote wrapping cmd before interpolation

[2021-11-09 17:06] felixfontein commented on #582
4.0.1 has been released. There might be more bugfix releases next week and the week thereafter (directly before the 4.1.0 release) for inclusion in more Ansible 5.0.0 betas / release candidates.

[2021-11-10 05:32] Bhavya06 opened #3685 "Redfish modules should have check mode implemented"
### Summary

redfish_command, redfish_config, redfish_info, idrac_redfish_*, ilo_redfish_config need to have check mode implemented.

### Issue Type

Bug Report

### Component Name

redfish_command, redfish_config, redfish_info, idrac_redfish_*, ilo_redfish_config

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]
NA

### OS / Environment

Linux

### Ste

[2021-11-10 05:33] Bhavya06 opened #3686 "Validate certs is hardcoded as false"
### Summary

Validate certs in redfish_utils.py is hardcoded as false.

The code sample -
[code]

### Issue Type

Bug Report

### Component Name

redfish_utils.py

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]
NA

### OS / Environment

Linux

### Steps to Reproduce

[code]

### Expected Results

Https certificates are validated.

### Actual Results

[2021-11-10 06:04] #3612 closed

[2021-11-10 06:06] felixfontein commented on #3686
The `_info` module already supports check mode. For the others, check mode is a new feature.

[2021-11-10 06:07] felixfontein commented on #3685
The `_info` module already supports check mode. For the others, check mode is a new feature.

[2021-11-10 06:09] felixfontein commented on #3686
I guess when `validate_certs` is exposed to the user, there should also be a `ca_cert` option to allow configuring a CA cert. My assumption would be that such devices rarely use the public PKI.

[2021-11-10 11:15] russoz commented on #3686
what about a private PKI?

[2021-11-10 11:24] tomkivlin opened #3690 "redfish_command produces HTTP Error 400 when trying to set one time boot on HPE system"
### Summary

When I try to set the one time boot option to PXE on an HPE ProLiant DL380 Gen10 with iLo5 v2.30 I receive an error:

#3581 seems related, and the code shown that works there doesn't work for me.

Note: the server is not in POST when I attempt this.

### Issue Type

Bug Report

### Component Name

redfish_command

### Ansible Version

[code]

### Community.general Version

[code]

###

[2021-11-10 12:00] felixfontein commented on #3686
@russoz that's what the `ca_cert` option is for :)

[2021-11-10 15:54] Nox-404 opened #3691 "community.general.udm_user - no primary group handling"
### Summary

When trying to create a user with `udm_user`, we cannot set the `primary_group`

### Issue Type

Bug Report

### Component Name

community.general.udm_user

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

CentOS 7

### Steps to Reproduce

[code]

### Expected Results

The user should have `mygroup` as primary group.

[2021-11-10 17:07] mraineri commented on #3686
One of the challenges we'll see is that most Redfish services ship to users with a default self-signed certificate, so out of the box I would not expect it to validate properly. I certainly like the idea of making the validation optional based on how the user's infrastructure is configured. Ideally systems have their certificates replaced when being onboarded, but that isn't always the case.

[2021-11-10 17:18] mraineri commented on #3690
Could you please try the following curl command and provide the response (replacing USERNAME, PASSWORD, and ILO_IP with your system's info)?

`curl -D - -k -u USERNAME:PASSWORD -H "Content-Type: application/json" -X PATCH https://ILO_IP/redfish/v1/Systems/1/ -d '{ "Boot": { "BootSourceOverrideEnabled": "Once", "BootSourceOverrideTarget": "Pxe" } }'`

[2021-11-10 17:24] tomkivlin commented on #3690
Sure, here's the command and output (redacted as needed):

[code]

[2021-11-10 18:33] mraineri commented on #3690
Well, that response shows the curl command worked properly. I'll need to look at this deeper from the Ansible side.

I see you do have two versions of community.general from your first post; I know this will fail with 3.7.0 in the way you've seen, but the fix you referenced is available in 3.8.1. Would you be able to tell what version of community.general was used when you ran the playbook? I'm th

[2021-11-10 18:44] felixfontein commented on #3690
Usually the version listed first will be used by Ansible, so in this case 3.7.0 and not 3.8.1. My recommendation is to uninstall the manually installed version (i.e. delete /home/tom/.ansible/collections/ansible_collections/community/general).

[2021-11-10 20:22] felixfontein commented on #3668
Since you are using Ansible 2.9 and are using the short name of the module, you are likely using the version of the module included with Ansible 2.9, which is *old and outdated*. You might want to install community.general (`ansible-galaxy collection install community.general`) and use `community.general.nmcli` instead of `nmcli`. Maybe that gives better results, since a **lot** of bugs have been

[2021-11-10 21:44] jyundt opened #3692 "Redfish: Add support to report Redfish Host Interface details"
### Summary

Using `redfish_info`, I would like to be able to report information about the Redfish Host Interface(s), including:
- HostInterface properties like Status, InterfaceEnabled, etc
- ManagerEthernetInterface information
- HostEthernetInterfaces information

Note that this is very similar to #3631 / #3632.

### Issue Type

Feature Idea

### Component Name

redfish_info

### Additional Inf

[2021-11-11 08:44] tomkivlin commented on #3690
ah yes, that's fixed it - thank you!

[2021-11-11 08:44] #3690 closed

[2021-11-11 10:01] manschwetusCS commented on #3671
@bcoca  Can you provide a bit more details on this quoting thing? I'm not familiar with ansible coding, but the option problem can be bypassed by host config.
If you have an experimental change I can test it.

[2021-11-11 11:58] bluikko opened #3698 "ipmi_* modules do not support specifying RCMP encryption key"
### Summary

IPMI traffic may be encrypted with RCMP (RCMP+ of IPMI 2.0?) and IPMI BMCs provide a setting for this key. But the modules `ipmi_boot` and `ipmi_power` do not support user-specified encryption key.

The underlying python library `pyghmi` does support specifying the encryption key to the `Command` object:
[code]

This parameter should take the 128-bit encryption key usually specified a

[2021-11-11 15:12] Tsuna77 opened #3699 "Impossible to use module ssh_config on fedora linux 35"
### Summary

Storm parsers not available. I try to install it in many ways but it was never found  😭

On the paste I try on python 3.8 but it's also crash on python 3.10 the default python on fedora 35

### Issue Type

Bug Report

### Component Name

ssh_config

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

Fedora Linux 35 on V

[2021-11-11 15:49] thorntonmc opened #3700 "Terraform Module Does Not Plan in Destroy Mode"
### Summary

The Terraform module currently cannot replicate planning a destroy, in a manner such as:

`terraform plan -destroy`

Per the following code, I believe this could be resolved by adding a flag that allowed the plan to be run in `-destroy` mode
https://github.com/ansible-collections/community.general/blob/main/plugins/modules/cloud/misc/terraform.py#L326

If this feature request is appro

[2021-11-11 19:21] felixfontein commented on #3699
Did you install stormssh on the target machine and for the user the module is run with (or alternatively for root)?

You can for example use Ansible's `pip` module to install it, then you can be pretty sure it will use the correct pip on the correct machine.

[2021-11-11 22:12] Tsuna77 commented on #3699
if you have a look on the pip freeze (it's the pip with the python used by ansible, you can see storm and stormssh in it :(

[2021-11-11 22:13] Tsuna77 commented on #3699
the target machine is the same, I'm using this onsible in the target (localhost + connection local)

[2021-11-12 07:01] typkrft opened #3703 "hombrew_cask: Install opt not working as expected"
### Summary

If I use the play below it will install VSCodium and Firefox-Nightly on the first try as expected, however if the application gets removed, for example moved to trash from the applications folder instead of being uninstalled through brew, then rerunning this play will not reinstall the application. I was expecting `install_options: force` to force the re-installation of the app like `

[2021-11-12 17:35] tomkivlin opened #3706 "Unable to use json_query with hostvars"
### Summary

When I try to query hostvars output (once converted to json), the json_query filters don't work.  I've tested on https://jmespath.org/ and the query is sound.  I am using the nb_inventory inventory plugin.

NB I originally opened on ansible/ansible but it got closed: https://github.com/ansible/ansible/issues/76289

### Issue Type

Bug Report

### Component Name

json_query

### Ansibl

[2021-11-12 18:32] egnirra opened #3707 "Terraform modules does not used supplied parameters in planned state"
### Summary

Setting **State**: **Planned**
Does not use other command options such as lock: true or lock_timeout: 10

### Issue Type

Bug Report

### Component Name

terraform.py

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu, Windows 10/11, RHEL 7/8

### Steps to Reproduce

[code]

If you run the above playbook at the

[2021-11-12 18:44] egnirra commented on #3707
Here is the code for build_plan, as you can see, the variable "command" is not actually used for running a plan.
The only options added to the plan command are those stated in "plan_command"
Other options such as -lock=true etc are only used when the Plan command is run later in the code.

[code]

It can be "solved" with the changes below, however, I don't feel like this is the best solution?

[co

[2021-11-13 03:07] bluikko opened #3710 "redfish_command: example command has wrong arg"
### Summary

The example in `redfish_command` is missing underscore in the arg `boot_next`:
[code]

There is another example command that has the right arg:
[code]

### Issue Type

Bug Report

### Component Name

redfish_command

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

not relevant

### Steps to Reproduce

Try to execute

[2021-11-13 12:42] tomkivlin commented on #3706
Feel free to close if this isn't an issue with json_query, I have found a different solution to my needs: https://stackoverflow.com/questions/69953172/in-ansible-how-to-query-hostvars-to-get-a-specific-value-of-a-key-from-a-list-i

[2021-11-13 12:44] felixfontein commented on #3706
Please note that your queries are missing quotes. You need to quote what you pass to `json_query`, it expects a string.

[2021-11-13 12:59] #3631 closed

[2021-11-13 13:00] #3665 closed

[2021-11-13 13:01] #3710 closed

[2021-11-13 14:00] #3619 closed

[2021-11-13 14:36] tomkivlin commented on #3706
@felixfontein many thanks.  So the correct syntax, respectively, should be:

[code]

[code]

[2021-11-13 14:39] felixfontein commented on #3706
@tomkivlin I think so. Otherwise it will definitely not work. (Whether it works with these I don't know, I don't use the `json_query` filter.)

[2021-11-14 10:14] sh0shin commented on #3001
This issue is resolved #3002

[2021-11-14 11:45] felixfontein commented on #3001
@sh0shin in that case you can add `close_me` to the issue, the bot will then close the issue for you.

[2021-11-14 12:57] #3001 closed

[2021-11-15 09:24] Atoms opened #3728 "nmcli module does not change dns4_search"
### Summary

I want to change only `dns4_search` setting for connection on the GCP instance. As GCP instance configuration is strict we need to ensure OS appends DNS search domains, to ensure that command to add domain is:
`nmcli connection modify $conenction_name ipv4.dns-search "some.domain"`

when executing ansible task with just change dns_search parameter it returns

### Issue Type

Bug Repor

[2021-11-15 11:44] Ajpantuso commented on #3728
This appears to be a subset of #2858 based on your example. Please try running the task again with the `type` option set as well.

[2021-11-15 12:09] Atoms commented on #3728
Yes, this fixes situation, if it does not do that without type option, then maybe type should be mandatory option ?
Closing this then.

[2021-11-15 12:09] #3728 closed

[2021-11-15 14:48] Pinpin31 opened #3729 "No pagination for listing group in gitlab_group_members"
### Summary

When you have a group in Gitlab with more than 20 items, the module community.general.gitlab_group_members may return an error if the searched group is not in the first page :
`msg: group 'my_group' not found.`

There is not any pagination in the code :
`groups = self._gitlab.groups.list(search=gitlab_group)`

A solution may be to add all=True like this :
`groups = self._gitlab.groups

[2021-11-15 20:07] DBLaci opened #3730 "UFW proto icmp not supported for no reason"
### Summary

[code]

Error:

    fatal: [ub3]: FAILED! => {"changed": false, "msg": "value of proto must be one of: ah, any, esp, ipv6, tcp, udp, gre, igmp, got: icmp"}

But there is an "icmp" proto supported by ufw (iptables). If I add this to /etc/ufw/user.rules

[code]

It works fine.

I propose adding icmp to the list of supported protos in the system/ufw.py

### Issue Type

Feature Idea

###

[2021-11-15 20:11] DBLaci commented on #3730
I'm sorry, icmp is supported by iptables, but for a reason not known to me ufw doesn't allow it.

I'm sorry, I think this is a problem, but not in the ansible module, but in ufw. I close this issue.

[2021-11-15 20:11] #3730 closed

[2021-11-15 20:38] felixfontein commented on #3669
I fully agree.

Often a modue does support something like that or not, depending on which use-case(s) the original author of the module had in mind when writing it :) I've seen this pattern in many different modules in different collections.

It would be great if there's a good consensus on how to name such an option (or its choices, if it's string-based and not boolean-based). Right now I think t

[2021-11-15 21:14] nejch commented on #3669
Thanks a lot @felixfontein!

I just found that `purge_users` (as a list of strings matching access levels) is also used in `gitlab_group_members` and `gitlab_project_members` so I guess both the naming and the type already have variation there 😀

https://github.com/ansible-collections/community.general/blob/cdfc4dcf498e6fdf8f10922480556cee2c3ad3eb/plugins/modules/source_control/gitlab/gitlab_proje

[2021-11-16 08:10] felixfontein commented on #582
4.0.2 has been released. In a couple of days I will begin merging features to stable-4, so the number of days for another bugfix 4.0.3 release are limited.

Please note that 4.0.2 also includes a deprecation announcement: community.general 5.0.0 will stop supporting Ansible 2.9 and ansible-base 2.10. (It is a pure announcement with no behavior/code changes.) Both will be End of Life around the tim

[2021-11-16 09:14] #1631 closed

[2021-11-16 13:44] devrite opened #3742 "Module: gitlab_runner registration token optional"
### Summary

Runner is registered using both API Token/User Password and registration token currently. But token can be queried via API + Project/Group (id or path). Using the already provided fields (+ maybe one extra field to allow/disallow querying the token automatically) nothing needs to be changed at interface/task level.

Pros:

* Easier to use and enhances readability as it specifies to wh

[2021-11-16 18:46] #3692 closed

[2021-11-17 22:00] Yvan-Masson opened #3750 "Please add wireguard connection type for nmcli module"
### Summary

Hi,

I would like to use the `nmcli` module to create Wireguard connections, but it does not seem to be possible yet (`wireguard` is not valid for the `type` parameter). I believe Wireguard is widely used.

### Issue Type

Feature Idea

### Component Name

nmcli

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-11-18 10:42] boricj opened #3751 "Alternatives module breaks alternatives with families on CentOS-based systems"
### Summary

The alternatives module does not handle alternatives with families on CentOS-based systems. The module appears to fail to properly parse the output of `update-alternatives --display <item>`, confusing it into running `update-alternatives --install` which destroys the package's original alternatives configuration. This happens for example with Java alternatives, where tools such as `ke

[2021-11-18 15:19] avbg opened #3752 "apply nmcli configuration"
### Summary

Problem: how to apply the configuration on the host after launching the "nmcli" module?
Now I do it through the nmcli up handler. maybe there is another option that I don't know about?

I expected that with the "present" state, they would be applied, since this is the internal mechanism of the NetworkManager.
Perhaps a new state should be added for this?
[code]

### Issue Type

Featur

[2021-11-18 15:57] Ajpantuso commented on #3752
NetworkManager doesn't apply changes to an active connection until the configuration is reloaded. In Ansible you would typically notify a [handler](https://docs.ansible.com/ansible/latest/user_guide/playbooks_handlers.html) to either restart NetworkManager or run `nmcli con reload`. If we added an option to do this it probably wouldn't be a new state, but something like `reload` which when set to

[2021-11-18 17:18] avbg commented on #3752
It's not so important through an option or through a state.  it is much more convenient when inside the module, and not through the handler.

[2021-11-18 23:11] flowerysong commented on #3706
That's definitely not the right syntax, since `json_query` operates on data structures, but you're passing in a JSON string. You at a minimum need to remove `to_nice_json`.

[2021-11-19 15:23] jplitza opened #3759 "passwordstore: Improve error messages"
### Summary

When using the passwordstore lookup plugin and the execution of pass fails (e.g. because the repository doesn't exist, the GPG key isn't present, ...) the output from Ansible simply is:

This is quite unhelpful, since the exit codes from pass aren't documented.

### Issue Type

Feature Idea

### Component Name

passwordstore

### Additional Information

[code]
When no password store i

[2021-11-20 07:25] felixfontein commented on #3669
You can add an alias `purge` to the current `purge_members` option, which can later be deprecated (say for the next major release) and eventually removed (two major releases later).

In any case, having an option that accepts different types (boolean vs. list) is not a good idea.

[2021-11-20 08:07] michaelalang opened #3763 "extend open_iscsi to allow rescanning a session to discover new mapped LUN's"
### Summary

I want to ask for the feature of _rescanning_ a session to discover new mapped LUN targets.
Targetd configurations with multiple mapped LUN's at a Target can not be addressed with the current features.

The patch below POCs how to add a _rescan_ feature to the module.

[code]

### Issue Type

Feature Idea

### Component Name

open_iscsi

### Additional Information

[code]

# example t

[2021-11-20 08:13] felixfontein commented on #3763
@michaelalang if you convert your POC to a PR, that increases the chance that this feature will actually be implemented :)

[2021-11-21 09:15] jayissi opened #3767 "Keycloak support SSSD for User Storage Federation"
### Summary

I was [Configuring a Federated SSSD Store](https://www.keycloak.org/docs/latest/server_admin/#configuring-a-federated-sssd-store) per Keycloak's documentation [SSSD and FreeIPA Identity Management Integration](https://www.keycloak.org/docs/latest/server_admin/#sssd-and-freeipa-identity-management-integration) using ansible collection [community.general](https://github.com/ansible-coll

[2021-11-21 09:48] jayissi commented on #3767
Just to add some more context

[code]

[code]

[code]

[code]

[code]

[code]

[2021-11-21 12:50] haddystuff opened #3768 "nmcli returning "changed" with ipv6 addresses on task rerun"
### Summary

community.general.nmcli returning "changed" when rerunning task with ipv6 address without network mask. This bug cannot be reproduced when network mask is added to ipv6 address. Documentation is saying that it's possible to use ipv6 address without mask.

### Issue Type

Bug Report

### Component Name

community.general.nmcli

### Ansible Version

[code]

### Community.general Version

[2021-11-21 12:53] haddystuff commented on #3768
I can fix this, but I should know if it is better to change documentation or to add possibility of using ipv6 address without network mask.

[2021-11-21 13:02] felixfontein commented on #3768
I think it's best to fix this properly. My favourite fix would be to use `ipaddress.ip_network` to parse both networks and compare the resulting objects, but that would be a breaking change since the module does not depend on `ipaddress` so far. But at least this simple case (appending `/128` if no netmask is there) is easy to implement.

[2021-11-21 13:13] haddystuff commented on #3768
Ok. Maybe i should also add this behaviour to ipv4 address? It's just restricted by documentation to use ip4 parameter without network mask by now.

[2021-11-21 17:12] DaveSpe commented on #3241
@felixfontein sorry I resolved the issue, I also thought I closed the ticket.
Closing now, thanks.

[2021-11-21 17:12] #3241 closed

[2021-11-22 06:11] #2376 closed

[2021-11-22 06:18] #3698 closed

[2021-11-22 17:17] benibr commented on #1342
As @c33howard suggested I use `lineinfile` to change the MAC after cloning the VM from a template:

[code]

[2021-11-22 18:07] munnik opened #3773 "Add `--allow-untrusted` to `apk add` so that local apks can be installed"
### Summary

I have an apk which is not created by myself and I want to installed it on some remote servers. When I copy the file to the server and then point the apk module to the file it wont install because the file is not trusted. Can you add an `allow-untrusted` option to the apk module so it will install this file?

### Issue Type

Feature Idea

### Component Name

apk

### Additional Inform

[2021-11-23 04:31] #3707 closed

[2021-11-23 05:45] felixfontein commented on #582
4.1.0 has been released. The next expected 4.x.y release is 4.2.0 in around four weeks (for the Ansible 5.1.0 release).

[2021-11-23 06:09] felixfontein commented on #582
3.8.2 has been released. The next expected 3.8.x release is 3.8.3 in around three weeks (for the Ansible 4.10.0 release).

[2021-11-23 15:16] realbite opened #3779 "gem : gem_source and version should not be mutually exclusive"
### Summary

gem module: please remove the check on gem_source and version being mutually exclusive.
In order for the module to install  a new version of a gem from a local source while an older version is already present it is necessary to specify both.

### Issue Type

Bug Report

### Component Name

gem

### Ansible Version

ansible 2.10.8

### Community.general Version

[code]

### Configurati

[2021-11-24 06:33] felixfontein commented on #3767
resolved_by_pr #3780

[2021-11-24 14:05] stdevel opened #3781 "gitlab_user: When creating users in a loop, the first user results in an "500 Internal Server error" error"
### Summary

When I try to create multiple GitLab users using `gitlab_user` and `loop`, the first creation attempt always fails.

### Issue Type

Bug Report

### Component Name

gitlab_user

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

Pop!_OS 20.04

### Steps to Reproduce

[code]

### Expected Results

I expected that the use

[2021-11-24 16:26] gromain opened #3782 "Scaleway organization list is broken in scaleway_organization_info"
### Summary

`scaleway_organization_info` does not return an organization list.

When using the URL from the module to create a request ([here](https://github.com/ansible-collections/community.general/blob/9274de76c52c2440ec7336eeeb4354b410f1d620/plugins/modules/cloud/scaleway/scaleway_organization_info.py#L81)), we can clearly see that the returned value is empty:
[code]

This issue was revealed

[2021-11-24 16:35] stdevel commented on #3781
I just found out that this error is not reproducible for me beginning with version `14.4.2-ce.0` (I was using version `14.0.1-ce.0` before) - so maybe it is a GitLab-related issue?

[2021-11-24 17:01] jraby opened #3783 "pacman: diff output is wrong when VerbosePkgLists is enabled"
### Summary

If `VerbosePkgLists` is present in `pacman.conf`, the diff output generated by the pacman plugin is broken:

[code]

### Issue Type

Bug Report

### Component Name

pacman

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

Arch

### Steps to Reproduce

Add `VerbosePkgLists` to `/etc/pacman.conf` and run a task that ins

[2021-11-24 19:20] felixfontein commented on #3781
A 500 (Internal Server Error) usually hints at a bug in the server software (here: GitLab) than in the client software (here: the ansible module). Someone will have to look at this in more detail to figure out what exactly causes this though.

[2021-11-24 19:22] felixfontein commented on #3783
Fully agree! This is something that so many package managers (and other programs) do wrong, and which every time leads to the same hassles :)

[2021-11-25 09:51] MaPePeR opened #3787 "Composer plugin cannot run working_dir dependent commands. e.g. `symfony:dump-env`"
### Summary

When I try to use the `symfony:dump-env` composer command I get an error that the command does not exist. This is caused by [`get_available_options`](https://github.com/ansible-collections/community.general/blob/c3cab7c68c4eb0d0f80d49356c8be52d0bb849ef/plugins/modules/packaging/language/composer.py#L256) method calling `composer help` [without setting the `working-dir` option](https:/

[2021-11-25 12:02] #3767 closed

[2021-11-25 15:36] haresotto opened #3789 "keycloak saml-user-property-mapper mapper and property"
### Summary

Hello,

I am trying to create a client mapper of type saml-user-property-mapper. Unfortunately, It does not seem possible to set the "property" value.
Plus, it does not seem possible to set the "friendy name" either, but this might be less important.

I might be doing something wrong though because I am new to keycloak plus did not understand how to dump an already-existing mapper as

[2021-11-25 18:25] haresotto opened #3790 "keycloak_client and saml_signature_canonicalization_method parameter"
### Summary

Hello,
Sorry for my poor english ;-)
The documentation reads, for the "saml_signature_canonicalization_method" parameter of keycloak_client :
[code]
From a user perspective, I think that filling the parameter `saml_signature_canonicalization_method` with, for example,  "EXCLUSIVE" is way more intuitive than "http://www.w3.org/2001/10/xml-exc-c14n#" , because that is what one can find

[2021-11-25 18:27] sffjunkie opened #3791 "pipx install option --install-deps not in version 0.16.4"
### Summary

The [pipx plugin](https://github.com/ansible-collections/community.general/blob/main/plugins/modules/packaging/language/pipx.py) has an option `install_deps` which adds an `--install-deps` option to the the `pipx` command line. This causes the `pipx` command to fail with version 0.16.4 of `pipx`.

Version 0.16.4 of the program appears to provide the `--include-deps` option instead.

h

[2021-11-26 18:46] kinola commented on #3157
Hello
same error but to create a project
My token user is ADMIN and i'm able to create project with bash script

"msg": "Failed to create project: group pac doesn't exists"

[2021-11-27 14:29] joshunger opened #3799 "Yarn add support for multiple packages"
### Summary

Run the following -

[code]

### Issue Type

Bug Report

### Component Name

yarn

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

mac

### Steps to Reproduce

[code]

### Expected Results

Installs both packages.

### Actual Results

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-11-27 23:40] russoz commented on #731
hi @Akasurde @aparedero I have been taking a look at this (including the abandoned PR). The major problem I see is that it does not need to be a package name (e.g. `dnspython[DOH]` - it actually requires `requests`). There is no trivial way, as far as I can see, to determine whether the _extras_ have been installed or not.

[2021-11-28 20:06] felixfontein commented on #3799
This is not a bug, since the documentation does not claim you can specify multiple packages or use the list syntax. This is a feature request.

[2021-11-29 21:00] dustymabe opened #3809 "become: machinectl"
### Summary

When I try to execute a command using the machinectl become plugin that has an environment like:
[code]

I get an error because the environment isn't passed properly through to machinectl:

[code]

It doesn't look like environment is getting passed properly through. We might have to use `--setenv=` option to `machinectl`.

### Issue Type

Bug Report

### Component Name

machinectl bec

[2021-11-29 21:03] dustymabe commented on #3809
Note the reason I'm hear is an attempt at a workaround for https://github.com/flatpak/flatpak/issues/3847#issuecomment-703352977 and machinectl seems to be a pretty good way to do that because it brings up a full session. The problem I'm seeing is that sometimes I get a `"Timeout (12s) waiting for privilege escalation prompt: "` so I was trying to increase the timeout and I hit this issue.

cc @fe

[2021-11-30 06:10] #3791 closed

[2021-11-30 12:10] pandafy opened #3824 "influxdb_user: Updating password of an existing user"
### Summary

Allow updating password of an existing user.

### Issue Type

Feature Idea

### Component Name

inflxudb_user

### Additional Information

It should be possible to update password of a user using following example from the docs

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-11-30 12:18] pandafy commented on #3824
It is possible to do this in influxdb-python package https://influxdb-python.readthedocs.io/en/latest/api-documentation.html#influxdb.InfluxDBClient.set_user_password

[2021-11-30 15:56] olegsidokhmetov opened #3825 "Commanf in LXC container"
### Summary

When  I try to launch command in my LXC container `Jitsi-bak `i get error `"Failed to find required executable \"lxc-create\" in paths: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"}`

lxc list
[code]

### Issue Type

Bug Report

### Component Name

community.general.lxc_container, container_command

### Ansible Version

[code]

##

[2021-11-30 16:35] olegsidokhmetov commented on #3825
It does not help.
my playbook not work
[code]

[code]

[2021-12-01 04:13] bluikko commented on #2090
@pyfontan is your server a modular chassis/blades? I thought `resource_id`s are needed only on modular systems i.e. M/MX series etc. On `community.general` version 4.1.0 I got it working by not passing any `resource_id` at all. This on r730xd.

[2021-12-01 05:38] russoz commented on #3706
@tomkivlin could you please confirm if this is still an issue? TIA

[2021-12-01 05:45] bluikko opened #3826 "idrac_redfish_command HTTP Error 400 submitting configuration job"
### Summary

On Dell r730xd trying to submit a BIOS configuration job with `idrac_redfish_command` first gives a HTTP Error 403 about not enough privileges, but then later gives a HTTP Error 400 about configuration job already submitted. At no point did the module succeed without failure.
On the surface it looks like some of the errors were not valid, and the job was actually submitted even though

[2021-12-01 06:16] felixfontein commented on #3825
The bot help is not intended for you to solve your problem, but it does tell you how to fix the identified components if they were identified wrongly.

[2021-12-01 08:14] tomkivlin commented on #3706
@russoz apologies for the delay.  I can confirm that as @flowerysong suggests, I needed to remove `to_nice_json` and as @felixfontein suggested, I needed quotes.  So the following both work:

[code]

[code]

Worth noting again, that for my use-case (getting info about the host the play is running against), there is a simpler way as described here (thanks again to @flowerysong, I assume): https://s

[2021-12-01 08:15] #3706 closed

[2021-12-01 08:21] russoz commented on #3706
Thanks @tomkivlin!! Glad that it worked for you! :-)

[2021-12-01 11:24] bluikko commented on #3826
After a bit of troubleshooting, I have found out that `idrac_redfish_command` is not needed after modifying the boot order.
So the `idrac_redfish_command` fails if there are no changes to apply.
Doesn't this mean it does not work in an idempotent way?

The module should just return with `changed=false` in that case and not fail.

[2021-12-02 10:44] pospelov-v commented on #543
i have the same issue with:
- mysql  Ver 8.0.26-16 for Linux on x86_64 (Percona Server (GPL), Release '16', Revision '3d64165')
- Debian GNU/Linux 10 (buster)
- ansible 2.9.16

[2021-12-02 10:55] tomkivlin opened #3836 "Allow community.general.random_string to produce string with special characters EXCEPT certain ones (e.g. backslash `\`)"
### Summary

`community.general.random_string` is a fab module, but sometimes I use it to produce a variable that is then used within a jinja2 template to be placed within some quotes (e.g. in a file).  This works great, except when a backslash is placed at the end of the string, as it escapes the quotes used in the file.

It would be fab if there was a way to specify that no backslashes (or any o

[2021-12-02 11:23] Andersson007 commented on #543
@pospelov-v thanks for the feedback!
Do you have a chance to try your playbook with Ansible 4 or 5?
If the problem is present with it too, could you please create a new issue in https://github.com/ansible-collections/community.mysql ?

[2021-12-02 11:25] Akasurde commented on #3836
@tomkivlin Thanks for the kind words. You can use `override_special` parameter to override special characters that can be used.

[code]

which produces

[code]

I will keep this feature request open if someone wants to implement something else.

[2021-12-02 11:48] tomkivlin commented on #3836
Ah nice @Akasurde thanks - I hadn't realised that's how that worked.

[2021-12-02 22:56] pgassmann opened #3841 "interfaces_file regression. not idempotent with down/up option."
### Summary

Regression from #3328: The new version repeatedly adds new lines for up/down option. The previous version (ansible 3.0) only added the option if it was not yet present.

### Issue Type

Bug Report

### Component Name

interfaces_file

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04

### Steps to Reproduc

[2021-12-02 23:01] pgassmann commented on #3841
@russoz @hryamzik @felixfontein here's the separate ticket for https://github.com/ansible-collections/community.general/issues/3328#issuecomment-980469260

It would be optimal if the update would remove duplicates. At least state: absent should remove all items at once. (didn't test that)

[2021-12-03 15:20] hryamzik commented on #3841
Unfortunately I don't have any time to handle this.

@russoz it would be great if you could address this. I've also noticed you added some tests to integration dir while all other tests are done [here](https://github.com/ansible-collections/community.general/tree/main/tests/unit/plugins/modules/system/interfaces_file/fixtures). Original way looks a bit more clear to me.

@pgassmann it may make sen

[2021-12-03 19:20] russoz commented on #3841
@pgassmann @hryamzik will be looking into that the next couple of days

[2021-12-04 13:00] bitshiftnetau opened #3844 "int() argument must be a string, a bytes-like object or a number, not 'NoneType'"
### Summary

When I try to create a container on Proxmox, it fails saying that "fatal: [central.local]: FAILED! => {"changed": false, "msg": "creation of lxc VM 810 failed with exception: int() argument must be a string, a bytes-like object or a number, not 'NoneType'"}"

### Issue Type

Bug Report

### Component Name

community.general.proxmox

### Ansible Version

[code]

### Community.general V

[2021-12-04 14:42] bitshiftnetau commented on #3844
This issue is resolved following a full system reboot of proxmox. Cannot say for other systems but it should be noted in the community docs if anyone else can replicate this error.

[2021-12-04 15:24] bitshiftnetau commented on #3844
I spoke too soon. It appears incapable of creating a new container.

If I use the following playbook:

- name: Create new LXC container in Proxmox
  hosts: central.local
  tasks:
    - name: testing
      proxmox:
        vmid: 810
        node: central
        api_user: root@pam
        api_password: <password>
        api_host: central
        password: 123456
        hostname: example.org

[2021-12-04 18:11] haresotto opened #3848 "keycloak_realm: create realm KeyProvider"
### Summary

Hello
It is possible to create a key provider in the web-ui by going to  realm_settings -> keys -> providers.
But this does not seem possible to do so using the community.general.keycloak_realm module.
More precisely, it does not seem possible to create anything related to realm_settings -> keys.
I may have misread the documentation, of course.

Do you think that this could be impleme

[2021-12-04 18:39] kris2kris commented on #3848
"Keys" are not properties of realm but have their own endpoints https://www.keycloak.org/docs-api/15.0/rest-api/index.html#_key_resource
I think it could be added in is own module, something like keycloal_key

[2021-12-04 20:04] haresotto commented on #3848
Yes, that is what I thought after I read an export of the configuration, but I am such a beginner at keycloak that I could not be sure.
It would be great if this module could be created.

[2021-12-06 09:01] thizmo commented on #1379
Good morning,

i happen to have the problem still with ansible 2.9.27 on Ubuntu 20.04.LTS

When i add the fix manually to the module, the problem is fixed.

Thx.

[2021-12-06 14:58] bitshiftnetau commented on #3844
Anyone going to address this? Not expecting an immediate fix, but this error renders Ansible completely useless in Proxmox.

[2021-12-06 18:06] felixfontein commented on #1379
@thizmo are you using the modules from the community.general collection (which have been fixed a long time ago), or are you the modules included in Ansible 2.9 (which have not been fixed and will never get fixed)?

[2021-12-06 18:23] felixfontein commented on #3844
Nobody seems to be working on this. I **think** this is caused because you don't set the `onboot` parameter; the code handling it ignores that it can not be specified, and will likely (judging from glancing over it) produce this exact error when you don't specify it.

Changing line 608 to
[code]
should fix it.

[2021-12-07 09:34] russoz commented on #3841
@pgassmann @hryamzik please review the PR ;-)

[2021-12-07 09:37] hryamzik commented on #3841
Did you run tests for [golden files](https://github.com/ansible-collections/community.general/tree/main/tests/unit/plugins/modules/system/interfaces_file/fixtures/golden_output)? I'd also expect to see cases covered here in these tests.

[2021-12-07 18:51] hryamzik commented on #3841
OK, I've created a new #3863 PR for tests. I've also verified that `absent` state removes duplicates.

[2021-12-07 20:44] lengoldenstein opened #3864 "ipa netgroup functionality"
### Summary

Functionality for management of netgroups is missing from community.general.ipa.  It is a gap for environments using netgroups with-in IPA as all other host and host group functionality is present.  netgroup functionality should be very similar to existing group functionality.

### Issue Type

Feature Idea

### Component Name

ipa

### Additional Information

[code]
A simple role to a

[2021-12-07 20:54] #3841 closed

[2021-12-08 06:42] russoz commented on #3844
Wouldn't it be slightly better to add `default=False` to the argument spec?

[2021-12-08 07:01] felixfontein commented on #3844
No, because we just spent quite some amount of work to get rid of that default.

[2021-12-08 07:14] bitshiftnetau commented on #3844
Could we do `is not None else 0` ?

[2021-12-08 07:15] russoz commented on #3242
Hi @mator any luck working on this? The patch itself is very straightforward, so let us know if you have any issues with the setup.

I have written this small tool I use to save me some of the trouble setting up a test environment for the collection:
https://pypi.org/project/andebox/

I still consider it alpha quality (especially because it is lacking a test suite), but on the other hand, I have b

[2021-12-08 07:25] felixfontein commented on #3844
No, for exactly the same reason: that would re-introduce the default.

[2021-12-08 07:42] bitshiftnetau commented on #3844
Oh right of course haha I totally read that wrong.

What about making `onboot` a mandatory value? That way there is no default. The user either defines it to boot on startup or defines it to not boot on startup.

[2021-12-08 07:43] felixfontein commented on #3844
That's a breaking change and will not be accepted without a long deprecation period.

[2021-12-08 10:13] bitshiftnetau commented on #3844
Technically yes? But also isn't that kind of a moot point as this is a major bug which results in this value needing to be set as a workaround (tested and confirmed) regardless? Else it doesn't work at all?

Either way, software development protocol yadda yadda... all good, I gets how it be 😅

Ok cool, so should we define that as a workaround? For now we note that without defining this value, it t

[2021-12-08 10:17] pyfontan commented on #2090
@bluikko : As said in the description i had this problem with :

iDRAC 4.32.20.00 on PowerEdge C6525
or
iDRAC 3.21.26.22 on PowerEdge R740xd

[2021-12-08 10:34] bluikko commented on #2090
On my previous generation systems it works when `resource_id` is not specified.

[2021-12-08 14:43] felmasper opened #3871 "redhat_subscription: add new pools keeping current consumed"
### Summary

I'd like to append new pools/products to the already consumed ones. User/password or activationkey would not be needed in this case -- system is already registered. The behavior would be similar to rhsm_repos' `purge` parameter. In redhat_subscription, purge would default to true.

### Issue Type

Feature Idea

### Component Name

redhat_subscription

### Additional Information

[code

[2021-12-08 14:50] bitshiftnetau commented on #3844
Happy to do that, but do you have a known solution? Do we know what the fundamental issue is under the hood?

If not, then I don't have the resources atm to commit for known unknowns. From my pov, it's simply easier to push through the deprecation cycle and stick with a workaround.

Either way, the workaround exists in the interim.

[2021-12-08 17:25] felixfontein commented on #3844
I'm pretty sure https://github.com/ansible-collections/community.general/issues/3844#issuecomment-987037799 fixes the issue (since the fundamental reason is that `int(None)` gets called when you don't specify `onboot` as a module parameter), but I have no way to verify this because I don't use proxmox.

[2021-12-08 17:32] bitshiftnetau commented on #3844
We seem to be going in circles. That solution is unfortunately out of the question, given the removal of default behaviour which I happen to agree with at the very least from a maintainer's pov.

Making this flag mandatory has other benefits in terms of basic operations hygene and makes sense also from the Ansible/config mgmt pov.

Does it boot? Does it not boot? Unacceptable unknown imo. Setting

[2021-12-08 17:37] felixfontein commented on #3844
I don't understand what you are saying. The comment I linked to is handling the option correctly when it is not provided by the user.

[2021-12-08 17:43] bitshiftnetau commented on #3844
Oh sorry, I'm really not reading properly today.

Well no, coz the error is related to passing through `None` when the option isn't set in the first place right? If we then just give it None then we're not really fixing anything.

[2021-12-08 17:50] felixfontein commented on #3844
Please look closely. `None` is not passed to `int()`. But it is passed on as the value of `onboot` (which is correct and required) if the user provided `None`.

[2021-12-08 18:15] Ajpantuso commented on #3844
I can pick this up later today. I'll add the inverse operation of https://github.com/ansible-collections/community.general/blob/80d650f60a21ae2e6fc3e86f60e04e28baabfcf2/plugins/module_utils/proxmox.py#L52-L54 to the module_utils and wrap all the bool parameters in it. The other bool parameters have defaults so they are not affected currently, but obviously could be if defaults are removed.

[2021-12-08 18:51] bitshiftnetau commented on #3844
I was operating under the assumption that the value passed to `onboot` was the issue in question, not the value passed to `int()` but now I understand.

[2021-12-09 06:57] MarcusCaepio opened #3875 "ansible_collections.community.general.plugins.inventory.icinga2 plugin: HTTP Error 404: Not Found"
### Summary

When I try to use the icinga2 inventory plugin, ansible-inventory reports a 404: Not found.

### Issue Type

Bug Report

### Component Name
community.general.icinga2
icinga2.py

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04

### Steps to Reproduce

[code]

### Expected Results

A valid inventory

### A

[2021-12-09 07:26] MarcusCaepio commented on #3875
!component = plugins/inventory/icinga2.py

[2021-12-09 12:03] BongoEADGC6 commented on #3875
Good morning,

You must modify your my.icinga2.yml file to reflect your instance of Icinga

Does navigating to https://excample.domain.com:5665 lead to your Icinga server?

[2021-12-09 12:06] MarcusCaepio commented on #3875
Good morning @BongoEADGC6
I have anonymized my snippet. Of course, I configured it to my icinga master server and I also tested the API access via curl, which works

[2021-12-09 19:49] #3242 closed

[2021-12-09 20:17] #3768 closed

[2021-12-09 22:31] BongoEADGC6 commented on #3875
@MarcusCaepio Can you remove the following from your config file `host_filter: None` This is causing no hosts to be found. Likely we need to provide a better handling if the filter given doesn't provide any hosts.

[2021-12-10 07:16] MarcusCaepio commented on #3875
Comment out the host_filter, but got the same result. Also trying a valid filter does not help.
[code]
A curl running `curl -k -s -S -i -u ansible:secret 'https://example.domain.com:5665/v1/objects/hosts'` results all hosts

[2021-12-10 07:23] felixfontein commented on #3875
The plugin does a POST request, maybe that's a potential reason for the differences?

[2021-12-10 08:00] MarcusCaepio commented on #3875
Ok I am one step further: The API user needs permissions for ""status/query". This should be a hint in the docs ;)
Now I am struggling with
[code]

[2021-12-10 08:59] MarcusCaepio commented on #3875
So, I got it running, but:
The dictionaries are stored with the host_addr and not with the host_name. But address is not mandatory in icinga (see: https://icinga.com/docs/icinga-2/latest/doc/09-object-types/#host), a host object name is. The inventory plugin fails, when a host object got no address. So we replaced the host_addr variables with host_name and the inventory creation also works without

[2021-12-10 09:10] dummys opened #3887 "nmcli add wifi connection output behavior is not the same as normal nmcli command"
### Summary

When addind a connection using nmcli module, the output said that it edit the actual connection, even if the connection didnt exist before.
To control it: `nmcli conn delete test_con`
my vars:
[code]

And my roles:

[code]

and the output:

[code]
So my question is, why it said that the connection already exist even if I deleted it successfully before ?
The module first add the connec

[2021-12-10 09:15] mator commented on #252
any test case for the issue? i mean how could i try to reproduce it? thanks

[2021-12-10 15:13] BongoEADGC6 commented on #3875
Very interesting. What version of Icinga2 are you using? Icinga2 v2.12.2-1, when you query for a host without a configured address field the address attribute is still configured with the name field from what I'm seeing. This also allows the host to be seen by the plugin.

[code]

[code]

Is this not the case for you?

[2021-12-10 15:24] MarcusCaepio commented on #3875
I am running r2.13.2-1 and address is empty, if it is not set in the config,e.g:
[code]

Results in

[code]

[2021-12-10 17:08] BongoEADGC6 commented on #3875
@MarcusCaepio Fascinating. Going to review the changelog to see what happened. Likely we can just look for address field. If it's populated, use that, if not, fall back to the host object name.

[2021-12-10 19:24] aagor opened #3888 "archive: gzip archive creation isn't idempotent"
### Summary

When i try to create a ` .tar.gz` archive with this module, the archives checksum changes every time, even if the module reports no change (status: ok).

### Issue Type

Bug Report

### Component Name

archive

### Ansible Version

[code]

### Community.general Version

[code]

### Configuration

[code]

### OS / Environment

Arch Linux

### Steps to Reproduce

[code]

### Expected Re

[2021-12-10 19:25] aagor commented on #3888
I already have a working bugfix. I will create a pull request tomorrow.

[2021-12-10 19:46] Ajpantuso commented on #3888
Do you have a high-level overview of the proposed bugfix? Checksums are not considered as part of idempotency for tar.gz archives by design as both tar and gz impart timestamps into the binary content making checksums invalid for comparing content (there are ways in each backing library to override this, but they are either inaccessible or not guaranteed to work via Python). My guess is any fix wo