[2020-10-19 14:07] Kniyl commented on #997
Not sure I understand why this variable wouldn't exist as it is defined 5 lines earlier, but sure, I can provide a PR with `LooseVersion` if need be.

[2020-10-19 16:25] felixfontein commented on #1123
That should not be hard to add. It should suffice to add the parameters to the argument_spec and to the documentation. Do you want to give it a try? :)

[2020-10-19 16:26] felixfontein commented on #997
@Kniyl maybe I looked in the wrong place, I now can see it as well :D

[2020-10-19 18:29] Elyytscha commented on #682
an example where this occur is

[code]

this does not result in a srv record containing the valid wanted 3 records

this results in a srv record with the last item as record

[2020-10-19 19:48] mdaves93 commented on #1123
Sure I can give it a try.

[2020-10-19 22:52] PDmatrix opened #1128 "Add support for TCP healthcheck for services registered by consul module"
##### SUMMARY

Consul provides a TCP check type and this should be part of this module
https://www.consul.io/docs/discovery/checks

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
consul - https://docs.ansible.com/ansible/latest/collections/community/general/consul_module.html

##### ADDITIONAL INFORMATION

Current workaround is: `nc -z -v -w5 127.0.0.1 80`
Old issue - https://github.com/ans

[2020-10-19 23:01] PDmatrix commented on #1128
!component =plugins/modules/clustering/consul/consul.py

[2020-10-20 03:08] russoz commented on #1045
Hi @bignose-debian , any updates on this?

[2020-10-20 03:09] russoz commented on #1045
needs_info

[2020-10-20 04:12] russoz commented on #1044
@bignose-debian I've been thinking about this. I like the idea of consistency for the obvious reasons, but IMHO, in the case of `ansible`, the consistency with the terminology used in the other tool/service/system domain is more important than the internal one. That said, I would say that **both** terms are inaccurate, as `django` uses _project_ to refer to that top-level directory.

So, in that p

[2020-10-20 05:04] #1076 closed

[2020-10-20 05:46] Andersson007 commented on #1044
i can only say that we should keep current options (even if they are inaccurate and inconsistent) at least as aliases.

[2020-10-20 06:08] #838 closed

[2020-10-20 06:14] Andersson007 commented on #838
@OlivierRoger thanks for reporting this!
The PR has just been merged.
However we can't backport it to 2.9 and 2.8.
community.general 1.3.0 will be released ~at the end of November, so, you can install 2.10 and the collection manually since that.
Thanks!

[2020-10-20 11:47] tw-alexb commented on #635
Hi @n0trax

do you have any news how to proceed here?

[2020-10-20 12:09] felixfontein commented on #635
@tw-alexb feel free to create a PR to add such an option. I'd name it more specifically though, maybe `warn_mpm_absent`?

[2020-10-20 12:48] quidame opened #1136 "iptables_state: race condition detected, random and reproducible"
##### SUMMARY

When restoring iptables ruleset from a file with this module (`iptables_state`),
it fails with some hosts as the action plugin reaches ssh timeout.

This `AnsibleError` message comes from the `ssh` connection plugin, that is
used by the `async_status` module, which itself is called by `iptables_state`
action plugin, in:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`

[2020-10-20 13:56] joshinryz opened #1137 "odbc : [HY010] [unixODBC][Driver Manager]Function sequence error (0) (SQLFetch)"
##### SUMMARY
Unable to connect to Microsoft SQL Server in order to perform a query. SQL trace shows the authentication succeeding , and data being returned. However, the module fails to parse the results.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
odbc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux release 8.2 (Ootpa)

#####

[2020-10-20 14:12] joshinryz commented on #1137
[code]

[2020-10-20 14:29] john-westcott-iv commented on #1137
The code currently uses the fetchall instead of fetchone. Could you try executing this and let me know if it gives you an exception?
[code]

[2020-10-20 14:33] joshinryz commented on #1137
In fact, if I comment line 120 `#cursor.commit()` the whole thing runs fine.

[2020-10-20 14:36] joshinryz commented on #1137
Same error directly in python when cursor.commit is used.

`pyodbc.Error: ('HY010', '[HY010] [unixODBC][Driver Manager]Function sequence error (0) (SQLFetch)')`

Removing cursor.commit() causes it to work.

[2020-10-20 14:37] joshinryz commented on #1137
https://stackoverflow.com/questions/25769043/function-sequence-error-in-pyodbc

[2020-10-20 15:12] john-westcott-iv commented on #1137
@joshinryz I made a PR to add a commit parameter to the module. With this new version if you do `commit: False` the module will not do the commit after the execute. This should allow more flexibility and provide a way to solve your problem. Thanks for the report.

[2020-10-20 16:41] #1123 closed

[2020-10-20 17:05] jbronn commented on #868
Some additional properties that can only be set at zfs dataset creation time:
* `casesensitivity`
* `normalization`
* `utf8only`

[2020-10-20 18:27] #1136 closed

[2020-10-21 06:18] #1117 closed

[2020-10-21 11:42] MichaelWasher commented on #864
/assign

[2020-10-21 11:55] mator commented on #791
give a test playbook to check/test changes with?

since i've no idea how could be adhoc command `ansible solaris114 -m beadm -a "name=test state=activated" ` being used with community.general repo...

[2020-10-21 14:32] silviuvulcan opened #1148 "hetzner_firewall example in documentation is wrong"
##### SUMMARY

The parameter **state** is controlling whether the firewall is `present` or `absent` Yet the example code uses:

[code]

A very easy mistake to make as **status** `active` or `disabled` is part of the return values. No idea why they are not the same but for now it's not working with the example.

P.S. the Edit on GitHub link is missing here: https://docs.ansible.com/ansible/latest/c

[2020-10-21 15:32] felixfontein commented on #1148
@silviuvulcan thanks for spotting and reporting this! I've created #1150 to fix this.

The reason why they are different is that the `state` option uses Ansible's `present`/`absent` for enabling/disabling the firewall (and it feels very wrong to chose something different here), and the return value `firewall` is precisely what Hetzner's API returns, and they use `status` with values `active`/`disa

[2020-10-21 15:35] felixfontein commented on #1148
The not existing/working Edit on GitHub link is a known problem and tracked in ansible/ansible#70267. (It has been removed from the 2.10 docs because it's currently broken.)

[2020-10-21 17:20] #1108 closed

[2020-10-21 17:23] Andersson007 commented on #1108
@vhaispdeaded i've just merged @sebasmannem 's PR. The fixed version will be released with community.general 1.3.0 ~at the end of November.
One more time thanks for reporting this!

[2020-10-21 17:59] vhaispdeaded commented on #1108
@Andersson007 Thank You

When 1.3.0 is GA, I will request Red Hat roll it into their release for Red Hat Satellite.

[2020-10-21 22:04] MichaelWasher commented on #864
It depends on the expected usage. For installing casks `homebrew_cask` should be used.
Testing with `homebrew_cask` as below works fine:
[code]
[code]

However when using the `homebrew` package to install casks fails for me in general.
[code]

[code]

Seems like we should deal with the output message better but not sure if the `homebrew` module should manage cask installs

[2020-10-22 06:18] Andersson007 commented on #1108
I created a backport https://github.com/ansible/ansible/pull/72290 to 2.9, hope it'll be merged until next 2.9 fix release

[2020-10-22 06:26] silviuvulcan commented on #1148
Thank you @felixfontein for the explanation. It makes sense.

[2020-10-22 06:40] russoz commented on #1044
needs_info

[2020-10-22 09:30] MichaelWasher commented on #864
@felixfontein Do you want the homebrew module to be more friendly with failing on cask issues;
Error something like "This Homebrew package is a cask and requires using the homebrew_cask module" or do you think this case should just be closed?

[2020-10-22 12:01] felixfontein commented on #864
@MichaelWasher I don't use or maintain the module, so I'm not the right person to ask. In general, having better error messages is always a good thing though :)

[2020-10-22 12:16] #1148 closed

[2020-10-22 21:05] felixfontein commented on #354
With the plan in https://github.com/ansible-collections/overview/discussions/117#discussioncomment-106136 all dependencies will vanish!

[2020-10-23 05:13] #459 closed

[2020-10-23 05:13] #1089 closed

[2020-10-23 05:13] #1112 closed

[2020-10-23 10:11] mator commented on #680
should there be console output at all in the first place?

ansible is not a shell script, but automation framework/engine... look for sample output from other ansible tasks, do they provide extensive logs when doing (simple or not) tasks?

thanks

[2020-10-23 11:36] snopoke commented on #1106
Fixed by https://github.com/ansible-collections/community.general/pull/1107

[2020-10-23 11:36] #1106 closed

[2020-10-23 12:12] hads0m opened #1165 "Unable to create KVM VMs by using proxmox_kvm module due to unsupported needed parameter"
##### SUMMARY

Creating a new KVM machine in Proxmox using this module is not possible because "archive" parameter (which is required according to Proxmox's docs when "force" parameter is used (1)) is currently unsupported by the module.

(1) See https://pve.proxmox.com/pve-docs/qm.1.html
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

proxmox_kvm

(2) See https://docs.ansible.com/ansible/lat

[2020-10-23 16:03] mator commented on #497
i can't reproduce issue:
[code]
^^ full output of `setup` module output follows

[2020-10-23 16:34] felixfontein commented on #497
Looking at the code, I'm surprised if it really works: https://github.com/ansible-collections/community.general/blob/main/plugins/cache/redis.py#L128

[2020-10-23 16:35] felixfontein commented on #497
(Or maybe the redis Python library got some magic to extract the correct IPv6 address, but it was only added later?)

[2020-10-23 16:52] branleb commented on #497
Can you reproduce it with your setup if you explicitly specify a port number? Because that was also done in the reported scenario.

[2020-10-23 20:48] mator commented on #497
@branleb can you tell how do i specify it ? i'm actually no idea what is `CACHE_PLUGIN_CONNECTION`

[2020-10-23 21:47] xenlo opened #1168 "zypper remove ignored which LANG=fr_FR"
##### SUMMARY
The `zypper` module does not remove packages with `state: absent` when the local is set something other than 'en_US'.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- plugins/modules/packaging/os/zypper.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
*Controler*:
- Fedora 32
- LANG: fr_BE.UTF-8

*Target host*:
- SLES 15
- LANG: POSIX

#####

[2020-10-23 21:53] xenlo commented on #1168
According to my colleague's investigations, the `zypper` module use the xml output of zypper to check the state of a package. It looks for attribute '_name_' when in French it get translated form: '_nom_'.

- **en_US**: `<solvable status="installed" name="libwbclient0" kind="package" edition="4.7.6+git.54.6e3276c9872-2.47" arch="x86_64" repository="PTS-SLES-15_basesystem-x86_64"/>`
- **fr_FR**: `<

[2020-10-24 10:55] felixfontein commented on #1168
I'd rather set it to `C`, as the `en_US` locale is not available everywhere. It should be easy to do that, similar to here: https://github.com/ansible-collections/community.general/blob/main/plugins/modules/cloud/atomic/atomic_image.py#L93

In any case, 'translating' XML property names looks like a bug to me. This should probably also be reported as a bug in zypper.

[2020-10-24 12:40] xenlo commented on #1168
Indeed, I will look on Monday if I can manage to propose PR. And also have look where I can open an issue upstream to escalate the xml proprties translation.

[2020-10-24 12:42] mator commented on #1168
i can't reproduce on opensuse leap 15.2 (don't have SLES installed) , but probably the following patch fixes the issue?
[code]

[2020-10-24 16:01] aminvakil commented on #1165
Thanks for opening this issue, I've changed my PR in https://github.com/ansible-collections/community.general/pull/850 to address it, it's going to be fixed when this gets merged and you set the new option (`proxmox_default_behavior`) to `no_defaults`.

But this is also a bug in proxmox too, I've addressed it in https://bugzilla.proxmox.com/show_bug.cgi?id=3095. Feel free to put comments there as

[2020-10-24 16:07] aminvakil commented on #1165
Now I've realized it's the same problem as https://github.com/ansible-collections/community.general/issues/1069.

[2020-10-24 17:24] hads0m commented on #1165
Thanks for the feedback. My bad I did not realize there was already an issue regarding this very same topic. Looking forward the solution!

[2020-10-25 05:06] iandelahorne opened #1171 "maven_artifact can't fetch from AWS CodeArtifact repositories"
##### SUMMARY
[AWS CodeArtifact](https://aws.amazon.com/codeartifact/) is a service from AWS providing managed package repositories (npmjs, pypi, maven/gradle). We'd like to use it to store our Java JAR artifacts published by Gradle, and download them onto our app servers with ansible's `maven_artifact` module.

Using the [AWS instructions](https://docs.aws.amazon.com/codeartifact/latest/ug/maven-

[2020-10-25 05:09] iandelahorne commented on #1171
This is fairly meaty and depends on AWS. I've redacted account numbers and tokens here, but I can provide these over email if needed - email is ian at patreon dot com

[2020-10-25 09:12] felixfontein commented on #1171
It might be helpful to know to the maintainers how `"{{ codeartifact_token.stdout | trim }}"` looks like (not the exact value, but the general form).

[2020-10-25 16:53] iandelahorne commented on #1171
@felixfontein Absolutely. It's a fairly big JWT (1519 characters base64 encoded). I generated one and then redacted the sections past the first section (up to the first `.`):

[code]

[2020-10-25 17:14] iandelahorne commented on #1171
I also tried using `force_basic_auth: true` and it failed the same way as specifying `headers`:
[code]

[code]

[2020-10-26 06:52] felixfontein commented on #1171
Ok. I guess the problem in your first example is that the code (Python's urllib in this case) only supports HTTP Basic Auth (and maybe HTTP Digest Auth), but the server only accepts Bearer (token) Auth. An application can explicitly support Bearer Auth by adding the header, like you did in your second example. I guess it should also be possible to add a module option for providing the token, but i

[2020-10-26 07:07] xenlo commented on #1168
I just give it a try and was able to reporduce on a OpenSUSE 15.1.

[2020-10-26 07:48] xenlo commented on #1168
So indeed the fix works. Thanks @felixfontein and @mator.

I created a PR with that change: #1175. Next task, escalate the topic upstream.

[2020-10-26 08:26] evrardjp commented on #1168
Thanks @xenlo @felixfontein and @mator !

[2020-10-26 09:41] xenlo commented on #1168
@evrardjp, you're welcome.

As I see that you works for Suse, maybe you can advice me where to open a discussion about the translation of attribute in xml output?
I assume that https://github.com/openSUSE/zypper is a good start?

[2020-10-26 10:30] 4n70w4 commented on #1085
The same issue with node_prefix

[2020-10-26 10:40] evrardjp commented on #1168
I work for SUSE, but I don't work on zypper. Yes, that would be one place. The alternative would be the bugzilla. Let's start with the github issue and file a bugzilla issue if necessary.

[2020-10-26 10:42] Andersson007 commented on #118
closed via moving to https://github.com/ansible-collections/community.postgresql/issues/15

[2020-10-26 10:42] #118 closed

[2020-10-26 10:43] 4n70w4 commented on #1085
Would it be enough to add new values to RULE_SCOPES?

https://github.com/ansible-collections/community.general/blob/41cfdda6a3cdd952645b40d4c9da817375e878c2/plugins/modules/clustering/consul/consul_acl.py#L183

[2020-10-26 10:44] Andersson007 commented on #121
closed via moving to https://github.com/ansible-collections/community.postgresql/issues/16

[2020-10-26 10:44] #121 closed

[2020-10-26 10:45] Andersson007 commented on #122
closed via moving to https://github.com/ansible-collections/community.postgresql/issues/17

[2020-10-26 10:45] #122 closed

[2020-10-26 10:48] Andersson007 commented on #649
closed via moving to https://github.com/ansible-collections/community.postgresql/issues/18

[2020-10-26 10:48] #649 closed

[2020-10-26 11:22] 4n70w4 opened #1177 "Token name don't changes via consul_acl"
##### SUMMARY
Token name don't changes via consul_acl

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
consul_acl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### STEPS TO REPRODUCE
First run:

[code]

Created token with name «Old token»

Second run:

[code]

But token name don't changed to «New token»

##### EXPECTED RESULTS

Change token name.

##### ACTUAL RESULTS
Nothing

[2020-10-26 12:34] mhalano opened #1178 "Mattermost callback plugin"
##### SUMMARY
My idea is about the creation of a callback plugin for Mattermost. Other communication tools, like Slack and HipChat, already have bot a module and a callback plugin. Mattermost just have a module for now.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mattermost

##### ADDITIONAL INFORMATION
The idea is create a callback plugin for Mattermost so the sysadmin can receive a re

[2020-10-26 13:49] xenlo commented on #1168
Thanks @evrardjp.

FYI: openSUSE/zypper#361

[2020-10-26 15:11] geerlingguy opened #1179 "Composer 'require' command is not idempotent with Composer v2"
##### SUMMARY

The `require` command for the `composer` module seems to no longer be idempotent. If I require one or more packages using the `composer` module, the module always reports 'changed', thus breaking idempotence in my playbooks.

It does seem to still work, installing the required package, but it just always reports a change.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

communi

[2020-10-26 15:14] geerlingguy commented on #1179
Just noting, for reference, the difference in stdout between the same `composer require` command in:

Version 1.10.16:

[code]

(and an aside: under v1 I got a PHP fatal error from the memory limit, so had to add `COMPOSER_MEMORY_LIMIT=-1`)

Version 2.0.2:

[code]

[2020-10-26 15:17] geerlingguy commented on #1179
It looks like the problem is the following `has_changed` check needs updating to account for the differnce in v2:

[code]

In v2, the string is now:

[code]

[2020-10-26 15:59] iandelahorne commented on #1171
That's not strictly true - the server will gladly accept basic authentication. I can curl the 400'd url output at the end using `aws` as the username and the bearer token as the password - https://gist.github.com/iandelahorne/21d4284d35f74a88d1c9111752af6f21

I'm not 100% sure on how I can dig into and debug what's happening in the module - is there a guide somewhere on how to do printf debugging

[2020-10-26 18:31] #1179 closed

[2020-10-26 18:43] #355 closed

[2020-10-26 18:48] felixfontein commented on #1171
At least the server doesn't advertise HTTP Basic Auth. I think there is a force_basic_auth flag somewhere, though I don't know whether it's available in the maven_artifact. Maybe exposing that option would solve your problem.

[2020-10-26 18:49] iandelahorne commented on #1171
I tried `force_basic_auth` in https://github.com/ansible-collections/community.general/issues/1171#issuecomment-716180376 - fails in the same way

[2020-10-26 19:00] felixfontein commented on #1171
Ah, sorry. Forgot about that. It looks like authentication works in that case (same as with the header), but for some other reason the server is rejecting the request.

[2020-10-26 20:43] iandelahorne commented on #1171
Yep, which is why I'd like to be able to dump the request/response objects somehow but I haven't been able to figure out how to even start printf debugging with a module. AWS is usually very good at saying why a request failed in their error headers/output.

[2020-10-26 20:56] tumbl3w33d commented on #1171
You do the following to get some output
[code]

[2020-10-27 04:50] felixfontein commented on #1171
@tumbl3w33d that only works in plugins, not in modules.

The best way to do printf-style debugging in modules is using q: https://pypi.org/project/q/

[2020-10-27 09:38] mator commented on #1168
still can't reproduce with opensuse 15.2 . Set system locale to `fr_FR.UTF-8` via yast :
[code]
even set `ROOT_USES_LANG` :
[code]
first check:
[code]
test with `mtr` package installed/removed:
[code]

[2020-10-27 10:20] xenlo commented on #1168
@mator, the issue occures the other way around. So having the ansible controler (so the archlinux in your detailed case here above). The locale config on the openSUSE target does not matter as it will open a session with the locale from the source of the ssh connection.

[2020-10-27 13:14] briantist commented on #1018
@mattclay @relrod any word on @felixfontein's question above?

[2020-10-27 15:03] mattclay commented on #1018
@felixfontein At this time I recommend continuing to add files to the S3 bucket. We may revisit our options at a later date.

[2020-10-27 15:05] felixfontein commented on #1018
@mattclay ok! Who can add files to that bucket? (I.e. do we have to pester you and/or relrod, or are there also others who have access?)

[2020-10-27 15:12] mattclay commented on #1018
@felixfontein I think most of the Ansible Core Team have access to the S3 bucket. In addition to myself, I'm pretty sure that @relrod, @samdoran and @jborean93 are all familiar with adding files there.

[2020-10-27 21:45] #1168 closed

[2020-10-27 21:46] #1037 closed

[2020-10-28 05:59] felixfontein commented on #1018
@briantist can you identify which files (from which URLs) should be available on the S3 bucket under which names?

[2020-10-28 10:17] df-cgdm opened #1190 "run puppet agent with --logdest=console"
##### SUMMARY
It's not possible to get the output of puppet when running in agent mode.

The problem is that "puppet agent" log to syslog by default and the module doesn't care of options like logdest and debug when running in agent mode.

It would be good to change this behavior.

Note: --logdest=stdout must be replaced by '--logdest=console' for the agent

##### ISSUE TYPE
- Feature Idea

#####

[2020-10-28 11:43] hugoprudente commented on #1049
Any update on this I'm facing the same issue.

[2020-10-28 11:58] felixfontein commented on #354
ansible.posix is no longer a runtime dependency! \o/

[2020-10-28 15:36] danielo515 opened #1192 "docker_container exposed_ports is incorrect"
##### SUMMARY
The property exposed_ports is incorrect. According to the examples an my experience the one that should be used is `ports`

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
https://docs.ansible.com/ansible/latest/collections/community/general/docker_container_module.html#parameter-exposed_ports

##### ANSIBLE VERSION

[code]

I wanted to open a PR to fix it but:

- Don't

[2020-10-28 16:04] danielo515 commented on #1192
I linked the exact documentation page. I don't know which file corresponds to that, maybe this:
!component community.general.docker_container

Can't you extract it from the link?

[2020-10-28 16:06] danielo515 commented on #1192
!component +community/general/docker_container

[2020-10-28 16:34] felixfontein commented on #1192
The module is called `docker_container`. You have to specify that under `COMPONENT NAME`.

!component =plugins/modules/cloud/docker/docker_container.py

[2020-10-28 16:38] felixfontein commented on #1192
Also I have no idea what you mean by "incorrect". The `exposed_ports` option does exist, and does similar things as the `--expose` option of `docker run`.

[2020-10-28 18:48] petracvv opened #1193 "sefcontext module should support equivalent paths"
##### SUMMARY
This is a duplicate of ansible/ansible#46367 as that issue was closed because of the collection migration. I'm including the text of the issue below:

The `semanage fcontext` command has a `-e`/`--equal` argument that allows a user to specify a source path to use for filesystem contexts for another directory.

For example, `/var/www/html` typically has SELinux contexts applied so tha

[2020-10-28 23:52] briantist commented on #1018
I was thinking of reworking the tests to run the same set against multiple versions, probably setting the floor at 1.0.0 but getting every version since then from here:
https://releases.hashicorp.com/vault/
(excluding ent/rc/hsm, etc.)

Presumably then within each version path we'd also want to download each platform/arch we test on, so at a minimum I'd guess that linux/amd64 and darwin/amd64?

it

[2020-10-29 08:00] felixfontein commented on #1192
needs_info

[2020-10-29 08:54] kinglouie opened #1195 "pacman module lost backwards compatibility"
##### SUMMARY
I created an arch linux installation playbook around a year ago to setup my dev machine. Today I tried to run than playbook a few times in succession and ran into the issue that the pacman module fails on packages that are already installed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pacman

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default config

##### OS / ENVIRO

[2020-10-29 10:49] russoz commented on #630
@ziima I am not the maintainer for this module, and I have not used it with local directories before. That said, looking into the code, *it seems* that the the `repo` parameter is only used with the `list_all` parameter. Which looks quite confusing to me.

@djmattyg007 @mgedmin do you guys have this on the radar?

[2020-10-29 10:59] russoz commented on #630
Actually, the problem seems to be in Ansible itself, in `AnsibleModule.run_command()`:

[code]
If `cmd` is not a directory (`os.path.isdir`), then it is utterly ignored.

[2020-10-29 11:54] russoz commented on #630
I correct myself: it *should* do exactly what you expected it to, but with the problem in `AnsibleModule`, that's failing miserably.

I have just submitted a PR to the main ansible repo, in that regard:
https://github.com/ansible/ansible/pull/72390

[2020-10-29 15:33] danielholdsworth commented on #864
I think this would be preferred behaviour, seems unnecessary to have to split package installs between two separate modules when it could/should stay in `homebrew` / `community.general.homebrew`.

[code]

[2020-10-29 19:06] danielo515 commented on #1192
Sorry @felixfontein I meant `published_ports`. As you can see, there is single example using `published_ports`. However, using just ports (as on the examples) works as expected.

This is the only example of how to publish ports:

[code]

And it works.
I guess people check examples more than docs.

[2020-10-29 19:30] felixfontein commented on #1192
Yes, `ports` is an alias of `published_ports`. In the examples we often use both the option and the alias to show that both work.

What do you mean with "but when I tried `published_ports` it didn't worked for me"? What exactly happened?

[2020-10-29 21:49] felixfontein commented on #1018
If you want to run tests with many different versions, I'm not sure it is a good fit for this repository as it's pretty expensive from a CI point of view. Maybe it would make sense to move the hashi_vault lookup to its own collection (and maybe add more modules/plugins?), so CI can be optimized for testing multiple versions of vault against the lookup (and other modules/plugins, when added)?

[2020-10-29 21:53] felixfontein commented on #1195
I think you're using the module wrong. `name: xf86-input-vmmouse xf86-video-vmware mesa` means that you want to install the one package called "xf86-input-vmmouse xf86-video-vmware mesa".

(There's also a bug that the module does not properly escape shell commands, so pacman actually things the module is interested in three modules, instead of one module of a strange name.)

Either use commas to t

[2020-10-30 03:45] andybro19 opened #1199 "one_host fails when allocating or updating host with ID of 0"
##### SUMMARY

The community.general.one_host module fails when allocating the first host (ID: 0) in OpenNebula.
It also fails when updating the template/attributes of the host with an ID of 0.
This occurs even though it appears the host has been allocated or updated successfully in OpenNebula.

I think the problem is that the `allocate()` and `update()` functions used on lines [141](https://githu

[2020-10-30 05:18] #1128 closed

[2020-10-30 07:33] gundalow commented on #1018
@briantist hi, thank you for thinking about testing.
One of the advantages of moving to dedicated collections is that we can test against more things.

For example every Grafana PR integration tests are run against the last three grafana server versions https://github.com/ansible-collections/community.grafana/blob/main/.github/workflows/ansible-test.yml#L64

I personally have zero knowledge of has

[2020-10-30 11:21] gundalow commented on #1018
@ksatirli @lanefu @bbaassssiiee @groggemans I believe you help support some of the other Ansible+Vault work (https://github.com/ansible-community/ansible-vault) would you be interested in helping @briantist if we build a dedicated Hashi collection?

[2020-10-30 11:33] ptMcGit opened #1204 "ini_file module to allow multiple distinct key-value pairs"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

Per ansible/ansible:

##### SUMMARY

This request regards the community.general `ini_file` module (https://github.com/ansible-collections/community.general/blob/main/plugins/modules/files/ini_file.py)

Currently, a user can modify one value in an ini file:

[code]

I am interested in modifying the mo

[2020-10-30 18:48] briantist commented on #1018
It's an interesting thought, but at the moment it would be a single lookup plugin.
I did make some inroads in #23 toward pulling some functionality out into a module_util that could be used for future plugins and modules, but it's a ways off. At that point it would certainly start to make more sense.

At the moment I'm also worried I may not have the bandwidth to support the additional needs of a

[2020-10-31 12:51] #791 closed

[2020-10-31 13:27] felixfontein commented on #1204
I have no idea why you're asking me, but since what you need can easily be done with the existing `ini_file` module and a loop, I'm not sure whether this should be added. This would increase the complexity of the module and doesn't really add something that wasn't possible before.

Also it doesn't solve the most common "problem" with ini_file, namely being able to specify a key multiple times in t

[2020-10-31 23:53] MichaelWasher commented on #864
It all really depends on what everyone wants.

But the issue for failing on already installed is due to the below lines, and could be resolved with the snippet below:
https://github.com/ansible-collections/community.general/blob/main/plugins/modules/packaging/os/homebrew.py#L462-L481

[code]

[2020-11-01 00:19] MichaelWasher commented on #864
Actually looks like HomeBrew doesn't provode the same output depending on TTY and pipes... 👎
https://github.com/Homebrew/brew/blob/master/Library/Homebrew/cmd/list.rb#L90-L96

Something more like this would fix:
[code]

[2020-11-02 11:01] danielholdsworth commented on #864
The latest updates to the homebrew & homebrew_cask modules that caught the regex issue for catching dashes is enough for me, it appears that was an underlying issues I hadn't noticed and it was forcing me to try to install some casks using homebrew which then wasn't idempotent.

[2020-11-02 17:41] fozix opened #1216 "Lookup plugin"
##### SUMMARY
My issue is a little bit similar to this one, bu not really the same.
https://github.com/ansible-collections/community.general/issues/1103
The 1103 is closed, without a solution.

We have this kind of password retrieve from vault

[code]
This code works fine for my colleagues, but for me its giving this error :
the error was: 'dict object' has no attribute 'data'

when I print the "l

[2020-11-02 18:29] felixfontein commented on #1216
Please specify `hashi_vault` under `COMPONENT NAME` the next time. `hvac-0.10.5` is *not* a name of a component of this collection (or of ansible-base itself).

!component =plugins/lookup/hashi_vault.py

[2020-11-02 18:46] davetapley opened #1217 "Code in docs isn't formatted correctly when it contains close parenthesis"
##### SUMMARY

Code in docs isn't formatted correctly when it contains close parenthesis.

##### ISSUE TYPE
- Documentation Report

A code snippet enclosed in `C(...)` is rendered incorrectly when the contents itself contains a close parenthesis (`)`).

##### COMPONENT NAME

https://github.com/ansible-collections/community.general/blob/9aeac265838a3efeff1c1ab221fe0f3e767b61b2/plugins/modules/datab

[2020-11-02 18:48] davetapley commented on #1217
This is subtle, so hopefully this helps:

The `)` shown by the blue arrow **should** be rendered inside the code snippet at the indicated location (but is not).

The `)` shown by the pink arrows should **not** be rendered (as it is closing the `C(...)`) (but it is).

![community_general_postgresql_user_py_at_9aeac265838a3efeff1c1ab221fe0f3e767b61b2_·_ansible-collections_community_general_and_commu

[2020-11-02 19:42] mmarston commented on #1171
I'm on the AWS CodeArtifact team and I can give some insight into what I believe is going on. When a client requests a Maven artifact, CodeArtifact currently redirect the client to a pre-signed S3 URL.

The request to CodeArtifact must include an Authorization header (Bearer or Basic) and CodeArtifact returns a 307 with the pre-signed S3 URL. When S3 receives a pre-signed request that also include

[2020-11-02 19:57] felixfontein commented on #1171
Ok, so if the `Authorization` header is explicitly specified with `headers:`, it will also be passed after the redirect. I guess same for when `force_basic_auth: true`, it will simply always include that header.

For regular basic auth, I guess that urllib simply ignores the second `www-authenticate` header and thus ends up with `AbstractDigestAuthHandler does not support the following scheme: 'Be

[2020-11-02 20:02] felixfontein commented on #1217
That's an artefact of how `C(...)` works. It was mainly meant for constants I think, not for complex content. It's processed by the regex `\bC\(([^)]+)\)`. In this case, the docs should be adjusted to make sure it is properly formatted. Using single backtickets instead of `$()` should solve this problem.

!component =plugins/modules/database/postgresql/postgresql_user.py

[2020-11-02 20:28] Bahu2016 opened #1218 "Jira fetch issue JSONDecodeError' object has no attribute 'message'"
##### SUMMARY
"/tmp/ansible_community.general.jira_payload__n_0lgz3/ansible_community.general.jira_payload.zip/ansible_collections/community/general/plugins/modules/jira.py", line 532, in main\nAttributeError: 'JSONDecodeError' object has no attribute 'message'\n"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
jira

##### ANSIBLE VERSION
Ansible 2.9.14
AWX 15.0.1

##### CONFIGURATION

#####

[2020-11-02 20:40] mmarston commented on #1171
Is there a way to get ansible to use `AbstractBasicAuthHandler` for these requests instead? It appears to handle multiple headers:
https://github.com/python/cpython/blob/3.9/Lib/urllib/request.py#L989-L999

Another option that might work is if the Ansible `fetch_url` method were to call `open_url` with `Authorization` added to the `unredirected_headers` parameter. See https://github.com/ansible/an

[2020-11-02 21:16] briantist commented on #1216
It sounds like you have modern versions of the plugin/HVAC, and it's your colleagues who are using Ansible 2.9.

The raw output, doubled `data` and all, is correct. My guess is that they don't have the ability to use `raw` output at all since it wasn't available in 2.9.

There was also a breaking change from 2.9 to 2.10 in the way the plugin outputs, specifically around whether it dereferences `da

[2020-11-02 21:22] felixfontein commented on #1171
The module currently uses `fetch_url`, which does not offer this. You'd have to use more lower-level functions, which means you have to do a lot more error handling.

The Ansible code which does authentication is this: https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/urls.py#L1346-L1359 It does use `HTTPBasicAuthHandler`, which uses `AbstractBasicAuthHandler`, but it also add

[2020-11-02 22:48] ThoreKr commented on #724
There are three lists which have to be extended with a 'dummy' entry.

* https://github.com/ansible-collections/community.general/blob/main/plugins/modules/net_tools/nmcli.py#L56
* https://github.com/ansible-collections/community.general/blob/main/plugins/modules/net_tools/nmcli.py#L738
* https://github.com/ansible-collections/community.general/blob/main/plugins/modules/net_tools/nmcli.py#L1000

W

[2020-11-03 06:53] Andersson007 commented on #1217
thank you folks! i'll fix this

[2020-11-03 07:44] felixfontein commented on #1218
This looks like the HTTP request resulted in an error and not a JSON object, and the module tried to interpret it as JSON and failed. I guess error handling should be improved to properly report the error instead of crashing.

[2020-11-03 08:28] #1217 closed

[2020-11-03 10:28] fozix commented on #1216
Hi @briantist

Your words resumes perfectly the situation.
Before creating this ticket, I did this to downgrade ansible and test with 2.9 version  :
`pip3 install ansible==2.9.4`
My scripts didn't work as exprect, probably the downgrade didn't work well. so moved back to ansible 2.10.1.

Reading your comment this morning, I decided to remove manually all ansible existing packages/modules/folder an

[2020-11-03 15:10] briantist commented on #1216
The breaking change was made in https://github.com/ansible/ansible/pull/64288 but that was before I started contributing, so I can't really say fully. From what I can tell, the reason for this was in trying to support Vault's KV v2 better, which is good news for your following question:

[code]

Using colon `:` to specify the field (the "key" of the key value pair) you want will do that for you.

[2020-11-03 16:01] zjpeterson commented on #852
I get warnings like this when I use `nios_fixed_address` as well (on 2.9.15).

Task:
[code]

Output:
[code]

Same behavior, works as expected, but throwing warnings about aliases. Seems to me that aliases are set in the module code when they shouldn't be.

[2020-11-03 16:50] ptMcGit commented on #1204
Thanks for the reply--

I reached out to you because you were listed as a contributor for this module, and I figured you would be in the best position to comment here.

My mistake--I see now that the loop mechanism is available for this module.

You're right that my current implementation doesn't solve ansible-collections/community.general#273, but I thought that it might help to point to a soluti

[2020-11-03 17:00] felixfontein commented on #1216
Switching between Ansible 2.9.x and 2.10.y should be done by first explicitly uninstalling the current version, and then installing the other, to avoid hitting a pip bug which wipes out large chunks of Ansible and leaves you with a broken install. See also the remarks in https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#installing-ansible-with-pip

[2020-11-03 17:03] felixfontein commented on #1204
@ptMcGit ah the only reason why we're listed is that we did generic PRs which touched a lot of modules. Neither @Andersson007 nor me specifically worked on this module :) See https://github.com/ansible/ansible/blob/pre-ansible-base/lib/ansible/modules/files/ini_file.py for a better list.

In any case, the drop-in file mechanism is a great thing, it also solved a lot of trouble for me when I discov

[2020-11-04 06:54] #852 closed

[2020-11-04 08:59] fozix commented on #1216
Thanks for your help,
The conclusion is that tehre is a gap between the 2.9 and 2.10 and we must adapt to which version we are working with.
I close this ticket.

regards

[2020-11-04 08:59] #1216 closed

[2020-11-04 14:06] guerzon opened #1226 "keycloak_client detects changes on check_mode but not in run mode"
##### SUMMARY
Running a `keycloak_client` task with check mode (`--check`) shows that `"authorizationServicesEnabled": false,` will be added, but no change is done in normal mode.

State of the realm client: Authorization is disabled.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible `keycloak_client` module.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIR

[2020-11-04 15:06] dr4Ke opened #1227 "hashi_vault should support secret v2 path (without adding /data/)"
##### SUMMARY

The `hashi_vault` lookup currently needs to use an API path to kv_v2 secrets. It would be nice to drop this requirement, like terraform do.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

hashi_vault

##### ADDITIONAL INFORMATION

The current call:
[code]

The wanted call:
[code]

In the terraform provider, they [get the engine path](https://github.com/terraform-providers/te

[2020-11-04 15:10] dr4Ke commented on #1227
It needs to be backward compatible with the current syntax, though. So maybe try to get the secret as is, then use the smarter way if nothing is present at this path.

[2020-11-04 15:20] tomaciazek opened #1228 "Consumed subscriptions, still listed as available are consumed again"
##### SUMMARY

For some subscriptions (instance-based, I believe) `subscription-manager` will still report them as available for `subscription-manager list --available`, but with 'suggested' entitlements to consume equal to 0. This breaks the behavior of this module when either the `pool` option is provided or the `pool_ids` option but without the quantities specified.

NB: To make the module work

[2020-11-04 22:06] mdavis-xyz commented on #1043
I'm trying to write a PR for this, but I can't figure out how to run a playbook using my local, modified checkout of this repo, rather than the stable pre-installed version.

[code]

It still runs as if it hasn't picked up my modifications.

How do I *use* a local, modified copy of `collections.general`?

[2020-11-04 22:09] felixfontein commented on #1043
you need to check out the repository as ~/collections/ansible_collections/community/general/, not as ~/collections/community.general/ as you're doing right now. (See also https://docs.ansible.com/ansible/devel/dev_guide/developing_collections.html#contributing-to-collections)

[2020-11-04 22:32] mdavis-xyz opened #1231 "Clearer documentation of how to run playbook with modified clone"
##### SUMMARY

I was trying to write a PR, and I struggled to get Ansible to use my modified clone of this repo, instead of the stable pre-installed version.

I believe the documentation is insufficient. In particular `COLLECTIONS_PATHS` should **not** point to the cloned repo, nor the parent of the cloned repo. This is *extremely* counter intuitive, and so should be spelled out.

##### ISSUE TYPE

[2020-11-04 22:33] mdavis-xyz commented on #1043
Ah thanks. Yep that works now.

I've raised #1231 to improve the documentation for this.

[2020-11-04 23:45] briantist commented on #1227
Thanks for submitting this @dr4Ke , I especially appreciate your link to TF code that makes the distinction as a model of how this might be achieved.

Since this plugin relies heavily on the HVAC library we should also maybe look at the support for kv v1 vs v2, to see what existing methods could be used: https://hvac.readthedocs.io/en/stable/usage/secrets_engines/kv.html

And you're right that it

[2020-11-05 06:33] felixfontein commented on #1231
Feel free to create a PR to improve the documentation.

Also, this is **not** an Ansible-maintained collection. It is a community-maintained collection.

[2020-11-05 13:28] hugoprudente opened #1233 "Improve community.general.jira module errors."
##### SUMMARY
The errors outputs are really poor due to the handling below, and doesn't cover all the cases. An example of it is when a timeout happen on the server side as detailed in this issue.

https://github.com/ansible-collections/community.general/blob/24f780ec9aba10f53a4ebb2a7124ee7fdde8dab4/plugins/modules/web_infrastructure/jira.py#L329-L342

##### ISSUE TYPE
- Bug Report

##### COMPONEN

[2020-11-06 05:20] #1231 closed

[2020-11-06 08:12] #997 closed

[2020-11-06 13:50] edperry opened #1237 "DNSMADEEASY TXT record fails on Monitor call"
##### SUMMARY
DNS Made easy returns Bad request
"msg": "https://api.dnsmadeeasy.com/V2.0/monitor/131517074 returned 400, with body: HTTP Error 400: Bad Request"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dnsmadeeasy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux Ubuntu

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The DNS TXT recor

[2020-11-06 14:10] edperry commented on #1237
Running the request a second time, when the entry exists returns a different error

[code]

[2020-11-06 17:48] riton opened #1239 "IPA modules does not seem to catch "failed" error messages"
##### SUMMARY

I'm trying to add a new _usergroup_ member to an `ipa_sudorule` using GSSAPI auth. This is working fine.

The problem occured when I've tried to add a _usergroup_ `usergroup_that_does_NOT_exist` to my my _sudo rule_.
This is expected to fail, since _usergroup_ `usergroup_that_does_NOT_exist` does not exist on the FreeIPA server.

Problem is that the current version of the `community

[2020-11-06 17:57] riton commented on #1239
My current tests shows that a _very naive_:

[code]

is enough to catch such _errors_. I don't really know if this is enough since I'm still trying to find a _good documentation_ of the FreeIPA API that documents the `failed` attribute in the different API versions.

[2020-11-06 19:41] #1137 closed

[2020-11-06 20:09] mraineri commented on #860
@smokes2345 it seems like we added the reset type enhancement in PR #947; do we still need this issue open?

[2020-11-06 20:20] zorino commented on #1069
So this won't be fixed before at least January 2021 ?

[2020-11-06 20:31] felixfontein commented on #1069
Depends. End of November hasn't been yet, so there's still a chance this can be done by then.

[2020-11-06 20:32] aminvakil commented on #1069
PR has been changed since my previous comment, it added a new option called `proxmox_default_behavior` which by default has `compatibilty` value that fills the defaults as it is right now for compatibility reasons. But it can be set to `no_defaults` value and then almost no options would have any default value.

More info on `proxmox_default_behavior` option in `proxmox_kvm` module description:

[2020-11-06 22:45] kaysond opened #1241 "docker_secret isn't changing a secret when the data changes"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-11-06 22:52] kaysond commented on #1241
!component

[2020-11-06 22:57] kaysond commented on #1241
Upon further investigation, it seems the issue may be that the secret lacks a label called `ansible_key`. The rest of my secrets have that.

[2020-11-07 10:27] felixfontein commented on #1241
Did you set the old value with the module as well?

The problem is that it is not possible to retrieve the secret, so the module has to use `ansible_key` to store a hash for being able to check if it changed.

[2020-11-08 07:44] russoz commented on #1045
@bignose-debian any further comments? I believe this is a **Won't Do**, but I wouldn't want to do that unilaterally. On the other hand, it's over 30 days since we last heard from you. Please read the comments we left in the ticket and have your say.

[2020-11-08 22:04] #1044 closed

[2020-11-09 07:39] #290 closed

[2020-11-09 08:43] martinmigasiewicz-tomtom commented on #864
I ran into this problem as well and the issue is the following:

At time X I ran `brew install python3` and brew itself got updated. At that moment the formula was pointing to Python 3.8 (`python@3.8`). The output of `brew info python3` was:

[code]

At time X+n I ran again `brew install python3` and brew updated itself again fetching a new formula Python pointing to `python@3.9`. The output of `b

[2020-11-09 08:43] martinm82 commented on #864
I ran into this problem as well and the issue is the following:

At time X I ran `brew install python3` and brew itself got updated. At that moment the formula was pointing to Python 3.8 (`python@3.8`). The output of `brew info python3` was:

[code]

At time X+n I ran again `brew install python3` and brew updated itself again fetching a new formula Python pointing to `python@3.9`. The output of `b

[2020-11-09 21:31] imjoseangel commented on #953
@saali2016 Thanks for reporting. Which Python version are you using? I've been testing the module under CentOS 6 and it working for me:

[code]

[code]

My command:

[code]

I'm using Ansible 2.9.9 as per your comments:

[code]

What is the Python version are you using?

Honestly, I suffered installing Ansible 2.9.9 under the oldy Centos6. Be aware that you have to point to your Python interpreter

[2020-11-09 22:12] tyler-jpmchase commented on #953
Hi @imjoseangel sorry, it looks like some of the details got mixed up, and you're looking for some more.  Here's a scenario:

Ansible controller: RHEL 7
Controller python version: Python 2.7.17
Ansible version: ansible 2.9.9
Remote target: RHEL 6
Remote Python version: Python 2.6.6

Try recreating it with an SSH connection to a remote RHEL 6 host from a RHEL 7 controller.

Thanks,
Tyler

https://a

[2020-11-10 03:21] jamesharr commented on #816
I have a draft change thrown together in a forked branch. This has not been tested, but I'd like feedback on the the draft API.

https://github.com/jamesharr/community.general/tree/816-proxmox-features

Features can be turned on:
* `features: nesting=1` - turn on nesting
* `features: fuse=1` - turn on fuse
* `features: fuse=1,mknod=1,mount=nfs;cifs,nesting=1` - turn on everything

[2020-11-10 10:42] bendem opened #1257 "docker_container ignores the DOCKER_HOST env var"
##### SUMMARY
The docker_container module doesn't fetch the DOCKER_HOST env var when docker_host is not passed in. The [documentation says it does](https://docs.ansible.com/ansible/latest/collections/community/general/docker_container_module.html#parameter-docker_host).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2020-11-10 15:55] nwerker opened #1259 "hashi_vault lookup plugin should allow environment variable vor Username / Password auth"
##### SUMMARY

Other authentication method parameters like token for instance can be passed via certain environment variables. There should be specific environment variables to pass "username", "password" and "mount_point" parameters to allow for cleaner and more flexible calls when using the lookup plugin with instance or userpass authentication.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT

[2020-11-10 16:43] briantist opened #1261 "hashi_vault - INI value for vault URL should take precedence over VAULT_ADDR env var"
##### SUMMARY

This is similar to https://github.com/ansible-collections/community.general/issues/373

We take the value of `VAULT_ADDR` in the plugin to emulate the vault CLI and use the env var, which is commonly set. In #23 an INI entry was added, but if `VAULT_ADDR` is set the INI value won't be used.

Since `VAULT_ADDR` is a more general value, in the context of Ansible, we should prefer the

[2020-11-10 17:01] briantist commented on #1259
Hi @nwerker ! Most of the original env vars in this lookup were meant to re-use or be compatible with the env vars that the vault CLI uses:
https://www.vaultproject.io/docs/commands#environment-variables

We (*ahem* I) have added additional values with the `VAULT_` prefix but I'm starting to think that's a mistake as I don't want to introduce more ambiguities between what's an Ansible value vs. a

[2020-11-10 17:17] briantist commented on #1261
@felixfontein before I spend time implementing this (as small as it may be), wanted to check in and see if you have any thoughts.

[2020-11-10 19:23] imjoseangel commented on #953
Thanks I will have a look ASAP

[2020-11-10 21:21] felixfontein commented on #1261
Hmm, well, this is a breaking change (strictly taken #902 was one too, but it was different because `$HOME` is almost always set and is usually unrelated to Hashi Vault). I'm not sure what you mean with "Since VAULT_ADDR is a more general value". Can you elaborate on that?

In general, I'm for consistency, and almost everywhere, Ansible prefers environment variables over ini values, so it would be

[2020-11-10 21:57] briantist commented on #1261
Makes sense, my thinking about it being a "more general value" was that `VAULT_ADDR` is often set on the system (in `.bashrc. etc.) for vault CLI operations. If you're running Ansible against vault, you probably want to use the same address, so it makes sense for the plugin to use that value (and I don't want it to stop looking for that value).

But if you set the vault address in `ansible.cfg` it

[2020-11-10 23:44] esend7881 opened #1262 "Add a 'creates' item to the make module"
##### SUMMARY
Please add a `creates` element to the `make` module. Similar to how the `shell` module has a creates element which prevents future runs of the `shell` task, I think a `creates` element should be added to `make`.

I'd rather not re-run `make`.

https://github.com/ansible-collections/community.general/blob/main/plugins/modules/system/make.py

##### ISSUE TYPE
- Feature Idea

##### COMP

[2020-11-10 23:49] esend7881 opened #1263 "Add a 'creates' item to the maven_artifact module"
##### SUMMARY
Please add a `creates` element to the `maven_artifact` module. Similar to how the `shell` module has a creates element which prevents future runs of the `shell` task, I think a `creates` element should be added to `make`.

I'd rather not re-run `maven_artifact`.

https://github.com/ansible-collections/community.general/blob/main/plugins/modules/packaging/language/maven_artifact.py

#

[2020-11-11 05:48] felixfontein commented on #1262
The reason that `shell` and `command` have `creates` is that they have no way to do any idempotency checks at all. On the other hand, Makefiles usually only recreate things that don't exist, or that changed. Depends on the Makefile of course :)

IMO this would be low-priority, but if someone wants to work on this, feel free...

[2020-11-11 05:51] felixfontein commented on #1263
I don't think `creates` makes sense here. The reason that `shell` and `command` have `creates` is that they have no way to do any idempotency checks at all. The `maven_artifact` module does idempotency checking, so I don't think it makes sense to implement this here. Most users will not need this, and if you really need it, you can do it manually with `stat` and `when:`.

[2020-11-11 06:08] felixfontein commented on #1261
I think I now understand the situation better. Nonetheless, I would wait with this change for 2.0.0 since it could break some user's working roles/playbooks. (Doesn't mean you cannot create the PR now, it just won't get merged until beginning of December when we can start preparing 2.0.0 after the last minor 1.x.0 release 1.3.0 happened.)

[2020-11-11 11:56] the02 opened #1266 "load_file_common_arguments() got an unexpected keyword argument 'path"
##### SUMMARY

Template module raises a TypeError: load_file_common_arguments() got an unexpected keyword argument 'path', but file exists in `dest` even the playbook run fails.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

template
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ArchLinux
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

F

[2020-11-11 12:08] felixfontein commented on #1266
Sorry, but you're in the wrong repository. The `template` module (action plugin) is part of ansible-base: https://github.com/ansible/ansible/

In any case, there seems to be something wrong with your ansible-base install.

[2020-11-11 12:14] the02 commented on #1266
oops, yes its my fault, reported in the wrong repo, sorry for that

[2020-11-11 12:14] #1266 closed

[2020-11-11 12:20] felixfontein commented on #1266
No problem, that happens :) Anyway I'm curious what the cause for this error is. I'm guessing that either your installation is broken, or that for some reason module_utils from a wrong Ansible version is used.

[2020-11-11 12:33] #138 closed

[2020-11-11 12:35] the02 commented on #1266
I hope that the packages from ArchLinux are not broken ;) but the hint with module_utils was the correct one. There exists an override in ~/.ansible for basic.py from an 2.9.x install which I completely forgot, cant even remember what for I did some changes there, was something with the validation of datetime format where I needed datetime.date in addition to datetime.datetime

[2020-11-11 12:40] felixfontein commented on #1266
Yep, that explains it (also see my comment in the ansible/ansible issue). Thanks for following up! :)

[2020-11-11 14:01] aminvakil commented on #816
So that it doesn't get missed, whoever wants to work on it, consider that `nfs` and `cifs` work only in privileged containers.
![image](https://user-images.githubusercontent.com/12948692/98820043-e4343400-2442-11eb-9477-177c425f16bf.png)

     * `features: nesting=1` - turn on nesting

     * `features: fuse=1` - turn on fuse

     * `features: fuse=1,mknod=1,mount=nfs;cifs,nesting=1` - turn on ev

[2020-11-11 14:31] jamesharr commented on #816
Re: privileged containers.
Thanks that's worth noting in the docs

Re: passing in options this way.

This is somewhat akin to how networking is configured where the option list is passed to proxmox in raw form. With proxmox handling most of the error checking and validation. It's basically a raw value passed to proxmox

From a user experience perspective, you're right it's probably less than ideal

[2020-11-11 15:43] briantist commented on #1261
Ok, new major version makes total sense, thanks!

As mentioned in a few other issues/PRs I'd like to start taking a closer look at the env vars in use in this plugin and be more careful about precedence and naming. If I attempt to make any changes I'll consider backwards compatibility (as always) and aim for an appropriate version.

[2020-11-11 15:49] briantist commented on #1018
@felixfontein would 3 versions be a comfortable amount to you? My current thinking is something along the lines of testing:
* 1.0.0
* latest 1.x.x (due to S3 needs, this will have to be updated on some pace via PRs, c'est la vie)

And the third version, I'm unsure yet. Maybe some midpoint 1.x, or maybe nothing for now and later that gets filled by the next major version whenever that might be.

If

[2020-11-11 16:01] briantist commented on #1261
@felixfontein one other question, (which I don't know where to ask so asking here): for something like the general idea of the env vars (naming, precedence, etc.) that spans multiple PRs and and is more of a general direction change/guidance for the plugin, is there a way I can track that on its own within the project here?

Like could I use the "Projects" tab in GitHub and make a board or somethi

[2020-11-11 16:11] felixfontein commented on #1261
@briantist if the hashi vault plugin would be in its own repository, I'd suggest using the "Projects" tab. In this repository, I think that won't work well since you probably need special privileges to modify a project. It's best to create an issue and use it to discuss / track the state.

(Another reason to move the plugin to its own collection, next to improving testing :) )

[2020-11-11 17:43] aminvakil commented on #816
Actually I was thinking if the module could check that as well, but it may be a feature idea later.

You're right, but if the module just passes everything user has been said it may lead to problems which debugging it may not be easy, however it can be just passing as it is for now and checking the variables would be a feature idea too. I haven't ever used these features of containers in Proxmox,

[2020-11-11 19:14] esend7881 commented on #1263
I think the `stat` and `when` combination could make this work. Thanks! It will probably work in #1262

[2020-11-11 19:14] esend7881 commented on #1262
Solved in #1263 - thank you!

[2020-11-11 19:14] #1262 closed

[2020-11-11 19:14] #1263 closed

[2020-11-11 21:36] erikgb commented on #1018
@briantist Why do you want to test with multiple versions of Hashicorp Vault? The interface between Vault clients, in our case hvac v/requests, is an API which seems to be very well maintained by Hashicorp - and stable. And it would really surprise me if any of our tests will have a different outcome on versions of Vault - except if there is an actual bug in Vault itself, which is not really our c

[2020-11-11 22:26] briantist opened #1271 "hashi_vault - environment variable guideline proposal"
##### SUMMARY
The `hashi_vault` lookup takes several parameters via environment variables, and recently, some via INI (`ansible.cfg`) as well.

Most of the original vars were intended to re-use [vars that are commonly used in the vault CLI.](https://www.vaultproject.io/docs/commands#environment-variables), like `VAULT_ADDR` and `VAULT_TOKEN`.

Along the way some newer ones have been added that are

[2020-11-11 22:28] briantist commented on #1261
Again, I agree that will probably make sense at some point, and I have some cool ideas on what could possible with a dedicated collection, but I personally don't have the time just yet and I don't want to commit to something I can't make good on.

In the meantime: #1271

[2020-11-12 07:31] felixfontein commented on #1262
Here it definitely makes more sense to add `creates` than for #1263, since Makefiles are not always idempotent.

[2020-11-12 08:06] aminvakil commented on #1165
This should be fixed as https://github.com/ansible-collections/community.general/pull/850 has got merged.

@felixfontein Is there a tag to check this issue again after releasing of 1.3.0 end of the month?

[2020-11-12 18:10] felixfontein commented on #1165
@aminvakil sorry, not really. You'll have to add an event to your calendar, keep the tab open, or use some other manual reminder.

[2020-11-12 19:24] aminvakil commented on #1165
No need to apologies, will keep track of it manually, thanks!

[2020-11-12 19:56] aphsa opened #1277 "Adding routing capability for nmcli"
##### SUMMARY
nmcli does not have means to add +ipv4.route. It only has the means to add default gateway.

##### ISSUE TYPE

Default gateway for the interface may not be enough for all intents and purposes.
##### COMPONENT NAME
nmcli
##### ADDITIONAL INFORMATION
Adding static routes.

[2020-11-12 20:08] n0emis opened #1278 "proxmox lxc - allow update of existing containers"
##### SUMMARY

Allow to update existing containers.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

community.general.proxmox

##### ADDITIONAL INFORMATION

When managing lxc-containers on proxmox from ansible, it is currently not possible to update these containers, e.g. change the ip-address etc. This would be a really good addition, since it is currently needed to update this at multipl

[2020-11-13 08:37] felixfontein opened #1281 "memcached cache plugin: cannot be loaded without raising an error"
##### SUMMARY
The plugin cannot be loaded without raising an error. It should do that when executed, not when being loaded!
[code]
See https://github.com/ansible-collections/community.general/blob/ef49950b96849ba8edcd74953a96a16cfd5d653e/plugins/lookup/consul_kv.py#L111-L116 and https://github.com/ansible-collections/community.general/blob/ef49950b96849ba8edcd74953a96a16cfd5d653e/plugins/lookup/co

[2020-11-13 08:37] felixfontein opened #1282 "redis cache plugin: cannot be loaded without raising an error"
##### SUMMARY
The plugin cannot be loaded without raising an error. It should do that when executed, not when being loaded!
[code]
See https://github.com/ansible-collections/community.general/blob/ef49950b96849ba8edcd74953a96a16cfd5d653e/plugins/lookup/consul_kv.py#L111-L116 and https://github.com/ansible-collections/community.general/blob/ef49950b96849ba8edcd74953a96a16cfd5d653e/plugins/lookup/co

[2020-11-13 08:37] felixfontein opened #1283 "linode inventory plugin: cannot be loaded without raising an error"
##### SUMMARY
The plugin cannot be loaded without raising an error. It should do that when executed, not when being loaded!
[code]
See https://github.com/ansible-collections/community.general/blob/ef49950b96849ba8edcd74953a96a16cfd5d653e/plugins/lookup/consul_kv.py#L111-L116 and https://github.com/ansible-collections/community.general/blob/ef49950b96849ba8edcd74953a96a16cfd5d653e/plugins/lookup/co

[2020-11-13 08:37] felixfontein opened #1284 "gcp_storage_file lookup plugin: cannot be loaded without raising an error"
##### SUMMARY
The plugin cannot be loaded without raising an error. It should do that when executed, not when being loaded!
[code]
See https://github.com/ansible-collections/community.general/blob/ef49950b96849ba8edcd74953a96a16cfd5d653e/plugins/lookup/consul_kv.py#L111-L116 and https://github.com/ansible-collections/community.general/blob/ef49950b96849ba8edcd74953a96a16cfd5d653e/plugins/lookup/co

[2020-11-13 09:25] SWADESNA opened #1286 "RFE:Develop mssql database module which can query read/write/stored procedures to & from database"
##### SUMMARY

Currently there is only one module available for mssql mssql_db.
**mssql_db – Add or remove MSSQL databases from a remote**

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- Mssql Database Modules
##### ADDITIONAL INFORMATION

[code]

[2020-11-13 11:21] #723 closed

[2020-11-13 15:30] gundalow opened #1292 "Move remaining Google Content into community.google"
#### SUMMARY

- [ ] What needs moving
- [ ] How to move
- [ ]  Add to ansible.in

Background:
* https://github.com/ansible-collections/overview/discussions/117#discussioncomment-108048
* https://github.com/ansible/community/issues/539#issuecomment-720085434

##### Notes to add to docs
* Copy git histort

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-11-13 15:40] Aversiste commented on #816
For me it is less confusing if all array-like variables are treated the same way.

[2020-11-13 16:04] Aversiste commented on #1278
This is actually harder than it looks as a careless update will destroy and recreate the network devices instead of updating them.

I am working on this problem for `proxmox_kvm`.

[2020-11-13 16:43] bamsammich opened #1293 "Proxmox dynamic inventory can't process template"
##### SUMMARY

Proxmox inventory plugin seems to have issues processing templates in proxmox inventory. It does access the cluster, but returns an error when it gets to my only template.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.general.proxmox

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing changed.

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

* Cre

[2020-11-13 21:01] #1281 closed

[2020-11-13 21:01] #1282 closed

[2020-11-13 21:01] #1283 closed

[2020-11-13 21:01] #1284 closed

[2020-11-13 22:04] neumantm opened #1299 "Module locale_gen requires /usr/sbin to be in path"
##### SUMMARY
The locale_gen module needs `/usr/sbin` to be in the `PATH` for the module to work.
This is typically not the case when using debian and `become=True`, as `/usr/sbin` is not in the `PATH` for normal users and sudo defaults to using the `PATH` of the caller.

This has been reported before in the official repo: https://github.com/ansible/ansible/issues/34836

##### ISSUE TYPE
- Bug Rep

[2020-11-13 22:07] haslersn commented on #1299
Maybe the module should run `bash -l -c locale-gen` instead of `locale-gen`.

[2020-11-13 22:13] felixfontein commented on #1299
Please note that Ansible 2.4 is seriously out of date. Please upgrade to something that is still maintained.

About this issue: you could simply use the `environment:` keyword (https://docs.ansible.com/ansible/latest/user_guide/playbooks_environment.html) to set `PATH` correctly for this task.

[2020-11-13 22:13] neumantm commented on #1299
That would by in the following line, btw:
https://github.com/ansible-collections/community.general/blob/0109310aa2696e8ec9633a04248c9b8f43a15579/plugins/modules/system/locale_gen.py#L147

[2020-11-13 22:16] neumantm commented on #1299
Thanks for the advice.
However, I thin requiring users (on a very common distribution like debian) to manually set the `PATH` is a workaround and not a solution.

[2020-11-14 10:23] mator commented on #1299
current ansible in debian 10 is 2.7.7 , anything that stop you to upgrade to it ?

[code]

[2020-11-14 10:46] felixfontein commented on #1299
I don't think that's a good solution. It's probably better to either check whether `/sbin/locale-gen` exists and is executable in case no executable is found, or to have some special OS-dependent logic which finds `/sbin/locale-gen` on Debian if `locale-gen` is not on `$PATH`.

@mator 2.7.7 is a lot better than 2.4.0, though it's still unmtainained and no longer receives security fixes (https://do

[2020-11-14 10:53] felixfontein commented on #1293
!component =plugins/inventory/proxmox.py

[2020-11-14 10:55] felixfontein commented on #1293
CC @Thulium-Drake @Aversiste

[2020-11-14 15:19] felixfontein commented on #578
This is partially resolved by ansible/ansible#72497. Having some slightly better tests would of course also be good :)

[2020-11-14 16:11] haslersn commented on #1299
It's probably Ansible 2.4 because the issue was copied from here: https://github.com/ansible/ansible/issues/34836

However, I can confirm that the issue still exists with Ansible 2.10.0.

The OP said that the _controlled machine_ (i.e. remote) has Debian 10.

[2020-11-14 16:36] felixfontein commented on #1299
I just tried this with a Debian 10 server, and it worked without any problem. My playbook:
[code]
(Ran it both with `present` and then `absent`.)

I didn't do any special config on that machine. The user Ansible logged in with can sudo without password. The `sudoers` entries are
[code]
I'm not using special become flags etc., just a plain
[code]
in my `ansible.cfg`.

[2020-11-14 16:53] haslersn commented on #1299
Is there a line in `/etc/sudoers` that begins with `Defaults secure_path`?

[2020-11-14 17:00] felixfontein commented on #1299
Yes:
[code]
It's Debian's default though, AFAIK, since I never touched `/etc/sudoers`. I only added files with new rules to `/etc/sudoers.d/`. To verify, I downloaded the package (https://packages.debian.org/buster/sudo, http://ftp.ch.debian.org/debian/pool/main/s/sudo/sudo_1.8.27-1+deb10u2_amd64.deb) and extracted it, and its `/etc/sudoers` also contains
[code]
If you don't have that line, it see

[2020-11-14 17:33] neumantm commented on #1299
Ok, my bad, I thought, that was the default.

I guess this is not a big problem then.
Therefore, I will close this issue.

For anyone else having a similar problem the discussion above should be enough to figure it out.

[2020-11-14 17:33] #1299 closed

[2020-11-14 19:21] wkoszek opened #1302 "Gitlab runner: Can't register a Gitlab runner b/c of HTTP 403 error + stacktrace"
##### SUMMARY

I'm running a playbook from below. The intent is to add a custom GitLab runner, which I've provisioned in AWS via Terraform. This custom runner is meant to be integrated with gitlab.com environment.

I'm getting a hard-crash of Python from my Ansible playbook with HTTP 403 returned from GitLab library. Unclear which step it fails at, even though I'm passing -vvvv to `ansible-playboo

[2020-11-14 23:10] Thulium-Drake commented on #1293
Can you provide a bit more information?

* What is the name of the template? Does it have any special characters in it?
* Can you run the inventory command with ```-vvv```?

[2020-11-15 10:04] russoz commented on #1045
wontfix the module already provide a mechanism to address the described scenario

[2020-11-15 10:06] russoz commented on #1045
notabug see last comment

[2020-11-15 10:06] #1045 closed

[2020-11-16 03:21] bignose-botc commented on #1045
Thanks for discussing.

Why is that a bother for this issue in particular?

The issue reported, is that a canonical way to run the management commands is not working with this module.

That is, it should work *without* needing some non-default setting.

[2020-11-16 03:34] bignose-botc commented on #1044
The problem is, “project path” is not accurate (nor is “app path”). The directory where we want to run `python3 -m django` is *not* necessarily an app path nor a project path, because that command works correctly from other directories.

That's why I'm suggesting `chdir` as the canonical name for the option, because that is accurate to its purpose (and neither `app_path` nor `project_path` are str

[2020-11-16 04:13] e28eta opened #1307 "MacPorts fails to install package whose name is contained within already installed package"
##### SUMMARY
The `community.general.macports` module is failing to install a requested package, because that package's name occurs within another, already installed package.

It checks to see if a package is installed by listing all installed packages, and then grepping for `^.*%s`, considering the requested package installed if there is at least one match. Unfortunately, this *also* matches if t

[2020-11-16 07:53] kristvanbesien opened #1311 "redhat_subscription should allow setting port and prefix"
##### SUMMARY

Make it possible to set the prefix and port used for subscribing.

This can be done by adding two parameters:
server_prefix
server_port

These set the prefix and port variables in /etc/rhsm/rhsm.conf

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
redhat_subscription

##### ADDITIONAL INFORMATION

[code]

[2020-11-16 08:20] e28eta commented on #1307
I don't have many packages installed, but after a quick look at what I do have, here're a couple other obvious package pairs that are broken (in addition to git/gh):

- `bzip2` causes macports.py to think `zip` is already installed
- `gdbm` blocks `gdb`

[2020-11-16 11:27] #695 closed

[2020-11-16 15:43] bamsammich commented on #1293
@Thulium-Drake I've only configured the inventory plugin, which name and content you can see above. There are no special characters in it. Below is the output from `-vvv`:

[code]

I didn't see reported issues for this, but it should be resolved by #1185. At this point, I think waiting a couple weeks for a new release is all that's needed.

[2020-11-16 20:24] #559 closed

[2020-11-16 20:41] #709 closed

[2020-11-17 06:00] bajecogem83 opened #1320 "Ggg"

[2020-11-17 06:09] #1320 closed

[2020-11-17 12:57] devster31 opened #1323 "snap: module should interact with the API, not run a command"
##### SUMMARY

Snap exposes a REST API via a local socket (and HTTPS TCP sockets are under consideration).
Instead of running commands, the module should probably interact with the API directly, which would provide more consistent outcomes and a broader range of actions (such as asyncronous execution and configuration management of snaps as described in #666).

##### ISSUE TYPE
- Feature Idea

###

[2020-11-17 13:27] felixfontein commented on #1323
I think nobody worked on this module since it's creation in ansible/ansible#44939. I guess if someone wants to work on this, nobody will stop them :)

[2020-11-17 14:06] FF186 opened #1324 "community.vmware.vmware_vm_inventory not using same certificate storage as community.vmware.vmware_modules"
##### SUMMARY
I've followed the steps for _Installing vCenter SSL certificates for Ansible_: https://docs.ansible.com/ansible/devel/scenario_guides/vmware_scenarios/vmware_requirements.html#using-custom-path-for-ssl-certificates

**Question**
Are the modules and the dynamic inventory using different certificate storage or are they both using from OS-wide certifications?
##### ISSUE TYPE
- Bug Repo

[2020-11-17 14:24] Thulium-Drake commented on #1293
If you want, you can try downloading the file from the main branch and replace it, the changes were all in the module file, so you shouldn't run into any dependency issues

[2020-11-17 14:29] felixfontein commented on #1324
This is **not** a repository for the community.vmware collection.

[2020-11-17 15:32] xuyangbocn opened #1325 "hashi_vault plugin in lookup module has insufficient support for hashicorp integration"
##### SUMMARY
Hashicorp vault has a python SDK `hvac` that exposes various APIs.
`hashi_vault` plugin made use of this SDK, however the integration is not complete

##### ISSUE TYPE
- Feature Idea
Currently when `hashi_vault` plugin calls `hvac` for authentication through `auth_aws_iam_login` method, not all parameters are passed in. The function call in `hashi_vault` plugin (mentioned below) shou

[2020-11-18 02:04] cdbunch72 opened #1326 "Update linode inventory plugin to create groups from tags includes proposed patch"
##### SUMMARY
Add the ability to use tags to create groups.  This patch implements keyed_groups and groups options.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/plugins/inventory/linode.py

##### ADDITIONAL INFORMATION
On further research, it makes more sense to implement the standard keyed_groups, groups, and compose options.
[code]

[linode-keyed_groups.diff.txt](https://gi

[2020-11-18 04:16] Akasurde commented on #1324
Migrated to correct repository - https://github.com/ansible-collections/community.vmware/issues/504. @felixfontein Thanks for identifying that. @FF186 Please follow above issue.

[2020-11-18 04:16] #1324 closed

[2020-11-18 04:25] russoz commented on #1045
I will answer backwards:

2. Quick googling:

- https://www.google.com/search?q=site%3Ahttps%3A%2F%2Fdocs.djangoproject.com%2Fen%2F3.1%2F+%22python+-m+django%22  => 4 results
- https://www.google.com/search?q=site%3Ahttps%3A%2F%2Fdocs.djangoproject.com%2Fen%2F3.1%2F+%22.%2Fmanage.py%22  => 107 results

Can you please provide some evidence to back your claim that `python -m django` is the canonical

[2020-11-18 04:40] russoz commented on #1044
Hi @bignose-botc , as in the other ticket you are making claims that doesn't seem to be consistent with the django documentation.

- https://docs.djangoproject.com/en/3.1/intro/tutorial01/
- https://docs.djangoproject.com/en/3.1/glossary/#term-project

The command we use to create something from scratch is, as you certainly know: `python -m django startproject <project-name>`, and that creates the

[2020-11-18 06:38] FF186 commented on #1324
Sorry for this @felixfontein. Must've been multiple browser windows in the late hours...

[2020-11-18 21:09] danie1k opened #1328 "Double quoting value to set in xfconf.py"
##### SUMMARY
Shell command's arg values are double quoted in the following line:

https://github.com/ansible-collections/community.general/blob/d95910963b87e9efba2aed1b527a2f8e4d6ee7ae/plugins/modules/system/xfconf.py#L199

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]

Bug has been been added recently, in pull request #693. Affects versions > 0.2.1.

##### ANSIBLE VERSION
*Not relev

[2020-11-18 21:12] danie1k commented on #1328
!component =community.general/plugins/modules/system/xfconf.py

[2020-11-18 21:15] danie1k commented on #1328
!component =plugins/modules/system/xfconf.py

[2020-11-18 22:42] russoz commented on #1328
@danie1k Thanks for reporting this! This will likely be fixed by #1322 , but will write a test for that case, to be sure.

[2020-11-18 23:26] danie1k opened #1329 "Impossible to remove xfconf property without setting Playbook value"
##### SUMMARY
Intuitively, the `value` should not be needed for property removal (`state: absent`), but unfortunately it is required due to bug in the following line:

https://github.com/ansible-collections/community.general/blob/d95910963b87e9efba2aed1b527a2f8e4d6ee7ae/plugins/modules/system/xfconf.py#L289

If `value` is not given in playbook, the value of `xfconf.value` is None, but in Python:
[

[2020-11-18 23:29] danie1k commented on #1329
Minimal version that works is:
[code]

[2020-11-19 00:59] russoz commented on #1329
Thanks for that one too, I also believe it will be fixed by #1322 , as `value` is not required for the `absent` state.

[2020-11-19 19:51] #1041 closed

[2020-11-20 10:21] pescobar opened #1335 "nios_host_record module doesn't allow to remove an alias/cname"
##### SUMMARY

When updating a host object to remove an alias (CNAME) module `nios_host_record` doesn't detect the removed alias and doesn't update the host object. It only updates the host object when adding extra aliases.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nios_host_record

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
We are running ansible

[2020-11-20 12:15] p-v-a opened #1337 "cloudforms inventory script issue"
I was trying to use this script to pull inventory from ManageIQ instance running Jansa release.

It looks pagination done wrong here:
https://github.com/ansible-collections/community.general/blob/e3fcc7de2a17d5969a0eb60b672ce0110dee65dd/scripts/inventory/cloudforms.py#L259-L265
or Manage IQ changed default behavior, but I was getting all 663 records, but only 320 unique records.

it turned out  th

[2020-11-20 14:41] bamsammich commented on #1293
Pulling the proxmox inventory script works as a workaround until a new version of the collection is released. Thanks!

[2020-11-20 14:41] #1293 closed

[2020-11-20 16:33] maglite4cell opened #1340 "community.general.docker_container throws fatal error deprecate() got an unexpected keyword argument 'collection_name'"
##### SUMMARY
When trying to create a docker container, a fatal error is thrown. stderr: deprecate() got an unexpected keyword argument 'collection_name'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.general.docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.04.1 LTS

##### STEPS TO REPRODUCE

Do on remote Server
1. Buil

[2020-11-20 18:42] felixfontein commented on #1340
See the README (https://github.com/ansible-collections/community.general/blob/main/README.md), it says `Ansible versions before 2.9.10 are not supported.`.

If you upgrade your Ansible to 2.9.10 or newer, or switch to Ansible 2.10 or ansible-base 2.10, it will work (or at least fail for a different reason :) ).

[2020-11-20 18:42] #1340 closed

[2020-11-20 19:46] felixhopfauf opened #1342 "Proxmox: "net" do not configure network card"
##### SUMMARY
Can't set any configuration with the parameter net in "proxmox_kvm"
I can see my options in proxmox Syslog but nothing will be configured.

Using latest repo from github

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.general.proxmox_kvm
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 10 WSL on Windows 10 20H2

##### STEPS TO

[2020-11-21 10:14] felixfontein commented on #1337
!component =scripts/inventory/cloudforms.py

[2020-11-21 10:21] felixfontein commented on #1337
Apparently the script is unmaintained. The chances of it getting fixed will be increased a lot if you can create a PR for your suggested change :)

[2020-11-22 11:21] #787 closed

[2020-11-22 12:35] felixfontein commented on #582
I plan to release 1.3.0 in four days (Thursday, November 26th).

[2020-11-23 17:22] geerlingguy opened #1366 "YAML stdout callback plugin doesn't output stdout from command module"
##### SUMMARY

Issue migrated from https://github.com/ansible/ansible/issues/39122

##### ISSUE TYPE

 - Bug Report

(Though maybe this is a feature idea?)

##### COMPONENT NAME

plugins/callback/yaml.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When using the Ansible default configuration (`default` stdout callback plugin), and runnin

[2020-11-23 17:41] felixfontein commented on #1366
The `default` callback does *not* print the command stdout. The output you see in the above ad-hoc command comes from the `minimal` callback (https://github.com/ansible/ansible/blob/devel/lib/ansible/cli/adhoc.py#L143).

[2020-11-24 16:45] peter- opened #1379 "Apache2 module workaround for Shibboleth needs updating"
##### SUMMARY

The workaround for Shibboleth previously added in [#20341](https://github.com/ansible/ansible/pull/20341) no longer works (on Debian 10) since the module *name* has meanwhile been changed from `shib2` (for which a workaround [currently exists](https://github.com/ansible-collections/community.general/blob/a1c03a3cfea17fdecf7b333a4f5665707283875d/plugins/modules/web_infrastructure/apa

[2020-11-24 16:59] felixfontein commented on #1379
Feel free to create a PR. (If you do, please include a [changelog fragment](https://docs.ansible.com/ansible/devel/community/development_process.html#changelogs-how-to).)

[2020-11-24 22:15] peter- commented on #1379
Btw, how would I create a changelog fragment named after the PR number ("To create a changelog entry, create a new file with a unique name in the changelogs/fragments/ directory of the corresponding repository. The file name should include the PR number") when I add and commit the fragment file before ever creating the PR and hence don't know the PR number at the time I commit the changes? Create

[2020-11-25 06:27] felixfontein commented on #1379
@peter- you could just create the PR without the fragment, and then add another commit with the fragment.

[2020-11-25 16:56] aminvakil commented on #1325
!component = plugins/lookup/hashi_vault.py

[2020-11-25 17:50] briantist commented on #1325
Hi @xuyangbocn , could you expand what parameters you want to be passed in, or what functionality is missing for you? As written, it's unclear what feature(s) you're looking for in this lookup plugin.

[2020-11-25 21:02] JuddTracy-DAS commented on #1342
So the proxmox server is reporting that it is getting the setting passed to it?  I don't see anything necessarily wrong.  Have you tried adding quotes around the json you are passing in there? If you look at the examples the quote the json.

Looking at your task though you are going to have problems with looping over VMs and passing them all the same MAC address for the network.

[2020-11-25 21:43] JuddTracy-DAS opened #1394 "pamd module removes comment when inserting a rule before another rule"
##### SUMMARY
When trying to add a new rule before an existing rule the comment that is on the line before the existing rule is removed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pamd

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
Running the following playbook on a Proxmox 6.2 (debian buster) system.

[code]

##### EXPECTED RESULTS
I expect the the file /etc/pam.d/common-auth

[2020-11-26 05:59] #1307 closed

[2020-11-26 06:26] #1379 closed

[2020-11-26 08:41] Aversiste commented on #1342
Hello @felixhopfauf,

`net` is not a valid parameter when cloning another VM or template. It _should_ be for the `update` action but it's currently not.

[2020-11-26 09:21] felixhopfauf commented on #1342
@JuddTracy-DAS
Mac Address was only for example in my real script the is a variable for the mac.

@Aversiste
Hello Aversiste,

i rewrite the code to do an update after creating vms but seems the same behavior:

Prox Syslog:
Invoked with api_user= api_password=NOT_LOGGING_PARAMETER api_host=prox01 node=prox01 name=con01 update=True net={'net0': 'virtio,bridge=vmbr0,tag=36'}

But Tag is not set.

Th

[2020-11-26 10:08] Aversiste commented on #1342
Having two subsequent tasks, one for cloning and the second for updating, is the right way to go in my opinion. But right now `update: yes` will silently drop the `net` parameter. It only works with small subset of parameters such as `cores`, `keyboard` or `memory`.

You can workaround by sshing to the proxmox host and using `qm(1)`:

[code]

This is an annoyance I am working on but I got sidetrac

[2020-11-26 13:41] felixfontein commented on #582
1.3.0 has been released. The next 1.x.y release will be 1.3.1, whenever there is sufficient content.

The next version including new features will be 2.0.0, planned for end of January 2021.

[2020-11-26 17:04] JuddTracy-DAS commented on #1342
@Aversiste I was working on the issue too but got pulled onto another project.  I plan on eventually getting back to it.

@felixhopfauf If you don't mind keeping a custom version of the module you can modify it so that it does not remove net options on modify.  The original author stated it was for security reasons, but I am not sure why that would be.  If you do modify it the biggest caveat that

[2020-11-26 19:36] aminvakil commented on #1165
@hads0m As stated by https://github.com/ansible-collections/community.general/issues/1165#issuecomment-715957166 this has been fixed and [community.general 1.3.0 has been released a couple of hours ago](https://github.com/ansible-collections/community.general/issues/582#issuecomment-734305048) which included the fix, could you please check if your issue has been resolved or not after updating to c

[2020-11-26 19:38] aminvakil commented on #1165
needs_info

[2020-11-26 19:39] russoz commented on #1328
@danie1k community.general 1.3.0 that's been just released contains the fix.

resolved_by_pr #1322

[2020-11-26 19:39] russoz commented on #1329
@danie1k community.general 1.3.0 that's been just released contains the fix.

resolved_by_pr #1322

[2020-11-26 19:40] aminvakil commented on #1277
I guess this could be resolved by https://github.com/ansible-collections/community.general/pull/1260.

[2020-11-26 19:44] aminvakil commented on #816
@jamesharr Would you want to create a PR regarding this issue?

[2020-11-26 19:45] russoz commented on #1328
@danie1k can you please confirm this is no longer a problem?

[2020-11-26 19:45] russoz commented on #1329
@danie1k can you please confirm this is no longer a problem?

[2020-11-26 21:23] hads0m commented on #1165
@aminvakil updated to latest version right now, tried running it again and the same error still shows. The only way I have got it "working" for now was by commenting out the "force=module.params['force']," declaration from the "proxmox_kvm.py" script (line no. 1305), but that is definitely not a solution of course.

[2020-11-26 21:37] Aversiste commented on #1165
@hads0m Are you sure you used the `proxmox_default_behavior: no_defaults` parameter? It did the trick for me.

[2020-11-26 21:42] hads0m commented on #1165
@Aversiste I can confirm that using `proxmox_default_behavior: no_defaults` is what made it work. Thank you for the advice!

[2020-11-26 21:43] Aversiste commented on #1165
Good :)

[2020-11-27 08:41] jenoOvchi opened #1410 "proxmox_kvm module does not return сommon and specific return values"
##### SUMMARY
proxmox_kvm module does not return сommon and specific return values.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
proxmox_kvm module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OSX Catalina 10.15.5 (19F101)

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

For me is the most critical that it do

[2020-11-27 10:36] henti opened #1411 "homebrew_tap: failed to tap: isen-ng/dotnet-sdk-versions"
##### SUMMARY
Trying to tap https://github.com/isen-ng/homebrew-dotnet-sdk-versions fails with error. Running the brew commands is successful.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
homebrew_tap

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux Mint 19.3 Tricia

##### STEPS TO REPRODUCE

[code]

I've even tried adding `url: https://github

[2020-11-27 12:09] xenlo commented on #1069
Some updates collected from issue #1165:
- This should be fixed as #850 has got merged.
- That PR should be included in community.general 1.3.0
- community.general [1.3.0 has been released](https://github.com/ansible-collections/community.general/issues/582#issuecomment-734305048) a couple of hours ago

[2020-11-27 12:26] #1165 closed

[2020-11-27 12:27] #1069 closed

[2020-11-27 12:55] felixfontein commented on #1410
Almost *no* module returns all these:
[code]
(I removed the ones that the module promises to return.) Please be more specific, which ones do you expect in which cases, and with what content?

[2020-11-27 13:21] jenoOvchi commented on #1410
Right now I realy need only in vmid. But i think it will be great to return next common values:
"diff" - VM configuration difference for update;
"failed" - fail description for error tasks;
"results" - execution results in JSON;
"skipped" - configuration changes that do not apply during task execution;
"stderr" - error stacktrace.

[2020-11-27 14:15] Aversiste commented on #1410
Such a `diff` result would be nice to have indeed but it should be in an `_info` module, `proxmox_kvm` is too fat already.

`skipped` is not doable right now as `update: yes` is always considered successful. There are many problems with this code path and we are working on it.

[2020-11-27 14:20] jenoOvchi commented on #1410
Ok, thanks!
Whats about vmid?

[2020-11-27 14:23] Aversiste commented on #1410
`vmid` is easy to implement. Right now you can try to somewhat parse `msg` but that's a bit awkward to do.

[2020-11-27 14:23] felixfontein commented on #1410
Please note that `skipped` is a value set by Ansible, and should not be set by a module. Same for `failed`, it is set automatically when the module fails.

[2020-11-27 14:31] matthieu-eck opened #1412 "Cartesian product result is flattened when there is only one result"
##### SUMMARY
When running Cartesian product with two lists that contain only one item, the result of the lookup plugin is flattened.
This is most likely happening outside the lookup plugin itself.
I am not sure it is the expected behavior. If it is expected you can close this bug report.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONM

[2020-11-27 14:34] jenoOvchi commented on #1410
Yes, i'm already think about it.
I have found vmid parameter in documentation - https://docs.ansible.com/ansible/latest/collections/community/general/proxmox_kvm_module.html#parameters
Maybe it is already implement, but has been lost in the merges?

[2020-11-27 14:37] felixfontein commented on #1412
Have you tried using `q` instead of `lookup` (https://docs.ansible.com/ansible/latest/plugins/lookup.html#forcing-lookups-to-return-lists-query-and-wantlist-true)?

[2020-11-27 20:43] felixfontein commented on #1410
It's definitely a bug that the documented values (`devices`, `mac`, `status`, `vmid`) are not returned. So either the documentation is wrong, or the module.

[2020-11-28 07:43] lifeisafractal commented on #1328
I ran into this issue with the current release of Ansible (2.10), and installing the 1.3 release of community.general from Ansible Galaxy did indeed fix the issue for me.

[2020-11-28 09:08] jenoOvchi commented on #1410
Yes, I think so too.

[2020-11-28 10:08] felixfontein commented on #1328
Please note that if you installed a collection manually, you will stick to that version even if you install a newer version of Ansible which containers a newer version of the collection (the collections with Ansible are installed in a place that's behind in the search path for collections, so your manually installed community.general 1.3.0 will hide the one coming with Ansible). The next release o

[2020-11-28 11:31] russoz commented on #1328
Thanks for confirming @lifeisafractal !
@felixfontein I think we can close this one, what do you think?

[2020-11-28 11:38] felixfontein commented on #1328
@russoz I guess so. You can also do that by writing `close_me` in a new comment, the bot should close it since you're a maintainer now :)

[2020-11-28 11:42] #1328 closed

[2020-11-28 16:06] lifeisafractal commented on #1328
@felixfontein, thanks for the info on that one! I wouldn't have been aware of that.

[2020-11-28 16:20] lifeisafractal opened #1418 "xfconf not setting return values as stated in documentation"
##### SUMMARY

The xfconf documentations that it will return several values related to the operation (channel, previous_name, property, value, value_type). None of these are getting set ever.

This looks like it might have got missed during the recent refactor in #1322 by @russoz. There is a method named  `update_xfconf_output()` in the `XFConfProperty` class that looks like it would be the right

[2020-11-28 17:53] lifeisafractal commented on #1418
After looking into it a bit more, I think this got missed due to a bug in the test logic. This code will fail to asset for the presence of `value` and others in the output. This logic will skip the asserts if it is missing in the output which is not really what I we want I think.
https://github.com/ansible-collections/community.general/blob/main/tests/unit/plugins/modules/system/test_xfconf.py#L33

[2020-11-28 19:03] lifeisafractal commented on #1418
Random question that someone watching the PR might have an answer to. I've used pytest in the past and it does re-writing of asserts such that you get a useful output showing you have various variables expand making debugging much much eaiser. This seems to not happen when using `ansible-test`. I _think_ this might be related to this Ansible PR (ansible/ansible#62120), but I really don't know enou

[2020-11-28 20:58] russoz commented on #1418
@lifeisafractal thanks for spotting this! My first response is "oopsie!". I wrote that method but apparently I forgot to put it to use.

The underlying problem here is that, historically, the modules *never returned values*, instead it set `ansible_facts`, which would be akin to a function setting values to global variables. I wrote that methos to have the values being added both to the facts (to

[2020-11-28 21:17] lifeisafractal commented on #1418
@russoz thanks for the info and no problem, I've had my fair share of "oopsies" in the past too!

I'm pretty new to Ansible and am not yet super clear on best practices. My use case was checking the panel config of XFCE to see if I had added a pager to it or not yet which is a little more advance than just a simple check. I figured I could register the output and then run a second task that does t

[2020-11-29 00:18] russoz commented on #1418
@lifeisafractal I would not describe myself as "seasoned" in Ansible, even though it's been a year or so since I started putting my hands on it.

Repsonding your question, though, in theory, registering the output should be preferred to _facts_ (they are pretty much like global variables in that sense), but also in theory we should have two separate modules, one would be something like `xfconf_inf

[2020-11-29 00:22] russoz commented on #1418
shipit

[2020-11-29 05:41] russoz commented on #1329
close_me I will assume this is OK per the code, but in case it still fails, please just reopen the issue. Thx

[2020-11-29 05:45] #1329 closed

[2020-11-29 06:05] russoz commented on #630
@ziima ansible's new release should be available next week - as that happens, we will be able to patch the module to use that extra parameter on `run_command()` and wrap this issue up.

[2020-11-29 12:23] felixfontein commented on #1418
I would really prevent returning facts if possible, especially adding new ones. Adding new facts always increases the chances of randomly breaking things, if someone else already used that name somewhere. (I guess there are some people who think differently of facts, but I really, really dislike them in general - but then I also prefer explicit over implicit in general. There are some cases where

[2020-11-29 12:28] felixfontein commented on #630
@russoz two points:
1. ansible-base will be released in ~two weeks, so it will be included in the Ansible release in ~4 weeks.
2. we cannot use that extra parameter on `run_command` for a longer time since we also support older versions of ansible-base and ansible 2.9. You'll need to add some special logic to handle older versions for this.

[2020-11-30 08:10] matthieu-eck commented on #1412
Indeed @felixfontein, `q` return a list and solves my problem. Thanks!

[2020-11-30 08:10] #1412 closed

[2020-11-30 12:27] IshwarKanse opened #1420 "Archive module runs in a loop archiving the file generated by it, when the src and dest directory are the same."
##### SUMMARY
The archive module runs in a loop archiving the file generated along with the files specified in a directory. This happens  when we are adding the destination file in the same directory path.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Archive module

##### ANSIBLE VERSION
Ansible 2.9.9

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.8.2003 (Core)

#####

[2020-11-30 14:15] jklaiho opened #1421 "Add --no-optional to the npm plugin"
##### SUMMARY

community.general.npm should support the `--no-optional` argument.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

community.general.npm

##### ADDITIONAL INFORMATION

The `npm` plugin should support the `--no-optional` argument of the `npm` command. It is helpful in solving certain issues with package installation.

For example, using the `npm` module to install `statsd` (a

[2020-11-30 14:20] jklaiho commented on #1421
!component =plugins/modules/packaging/language/npm.py

[2020-12-01 14:22] rik2803 opened #1425 "bitbucket_pipeline_variable fails when more than 10 BB repository variables exist and variable to change is not "on the first page""
##### SUMMARY

`community.general.bitbucket_pipeline_variable` fails when more than 10 BB repository parameters exist

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`bitbucket_pipeline_variable`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

* Create a bitbucket repo with more than 10 pipeline variables
* Create a playbook to c

[2020-12-01 16:15] #1325 closed

[2020-12-01 16:37] briantist commented on #1259
Hi @nwerker , continued development of the hashi_vault plugin will take place in the community.hashi_vault collection, so this PR will be closed in this repo.

As mentioned there are current workarounds for this, but if you'd still like to see new environment vars for these params, please submit a new request in that collection. Thank you!

close_me

[2020-12-01 16:38] #1259 closed

[2020-12-01 17:32] danie1k commented on #1329
@russoz, sorry for lack of feedback. I was very busy lately. I'll check the latest version and let you know in a few days.

[2020-12-01 20:38] btravouillon commented on #949
See #1426

[2020-12-01 21:13] #1421 closed

[2020-12-01 21:53] adam-kosseck opened #1430 "java_keystore handling password parameter incorrectly"
##### SUMMARY

The Java_keystore module help reports the password parameter for the module as as:
"Password that should be used to secure the key store.".
In both examples in the module documentation it is shown as being used like this: `password: changeit`

When a password is passed to the module in this way it fails.  Running the module in verbose mode I can see it is invoked like this:
`"cmd":

[2020-12-01 22:11] felixfontein commented on #1430
I'm not sure which version of the module you're running, but the one included in Ansible 2.9.15 uses the `pass:` prefix (https://github.com/ansible/ansible/blame/stable-2.9/lib/ansible/modules/system/java_keystore.py#L203), and the one in this collection uses `stdin` (https://github.com/ansible-collections/community.general/blob/main/plugins/modules/system/java_keystore.py#L213).

Do you have a mo

[2020-12-01 22:11] felixfontein commented on #1430
needs_info

[2020-12-01 22:35] adam-kosseck commented on #1430
This module was installed from the Red Hat Ansible repository:
`ansible-2.9.15-1.el8ae.noarch : SSH-based configuration management, deployment, and task execution system
Repo        : ansible-2.9-for-rhel-8-x86_64-rpms
Matched from:
Provide    : ansible = 2.9.15-1.el8ae
`

[2020-12-01 22:48] felixfontein commented on #1430
How did you actually verify that the command was really run with `-passout 'changeit'`? Because the output in `cmd` is censored by Ansible, no matter what comes after `-passout` will always be replaced by `'********'` (see https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L2504-L2520).

[2020-12-01 22:55] adam-kosseck commented on #1430
I copy and pasted the command shown with `ansible-playbook -vvv` and substituted the values to suit being run directly on the target machine.
When run manually with the "pass:" prefix the openssl command succeeds.

[2020-12-01 23:02] adam-kosseck commented on #1430
If there is a way to get more information as to the cause of the failure under the hood I'm happy to try and help

[2020-12-02 06:37] felixfontein commented on #1430
A potential problem is that you are specifying a **path** instead of the certificate's contents.

[2020-12-02 09:44] guard43ru commented on #1302
Hello, same bug:

[code]

One additional question, why needed "api_token" when a runner can be registered without it, and I must manually get and set "register_token"?
[code]

[2020-12-02 12:34] DerDanilo commented on #1165
When will the documentation receive an update?
https://docs.ansible.com/ansible/latest/collections/community/general/proxmox_kvm_module.html

[2020-12-02 17:41] felixfontein commented on #1165
@DerDanilo the docs have now been updated.

[2020-12-02 22:37] gm0neyl0ve opened #1433 "snap module is not idempotent"
##### SUMMARY
snap module is not idempotent.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

snap module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected OK
This works on the 1st run through and removes the lxd snap.  Fails if  you run it again.

##### ACTUAL RESULTS

[code]

[2020-12-02 22:40] gm0neyl0ve commented on #1433
Actually I'm closing this. It works as it should. It's just that snapd is no longer running on this host

[2020-12-02 22:40] gm0neyl0ve commented on #1433
Actually I'm closing this. It works as it should. It's just that snapd is no longer running on this host

[2020-12-02 22:40] #1433 closed

[2020-12-03 04:53] Akasurde commented on #320
I added documentation around this in PR ansible/ansible#72821. Please feel free to comment.

[2020-12-03 04:53] Akasurde commented on #320
resolved_by_pr ansible/ansible#72821

[2020-12-03 16:57] jpmat296 opened #1435 "mas : Fix error "invalid literal for int() with base 10: 'No'" when no app is installed"
##### SUMMARY
Module mas uses `mas-cli` to interact with Mac App Store. When no application is installed (eg when a new host is just installed), here is result when list of apps is requested by `mas.py`:

[code]

This case is not handled by `mas.py`. It gives error:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module mas

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS /

[2020-12-03 16:57] jpmat296 commented on #1435
I'm going to submit PR.

[2020-12-03 19:15] felixfontein commented on #582
We decided at the community meeting that patch releases (1.3.x) will be made roughly every three weeks, resp. shortly before Ansible 2.10.x releases. Assuming there are bugfixes to release, of course. This rythm might change in February 2021 when Ansible 3.0.0 is released (with community.general 2.0.0).

[2020-12-03 20:07] russoz commented on #1329
@danie1k  No worries mate, whenever you have the time. It seemed to be ok, but it's always nice to double check.

[2020-12-03 23:19] stgraber opened #1441 "lxd: Add support for specifying `remote` and `project` in the connection plugin"
##### SUMMARY
Currently the `lxd` connection plugin just runs a simple `lxc exec` or `lxc file pull/push` against an instance.

This works great for whatever instances you may be running locally on your system but it doesn't help when you're interacting with a variety of remote LXD hosts or clusters.

And then even in the local case, someone may have multiple LXD projects that they may want to int

[2020-12-04 05:05] russoz commented on #630
@felixfontein eeer.... don't we have ansible facts stating ansible's version? :o I searched for it now and... nada.

[2020-12-04 06:06] felixfontein commented on #630
@russoz there's a fact for the ansible-base/ansible-core version (`ansible_version`), but not for the Ansible version. How is such a fact related to this though?

[2020-12-04 06:24] #320 closed

[2020-12-04 07:09] felixfontein opened #1446 "zypper_repository tests are broken"
##### SUMMARY
See #1445 for details, which disabled the tests.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zypper_repository

##### ANSIBLE VERSION
[code]

[2020-12-04 08:17] #1435 closed

[2020-12-04 12:14] mgedmin commented on #630
What about doing an `if not os.path.isdir(dir): module.fail_json(msg="directory does not exist"):`?  It'll be not 100% reliable (someone might remove or rename the directory after the check but before `module.run_command()`), but it's better than the status quo.  And the ansible fix will close the race window.

[2020-12-04 14:32] #249 closed

[2020-12-04 19:14] nightowlengineer commented on #1218
Duplicate of #1049

[2020-12-05 15:02] #1446 closed

[2020-12-05 15:08] felixfontein commented on #630
If someone wants to create a PR, I'm happy to review it.

What the PR should do:
1. First do the check @mgedmin mentions.
2. Use a `try / except` around the `module.run_command` which uses the new option; if the except catches a `TypeError`, then call `module.run_command` again without the new option - that's compatibility for older ansible-base/ansible-core versions, and for Ansible 2.9.

[2020-12-05 15:11] felixfontein commented on #1218
@nightowlengineer thanks for spotting that! I'll close this one.

[2020-12-05 15:11] #1218 closed

[2020-12-05 15:18] #949 closed

[2020-12-05 23:38] das-intensity opened #1454 "rhn_register: add 'force' option to run even if system already registered"
##### SUMMARY

Add a 'force' option to rhn_register module, to allow re-registering a system.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

rhn_register

##### ADDITIONAL INFORMATION

rhnks_reg (the command that rhn_register wraps) has a --force option to allow a system to re-register even if it appears to already be registered. While the rhn_register module already uses this when regist

[2020-12-05 23:54] rasta-rocket opened #1456 "hashi_vault lookup plugin require auth/token/lookup-self policy on the Vault token to read secrets"
##### SUMMARY

Hello folks 👋

I found a behavior that seems weird to me: I'm using the hashi_vault lookup plugin with the token auth_method, I'm just setting a Vault token with a minimal set of vault policies (principle of least privilege) to my CI/CD to run the playbook that fetches secrets and the CI/CD system cannot fetches the secrets.

By using the token (with the given policies) with the Vau

[2020-12-06 00:00] rasta-rocket commented on #1456
!component hashi_vault

[2020-12-06 00:33] briantist commented on #1456
Thanks @rasta-rocket this is a good find. By the way, the `hashi_vault` lookup is in the process of being moved to a community supported collection dedicated to HashiCorp Vault, `community.hashi_vault`: https://github.com/ansible-collections/community.hashi_vault

I've requested that this issue be moved there, so that should hopefully happen without you needing to resubmit it.

---

As for the iss

[2020-12-07 09:14] eferet opened #1457 "filesystem is not idempotent when used with resizefs option"
##### SUMMARY
After running filesystem twice with resizefs argument set to 'yes', the second time it fails with an error:

[code]
due to not monted filesystem.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
filesystem

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No notable changes.

##### OS / ENVIRONMENT
Ubuntu

##### STEPS TO REPRODUCE
Minimal playbook to run on system with lvm and l

[2020-12-07 12:23] hoerup opened #1458 "xenserver: manage snapshots"
##### SUMMARY
xenserver_guest module can create and manage xenserver VM's but is currently unable to manage snapshots

##### ISSUE TYPE
either create xenserver_guest_snapshot module or add functionality to current module

needed features
* create snapshot
* revert vm to snapshot
* delete snapshot
optionally list snapshots

##### COMPONENT NAME
community.general.xenserver_guest

[2020-12-07 13:04] bvitnik commented on #1458
@hoerup Hi. I'm glad you have taken interest in this topic. This is a known request from earlier times and on my TODO list for a long time but I currently lack any free time to invest in implementing the `xenserver_guest_snapshot` module. Are you willing to step up to the task or know someone that is willing? Maybe I can spare some time to act as a guide/tutor.

[2020-12-07 13:14] hoerup commented on #1458
@bvitnik I'm willing to give it a shot, if you can provide some guidance

Do you think this should be part of the current module(s) or would it be better with a new standalone ?

[2020-12-07 13:25] bvitnik commented on #1458
By all means it should be a separate module `xenserver_guest_snapshot`, similar to `vmware_guest_snapshot`. `vmware_guest_snapshot` module can be used as a learning base.

How much programming experience do you have? Specifically Ansible plugin development, Python and XenAPI.

[2020-12-07 14:59] strk opened #1459 "lxd_container support for --check"
lxd_container tasks at the moment are skipped when running ansible-playbook --check, it would be useful to know if a container's configuration would be changed or not before actually deploying the change

[2020-12-07 17:15] smutel opened #1461 "GPT disk is not fixed before resizing it"
##### SUMMARY

An error message is displayed when we would like to increase the size of disk using collection parted.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

parted

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Disk is resized correctly.

##### ACTUAL RESULTS

[code]

[2020-12-07 17:48] jake2184 commented on #1461
Could you give a bit more detail about the disk setup (as in if you've just expand a virtual disk etc), and the OS + parted version? I'll try and replicate on Centos8.

Note that the module shells out to parted, which possibly might not support fixing the GPT table in script mode (see [here](https://bugs.launchpad.net/ubuntu/+source/parted/+bug/1490608)). That would require a bit more reworking of

[2020-12-07 17:56] rosowiecki commented on #1461
By the look of it it looks like parted's "feature" - actually doing the job, but reporting error anyway because of whatever reasons. I've already seen parted behaving this way on occasion :/ The parted command used by ansible module (resizepart 1 100%) seems valid.

@smutel: could you please run the comman /usr/sbin/parted -s -m -a optimal /dev/mapper/mpatha -- resizepart 1 100% outside of ansible

[2020-12-07 18:16] rosowiecki commented on #1461
I reproduced this situtaion on my PC. If you increase underlying device size, parted asks for permission to adjust GPT table for new size and with -s option it chooses safe exit (cancel). I'm afraid there's little we can do here due to parted (tool, not module) limitations.

Maybe you could skip creating partitions anyway and use /dev/mapper/device_name directly? You want to use 100% of it anyway.

[2020-12-07 19:31] smutel commented on #1461
What about executing something like this:
[code]

[2020-12-07 19:58] dominikholler opened #1463 "kubevirt_vm: storageClassName seems to be ignored"
##### SUMMARY

The attribute "storageClassName" seems to be ignored by kubevirt_vm

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kubevirt_vm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
empty by intention

##### OS / ENVIRONMENT

Fedora release 31 (Thirty One)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-12-07 21:35] rosowiecki commented on #1461
I wouldn't trust that at all; what if parted asks about something else
(like differrent error in table, not size mismatch) and we'll "fix" it by
blowing whole table up :-/ so we should at least agree only for certain
well defined problemsa, and not blindly fix everything parted may come up
with. I can imagine parameter like input or expect (see: man expect) script
to pipe to or interact with parte

[2020-12-08 09:19] jake2184 commented on #1461
I've poked around with the module and got it work as requested using `pretend-input-tty`, but as @rosowiecki states there are a number of drawbacks to this, the most prominent one being that it is hard to identify when we should apply the auto 'fix'. It would rely on matching strings from stdout which might change, be different between OSes/parted versions, etc. I don't think it's within the scope

[2020-12-08 12:12] #1454 closed

[2020-12-09 06:31] ericzolf commented on #1457
I also stumbled upon this issue, which is made worse by the fact that the returned dictionary structure is completely different to when the module succeeds, which makes error handling very difficult. First, the module could detect that no size change is necessary, but, even if it can't, the returned dictionary should have the same structure, so that one can rely on the same keys being defined (e.g

[2020-12-09 17:39] smutel commented on #1461
And if before executing the fix, we test the need to fix the GPT with something like:
[code]

[2020-12-10 10:56] pescobar commented on #1335
ping

[2020-12-11 07:15] Akasurde commented on #1411
@henti Thanks for reporting this issue. Could you please try this and let me know the output?

[code]

I am not able to reproduce this error.

[code]

[2020-12-11 08:16] jimmyw86878 opened #1473 "[docker_image] when loading an incomplete archive, the module will not return error"
##### SUMMARY

When loading an incomplete archive (interrupt the process of sending the archive by sftp or scp), docker_image module still go on and will not return any error.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_image

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Operating System: CentOS Linux 7 (Core)
      Kernel: Linux 3.10.0-957.el

[2020-12-11 09:37] schferbe opened #1474 "How to correctly use vault-keyring-client.py"
##### SUMMARY

The [ansible documentation on vaults](https://docs.ansible.com/ansible/latest/user_guide/vault.html#storing-passwords-in-third-party-tools-with-vault-password-client-scripts) suggests using client scripts like [vault-keyring-client.py](https://github.com/ansible-collections/community.general/blob/main/scripts/vault/vault-keyring-client.py). How do I correctly include this script int

[2020-12-11 13:04] virain commented on #725
@geerlingguy

[2020-12-11 13:05] virain commented on #725
If the composer is overtime during the download, some files will still be generated, and the project directory is not empty when running again

[2020-12-11 14:40] lifeisafractal opened #1475 "xfconf should deprecate facts and not return variant types"
##### SUMMARY

As discussed in #1418 and #1419 xfconf could use some changes to be up to best practices.

1. Remove (or begin deprecation) of setting facts. From discussion in the links above, modules should not be setting facts, but rather communicating through return values.
1. Remove (or begin deprecation) or returning a variant type. Currently the return type for the value may be either a scal

[2020-12-11 17:14] henti commented on #1411
Hmm this is very interesting. Sadly I seem to have lost the setup that produced the error.

I have tested again and you are correct it's working, so clearly I did something wrong. however having said that, cannot install the cask with

[code]

as I get
[code]
however `brew cask install dotnet-sdk3-1-400` on the local machine did work. any ideas ?

[2020-12-12 06:08] russoz commented on #1475
@lifeisafractal thanks for putting this together.

A couple of comments there: I am about to raise a PR for a change in ModuleHelper that will make the handling of deprecations slightly easier.

As of the output, I would be veering more towards Method 1, but a bit different:
Scalar return
[code]
List return
[code]
Single element list return
[code]
The bottom line is, in any case the user will need

[2020-12-12 08:07] #1418 closed

[2020-12-12 08:12] felixfontein commented on #1474
!component =scripts/vault/vault-keyring-client.py

I don't really know this script, but please note that code that imports GPL code needs to be GPL licensed itself. So your wrapper will not really work.

[2020-12-12 08:21] felixfontein commented on #1475
About deprecation: it would be best to use new names for the new return values, and eventually remove the old names. That way one can start migrating usage of the module now (i.e. once the new names are available) and doesn't have to do everything in one go (when the version with the breaking change is released).

[2020-12-12 09:31] russoz commented on #1475
Makes perfect sense. Any clue on what I should do with the bot that does not like me?

[2020-12-12 14:47] felixfontein commented on #1475
Do you mean the `needs_maintainer`, or that it didn't ping you in this issue? (The latter is probably because you were already mentioned in the initial issue.)

[2020-12-12 17:24] russoz commented on #1475
I would say both, but you already answered the second one.

[2020-12-12 17:42] felixfontein commented on #1475
In the first case, the bot doesn't like my any more, since it also added that tag when I was working on one of my own modules ;)

[2020-12-12 20:18] russoz commented on #1475
@lifeisafractal ... and it just occurred to me, we have both forgotten something: `previous_value`. That means that whichever scheme we decide upon, we must have it doubled for the previous value. This is starting to sound like more bureaucracy than what it's worth for the end user.

[2020-12-13 03:05] russoz commented on #1475
The PR I mentioned to help handling deprecations:
https://github.com/ansible-collections/community.general/pull/1480

As soon as that one goes through, I should be able to raise another PR for xfconf itself.

[2020-12-13 11:00] quidame commented on #1457
@eferet , thanks for reporting this issue.
Currently, not all systems are able to access unmounted xfs filesystems to get size info. Some can, and I've submitted a PR to at least support these ones. This makes that your testcase is passing (the filesystem task in loop reports a changed state the first time, and no changes the next times), but only for GNU/Linux distros supporting `xfs_info DEVICE`

[2020-12-13 12:34] danie1k commented on #1329
For the record - I confirm that in version 1.3.0 xfconf module works smoothly :slightly_smiling_face:

[2020-12-13 12:34] danie1k commented on #1328
For the record - I confirm that in version 1.3.0 xfconf module works smoothly :slightly_smiling_face:

[2020-12-13 16:14] jakjablonski opened #1483 "Typo in redfish-utils memory inventory"
##### SUMMARY

Redfish utils - get memory module, have a typo in the field name.
Part Number is missing because the property in get_memory_ineventory() in redfish_utils.py is incorrect.
Change PartNuber to PartNumber.
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

redfish_info - category: Systems - command: GetMemoryInventory
\plugins\module_utils\redfish_utils.py
##### ANSIBLE VERSIO

[2020-12-13 16:27] felixfontein commented on #1483
!component =plugins/module_utils/redfish_utils.py

[2020-12-13 17:45] billdodd commented on #1483
Thanks for opening the bug report. I created PR #1484 to fix the issue.

[2020-12-14 04:15] #1483 closed

[2020-12-14 04:41] Akasurde commented on #1411
@henti This is a known issue and resolved via https://github.com/ansible-collections/community.general/pull/1038. Please update as mentioned in the PR and re-try.

[2020-12-14 04:53] Akasurde commented on #1474
@schferbe Thanks for asking this question. I think if you want to use this in a proprietary system, you have to write your own implementation based upon [`keyring`](https://pypi.org/project/keyring/). Under the hood, `vault-keyring-client` does the same.

[2020-12-14 13:03] Akasurde commented on #331
resolved_by_pr #1487

[2020-12-14 13:51] jza34 opened #1488 "Proxmox destroy fail when HA"
##### SUMMARY
Proxmox fail to destroy host when it is in HA group

##### ISSUE TYPE
Add a parameter to _purge_ the host when destroy is wanted

##### COMPONENT NAME
proxmox

##### ADDITIONAL INFORMATION
Ansible version : 2.10.3

With pvesh I receive a warning when I want to destroy a host enrolled in HA :

`unable to remove CT 108 - used in HA resources and purge parameter not set.`

I can pass an

[2020-12-14 14:33] Aversiste commented on #1488
Let's try:

!component plugins/modules/cloud/misc/proxmox.py

[2020-12-14 14:41] felixfontein commented on #1488
I edited the original post, it contained the correct module name before, but was then edited  to contain the FQCN.

[2020-12-14 14:42] felixfontein commented on #1488
@Aversiste you need a `=` directly before `plugins`. But then it might not work because the bot no longer things you are a maintainer responsible for this issue, since it no longer detected any proxmox relation.

[2020-12-14 14:50] felixfontein commented on #1488
Now this should work for you:

!component =plugins/modules/cloud/misc/proxmox.py

[2020-12-14 15:20] Akasurde commented on #265
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.digitalocean

Migrated this issue in the above repository - https://github.com/ansible-collections/community.digitalocean/issues/35.

If you have further questions please stop by IRC or the mailing list:

* IRC: #a

[2020-12-14 15:20] #265 closed

[2020-12-14 15:36] Akasurde commented on #497
@branleb Can you please provide the required details? Thanks.

needs_info

[2020-12-14 21:29] #331 closed

[2020-12-15 04:55] Akasurde commented on #232
Inventory plugin is moved to https://github.com/alibaba/alibaba.alicloud. Closing this issue.

[2020-12-15 04:55] #232 closed

[2020-12-15 05:10] Akasurde commented on #215
@PStoner3 Could you please confirm if https://github.com/ansible/ansible/issues/68686#issuecomment-614584116 works for you? Also, can you please provide template values in playbook so that we can reproduce this scenario?

needs_info

[2020-12-15 05:32] Akasurde commented on #1441
@stgraber Thanks for requesting the feature request and putting valuable information together.

[2020-12-15 06:16] stgraber commented on #1441
I have a very rudimentary patch for it that I've been using locally:
[code]

[2020-12-15 09:07] pescobar commented on #1335
This issue is fixed in https://github.com/ansible-collections/community.general/pull/1470 so I am closing it

[2020-12-15 09:07] #1335 closed

[2020-12-15 13:17] levonet opened #1492 "community.general.hashi_vault mTLS support"
##### SUMMARY

Currently, the module does not support authorization for a client certificate.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Lookup module `community.general.hashi_vault`

##### ADDITIONAL INFORMATION

[code]
It may make sense to add an alias `tls_ca` for `ca_cert` to use parameters with names appropriate to the sense.

[2020-12-15 13:55] levonet commented on #1492
It may be more correct to name parameters as `client_key` and `client_cert`,
similar to [ansible.builtin.uri](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/uri_module.html#parameter-client_cert).

[2020-12-15 14:14] Akasurde commented on #1425
@rik2803 I am able to reproduce this at my end.

[2020-12-16 11:55] davorceman opened #1497 "general.postgresql_user reporting changes on every run"
##### SUMMARY
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.general.postgresql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Amazon Linux 2

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

After second run I expected status ok=1 changed=0

[2020-12-16 12:30] Akasurde commented on #1425
resolved_by_pr #1498

[2020-12-16 12:37] #638 closed

[2020-12-16 12:46] Akasurde commented on #1425
`next` in the API points to some older API structure which is causing the failure in module's pagination logic.

[code]

This `next` link should be pointing to any URL under

[code]
or something similar.

I have changed the logic in pagination.

@rik2803 Could you please check #1498 and let me know if it works for you? Thanks,

[2020-12-16 15:10] rik2803 commented on #1425
I just performed a test with the repo and variables that caused the error. Works like a charm now.

Waiting for the release of the new version.

Thanks for the fix!

[2020-12-16 15:39] branleb commented on #497
e.g.:
`fact_caching_connection = "[::1]:6379:0"`
which produces the initially mentioned error - whereas
`fact_caching_connection = "localhost:6379:0"`
or
`fact_caching_connection = "127.0.0.1:6379:0"`
work fine.

I just tried the case you specified as cannot reproduce (bracketed IPv6 localhost, no quoting)
`fact_caching_connection = [::1]`
(and, just to be sure I tried
`fact_caching_connection = [

[2020-12-16 22:32] momcilo78 opened #1500 "nmcli unable to create bridge slave"
It appears this was reported here but closed with no resolution.
https://github.com/ansible/ansible/issues/42460

##### SUMMARY
Attempting to add slave bridge results in error:
Error: invalid or not allowed setting 'ipv6': 'ipv6' not among [connection, 802-3-ethernet (ethernet), 802-1x, dcb, bridge-port].\n

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION

[2020-12-17 06:57] #1425 closed

[2020-12-17 10:23] momcilo78 commented on #1500
Additional observation: it appears that the module is not able to handle connections with space in the connection profile name. (error code 10)

[2020-12-17 15:39] gundalow commented on #440
Proposed fix in https://github.com/ansible-collections/community.general/pull/1491 review welcome so we can get that merged

[2020-12-17 16:10] silviuvulcan opened #1503 "Proxmox inventory keyed_groups"
Would it be possible to add an option for `keyed_groups ` ? Similar to the Hetzner Cloud plugin: https://docs.ansible.com/ansible/latest/collections/hetzner/hcloud/hcloud_inventory.html

This would allow for example to use notes to group hosts into arbitrary groups (I'm thinking prod, dmz, etc.) It would require some standard usage of the notes field maybe semicolon separated sets of label=value.

[2020-12-17 18:30] yogitadalal opened #1504 "json_encoding issue while using JIRA module"
##### SUMMARY
I am not able to run any tasks for JIRA module. Facing this issue, only with jira modules.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
jira

##### ANSIBLE VERSION
**ansible --version**
[code]

##### CONFIGURATION

[code]

OS / ENVIRONMENT

MacOs

STEPS TO REPRODUCE

[code]

EXPECTED RESULTS

Jira task should have been created.

ACTUAL RESULTS

[code]

[2020-12-18 01:43] paroque28 opened #1506 "gitlab_project: add git lfs option"
##### SUMMARY

Add into community.general.gitlab_project the ability to update the LFS option.

Similar to the shell command:
[code]
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gitlab_project

##### ADDITIONAL INFORMATION

[code]

[2020-12-18 10:40] Akasurde commented on #1504
`jira` module only supports basic-auth and it is deprecated https://confluence.atlassian.com/cloud/deprecation-of-basic-authentication-with-passwords-for-jira-and-confluence-apis-972355348.html

[2020-12-18 10:49] felixfontein opened #1510 "Nomad integration tests have been disabled and need to be fixed re-enabled"
##### SUMMARY
The Nomad integration tests always fail on AZP (only with OpenSUSE Python 2) and thus have been temporarily disabled in #1508.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nomad

##### ANSIBLE VERSION
[code]

[2020-12-18 11:19] Akasurde commented on #1504
@yogitadalal With #1509 I am able to proceed. I am specifying `api_token` instead of `password` in `password` parameter of the module. But still getting error

[code]

Digging further.

[2020-12-18 11:44] yogitadalal commented on #1504
For that you need to provide project Id, in place of project name.
With AccessToken and projectId, it's working fine

Thanks for the update.

[2020-12-18 11:44] #1504 closed

[2020-12-18 12:31] strk opened #1511 "lxd_container drops configured IP when removing container proxy device"
IP addresses have been added to a container ("host") `ip addr add`.

Ansible lxd_container module is used to create a nested container, with proxy device using on of the added IPs.

When removing the proxy device, again with this module, the IP address associated with the proxy is removed from the host container (outermost).

##### COMPONENT NAME
lxd_container

##### ANSIBLE VERSION
2.9.15

[2020-12-18 13:56] strk commented on #1511
##### COMPONENT NAME

community.general.lxd_container

##### ANSIBLE VERSION

[code]

[2020-12-18 15:13] strk commented on #1511
The problem also occurs when just changing the name of a proxy device, for example, as it looks like the module first drops the proxy (dropping in cascade the corresponding IP) and then re-adds it, failing because the IP is not assigned anyomore

[2020-12-18 22:36] natman commented on #698
The same here, it seems nothing have been adapted since july, however and hopefully, everything still works fixing the version to '1.16' of dnspython.

[2020-12-19 16:25] felixfontein commented on #698
If someone wants to fix this, feel free to create a PR!

[2020-12-19 16:30] felixfontein commented on #1503
!component =plugins/inventory/proxmox.py

[2020-12-20 06:01] russoz commented on #325
@BernhardCW have you tried:
[code]
?

I _think_ it boils down to this piece of code in ``LdapEntry._ldap_attrs()``:
[code]
Passing either ``Null`` or ``""```will fall in the ``else`` leg of the statement, turning the value of ``member`` into ``[None]`` or ``[""]`` respectively, which are both not what you want.

[2020-12-20 06:43] russoz commented on #325
In fact, there is not much we can do on the code for, when receiving a ``""`` or a ``null`` on the input, the module has no way of telling whether that particular attribute is expecting a list type or not.

Hence, pending confirmation on using ``[]```as value for ``member`` (it should be ``members`` plural, in my book, but I checked the definition for this class and it is, indeed singular), I thin

[2020-12-20 07:08] russoz commented on #336
hi @AshishVarshneyy , have you tried
[code]
?

[2020-12-20 16:43] felixfontein commented on #336
!component =plugins/callback/logger_runtime.py

I'm not sure what exactly you want to say with this. Do you want to advertise #356? Please clarify. If you want to announce that you are working on something like this, simply create a PR when it's done. If you want someone else to do the work for you, you need to more properly describe what you want, instead of making this look like it mentions an e

[2020-12-20 17:03] felixfontein commented on #582
1.3.1 will be released on December 21th (i.e. tomorrow).

[2020-12-20 22:14] momcilo78 commented on #1500
Dear Maintainer,

I have traced this issue to the way the default options are assembled for the ip based connections are formed.
Even when no parameters are set related to IP protocols (in this case ipv6.dns and ipv4.dns), they still get injected into the command line although with no actual values.

I have tracked the injection to the within update_connection function:
https://github.com/ansible-

[2020-12-21 06:27] russoz commented on #392
@jamesfreeman959 @mator I also saw no error running in a Linux Mint 20.

[2020-12-21 09:11] russoz commented on #479
@jpmens I would be willing to try implementing that but, any particular reason not to use `ConfigParser` for the .ini files? It is standard python and available throughout all the supported python versions (`from ansible.module_utils.six.moves import configparser`). I believe it would greatly simplify this module. Would you mind if I write a revamp for the module using that and at the same time tr

[2020-12-21 09:15] jpmens commented on #479
@russoz there was a reason for not using `ConfigParser` back then, but I do not recall what it was. Maybe duplicate keys or no section names, ... ? I don't remember.

I certainly don't mind, but the rewrite would have to support everything people have become used to. I suggest, before you invest time and effort, waiting for others to chime in here?

[2020-12-21 09:20] russoz commented on #336
It wasn't him, I haven't seen his PR, so I just asked about the profile_tasks callback?

[2020-12-21 09:55] russoz commented on #479
Any effective way of me getting to know what is "everything people have become used to"?

[2020-12-21 10:07] felixfontein commented on #479
The current module preserves most of the INI file when working on it, thus preserving a lot of legal or illegal constructs (depending on what kind of INI format definition you are using). Using `ConfigParser` might not do that.

[2020-12-21 10:08] felixfontein commented on #336
@russoz profile_tasks doesn't do `in a log file in specific format`.

[2020-12-21 10:16] russoz commented on #336
I was kinda taking a chance that it might be enough for him even so.

[2020-12-21 10:18] russoz commented on #392
@jamesfreeman959 @mator I also saw no error running in a Linux Mint 20.

@jamesfreeman959 any chance you can paste the output of a run with `-vvv` on the CLI?

[2020-12-21 10:20] russoz commented on #479
More reason to have a module (this or another) that works within legal boundaries, IMHO.

[2020-12-21 10:26] felixfontein commented on #479
The problem is, there are no legal boundaries, since there is not the one INI format, but a myriad of similar, but partially incompatible ones :)

[2020-12-21 11:08] #630 closed

[2020-12-21 11:32] geoffroya opened #1519 "Issue with mutlliline yaml variables"
##### SUMMARY
It seems to me that the following issues are still presnet in Ansible 2.10 (tested on 2.10.4)
- https://github.com/ansible/ansible/issues/62841
- https://github.com/ansible/ansible/issues/65843

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
YAML callback

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS

##### STEPS TO REPRODUCE

Sample to

[2020-12-21 12:12] felixfontein commented on #1519
I don't think this is related to the community.general collection at all. You need to create an issue in https://github.com/ansible/ansible/.

[2020-12-21 12:28] geoffroya commented on #1519
Thank you for you feedback @felixfontein. Mentionned issues have been closed from ansible/ansible, pointing to this repo.
I will create a new one though.

[2020-12-21 13:21] loop-evgeny opened #1521 "zfs_delegate_admin does not allow modifying "bookmark" permission or property permissions"
##### SUMMARY
The zfs_delegate_admin module wraps the `zfs allow` command, but is limited to a subset of the permissions that `zfs allow` supports. For example, there is a `zfs bookmark` command with a corresponding permission: `zfs allow -u someuser bookmark tank` works, even though "bookmark" is not listed as a command name under "zfs allow" in the [man page](https://linux.die.net/man/8/zfs). Th

[2020-12-21 13:39] AshishVarshneyy commented on #336
@felixfontein I created this issue before that PR to inform that I'm working on it at that time but as of now I closed my PR so I would like to close this one also.

[2020-12-21 13:54] felixfontein commented on #1519
@geoffroya you mentioned nowhere in this issue that this is about the YAML callback, and not about Ansible itself. If it is indeed about the YAML callback, this is the right repository. You should mention that in the issue though.

[2020-12-21 13:58] geoffroya commented on #1519
@felixfontein, well it's true I didn't mention it, but isn't it weird to have to know which piece of code is responsible for a given bug, to be able to fill this bug?

[2020-12-21 14:13] felixfontein commented on #1519
It's pretty clear that the fault is somehow with the YAML callback plugin, or at least related to it, since it works fine with the standard callback plugin. The accents are only missing with the YAML callback plugin.

[2020-12-21 14:21] felixfontein commented on #1519
I just played with it a bit, this is the line that removes the accents: https://github.com/ansible-collections/community.general/blob/main/plugins/callback/yaml.py#L53

Replacing the line with
[code]
seems to fix the problem. I guess the original author did not knew that `string.printable` restricts to ASCII, and not to printable Unicode. Simply accepting all characters with code 0xA0 or higher th

[2020-12-21 14:25] noseka1 commented on #479
@russoz I rewrote the ini_file module to NOT use the ConfigParser back in Ansible 2.0. Back then the ConfigParser was destroying all the comments in the file, which was the reason to get rid of it. Further info at: https://alesnosek.com/blog/2015/08/03/improving-ansibles-ini-file-module/

[2020-12-21 14:37] felixfontein commented on #582
1.3.1 has been released. 1.3.2 might be released at the beginning of January, before Ansible 2.10.5 is released, if we have any new bugfixes by then.

[2020-12-21 16:21] wimvanleuven opened #1523 "Support GSSAPI authentication for ldap_* module"
##### SUMMARY

Add the attribute `sasl_class` with values `external` (default) or `gssapi` to `community.general/plugins/module_utils/ldap.py`
to select the SASL authentication algorithm for python-ldap when user name and password are not provide. Currently, the ansible modules default to EXTERNAL.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ldap_attr
ldap_attrs
ldap_entry
ldap_passwd

[2020-12-21 18:47] dsnyder0pc opened #1524 "Calling brew cask install is disabled! Use brew install [--cask] instead."
##### SUMMARY
I have a simple playbook that ensures a set of brew casks are installed. It stopped working this morning (actually, probably three days ago with this [merge](https://github.com/Homebrew/brew/pull/10056/files#)) because, apparently, the Homebrew folks [disabled](https://github.com/Homebrew/brew/pull/10056/files#diff-6b41cd34991fd4bf2887d97970060cd2c3303f29c13d51480dce512a9ebad369R177)

[2020-12-21 19:08] dsnyder0pc commented on #1524
Note: I've commented [here](https://github.com/Homebrew/discussions/discussions/340) about this issue. It's not helpful that the Homebrew folks have decided against maintaining a stable command-line interface. It would be worth checking for other Homebrew subcommands that may be in deprecated state since those changes will create similar problems.

[2020-12-21 19:18] dsnyder0pc commented on #1524
There's probably more to do, but these quick local edits seem to have things working as expected for me.
[code]

[2020-12-21 20:33] felixfontein commented on #1519
resolved_by_pr #1522

[2020-12-21 21:59] ahawkins commented on #1524
tl;dr: The recent homebrew 2.7 release broke the `homebrew_cask` module.

[2020-12-21 22:15] raymondyou97 commented on #1524
Was able to get it working again by downgrading and locking Homebrew to `2.6.2`

Downgrade to `2.6.2`
[code]

Prevent automatic brew upgrades whenever you install/upgrade something
[code]

[2020-12-21 22:25] felixfontein commented on #1524
There's already a PR for this: #1481

Since you are Homebrew users, would be great if you could test it!

[2020-12-21 22:28] felixfontein commented on #1524
(Also, I'm quite confused why everyone is saying that `brew cask` is deprecated. It is apparently not deprecated (otherwise it would still work), but has been removed. [Deprecation](https://en.wikipedia.org/wiki/Deprecation#Software) means there will be a warning that it will be removed in the future.)

[2020-12-21 22:59] dsnyder0pc commented on #1524
Well, from looking at the commit history, the `brew cask` subcommand has been deprecated for a while. As of 2.7 of Homebrew, `brew cask` was deleted.

[2020-12-21 23:06] dsnyder0pc commented on #1524
Response from the Homebrew team:

https://github.com/Homebrew/discussions/discussions/340#discussioncomment-232364

[2020-12-21 23:26] russoz commented on #479
Ok, I hear you. One thing that might be interesting would be to wrap that logic in a python package by itself, as in something pip-installable, and then have the ansible module just use it. I don't volunteer for that because my time is already stretched thin, but would be willing to review it.

[2020-12-21 23:27] russoz commented on #336
hi @AshishVarshneyy , I believe you should be able to close it yourself here (being the original author of the issue).

[2020-12-22 04:21] neatherweb opened #1526 "nios_member fails in python 3 - RuntimeError: dictionary changed size during iteration"
##### SUMMARY
When using nios_member module with Python 3, the module fails with exception "RuntimeError: dictionary changed size during iteration"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nios_member

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target device is Infoblox NIOS Release 8.2.6-371069 (64bit)

##### STEPS TO REPRODUCE

[code]

#####

[2020-12-22 07:00] #336 closed

[2020-12-22 07:49] felixfontein commented on #1524
Ok, so it was indeed just deprecated a few days ago (December 1st), and got removed only since yesterday. So talking about it as deprecated was actually correct until the day before yesterday :)

[2020-12-22 07:54] felixfontein commented on #479
@russoz forcing people to suddenly install a dependency to use something that worked without one before doesn't sound like a great idea :) If someone wants to refactor the code, creating some generic code in module_utils would be the way to go.

[2020-12-22 08:03] bmillemathias commented on #1523
!component ldap_entry

[2020-12-22 08:24] #1519 closed

[2020-12-22 12:20] russoz commented on #1497
@davorceman the postgresql modules have been spun off this collection. You will find them in https://github.com/ansible-collections/community.postgresql

Naturally, you should no longer be referring to them as community.general.postgresql_*

[2020-12-22 14:56] #1040 closed

[2020-12-22 15:17] #1021 closed

[2020-12-22 22:44] russoz commented on #479
@felixfontein That was me thinking out loud, but certainly, if such a package ever existed, it would require an adoption strategy, deprecating the "old way" and adopting the "new way", but I wasn't going that far.

I have just put in the PR for the current problem.

[2020-12-22 22:57] #1526 closed

[2020-12-23 01:56] RommelLayco opened #1535 "datadog_monitor module unable to mute monitor based on a scope and time"
##### SUMMARY

The datadog_monitor allows you to mute a monitor based on a scope and timestamp using the silenced parameter. This parameter does not work, as it is ignored by the datadog sdk and just mutes every host managed by the monitor forever.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

datadog_monitor

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONME

[2020-12-23 02:01] RommelLayco commented on #1535
The issue is that the datadog sdk ignores any parameters that are not defined for the method. In this case the we are making the following api call https://github.com/ansible-collections/community.general/blob/main/plugins/modules/monitoring/datadog/datadog_monitor.py#L384

[code]

Silenced is not defined parameter for the mute method. This is just ignored. Instead it takes the following parameter

[2020-12-23 05:37] Rylan12 commented on #1524
Hi there, Homebrew maintainer here.

I can clear up a few things:

- `brew cask` commands were deprecated on 2020-12-01 with the release of Homebrew 2.6.0. Starting then, all `brew cask` commands succeeded but displayed a warning informing users that the command would soon be disabled. The message also provides the appropriate replacement.
- `brew cask` commands were disabled on 2020-12-21 with th

[2020-12-23 08:06] felixfontein commented on #1524
@Rylan12 thanks! We already have a PR which should fix that (#1481), it needs a little more work but should already work. It detects the homebrew version so it will work with older versions of homebrew as well.

[2020-12-23 08:14] felixfontein commented on #1535
CC @zippolyte

[2020-12-23 09:46] EHEX-schildt opened #1537 "(deprecation) warning_text in community/general/meta/runtime.yml should contain the name of the modul"
##### SUMMARY
When i use a deprecated modules like ldap_attr i get this warning: see plugin documentation for details.
The deprecation warning comes before any TASK and i have no clue what task, plugin or module documentation is referenced.

It would be very helpfull to have at least the plugin or module in it like so:
[DEPRECATION WARNING]: **ldap_attr** see plugin documentation for details. This

[2020-12-23 10:00] felixfontein commented on #1537
This is easy to fix: change https://github.com/ansible-collections/community.general/blob/main/meta/runtime.yml by replacing every `warning_text: see plugin documentation for details` with `warning_text: <insert better message here>`.

For `ldap_attr`, the deprecation information is here: https://github.com/ansible-collections/community.general/blob/main/plugins/modules/net_tools/ldap/ldap_attr.py

[2020-12-23 11:32] 33Fraise33 opened #1539 "Failed to import Docker when running docker_container"
##### SUMMARY
When running a module with docker_container I get an error that there is no module named docker

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

*Host OS*
[code]

*Target OS:*
$ uname -r
[code]

##### STEPS TO REPRODUCE

Run latest version of docker and python on the target and

[2020-12-23 12:07] felixfontein commented on #1539
You didn't do `pip install docker` on the target. How about doing that to satisfy the [requirements](https://docs.ansible.com/ansible/latest/collections/community/general/docker_container_module.html#requirements)?

[2020-12-23 12:19] Dombo commented on #1366
For anyone who's come here from the prior issue, I fixed this by forcing a reinstallation of the collections from galaxy.

`ansible-galaxy install --force -r requirements.yml`

[2020-12-23 21:00] russoz commented on #1233
Hi @hugoprudente , I have not been using Ansible for handling things in JIRA, and I don't recall right now much of its API output structure - I have been using the `python-jira` package extensively and it wraps all problems in a convenient `JIRAError` exception.

That said, I wrote this PR #1536 , in which I added exception traceback info in two different points of the code (one of them is the pla

[2020-12-23 21:59] russoz commented on #1537
Not sure if that's what @EHEX-schildt referred to, @felixfontein . I think (and I think he thought) that it would make sense for the code that actually _prints_ the warning to include the target module name in its output. => that might mean this should be an issue for ansible itself rather than c.g.

[2020-12-24 09:25] Akasurde commented on #1506
@paroque28 Thanks for the feature request. Could you please check if #1540 works for you and let me know? Thanks.

[2020-12-24 09:25] Akasurde commented on #1506
resolved_by_pr #1540

[2020-12-24 16:26] paroque28 commented on #1506
Thank you so much, I will try after Holidays

[2020-12-24 18:15] felixfontein commented on #1537
@russoz see ansible/ansible#73059 for that. We should still improve the `warning_text`s in this collection as well. So there's work to do on both sides.

[2020-12-25 02:54] rpalri commented on #1524
Thank you @Rylan12!
For everyone else, this is the solution.

[2020-12-25 03:58] Akasurde commented on #1441
resolved_by_pr #1515

[2020-12-25 03:58] Akasurde commented on #1441
@stgraber Could you please check if #1515 works for you and let us know? Thanks.

[2020-12-26 06:09] stgraber commented on #1441
Seems to work fine. I've left one comment in the PR wrt backward compatibility.

[2020-12-26 16:37] carlos-ssh commented on #1524
Very helpful @raymondyou97  Thanks.

[2020-12-26 18:29] felixfontein commented on #1524
Would be great if someone could test the patch in #1481 so we can get it merged. Thanks.

[2020-12-26 21:51] hnakamur opened #1543 "[Help] New maintainer wanted for lxd_container module"
##### SUMMARY
New maintainer wanted for `lxd_container` module.

Though I created `lxd_container` module, actually I have never used it since it does not fit for my usecase. I always create LXD containers first and setup Ansible in one of those containers.

I'm afraid I have no time to maintain `lxd_container` modules since I am busy for other things to do.
So could someone take ownership of `lxd_

[2020-12-26 22:00] hnakamur commented on #1543
!component=lib/ansible/modules/cloud/lxd/lxd_container

[2020-12-26 22:06] hnakamur commented on #1543
!component=lib/ansible/plugins/modules/cloud/lxd/lxd_container.py

[2020-12-26 22:11] hnakamur commented on #1543
!component=plugins/modules/cloud/lxd/lxd_container.py

[2020-12-26 22:59] felixfontein commented on #1543
@hnakamur thanks for creating the module and maintaining it!

What about the lxd_profile module: are you still interested in maintaining it?

If you want, we can add you to the ignore list for the lxd_container module (or for both modules). Then you will no longer get pinged automatically for new issues or PRs.

[2020-12-26 23:42] hnakamur commented on #1543
@felixfontein Thanks for responding!
No, I'm not interested in maintaining `lxd_profile` module.
Could you add me to the ignore list for both the `lxd_container` and `lxd_profile` module?
Thanks.

[2020-12-27 09:52] felixfontein commented on #1543
@hnakamur I've created #1545 for that. Also thanks for your work on the lxd_profile module!

[2020-12-27 09:55] #1506 closed

[2020-12-27 12:44] hugoprudente commented on #1233
Hi @russoz, thanks for the PR.

During this coming week I'll backport your fix internally and do some tests to see if fully fixes the above messages output.

[2020-12-27 13:07] #816 closed

[2020-12-27 14:42] cdbunch72 commented on #1326
Closed by pull request #1453

[2020-12-27 14:42] #1326 closed

[2020-12-27 17:08] cdbunch72 opened #1549 "Add a tags filter to linode inventory plugin"
##### SUMMARY
Add tags option to filter linodes by tag

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
linode inventory plugin

##### ADDITIONAL INFORMATION
tags option would be a list of tags to include in the returned inventory
[code]

[2020-12-27 17:16] cdbunch72 commented on #1549
!component lib/ansible/plugins/inventory/linode.py

[2020-12-27 19:29] felixfontein commented on #1549
!component =plugins/inventory/linode.py

lib/ansible/ exists only in the ansible-core repository

[2020-12-27 19:42] declaresub opened #1552 "community.general.launchd does not work with python 3.9."
##### SUMMARY
launchd plugin does not work with python3.9 due to use of removed API.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
launchd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Mac OS 10.15.7

##### STEPS TO REPRODUCE

[code]

The file plugins/modules/system/launchd.py calls plistlib.readPlist  and  plistlib.writePlist.  These functions were removed in

[2020-12-28 00:55] bignose-debian commented on #1045
Oh, my apologies if I gave the wrong impression. I didn't claim it's *the* canonical way to run management commands, but *a* canonical way. See the [Django documentation for the `django-admin` utility](https://docs.djangoproject.com/en/stable/ref/django-admin/):

    Usage

    $ django-admin <command> [options]
    $ manage.py <command> [options]
    $ python -m django <command> [options]

So, I'

[2020-12-28 08:26] SeerKan opened #1553 "Sendgrid AttributeError: module 'sendgrid' has no attribute 'SendGridClient'"
Sengrid fails to send email using the general community module:

[code]

[code]

[code]

[code]

[2020-12-28 08:43] felixfontein commented on #1552
For reference: https://docs.python.org/3/library/plistlib.html

[2020-12-28 08:55] felixfontein commented on #1553
Please use the template the next time. Would be really appreciated, to save us some manual work.

!component =plugins/modules/notification/sendgrid.py

[2020-12-28 09:11] martinm82 commented on #1552
I missed it somehow that it got deprecated already in 3.4.

How do we proceed currently with Python 2.x versions? Do we still have to support them?

[2020-12-28 09:14] Akasurde commented on #1552
@martinm82 I have a PR ready, will post it once.

[2020-12-28 09:18] Akasurde commented on #1552
resolved_by_pr https://github.com/ansible-collections/community.general/pull/1554

[2020-12-28 09:18] Akasurde commented on #1552
@declaresub @martinm82 Could you please check https://github.com/ansible-collections/community.general/pull/1554 and let me know if this works for you? Thanks.

[2020-12-28 09:47] #479 closed

[2020-12-28 10:47] enothen opened #1555 "IPA Sudorule module does not allow for command groups"
The ipa_sudorule.py module only allows adding commands to sudorules, while the API also allows for command groups. An update to the existing module would be quite simple to also allow command groups.

##### COMPONENT NAME
plugins/modules/identity/ipa/ipa_sudorule.py

[2020-12-28 10:53] enothen commented on #1555
##### COMPONENT NAME
plugins/modules/identity/ipa/ipa_sudorule.py

[2020-12-28 11:00] enothen commented on #1555
!component plugins/modules/identity/ipa/ipa_sudorule.py

[2020-12-28 21:02] russoz commented on #325
@BernhardCW just a friendly check, is this issue still in your radar?

[2020-12-28 22:03] hugoprudente commented on #1233
Hi @russoz , everything looks fine from the errors perspective now, thanks!

[2020-12-28 23:06] russoz commented on #1233
Awesome, thanks for checking, valeu por checar! :-) From Brazil to NZ here ;-)

[2020-12-28 23:07] russoz commented on #1233
resolved_by_pr #1536

[2020-12-28 23:10] russoz commented on #1233
close_me per comments above.. not sure if I have permissions for this - if it does not close with me here, then please @felixfontein do your magic touch,

Thanks @hugoprudente and @felixfontein

[2020-12-29 04:30] Akasurde commented on #1233
closing as PR is merged.

[2020-12-29 04:30] #1233 closed

[2020-12-29 04:52] Akasurde commented on #1553
@SeerKan Thanks for reporting this issue. After reading [this doc](https://sendgrid.com/docs/for-developers/sending-email/v2-python-code-example/), I can confirm `sendgrid` module uses `v2` APIs. You need to downgrade your sendgrid Python library like

[code]

sendgrid 1.6.22 is the last known version for v2 APIs.

[2020-12-29 05:16] Akasurde commented on #1553
I updated docs and handled AttributeError in PR #1557. Let me know if it works for you. Thanks,

[2020-12-29 08:36] #1555 closed

[2020-12-29 09:44] BernhardCW commented on #325
Sorry for the late reply: I'm getting
`OBJECT_CLASS_VIOLATION: {'info': u"object class 'groupOfNames' requires attribute 'member'", 'desc': u'Object class violation'}
`
with `member: []`.

Full stack trace:
[code]

I did some further debugging and can confirm that `ldap_entry.py` passes the member: [] attribute all the way to `ldap.modlist.addModList({'member': [], 'objectClass': ['top', 'groupOfN

[2020-12-29 21:16] Sergong commented on #864
It would seem the homebrew_cask no longer works and is failing with the following error:
`Error: Calling brew cask install is disabled! Use brew install [--cask] instead.`
My target host is running macOS 11.1 and  Homebrew version2.7.1.

Installing a cask with homebrew fails with the following:
`failed: [192.168.122.242] (item=sublime-text) => {"ansible_loop_var": "item", "changed": false, "item":

[2020-12-29 21:50] felixfontein commented on #864
@Sergong your problem is a duplicate of #1524.

[2020-12-29 22:49] jorhett opened #1562 "adopt module from ssh_config role"
##### SUMMARY

There's a very useful role developed by @gaqzi at https://github.com/gaqzi/ansible-ssh-config which appears to be unmaintained. There's a lot of interest visible in Pull Requests and Forks. I'd like to suggest that we either import his role (if he agrees) or make a new one for ssh config management where an active community can keep it going.

I can offer to do the initial integrati

[2020-12-29 22:54] jorhett commented on #1562
@cheater @djmaze @mdance @grypyrg @szpak @kharkevich @slavekjurkowski2 @nigelkirby and others have all submitted useful improvements

[2020-12-29 22:55] jorhett commented on #1562
!component -scripts/inventory/ssh_config.py

[2020-12-30 04:29] gaqzi commented on #1562
You have my blessing to do what you want with that module 😄
I haven't been maintaining it since I am no longer using Ansible 🙂

[2020-12-30 05:55] #1552 closed

[2020-12-30 05:59] Akasurde commented on #1562
@jorhett Thanks for reporting this feature request. I would review the role and migrate `ssh_config` to `community.general`. @gaqzi Thanks for the role and module.

[2020-12-30 07:58] felixfontein commented on #1562
I'm not sure whether we want roles in community.general. That's something we first have to discuss in the community meeting. I've added this issue to the meeting agenda.

[2020-12-30 08:43] tadeboro commented on #1562
The title of this issue is a bit misleading since this is not really about adopting role. The original role consists of a single module that a few people are interested in moving to c.g. So not sure if this needs to be discussed in the meeting.

[2020-12-30 09:16] felixfontein commented on #1562
@tadeboro ah, good point. In that case, it doesn't.

It does need some cleanup though, especially with respect to software licenses.

[2020-12-30 09:41] felixfontein commented on #354
ansible.netcommon was removed in #1561, google.cloud in #1319. community.kubernetes will be removed in #1317, which will finally resolve this issue.

[2020-12-30 10:22] martinm82 commented on #1552
Out of curiosity: should not the ci as well run tests with Python 3.9?

[2020-12-30 11:19] felixfontein commented on #1552
@martinm82 there are no unit tests, so only the OS-dependent tests run. The macOS / OSX VMs do not have Python 3.9.

[2020-12-30 15:35] aperrotta-nli opened #1564 "community.general.udm_user - mail_primary_address does not work"
##### SUMMARY
adding a user to Univention Server with "community.general.udm_user" only works partially,
The field primary Email is not filled in.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.general.udm_user

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Univention Server

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
an email address in the mail_primary_addres

[2020-12-31 17:32] apiology commented on #1524
@felixfontein : I have upgraded to the code in the PR with the following command, reran my playbook:

[code]

Here was the output:

[code]

I didn't think to try to reproduce immediately and instead focused on removing the logged issue:

[code]

[2020-12-31 17:34] apiology commented on #1524
(for what it's worth, as a user, even if the error handling has issues, having a version of this that works even a little bit is better than something that doesn't work at all)

[2020-12-31 17:50] felixfontein commented on #1524
@apiology from the code you posted, you only tested the `homebrew` module, which is not affected by the PR. Could you please test the `homebrew_cask` module?

[2020-12-31 18:06] apiology commented on #1524
Ah, right you are.  These also ran in the same playbook with no errors:

[code]

[code]

[2020-12-31 18:13] #1524 closed

[2021-01-01 04:49] Akasurde commented on #215
@PStoner3 Any news?

[2021-01-01 04:58] Akasurde commented on #463
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.mysql

Migrated this issue in the above repository - https://github.com/ansible-collections/community.mysql/issues/80.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.

[2021-01-01 04:58] #463 closed

[2021-01-01 04:59] Akasurde commented on #464
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.mysql

Migrated this issue in the above repository - https://github.com/ansible-collections/community.mysql/issues/81.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.

[2021-01-01 04:59] #464 closed

[2021-01-01 04:59] Akasurde commented on #465
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.mysql

Migrated this issue in the above repository - https://github.com/ansible-collections/community.mysql/issues/82.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.

[2021-01-01 04:59] #465 closed

[2021-01-01 05:00] Akasurde commented on #671
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.mysql

Migrated this issue in the above repository - https://github.com/ansible-collections/community.mysql/issues/83.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.

[2021-01-01 05:00] #671 closed

[2021-01-01 05:17] Akasurde commented on #655
resolved_by_pr #654

[2021-01-01 10:46] Akasurde commented on #655
Closing this issue as PR merged.

[2021-01-01 10:46] #655 closed

[2021-01-01 11:30] Akasurde commented on #815
This is a known issue and can be tracked using ansible/ansible#70267

[2021-01-01 11:30] #815 closed

[2021-01-01 11:49] Akasurde commented on #814
resolved_by_pr https://github.com/ansible-collections/community.general/pull/1567

[2021-01-01 12:20] #814 closed

[2021-01-01 17:00] Akasurde commented on #953
This is happening since the module is running on CentOS 6 which uses Python 2.6.6.

[code]

[code]

I think we need to decide what do to with the support of Python 2.6 since it is old and deprecated.

cc @felixfontein @gundalow @abadger

[2021-01-01 17:02] Akasurde commented on #1411
needs_info

[2021-01-01 21:58] felixfontein commented on #953
Python 2.6 is still supported by Ansible on the target, and the module does not say that it does not support Python 2.6.

It seems to me that fixing this is pretty trivial, since the arguments (and their default values) to `syslog.openlog` are well documented. Replacing lines 171 to 177 by
[code]
should work for all Python versions. Or even better, just
[code]

[2021-01-02 04:18] Akasurde commented on #953
resolved_by_pr #1572

[2021-01-02 04:19] Akasurde commented on #1474
Closing as per above.

[2021-01-02 04:19] #1474 closed

[2021-01-02 17:52] Jamesking56 commented on #1524
This is still failing for me, is it released as a new Ansible version or is there something else I need to do to get this working?

[2021-01-02 19:39] felixfontein commented on #1524
@Jamesking56 in case you didn't install the latest version of the collection directly from the `main` git branch, you won't have this fix yet. After the backport to the `stable-1` branch, you need to wait for a) a new collection 1.x.y release, and then b) an Ansible 2.10.z release which picks up the latest community.general 1.x.y release. a) is currently planned for January 4th, b) for January 5th

[2021-01-02 19:40] #953 closed

[2021-01-03 07:16] Akasurde commented on #1092
@0x412e4e Could you please paste the output of `ansible-galaxy collection list`?

[2021-01-03 10:11] #827 closed

[2021-01-03 10:11] #828 closed

[2021-01-03 10:37] #1500 closed

[2021-01-03 10:38] #1394 closed

[2021-01-03 11:56] Akasurde commented on #848
@Inspur-isib Did you create the collection as mentioned in https://github.com/ansible-collections/community.general/pull/597#issuecomment-652787143? Thanks.

needs_info

[2021-01-03 12:35] felixfontein commented on #848
I assume it is the inspur.sm collection (https://github.com/ansible-collections/ansible-inclusion/discussions/8).

[2021-01-03 12:45] Akasurde commented on #1510
@felixfontein Could you please point me to the failures or failed run? I will take a look at this. Thanks.

[2021-01-03 12:52] felixfontein commented on #1510
@Akasurde here is one failed run: https://dev.azure.com/ansible/community.general/_build/results?buildId=2572&view=logs&j=49a00612-4cd4-56f1-eb97-89982ed15d65&t=250592d1-617c-57f0-64fc-8248cc10921e

[2021-01-03 15:01] vbotka opened #1583 "nagios module not idempotent"
##### SUMMARY

The task below repeatedly results in `changed: true`

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nagios

##### ANSIBLE VERSION
[code]
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Master:
[code]
Remote (Nagios):
[code]
Host (monitored by Nagios):
[code]

##### STEPS TO REPRODUCE

The task below repeatedly results in `changed: true`

[code]

##### EXPEC

[2021-01-03 16:39] drybjed opened #1584 "The 'postgresql_privs' module cannot grant access to database by another role"
##### SUMMARY

The `postgresql_privs` role is broken when trying to grant access to a PostgreSQL database owned by one role, to a different PostgreSQL role.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_privs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: Debian Buster
Database: PostgreSQL 11

##### STEPS TO REPRODUCE

The idea is to cre

[2021-01-03 18:31] apiology commented on #1524
@Jamesking56 here's the recipe to install from the unreleased code in GitHub in the meantime:

[code]

[2021-01-03 19:58] Jamesking56 commented on #1524
Thanks @felixfontein @apiology :+1:

[2021-01-04 00:59] vbotka commented on #1583
It seems this module doesn't care about idempotency

https://github.com/ansible-collections/community.general/blob/main/plugins/modules/monitoring/nagios.py#L1299

[2021-01-04 05:31] Akasurde commented on #1441
Closing this as PR is merged.

[2021-01-04 05:31] #1441 closed

[2021-01-04 06:17] Akasurde commented on #392
Even I am not able to reproduce this -

[code]

[code]

needs_info

[2021-01-04 06:21] Akasurde commented on #392
I found a similar issue which is closed with solution - https://github.com/ansible/ansible/issues/47909#issuecomment-645555222

[2021-01-04 06:27] Akasurde commented on #119
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.postgresql

Migrated this issue in the above repository - https://github.com/ansible-collections/community.postgresql/issues/39.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansib

[2021-01-04 06:27] #119 closed

[2021-01-04 06:28] Akasurde commented on #193
@sbulage Could you please confirm if this still failing for you? Thanks.

needs_info

[2021-01-04 06:49] Akasurde commented on #501
Might be fixed via https://github.com/ansible-collections/community.general/pull/1585

[2021-01-04 06:52] Akasurde commented on #501
@fbruetting Could you please confirm if https://github.com/ansible-collections/community.general/pull/1585 works for you (at least the raised error about non-availability of dconf-send)?

[2021-01-04 07:48] bmillemathias commented on #674
Hi @brianmillett

thanks for spotting the issue, could you create a PR to fix that as you have a fix ?

Best.

[2021-01-04 07:52] #1510 closed

[2021-01-04 08:47] Akasurde commented on #1553
Closing this as PR is merged.

[2021-01-04 08:47] #1553 closed

[2021-01-04 08:54] tgoetheyn commented on #1583
Hi @vbotka ,
I am aware that the module is not idempotent.
This is because it is based on "external commands" which is a fire-and-forget mechanism.

To fix this, the whole module should be re-writen to make use of the newer API.
But this API is also limited in functionality, so it is possible not al functionality in the current module can be made available through the API.

Greeting,
Tony

[2021-01-04 10:25] vbotka commented on #1583
Others might be interested in learning it too. Wouldn't you mind updating the description of the module? For example

[code]
Talking about the doc, the statement below is not accurate, I think. Without "delegate_to" the module works as expected. Wouldn't you mind removing this statement?

[code]

[2021-01-04 10:36] tgoetheyn commented on #1583
feel free to make a pull request and adjust the things that need clarification ;-)

[2021-01-04 10:48] vbotka commented on #1583
I've submitted the PR. Would it be possible to review it? Thank you.

[2021-01-04 11:03] Akasurde commented on #1092
needs_info

[2021-01-04 18:23] felixfontein commented on #582
1.3.2 has been released now. The next bugfix release 1.3.3 will probably be in three weeks, i.e. similar to when 2.0.0 will be released.

[2021-01-05 05:40] Akasurde commented on #1067
@lamm Would you be interested in opening new PR for this? Thanks in advance.

[2021-01-05 09:03] Akasurde commented on #1017
on macOS 10.14

[code]

[2021-01-05 14:09] zippolyte commented on #1535
Hey

Looks to me like this was present and broken since the beginning of this module, and not really much used. Honestly these two `mute` and `unmute` states don't really make much sense to me. I'd instead see the usage being having a monitor in state `present` in your playbook, and modifying the `silenced` attribute there.

Moreover, for managing downtimes, I'd recommend using the `datadog_downti

[2021-01-05 14:13] nwerker commented on #1259
@briantist thanks for the comprehensive answer and the workaround. The workaround is sadly not an option for me since the lookup plugiin is used in hundreds of playbooks / calls.

I will reopen the issue in the new github repository, later today.

Thank you!

[2021-01-05 20:35] #354 closed

[2021-01-05 20:56] felixfontein commented on #1535
It probably makes sense to deprecate the states then, so they can be removed in a future version and current users get a deprecation message (which informs them that these states don't work at all, and will be removed in the future, and they should use the other module instead).

[2021-01-06 00:49] dsnyder0pc commented on #1524
FWIW, with the latest release (2.10.4), my simple test case is working for me.

[code]
I like the `_brew_cask_command_is_deprecated()` idea. Thanks to everyone who worked on this.

[2021-01-06 05:30] Akasurde commented on #1017
tl;dr - Disable chroot connection tests for macOS 10.15 permanently.

The macOS 10.15 is enabled with System Integrity Protection ([SIP](https://en.wikipedia.org/wiki/System_Integrity_Protection)) which does not allow run binary in chroot environment. While running tests for connection chroot we run several commands and use Python installed at `/usr/local/bin/python3.8`. Python command gets killed

[2021-01-06 07:07] felixfontein commented on #1524
Please note that Ansible 2.10.5 has been released, which includes community.general 1.3.2 and this fix.

Please note that if you manually installed community.general, and upgrade Ansible to a newer version which includes a different version, your manually installed version of community.general will hide the version coming with Ansible. You can use `ansible-galaxy collection list` to find which col

[2021-01-06 07:07] #1017 closed

[2021-01-06 13:44] apiology commented on #1524
Thanks, @felixfontein!  What's the command to remove a manually installed collection?  I poked around the help output but must have missed it.

[2021-01-06 13:46] apiology commented on #1524
Perhaps there isn't one?  https://github.com/ansible/ansible/issues/67759

Would `rm -fr ~/.ansible/collections/ansible_collections/community/general/` be an acceptable workaround, or is there other metadata that needs to be kept synced up?

[2021-01-06 18:11] felixfontein commented on #1524
`rm -rf` is the way to go at the moment. There is no other metadata that needs to be kept synced up.

[2021-01-07 05:06] Akasurde commented on #848
Ansible Galaxy: [galaxy.ansible.com/inspur/sm](https://galaxy.ansible.com/inspur/sm)
GitHub repo: [ISIB-Group/inspur.sm](https://github.com/ISIB-Group/inspur.sm)
GitHub repo: [ISIB-Group/inspur.sm/issues](https://github.com/ISIB-Group/inspur.sm/issues)
Automation Hub: [cloud.redhat.com/ansible/automation-hub/repo/published/inspur/sm](https://cloud.redhat.com/ansible/automation-hub/repo/published/i

[2021-01-07 05:06] #848 closed

[2021-01-07 05:45] Akasurde commented on #840
resolved_by_pr #1599

[2021-01-07 06:09] Akasurde commented on #851
resolved_by_pr https://github.com/ansible-collections/community.general/pull/820

[2021-01-07 06:09] #851 closed

[2021-01-07 06:23] #840 closed

[2021-01-07 10:15] Akasurde commented on #895
Duplicate of https://github.com/ansible-collections/community.general/issues/894

[2021-01-07 10:15] #895 closed

[2021-01-07 10:31] Akasurde commented on #818
@dark-vex I am not able to reproduce this error.

[code]

[code]

Can you please check if you have the correct transition states or you are not using some other locale?

<img width="1243" alt="Screenshot 2021-01-07 at 16 01 04" src="https://user-images.githubusercontent.com/633765/103882309-9c0f5600-5101-11eb-9022-dcdcd2066c6b.png">

[2021-01-07 10:40] Akasurde commented on #818
[code]
My transition status name is `In Progress` whereas yours is `"name": "Start Progress",`.

Can you try changing `status` and re-run?

[2021-01-07 11:33] Akasurde commented on #1049
@kwinkelman-bw PR https://github.com/ansible-collections/community.general/pull/1509 solves this. Could you please use this PR and let me know if this works for you?

Thanks.

needs_info

[2021-01-07 11:33] Akasurde commented on #1049
resolved_by_pr https://github.com/ansible-collections/community.general/pull/1509

[2021-01-07 11:33] #1049 closed

[2021-01-07 14:49] dark-vex commented on #818
@Akasurde damn! you're right I've changed it to "Start Progress" and it worked, apologies, I was pretty sure to have tried also with it!

[code]

@Akasurde One question it's supported the transition change and issue assignation together?
I'm asking because when I add the username _assignee: "ansibleaut"_  or the display name of the user  _assignee: "Ansible Automation"_  it generates the following

[2021-01-07 14:58] Akasurde commented on #818
Yes I can reproduce this -

[code]
It seems that we are not sending the correct JSON that JIRA is expecting.

Let me check and get back to you.

[2021-01-07 15:02] Akasurde commented on #818
From this page https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-issues/#api-rest-api-3-issue-issueidorkey-transitions-post it seems providing assignee is valid.

[2021-01-07 15:48] Akasurde commented on #818
@dark-vex Could you please apply this patch and let me know -

[code]

I am able to update `assignee` with transition status.

[2021-01-07 16:51] dark-vex commented on #818
@Akasurde thanks! I've tried the patch, the error disappear, the transition is applied but the jira task/issue then remain not assigned

[code]

![Snap 2021-01-07 at 17 47 15](https://user-images.githubusercontent.com/2905124/103919871-dc2a0500-5110-11eb-93e8-a3a1d86a718e.png)

[2021-01-08 05:43] Akasurde commented on #818
@dark-vex I think this is a permission issue. Reassigning an issue requires the following permission

<img width="1196" alt="Screenshot 2021-01-08 at 11 10 57" src="https://user-images.githubusercontent.com/633765/103978775-46d75100-51a2-11eb-8b8c-23e9e18a518b.png">

I have `Free` instance so can't modify the permissions.

I get following error -

[code]

[2021-01-08 17:33] tmasterson opened #1605 "dnsimple creates fatal error"
##### SUMMARY

There are several different issues depending on the version of python's dnsimple module and the version of ansible.  I am documenting for ansible 2.9/2.10 and dnsimple 2.1.0. Using dnsimple 1.0.0 and up generates different fatal crashs but they all have them.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

dnsimple
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

###

[2021-01-08 18:40] felixfontein commented on #1605
@tmasterson it looks like there was a breaking change in dnsimple's API for 2.0.0. For 1.2.0 (the last 1.x.y release), [the `dnsimple` package](https://github.com/dnsimple/dnsimple-python/blob/1.2.0/dnsimple/__init__.py) contains a class `DNSimple`, while the [current version](https://github.com/dnsimple/dnsimple-python/blob/master/dnsimple/__init__.py) no longer has that. That's what the error ab

[2021-01-08 19:55] tmasterson commented on #1605
Yes they changed the api.  A quick look at the code makes it look like the change is not terribly difficult.

Note I was getting fatal errors with version 1.2.0 (I believe it was something about exception not having a message) but I don't have a copy of that error any more.

I am not sure how to make the template any easier.  Part of the problem is with all the blank lines it is sometimes a guessi

[2021-01-09 22:01] sean-abbott opened #1606 "Snap module does not change channel if the snap is already installed"
##### SUMMARY
I'm attempting to set the snap channel with ansible on already installed machines, but "tracking" channel (which happens to currently co-incide with the version I'm tracking to track) remains pointed at latest/stable

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
snap

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPR

[2021-01-10 07:16] russoz commented on #818
@dark-vex @Akasurde This can also be the configuration of the specific transition in the workflow. If that transition does not have an associated screen, or if the the screen does not contain the ``assignee`` field, JIRA will diligently block the update - even though we're doing this via API.

[2021-01-10 08:49] Akasurde commented on #818
@russoz OK. Thanks. So do you think [the above](https://github.com/ansible-collections/community.general/issues/818#issuecomment-756199132) is OK? Let me know.

[2021-01-10 11:33] russoz commented on #818
Sorry, but I don't think it is.

To begin with, the [docs link](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-issues/#api-rest-api-3-issue-issueidorkey-transitions-post) you mentioned refers to JIRA API v3, whilst our ``jira`` module in Ansible uses JIRA API v2. The link for that should be https://developer.atlassian.com/cloud/jira/platform/rest/v2/api-group-issues/#api-res

[2021-01-10 11:41] russoz commented on #818
I don't have a JIRA instance I can play with for this issue.

@dark-vex  @Akasurde could you guys change the same thing but instead of changing the assignee, change the summary. I reckon we should bump into the same problems.

[2021-01-10 13:54] dark-vex commented on #818
@russoz yes, sure. I've tried with this:
[code]

The transition change but not the summary:
[code]

![Snap 2021-01-10 at 14 53 52](https://user-images.githubusercontent.com/2905124/104124902-b6d90900-5353-11eb-8639-46db7f2bf1ae.png)

[2021-01-10 16:59] staticdev opened #1608 "No effect modprobe"
##### SUMMARY
It shows status changed but the module is not listed on loaded modules. Also I run many times and all the time it is changed.

After some more investigation, I see the module is builtin. It is not correctly verifying if the module is loaded.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.general.modprobe

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

###

[2021-01-10 20:07] russoz commented on #818
@dark-vex those are the result _with_ the patch, right?

[2021-01-10 20:21] dark-vex commented on #818
@russoz I confirm that the result above is **with** the patch applied

[2021-01-10 22:22] rendhalver opened #1609 "Add support for creation of pingdom checks"
##### SUMMARY
The upstream module you use to manage pingdom has support for creating checks.
Please update the code to create those checks.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
community.general.pingdom

##### ADDITIONAL INFORMATION

[code]

[2021-01-10 22:23] rendhalver commented on #1609
I will see if I can work out how to do this when I get a chance.
Just wanted to get this in as an issue so it can be tracked.

[2021-01-11 07:17] mdavis-xyz opened #1613 "Allow --output or arbitrary arguments for docker build"
##### SUMMARY

I am using `docker_image` to build an image from a Dockerfile.
My end goal is to compile something inside the container, and then copy the binaries to the host, without all the dependencies.
I've got this working at the moment with:

* build image
* start container from image
* shell: `docker cp`
* stop container

The docker command now includes a `--output` option for `docker build

[2021-01-11 11:26] gundalow commented on #1609
bot_status

[2021-01-11 13:43] shaftoe opened #1614 "`community.general.npm` raises `JSONDecodeError`"
##### SUMMARY

`community.general.npm` raises `JSONDecodeError`

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

npm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacBook Air, up to date MacOS Catalina 10.15.7 (19H114)

##### STEPS TO REPRODUCE

[code]

- __macbook.yml__:

[code]

##### EXPECTED RESULTS

`puppeteer-core` (and any other npm module) is in

[2021-01-11 20:50] felixfontein opened #1616 "monit tests fail on RHEL"
##### SUMMARY
See https://dev.azure.com/ansible/community.general/_build/results?buildId=3802&view=logs&jobId=82364942-2998-59d8-4cdd-e3bc93e5f684&j=82364942-2998-59d8-4cdd-e3bc93e5f684&t=b70435cd-a65a-5bf5-a79e-73ec6742743f

I disabled them temporarily in #1615.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
monit

##### ANSIBLE VERSION
[code]

[2021-01-12 06:47] russoz commented on #1475
@lifeisafractal unfortunately the idea we had in #1480 for assisting with the deprecation didn't go through, so now all that is left to do about deprecating ``facts`` is adding that to the documentation.

[2021-01-12 09:47] snopoke commented on #1616
I can't find the failure in the build logs linked in the description.

[2021-01-12 09:57] Akasurde commented on #1616
@snopoke You can scroll to bottom and see the failure in `attempt #1`

<img width="889" alt="Screenshot 2021-01-12 at 15 26 05" src="https://user-images.githubusercontent.com/633765/104298884-84154900-54ea-11eb-9e9b-1b995561856d.png">

tl;dr - python-daemon and setuptools are not getting installed on RHEL 8.2 image

[2021-01-12 10:03] #1583 closed

[2021-01-12 10:43] snopoke commented on #1616
@Akasurde thanks, it was hidden for me until I loaded previous attempts.

[2021-01-12 10:45] Akasurde commented on #1616
@snopoke for me too.

[2021-01-12 11:37] shackled-mystic opened #1624 "ldap_attrs - seems to add additional attribute value even when specifying "state: exact" - LDAPserver reports error"
##### SUMMARY
Using community.general.ldap_attrs to update configuration for RHDS11(hosted on RHEL8)
when trying to update some attributes (nsslapd-db-locks in this case), the module throws the error:
[code]
directory error logs show:
[code]
This seems to suggest the module is trying to add another value for the attribute instead of the intended replace. Here's how the play looks:
[code]
rhdsops_l

[2021-01-12 11:46] #1411 closed

[2021-01-12 13:55] Akasurde commented on #1614
@shaftoe Can you please check #1625 and let me know if it works for you?

I am not able to reproduce your original error message, though.

[2021-01-12 14:20] shaftoe commented on #1614
This is how I'm testing:

[code]

It's still breaking but the error looks different:

[code]

[2021-01-12 14:36] fboleto commented on #1614
I see the same issue, even with the patch in place.

[2021-01-12 19:49] russoz commented on #818
@dark-vex those alright, as far as I can tell, it confirms what I thought it was the problem: using ``{ "data": { "update": ... }}`` for the fields does not work, we should be using ``{ "data": { "fields": ... }}`` instead. Or, IMHO, we should be using ``python-jira`` instead of having to worry about this type of things at the ansible module level.

I suspect that if we simply change it to ``field

[2021-01-12 20:33] felixfontein commented on #1614
@shaftoe the PR was adjusted to fix the crashes you are both experiencing a few minutes before you posted. Could you try the latest version (it has the `import` for `to_native`)? @fboleto it looks like you also got the old version of the patch which was missing the `import`.

[2021-01-12 20:36] felixfontein commented on #1475
@russoz my suggestion to add a deprecation warning, and a new option to switch to the new behavior now (and disable the deprecation warning) still stands.

[2021-01-12 20:36] russoz commented on #325
Hi @BernhardCW sorry for my late response as well :-)

From
[code]
I reckon this is going to be a dead end: it seems we would be violating the ldap schema for ``groupOfNames``, meaning that object class **must have at least one member**, so this is not a matter of the code in itself. Most likely ``python-ldap`` maintainers will not change their code to break the LDAP schema.

I think you will need

[2021-01-12 20:54] shaftoe commented on #1614
@felixfontein I've updated with [this version (commit f81eac5d051406df931852dde1b127edf8b7bdcf)](https://raw.githubusercontent.com/ansible-collections/community.general/f81eac5d051406df931852dde1b127edf8b7bdcf/plugins/modules/packaging/language/npm.py), still broken:

[code]

[2021-01-13 04:46] Akasurde commented on #1614
@shaftoe Could you please provide output of `npm list --json --long`? I think this output on your system is not providing the correct JSON value?

[2021-01-13 05:03] Akasurde commented on #193
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.kubevirt

Migrated this issue in the above repository - https://github.com/ansible-collections/community.kubevirt/issues/14.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible o

[2021-01-13 05:03] #193 closed

[2021-01-13 07:47] Akasurde commented on #529
Closing this issue since the PR is merged.

[2021-01-13 07:47] #529 closed

[2021-01-13 07:49] Akasurde commented on #466
Closing since there is very little information available.

[2021-01-13 07:49] #466 closed

[2021-01-13 07:49] Akasurde commented on #501
needs_info

[2021-01-13 08:08] Akasurde commented on #688
@jean-christophe-manciot Thanks for reporting this issue. You are trying to read `text` so use `content: text` instead of `content: attribute`.

[code]

[code]

If you want to read attribute like `subjective=true`,

[code]

[code]

needs_info

[2021-01-13 08:13] shaftoe commented on #1614
`npm list --global --json --long` => https://gist.github.com/shaftoe/1ee8a8e624b598243861d71cb111234c

[2021-01-13 08:35] nerijus commented on #529
@Akasurde , could you please provide a link to PR here?

[2021-01-13 08:45] Akasurde commented on #1614
@shaftoe I am getting this error on my machine -

[code]

[2021-01-13 08:46] Akasurde commented on #529
resolved_by_pr https://github.com/ansible-collections/community.general/pull/1590

[2021-01-13 09:13] drybjed commented on #1624
I'm not sure if the `ldap_attrs` module supports the syntax you are trying to use, specifically:
[code]

Use of `dict2items` here is unnecessary. Instead, you can pass the dictionary directly and it should be processed by the module as expected:
[code]
Can you check if that works?

[2021-01-13 09:16] drybjed commented on #1624
As for the `nsslapd-db-locks` error, it seems that this is a LDAP schema error. "Object class violation" suggests that the LDAP server expects the value to be an integer, and you quoting it change it into a string. Try to specify it unqioted which should result in an integer.

[2021-01-13 11:23] draculacowboy83 opened #1630 "lvol - lvcreate snapshot "**%ORIGIN" fails"
##### SUMMARY
When i want to create a lvm snapshot with the module `lvol` and the option `size : 20%ORIGIN` for example,
it fails :

This option is valid according to lvcreate(8).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lvol

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS : Linux REDHAT 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2021-01-13 12:19] felixfontein commented on #582
1.3.3 has been released, addressing CVE-2021-20178. 1.3.4 will be released in ~two weeks, i.e. as planned for 1.3.3 before.

[2021-01-13 13:12] Akasurde commented on #1614
@shaftoe Could you please check updated PR #1625 and let me know? Thanks.

[2021-01-13 14:03] shaftoe commented on #1614
@Akasurde looks good now! thanks a lot

[2021-01-13 15:31] vc43 commented on #516
What about second problem?

If I run multiple identical containers they all try to bind exposed port.

[2021-01-13 16:34] RemiCardona opened #1631 "jenkins_job fails with Jenkins 2.190 due to [403] No valid crumb was included in this request"
##### SUMMARY

Follow up bug to https://github.com/ansible/ansible/issues/64099

You guys are really making this **a lot** harder to find with all the splits and bugs going stale. Anyhow…

This plugin still needs to reuse/copy the new "crumb" code that was written for the ``jenkins_plugin`` and ``jenkins_script`` modules that do not rely on the host systems ``python-jenkins`` module which can be s

[2021-01-13 16:57] RemiCardona commented on #1631
!component jenkins_job

[2021-01-13 22:58] stobias123 opened #1633 "MSSQL Script"
##### SUMMARY
We have `mssql_db` for creating databases.

I'd like a simple module, similar to `win_shell` and `shell` that allows for arbitrary execution of SQL scripts. There's times when I need to run simple seed or migration scripts as part of ansible deployments.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mssql_script

##### ADDITIONAL INFORMATION
N/A

[code]

[2021-01-14 13:18] #1614 closed

[2021-01-14 16:37] jqueuniet opened #1638 "proxmox_kvm: VM created with OVMF BIOS are invalid"
##### SUMMARY
EFI virtual machines created with proxmox_kvm don't work, the EFI disk is missing and the boot order is missing the disks.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
proxmox_kvm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Targeted Proxmox server is running 6.3-3

##### STEPS TO REPRODUCE

[code]

[code]

I stripped the bootstrap part

[2021-01-14 17:22] felixfontein commented on #582
1.3.4 has been released, addressing CVE-2021-20180. 1.3.5 will be released in ~two weeks, i.e. as planned for 1.3.3/1.3.4 before.

[2021-01-15 06:23] bsmeding commented on #544
Same issue here, when the key column have a space in it. Without a space as key file no problem in reading in. So removing bytes is not the issue here.

[code]
If i change the import to key 'Soort' no problem in the module

[2021-01-15 06:45] felixfontein commented on #1562
/rebuild_failed

[2021-01-15 11:47] idolux opened #1641 "proxmox_kvm: only root can set 'args' config error even if args is null"
##### SUMMARY
Set `proxmox_default_behavior: no_defaults`, do not set an args option (debug shows `"args": null,`)
It is not possible to create a kvm due to the following error: 500 error `only root can set 'args' config`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
proxmox_kvm

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04.5 LTS

##### STEPS TO REPRODUCE

[code]

#####

[2021-01-16 12:03] JohnCardenas opened #1644 "Unable to use Proxmox Inventory Plugin with AWX"
##### SUMMARY
The `community.general.proxmox` inventory plugin does not correctly respect fallback environment variables. It should be possible to define `PROXMOX_HOST`, `PROXMOX_USER`, and `PROXMOX_PASSWORD` to provide credentials without storing them in source control.

Because of this behavior, it is impossible to use with AWX without putting credentials into source control and exposing them.

[2021-01-16 13:19] felixfontein commented on #1644
I cannot find any reference in the source of the plugin that `PROXMOX_*` environment variables are supported. Are you sure this is a bug report, and not a feature request?

[2021-01-16 17:50] JohnCardenas commented on #1644
Hi @felixfontein ,

If I am not mistaken (and I am very likely to be, as I'm new to Ansible inventory plugins and not at all a Python developer), the code at https://github.com/ansible-collections/community.general/blob/main/plugins/module_utils/proxmox.py#L38 seems to indicate the `PROXMOX_*` environment variables are supported for fallback for the host, user, and password.

[2021-01-16 18:36] felixfontein commented on #1644
@JohnCardenas the module_utils is only used by some of the proxmox modules (not all of them though), but not by the inventory plugin.

[2021-01-16 18:59] JohnCardenas commented on #1644
@felixfontein - thanks for that. I've now seen how a couple other plugins do it, and I'll PR the env passthrough change. I'm going to go ahead and close this issue, since it is not a bug.

[2021-01-16 18:59] #1644 closed

[2021-01-16 19:40] felixfontein commented on #1644
@JohnCardenas adding support for env variables for plugins is easier than for modules, so feel free to create a PR for that :)

[2021-01-17 11:29] #1549 closed

[2021-01-17 21:34] Sergong opened #1646 "Make mas more robust to deal with app installs on new Macs more gracefully"
##### SUMMARY

mas currently does not handle installation of Apps from the App Store gracefully when the app has never been installed (such as as is the case typically for a new Mac).
If `mas install [id]` fails, the module should not fail but instead try to use `mas purchase [id]` first. This stands a good chance of succeeding depending to the user's App Store Media & Purchase preferences.

#####

[2021-01-18 04:29] cdayjr opened #1647 "Wrong error message / failure on upgrading latest -> latest homebrew cask"
##### SUMMARY

I have a cask that does not have a checksum, so when you install or upgrade it, it emits the following message but continues successfully:
[code]
When running in ansible, the tasks gets marked as failed and only this is picked up for the error message. I believe the task failure is because of this https://github.com/ansible-collections/community.general/blob/3b9c6d496bbb5b24e1281c59