[2021-04-27 12:19] #2336 closed

[2021-04-27 18:02] jorhett commented on #1973
Disabling auto update is at best a workaround, and would defeat `latest` state declarations.

While I realize this problem will eventually disappear because no older Homebrew installations exist, it's a very small patch for a repeatable failure.

[2021-04-27 19:47] xabinapal opened #2364 "influxdb_user: can't create user with no existing users and auth enabled"
### Summary

When deploying a new InfluxDB service with no existing users and authentication enabled, InfluxDB 1.x allows to execute a `CREATE USER` query but no other queries. This is specified in the official docs (https://docs.influxdata.com/influxdb/v1.8/administration/authentication_and_authorization/):

No other query is allowed and, because of this, `influxdb_user` module fails as it tries

[2021-04-28 06:22] zigaSRC commented on #2360
According to LVS(8) man page, there is differentiation between the different capitalizations of the unit. And since that tool is being used to check the current status of the logical volumes further checks for size can fail as seen in this case. The units have to be converted to lowercase in the LVS query.

[2021-04-28 10:15] dominikkaminski opened #2370 "lvol: extending to ' +100%FREE' calculating wrong size"
### Summary

When I try to extend lv to max free available disk space, it calculates the wrong size after upgrading from 2.5.1 to current release (3.0.0)

Error:
--------
[code]

Possibly related to:
-------------------------
https://github.com/ansible-collections/community.general/issues/1988
https://github.com/ansible-collections/community.general/pull/2267

### Issue Type

Bug Report

### Compo

[2021-04-28 11:33] Daniel-Sanchez-Fabregas opened #2372 "xml add_children cant add <a href="foo">bar</a> using yaml"
### Summary

I can't find a way to add the xml node4 in the question of the example:

[code]

Is is possible?
Is it documented?

### Issue Type

Feature Request

### Component Name

xml

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

[code]

### Steps to Reproduce

[code]

### Expected Results

Output file:
[code]

### Actual Results

Output file:
[code]

### Code of

[2021-04-28 20:31] felixfontein commented on #2370
@dominikkaminski can you check whether the PR #2369 fixes the issue for you?

[2021-04-28 20:48] dominikkaminski commented on #2370
@felixfontein I'm sorry to say but it didn't fix my issue.

[2021-04-28 20:56] felixfontein commented on #2370
@dominikkaminski might have been a lucky guess :)
@zigaSRC in that case #2267 might have introduced another problem.

[2021-04-29 06:42] zigaSRC commented on #2370
I just tested a few scenarios, I see I should have tested the module more...

The #2369 had no chance of fixing it since this bug is related to the calculation of the logical volume size in the module. That's the concern I mentioned when I was asking if it's smart to do the calculations inside the module and not just let the tool handle it.

Here's a version of the documentation for LVEXTEND(8) --

[2021-04-29 12:39] srml opened #2373 "svr4pkg on Solaris 11.4: TypeError: a bytes-like object is required, not 'str'"
### Summary

When you try to install a package on Solaris 11.4 with the svr4pkg module, you get an error:
TypeError: a bytes-like object is required, not 'str'

Fix:
[code]

After the fix it still works on Solaris 11.4 SRU15, Solaris 11.4 SRU31, Solaris 10 1/13

### Issue Type

Bug Report

### Component Name

communtiry.general.svr4pkg

### Ansible Version

[code]

### Configuration

[code]

### O

[2021-04-29 13:59] jake2184 commented on #2370
For a bit of extra context, I think this is because you're trying to round up/down when you don't need to.

I create a new LV, with space `+100%FREE`. I then re-run the lvol module. My `size_requested` is calculated initially as zero as there is no free space, and my lv size (11260) is a multiple of the vg ext_size (4). See annotated code below.

https://github.com/ansible-collections/community.ge

[2021-04-29 14:26] splieth opened #2374 "Error creating keystore when extracting public certificate from pkcs12"
### Summary

When I recently updated to Ansible 2.10.8, the Playbook I'm using in order to create a keystore with the VMs certificate in it, the `java_cert` module fails to put that certificate into the keystore with the message: `"Internal module failure, cannot extract public certificate from pkcs12, error: "`.

With Ansible 2.10.6, I don't get that error. I suspect this to be related to the cha

[2021-04-29 15:46] aminvakil commented on #2373
@srml Thanks for your fix, are you interested in creating a PR fixing this?

[2021-04-29 15:48] aminvakil commented on #2373
!component =plugins/modules/packaging/os/svr4pkg.py

[2021-04-29 18:23] mator commented on #2373
i can't reproduce with solaris 11.4 (x86_64) virtual machine and my playbook
[code]
checking with installed package on solaris 11:
[code]

[2021-04-29 18:39] larsks opened #2376 "github_repo always reports changed status"
### Summary

When using the `github_repo` module to create a repository, the module always reports "changed" even when the repository already exists. Consider the following playbook:

[code]

Running it once produces:

[code]

Running it one or more additional times reports:

[code]

### Issue Type

Bug Report

### Component Name

github_repo

### Ansible Version

[code]

### Configuration

[code]

[2021-04-29 19:09] srml commented on #2373
It only happens on newer SRU (I think 30 or 31) which have python3 as the default python.

Check SRU:
[code]
On older SRU you can manually switch to python3:
[code]

After that you should be able to reproduce.

[2021-04-29 19:45] felixfontein commented on #2374
The way the module uses run_command, no shell is involved. Do you have an example what kind of special characters cause problems?

[2021-04-29 19:54] felixfontein commented on #2374
I only managed to reproduce this with non-ASCII characters, but not with regular special characters (like $, punctuation, ...). Mishandling of non-ASCII characters could be a encoding problem.

[2021-04-29 20:28] absynth76 commented on #2374
To test I duplicated the embedded keystore,
so far I tested with:
changeit
changeit!
changeit$
changeit\
changeit/
changeit.

and no issue at all, I can only reproduce the failure in case I provide an incorrect keystore password to the task.

In the meantime, reading the code I saw I made a mistake at another place,
"Unused variable 'pkcs12_alias'pylint(unused-variable)"
[code]
it should be
[code]

[2021-04-30 06:36] zigaSRC commented on #2370
That's true. I missed that one.
Could just do the rounding in a more proper way: `this_vg['ext_size'] re* ceil(size_requested / this_vg['ext_size'])`

[2021-04-30 08:06] xabinapal opened #2383 "influxdb_retention_policy: add state argument to remove RPs"
### Summary

`influxdb_retention_policy` module only supports creation of retention policies as it does not have an option to specify their state.

An `state` option with accepted `present` and `absent` values should be added to allow dropping existing retention policies.

### Issue Type

Feature Idea

### Component Name

influxdb_retention_policy

### Additional Information

`duration` and `repli

[2021-04-30 10:05] mator commented on #2373
solaris 11.4 GA have only python versions of 2.7 and 3.4, so my test was based on vendor default version 2.7

[code]

switched python version to 3.4 with `pkg set-mediator` , but ansible complained it only support 3.5+ versions of python. I'm going try to upgrade my solaris 11.4 GA version to something more recent (don't have support contract here, but have some FRU ips repo files around) and try

[2021-04-30 10:35] abikouo commented on #2376
@larsks thanks for reporting this issue.
``github_repo`` module is used to create and edit repo when state is set to ``present``
Existing repo will be edited if the module is run with a different value of ``private`` or ``description``, so could you please check that the ``descrption`` of the repository was already empty value before ?

[2021-04-30 11:02] larsks commented on #2376
The repo was *created* using `github_repo`. In the example output I showed above, the first output created the repository. The only configuration in place (`private`, `description`, etc) was put in place by the `github_repo` module. As indicated, no matter how many times you run it, it continues to report `changed` status.

[2021-04-30 11:58] srml commented on #2373
I used the VM template from https://www.oracle.com/solaris/solaris11/downloads/solaris11-vm-templates-downloads.html, that one has python 3.5 installed.

[2021-04-30 18:58] mraineri commented on #2269
@liamwh is there any way to configure the image server you're currently trying to use to not require credentials? Curious to see if iDRAC is successful if credentials are not required. If it's successful, I may need to reach out to some others for input.

[2021-04-30 19:22] felixfontein commented on #2374
@absynth76 for the unrelated part, just create a small PR fixing it.

[2021-04-30 20:06] felixfontein commented on #2374
In fact I didn't even reproduce it with this module, but with java_keystore. I tried to reproduce it using the java_cert integration tests, but the task it failed was a java_keystore task... I guess the problem there is that `openssl` (password via stdin) and `keytool` (password via env variable) handle encodings differently...

[2021-04-30 20:07] felixfontein commented on #2374
@splieth I have a question about your bug report. You are stating that you are using the `java_cert` module to **create** a keystore. The documentation does not state that it creates keystores, it only states that it **modifies** existing keystores. It could be that older versions of the module would create a keystore if none exists.

[2021-04-30 21:33] gangelop opened #2388 "composer: Warn users about running composer as root, based on upstream warning"
### Summary

* When ansible runs composer as root, it does not warn the user about the security implications based on the [upstream warning](https://getcomposer.org/root).
* The composer module documentation does not mention said warning either.

### Issue Type

Bug Report

### Component Name

composer

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Any

### Steps to

[2021-04-30 21:48] felixfontein commented on #2388
This should definitely be documented. I'm not sure whether the module should re-create the composer warning (which would be necessary to show it to the user).

[2021-04-30 21:56] gangelop commented on #2388
What's the alternative? Failure requiring a "force" option in the task?

[2021-04-30 22:32] gangelop commented on #2388
ok, I have two questions:

* If composer allows third-party packages to execute arbitrary code, then those packages can also attempt to use `sudo` or whatever other escalation method ansible uses. Wouldn't that mean that even running it as a non-root user, but with the capability of privilege escalation, would still be unsafe?
* Do other packagers suffer from this same issue? For example, does `np

[2021-05-01 03:06] oybed commented on #836
We are seeing the same issue for A records when using `@` as the record. If the IP is changed the task completes successfully, but no changes are made to the ip the task fails with the same trace as above, resulting in `... nsupdate.py\", line 394, in ttl_changed\nIndexError: list index out of range `

[2021-05-01 10:32] marcpaulchand opened #2397 "ssh_config : missing library in deps : stormssh"
### Summary

I tired to change my ssh config with the module. But it seems a library(stormssh) is missing when i launch the playbook.
I guess it's just a dependancie stuff. But i'm glad to help everyone :D

### Issue Type

Bug Report

### Component Name

ssh_config

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora 34

### Steps to Reproduce

[code]

### Expected

[2021-05-01 10:37] aminvakil commented on #2397
Thanks for opening this issue.
It's been documented here:
https://docs.ansible.com/ansible/latest/collections/community/general/ssh_config_module.html#requirements
Is there anything that could be done to improve this?

[2021-05-01 10:51] Akasurde commented on #2397
@aminvakil you are right. This is already documented.

[2021-05-01 11:18] myrdd opened #2399 "locale_gen doesn't support Gentoo targets"
### Summary

The module `locale_gen` fails with the following message:
`The locale you've entered is not available on your system.`

This issue has been discussed here: https://github.com/ansible/ansible/issues/38931
There was a PR here: https://github.com/ansible/ansible/pull/34146

[Citing](https://github.com/ansible/ansible/issues/38931#issuecomment-468824286) @s-hamann:

Gentoo has `/usr/share

[2021-05-01 11:46] marcpaulchand commented on #2397
I thought it will be handled by the command
[code]

My bad.

then it could be close.

[2021-05-01 11:49] Akasurde commented on #2397
@marcpaulchand `ansible-galaxy collection install` will install only collection requirements and not Python third-party library.

[2021-05-01 11:53] aminvakil commented on #2397
No, that's for different purposes as @Akasurde stated.

Feel free to re-open this issue if you think there could be an improvement to this matter.

[2021-05-01 11:53] #2397 closed

[2021-05-01 12:07] aminvakil commented on #2399
As it's been stated in the PR you have mentioned and these lines:
https://github.com/ansible-collections/community.general/blob/276880aac1a4df7cd9cfbea983c3e743de0a1bbf/plugins/modules/system/locale_gen.py#L63-L73
It's checking `/usr/share/i18n/SUPPORTED` in some circumstances, but I'm not sure if just changing it to also check `/usr/share/i18n/SUPPORTED` is fine or not as I don't have this file o

[2021-05-01 12:25] felixfontein commented on #2399
Maybe the best behavior would be to first check `/etc/locale.gen` (if not in "Ubuntu mode"), and if it is not found there and `/usr/share/i18n/SUPPORTED` also exists, also check that one. I don't have `/usr/share/i18n/SUPPORTED` on my Arch boxes, but it exists on some Debian boxes I checked.

[2021-05-01 12:27] aminvakil commented on #2399
FYI it's also not available on CentOS 7, 8.

[2021-05-01 12:39] aminvakil commented on #297
@MTWiley Have you checked @RoberMB's suggestion?

needs_info

[2021-05-01 12:46] aminvakil commented on #392
@jamesfreeman959 Can you verify the solutions above solved your problem?

[2021-05-01 13:00] aminvakil commented on #456
@felixfontein @gundalow This can be closed now, right? :)

[2021-05-01 13:10] felixfontein commented on #2388
If `sudo` does not need a password, yes. You could also use `become: true` with `become_user` set to a user which cannot do passwordless `sudo` though.

I think both `npm` and `pip` (`setup.py` is executed) have the same problem (they do not have such a warning, or I never noticed). Other package managers such as `apt` or `pacman` do not.

[2021-05-01 13:13] aminvakil commented on #497
@branleb Could you please test if your problem has been solved with latest ansible-core and ansible releases?

needs_info

[2021-05-01 13:13] felixfontein commented on #2388
I think there are three alternatives:

1. Make sure it just works.
2. Make sure it works, but emit a warning. (The module needs extra code to determine whether the warning needs to be emitted.)
3. Make sure it fails, but allow to overwrite. (Also needs that extra code.)

3. would be a breaking change, since that interactive warning wasn't there always, so this changes behavior for people using old

[2021-05-01 13:14] #456 closed

[2021-05-01 13:14] felixfontein commented on #456
@aminvakil yes, definitely :)

[2021-05-01 13:17] aminvakil commented on #544
@dagwieers As maintainer of this module, what do you think about this?

Is this a feature which is fine to add to module or would lead to other problems?

[2021-05-01 13:20] gangelop commented on #2388
fyi, I just learned in https://github.com/composer/composer/issues/9860 that composer has [COMPOSER_ALLOW_SUPERUSER](https://getcomposer.org/doc/03-cli.md#composer-allow-superuser)

[2021-05-01 13:27] myrdd commented on #2399
FYI: on Debian, `/usr/share/i18n/SUPPORTED` is part of the `locales` package, which also contains the `locale-gen` binary:
https://packages.debian.org/buster/locales
https://packages.debian.org/buster/all/locales/filelist

[2021-05-01 13:27] aminvakil commented on #616
needs_info

[2021-05-01 13:31] aminvakil commented on #619
@Ph-Wagner Can you verify issue is fixed with ansible-base 2.10 or ansible-core 2.11, so we can close the issue?

[2021-05-01 13:40] aminvakil commented on #657
Per https://github.com/ansible-collections/community.general/pull/658#issuecomment-701374342 talks, I'm going to close this issue.

[2021-05-01 13:40] #657 closed

[2021-05-01 13:44] gangelop commented on #2388
Actually, I think `post_install` scripts in `pacman` can execute anything they like as root. But an OS package manager has a different security model and trust assumptions than a language library manager. And generally, when I run `pacman -S $pkg` I could be installing anything from an icon pack to a kernel module (i.e. a rootkit) and there's never a distinction made between the two. So the assump

[2021-05-01 13:47] gangelop commented on #2388
Also dropping this here for my own reference:
https://stackoverflow.com/questions/4938592/how-why-does-npm-recommend-not-running-as-root

[2021-05-01 13:49] aminvakil commented on #672
+label waiting_on_contributor

[2021-05-01 13:51] aminvakil commented on #674
-label needs_info

[2021-05-01 13:51] aminvakil commented on #674
-label needs_template

[2021-05-01 13:56] aminvakil commented on #683
@jikamens Can you confirm your issue has been resolved?

needs_info

[2021-05-01 13:57] aminvakil commented on #685
@Madko Are you interested in creating a PR fixing this issue?

[2021-05-01 13:59] aminvakil commented on #705
+label waiting_on_contributor

[2021-05-01 14:02] aminvakil commented on #714
@luiscachog As you have originally opened this issue on ansible/ansible, did you have your problem solved?

needs_info

[2021-05-01 14:04] aminvakil commented on #724
+label waiting_on_contributor

[2021-05-01 14:04] aminvakil commented on #725
+label waiting_on_contributor

[2021-05-01 14:10] aminvakil commented on #735
!component =plugins/become/pbrun.py

[2021-05-01 14:18] aminvakil commented on #752
@tmiroslav Could you fix your issue using @felixfontein suggestions?

needs_info

[2021-05-01 15:14] aminvakil commented on #785
@bossi86 Can you confirm this issue is solved?

needs_info

[2021-05-01 15:18] aminvakil commented on #792
This has been fixed after https://github.com/ansible-collections/community.general/pull/850 got merged.
You can test it with setting `proxmox_default_behavior` to `no_defaults` as described in https://docs.ansible.com/ansible/latest/collections/community/general/proxmox_kvm_module.html#parameter-proxmox_default_behavior.

[2021-05-01 15:18] #792 closed

[2021-05-01 15:27] aminvakil commented on #801
+label waiting_on_contributor

[2021-05-01 15:30] aminvakil commented on #807
+label waiting_on_contributor

[2021-05-01 15:31] aminvakil commented on #826
+label waiting_on_contributor

[2021-05-01 15:35] aminvakil commented on #860
@smokes2345 Can you verify if this issue has been resolved or not?

needs_info

[2021-05-01 15:45] aminvakil commented on #888
@gsauthof Are you interested in creating a PR fixing this error?

[2021-05-01 15:51] aminvakil commented on #952
This has been already included in `community.general` and released `ansible` tarball.

If there is any other issue, feel free to open a new one.

[2021-05-01 15:51] #952 closed

[2021-05-01 15:56] aminvakil commented on #963
As https://github.com/ansible-collections/community.general/pull/1618 has been merged, is there any other issue which has not been fixed yet?

[2021-05-01 15:59] aminvakil commented on #975
+label waiting_on_contributor

[2021-05-01 16:01] aminvakil commented on #977
@azmeuk Are you still interested in opening a PR?

[2021-05-01 20:27] aminvakil commented on #1050
@8bb-glshk If this can't be implemented, can this issue be closed then?

[2021-05-01 20:28] aminvakil commented on #1085
+label waiting_on_contributor

[2021-05-01 20:32] aminvakil commented on #1086
+label waiting_on_contributor

[2021-05-01 20:34] aminvakil commented on #1087
+label waiting_on_contributor

[2021-05-01 20:35] aminvakil commented on #1088
+label waiting_on_contributor

[2021-05-01 20:50] aminvakil commented on #1092
@0x412e4e Could you please provide the info, so that issue could be solved?

[2021-05-01 20:52] #1092 closed

[2021-05-01 21:34] spike77453 opened #2408 "nmcli: Unable to create bridge slave"
### Summary

Trying to create a bridge-slave (see playbook below) results in error message:
[code]

This seems to be due to an invalid `nmcli` command. The command executed at the end of

https://github.com/ansible-collections/community.general/blob/4e90ee752ed8d9586bb0df69511b0d040a0946ff/plugins/modules/net_tools/nmcli.py#L931

is
[code]

which doesn't seem to be valid. Adding `slave-type bridge

[2021-05-01 22:06] xterms013 commented on #616
Hello. I have not tested it yet, but I will do it and I will answer later.  Thanks for the info!

[2021-05-02 10:49] mator commented on #392
just close the issue, it's already a full year passed :-D

[2021-05-02 10:58] mator commented on #801
@ymartin59 i'm not sure how to proceed here... since not all filesystems (looked at xfs and ext4) support creating fs with a given size, instead of creating fs on whole block device. I.e. mkfs.ext4 does support size argument, but mkfs.xfs does not.

[2021-05-02 11:41] felixfontein commented on #392
@mator in my calender, it's still 20 days until a year passed ;)

[2021-05-02 11:42] felixfontein commented on #801
I guess the module could either fail, or ignore the size parameter (and issue a warning) depending on the type. Not sure what the best behavior would be...

[2021-05-02 12:36] azmeuk commented on #977
I does not have a lot of time to spend on this issue for the next few months, but I might ending. Anyway, if you want to give a try, you should. I can help with reviewing still.

[2021-05-02 13:52] aminvakil commented on #977
@azmeuk Let's find someone who wants to work on this, then!

needs_contributor

[2021-05-02 16:39] jamesfreeman959 commented on #392
All - thanks for the prompt! The original project I was working on that raised this was abandoned so my test-bed for this isn't up and running right now. I'm going to close the issue as requested as it seems to be ok for everyone so I'm pretty confident if I test it it'll work ok. If I find anything new I'll raise accordingly with more up to date information.

[2021-05-02 16:39] #392 closed

[2021-05-02 16:54] spike77453 opened #2415 "nmcli: Creating bridge potentially not idempotent when mac address is specified"
### Summary

Creating a bridge device with a specific MAC address is potentially not idempotent: `nmcli` seems to always report MAC addresses in uppercase. If the MAC address given in the playbook is not uppercase the nmcli module reports `changed: True`

### Issue Type

Bug Report

### Component Name

nmcli

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora 34 x

[2021-05-02 23:05] quidame commented on #801
Currently, the module accepts a `resizefs` option (bool), that is not supported by all filesystems. IMHO, it doesn't make sense to support a `size` option for filesystems that don't support `resizefs`. Given that a *size* argument is not supported by all mkfs-like commands, we get this table, where:
- `fstype` is a filesystem type supported by the module.
- `resize` is the ability of the module to

[2021-05-02 23:25] quidame commented on #801
Should the `size` parameter work only on filesystem creation, or should `resizefs` resize the filesystem at the given `size`, at any time ?

[2021-05-03 05:25] #2373 closed

[2021-05-03 05:26] #1190 closed

[2021-05-03 05:27] #2408 closed

[2021-05-03 05:28] #2415 closed

[2021-05-03 05:46] felixfontein commented on #582
3.0.1 and 2.5.2 will be released on May 4th (tomorrow).

[2021-05-03 06:33] mator commented on #975
used `zfs get all -H` and `zfs get all -H -p` , and made a diff:

[code]

so there's quite a change in attributes, not only it converted to bytes, but as well translated some `default/none` values to 0.
Too bad we don't have a unit tests on zfs...

going to make some more test and maybe it would be a trivial patch adding just `-p` next to `-H`

[2021-05-03 08:59] russoz opened #2429 "ali_instance_info - parameter marked deprecated in docs but not in code"
### Summary

A couple of parameters are marked in the documentation as deprecated, for example:
[code]
These deprecations were introduced in the documentation in https://github.com/ansible-collections/community.general/commit/4ebb65e6f6256e69ca772f23e543d2a4a06ec468 but there is no statement as to when they will be removed.

### Issue Type

Documentation Report

### Component Name

ali_instance_in

[2021-05-03 09:53] liamwh commented on #2269
Hi @mraineri, unfortunately I am not able to disable the requirement of using credentials for this source.

In case it is of use to you, I was using the VMware vCenter datastore browser download option API endpoint for a VMware Datastore, following a URL structure like so:
https://{{ repo_vCenter }}/folder/{{ repo_iso_folder }}/{{ target_iso }}?dcPath={{ repo_datacenter }}&dsName={{ repo_datastore

[2021-05-03 11:26] felixfontein commented on #2429
I guess we can just deprecate it with removal in 5.0.0 (standard deprecation interval).

[2021-05-03 12:24] xorel commented on #685
I opened https://github.com/ansible-collections/community.general/pull/2435. I wonder if this also could be fixed in ansible 2.9, does stable-2.9 accepts such fixes?

[2021-05-03 12:42] Ph-Wagner commented on #619
Not immediately, I have to spin up another instance first.
The instance I use on a daily basis now has Certificate Validation enabled.
On the to-do for the 08.05 but I'm quite positive that ansible/ansible#64989 fixed it

[2021-05-03 13:35] absynth76 commented on #2374
It appears my tests were done with a previous version of the code because my working dir was outdated. please don't consider my previous 2 comments so.

To answer to @felixfontein, even if the main description does not talk about "creation" of a keystore, the module is able to do so. There is even a (default to False) flag to make it happen "keystore_create". It could (maybe) deserve a small updat

[2021-05-03 16:44] himanshu-test opened #2436 "Ansible shutdown module issue"
### Summary

HI Team,

There is issue with shutdown module of ansible in community general.its not working at all.
both on windows & linux not working,so please find the logs also for same .

### Issue Type

Bug Report

### Component Name

[ansible module shutdown nt working.txt](https://github.com/ansible-collections/community.general/files/6416267/ansible.module.shutdown.nt.working.txt)

ansible

[2021-05-03 16:59] felixfontein commented on #685
@xorel Ansible 2.9 is now in security fix only mode, it no longer accepts regular bugfixes (the last chance was ~one month ago).

[2021-05-03 17:02] felixfontein commented on #2436
This collection does not support Windows. Please check out collections such as community.windows and ansible.windows for Windows content.

Please update your issue to include Linux logs, or we have to close it.

needs_info

[2021-05-03 17:08] jikamens commented on #683
I am not 100% certain but I believe it does appear to be fixed.

[2021-05-03 17:08] #683 closed

[2021-05-03 19:05] #2319 closed

[2021-05-03 19:25] #2360 closed

[2021-05-03 19:25] #2370 closed

[2021-05-03 19:39] aminvakil commented on #2436
!component =plugins/modules/system/shutdown.py

[2021-05-03 19:46] aminvakil commented on #1420
needs_contributor

[2021-05-03 20:13] aminvakil commented on #619
@Ph-Wagner Fine, please open this issue then if you faced any problem.

[2021-05-03 20:13] #619 closed

[2021-05-03 20:17] ahambrick opened #2442 "community.general.ipa_sudorule fails when cmdgroup is specified in the task."
### Summary

Multiple scenarios were tested:
- An empty list value for cmdgroup
- A single entry for cmdgroup
- A list for cmdgroup

All scenarios resulted in:
`msg": "response sudorule_add_allow_command_group: unknown command 'sudorule_add_allow_command_group`

Once `cmdgroup` was removed from the task definition, ipa_sudorule then executes successfully.

### Issue Type

Bug Report

### Component

[2021-05-03 20:21] aminvakil commented on #2442
!component =plugins/modules/identity/ipa/ipa_sudorule.py

[2021-05-03 21:00] felixfontein commented on #582
Update: 2.5.2 will be released May 11th, i.e. directly before Ansible 3.4.0, the last Ansible 3.x.0 release. (The 3.0.1 release will happen tomorrow, for Ansible 4.0.0 beta 2.)

[2021-05-04 06:52] splieth commented on #2374
Sorry, I was actually referring to modifying a keystore rather than creating a new one since I'm running it on a already provisioned VM. But I'll cross check that later, thanks for the hint.

[2021-05-04 10:21] #685 closed

[2021-05-04 11:51] felixfontein commented on #582
3.0.1 has been released today. The next expected release is 3.0.2 next week's Tuesday (May 11th), as a (hopefully) final bugfix release to be included in Ansible 4.0.0. After that 3.1.0 will be released roughly when Ansible 4.0.0 is released, and 3.2.0 when Ansible 4.1.0 is released.

[2021-05-04 20:37] felixfontein commented on #2372
@Daniel-Sanchez-Fabregas has this been resolved by #2371?

[2021-05-04 21:42] Kickimanjaro opened #2452 "ufw module fails when using loop"
### Summary

When I try to configure the firewall on my servers with the `ufw` module using a loop for each port and port range needed (commented nicely so I know what, why, and how) I receive an error indicating a file lock on xtables. This inconsistently appears when applying new rules with 3-4 ports, and constantly when applying 12 (like the provided playbook here).

The example playbook has fi

[2021-05-04 21:48] aminvakil commented on #2452
Thanks for opening this issue!
Could you please see https://github.com/ansible-collections/community.general/issues/2336 to check if it's the same problem?

[2021-05-04 21:55] Kickimanjaro commented on #2452
My apologies, that does appear to be the same. I had begun submitting this to core and had searched there but just before I submitted I saw I needed to submit here and neglected to search again... my bad!

[2021-05-04 22:11] Kickimanjaro commented on #2452
Closing as a dupe of #2336 (it's an issue with ufw itself, not the ansible module).
https://bugs.launchpad.net/ufw/+bug/1911637

[2021-05-04 22:11] #2452 closed

[2021-05-05 09:34] splieth commented on #2374
I just checked and I'm actually already using `keystore_create`, but the nevertheless it's only an update. The password does not contain any special characters (it's just `changeit`). So I guess encoding shouldn't be a problem.

I also just ran the playbook again (with 2.10.9, because 2.10.8 can't be found on pypi.org right now), the error also still occurs: `"Internal module failure, cannot extra

[2021-05-05 18:12] life5ign opened #2457 "linode inventory plugin is not using discovered ipv4 address(es) as ansible_host, and is trying to resolve linode tag name instead"
### Summary

The ansible linode dynamic inventory plugin is not using discovered ipv4 addresses as ansible_host, and is trying to resolve linode tag name instead.  It is getting the information about linodes from linode_api4, but, when trying to run ansible or ansible-playbook on the host/group patterns, it simply tries to resolve the linode tag name, and can't (not in DNS).

Also posted: https://

[2021-05-05 20:35] felixfontein commented on #801
I guess `size` should work both on filesystem creation, and when `resizefs: true` is specified. But I don't use this module and I don't maintain it, so I won't insist :)

[2021-05-05 20:43] felixfontein commented on #2457
I don't think this is a bug, but a design choice that doesn't fit your expectations. (Or is the behavior you expect documented?) In that case, this would be a feature (and should have an option which allows to switch to this behavior.)

[2021-05-05 23:29] Life5ign commented on #2457
You are completely right. "Linode labels are used by default as the hostnames." https://docs.ansible.com/ansible/latest/collections/community/general/linode_inventory.html

It is by design and documented, my bad.

I guess I would like to request this feature, unless the `compose` option above allows me to set `ansible_host` to the value of the public ip address, like, for example, the aws_ec2 plug

[2021-05-05 23:37] Life5ign commented on #2457
So with the current way it works, would I have to set my linode labels to the reverse dns values (or public ips) for each server, in order for `inventory_hostname` to actually connected to over ssh?   I think these dns and ips are static in linode, but it seems a roundabout to have to do this.

[2021-05-05 23:51] Life5ign commented on #2457
Oh wow, I can't believe this just worked:

I added
[code]
to my linode inventory plugin file, making a pure guess that it might grab the primary key `ipv4`'s value, from the object returned by the `ansible-inventory --host whatever_host` call.  It did!  I think this should be added to the documentation... I still have the issue of choosing the public and not the private ip from the "ipv4" value (a

[2021-05-06 06:38] k-c-p opened #2460 "module java_cert: PKCS12 file not properly imported into keystore"
### Summary

When importing a PKCS12 file into a Java keystore using the `java_cert` module on Ansible 3.3.0 (which uses `community.general 2.5.1`) only the certificate is imported but not the key.

This worked well in Ansible 3.2.0 (wich used `community.general 2.4.0`).

### Issue Type

Bug Report

### Component Name

java_cert

### Ansible Version

Ansible 3.3.0
Ansible-Base 2.10.9
community.gen

[2021-05-06 10:47] renxulei commented on #860
@smokes2345 I checked the code, from version 1.2.0 of "ansible-collections/community.general", redfish_command module can support "PowerOn" and "PowerForceOff" actions on Manager, these 2 actions mapped with "On" and "ForceOff" you mentioned, you can try these 2 actions.

[2021-05-06 13:01] smokes2345 commented on #860
I can't confirm if the issue is resolved or not as we've worked around the issue by not using this module, but as far as i'm concerned we can close it.

[2021-05-06 13:01] #860 closed

[2021-05-06 13:50] aminvakil commented on #2457
@Life5ign Thanks for adding the solution too, feel free to open a PR adding this to docs if you've found it useful for others too.

[2021-05-06 22:01] irishgordo commented on #1973
just stumbling on this, haven't walked through the source code.
think I may be best off refactoring the yaml to:
[code]
 if the "name" prop, supports the /cask/ notation?

[2021-05-07 05:01] jorhett commented on #1973
I don't understand why this is still being discussed as if it's uncertain what to do... 6 months after these changes were made in Homebrew itself.

People keep talking about how to suppress updates, which really has nothing to do with this bug. The bug is that the code currently makes choices about which command to run. That choice is being made incorrectly. User action specific to knowing the cur

[2021-05-07 06:53] OpaDopa opened #2463 "No documentation available for the saltstack connection plugin"
### Summary

Hello Guys,

The documentation fields are empty in the saltstack python connection module.
Have a few questions about, how to connect? Which Ansible variables to use?

So i need to specify on which system my salt master is located? (ansible_host?)
How to specify the credentials and minions to target?

SO what i want to archive..
Connect to my external salt master and piggyback on mini

[2021-05-07 09:05] trondhindenes opened #2464 "terraform 0.15.x breaks compatability with community.general.terraform"
### Summary

it looks like terraform 0.15.x makes some breaking changes to how command-line args are parsed which seems to affect Ansible.

From what I can see, Ansible runs `terraform validate -vars-file stuff.json` while terraform expects `terraform validate -vars-file=stuff.json`, so Ansible is missing the `=` sign between arg name and value, which seems to now be required.

Looking at the docu

[2021-05-07 09:23] aminvakil commented on #2464
!component =plugins/modules/cloud/misc/terraform.py

[2021-05-07 09:36] rainerleber commented on #2464
Hi @trondhindenes,
thank you for reporting the issue. I will investigate in it. Could you please provide your error output ?

[2021-05-07 12:54] oskar456 opened #2465 "lxd_container: Setting LXD config property throws error on repeated runs"
### Summary

When creating an LXD Container with the ansible `lxd_container` module, where a MAC address for the container is specified, a second run of Ansible throws an error. The same error also happens when configuring the lxd autostart property instead of the mac address.
Please note that this issue [has been already reported](https://github.com/ansible/ansible/issues/63798) by @loewexy. I co

[2021-05-07 15:53] rainerleber commented on #2464
Hi @trondhindenes ,
i can't reproduce your issue because of a few reasons:

- Terraform validate is a local operation and does not need any variables parsed to the command. This feature is removed since Terraform 0.15.0.
  See Hashicorp documentation: https://www.terraform.io/docs/cli/commands/validate.html

- The module will not parse var files to terraform validate if you use Terraform > 0.15.0

[2021-05-07 16:48] techBeck03 opened #2468 "Errors using json_query with contains"
### Summary

I'm trying to use the `json_query` plugin to filter a json object but keep getting the same error message.  I've tried using the workaround mentioned in [#320](https://github.com/ansible-collections/community.general/issues/320) but still get the same error.

### Issue Type

Bug Report

### Component Name

`json_query`

### Ansible Version

[code]

### Configuration

[code]

### OS /

[2021-05-07 20:48] felixfontein commented on #2464
If @trondhindenes is using Ansible 2.10 (which is EOL btw!) and didn't manually install a newer version of community.general, they will not have a newer version.

Besides 3.0.0 the fix is also present in community.general 1.3.10, and will be present in 2.5.2 (to be released next Tuesday).

[2021-05-07 23:23] Ajpantuso commented on #2468
I would check your indentation and query.

[code]

Output:
[code]

[2021-05-08 06:25] Akasurde commented on #2468
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2021-05-08 06:25] #2468 closed

[2021-05-08 12:46] felixfontein commented on #1973
@jorhett feel free to propose a PR which fixes this correctly from your point of view. This is mainly not fixed because nobody else did that so far.

I'm not sure I can follow your argument here. The `state=latest` is about the cask to install, not about brew itself.

[2021-05-08 14:45] felixfontein commented on #2356
It's some years since I used btrfs (at all, but back then also spanning multiple devices). I think the hard part here will be deciding which filesystem we are talking about, and which of the devices in the list are not yet part of the btrfs filesystem we're interested in. I guess this falls in the non-trivial category of yours @quidame :)

Maybe it would also be better to force `dev` to only point

[2021-05-08 19:50] jorhett commented on #1973
How does one ensure that the latest package is installed if brew is not updated?  That makes 'present' and 'latest' exactly the same.

You could perhaps argue that homebrew doesn't need an update in a case of 'present' where it is already installed, but in a situation where the state was set to 'latest' and arguably when it was set to 'present' but not installed, it would defy expectations.

I tak

[2021-05-08 21:13] aminvakil commented on #2436
Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it. This allows us to keep the iss

[2021-05-08 21:13] #2436 closed

[2021-05-08 21:15] aminvakil commented on #2464
needs_info

[2021-05-08 21:18] aminvakil commented on #1277
@aphsa I guess this has been resolved now after #1260 merging, feel free to re-open the issue if it's not.

[2021-05-08 21:18] #1277 closed

[2021-05-08 21:20] aminvakil commented on #1459
!component =plugins/modules/cloud/lxd/lxd_container.py

[2021-05-08 21:20] #1543 closed

[2021-05-08 21:22] aminvakil commented on #1942
!component =plugins/modules/system/timezone.py

[2021-05-08 21:27] aminvakil commented on #501
You have not responded to information requests in this issue so we will assume it no longer affects you. If you are still interested in this, please create a new issue with the requested information.

[2021-05-08 21:27] #501 closed

[2021-05-09 05:29] Akasurde opened #2471 "SELinux module for compiling a type enforcement (.te) file and installing it"
_From @ivanbaldo on Jul 26, 2017 21:27_

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
SELinux SEModule

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not relevant.

##### OS / ENVIRONMENT
CentOS 7.3

##### SUMMARY
This playbook is nice https://galaxy.ansible.com/MWojtowicz/semodule/ but in reality, a module would be much better.

##### STEPS TO REPRODUCE
[code]
or
[code]
and also thi

[2021-05-09 05:29] Akasurde commented on #2471
_From @fxfitz on Sep 14, 2017 16:24_

Just ran into this. Would definitely be nice if we had one.

[2021-05-09 05:29] Akasurde commented on #2471
_From @felps on Dec 06, 2017 11:30_

Ran into this as well. Would be a great addition

[2021-05-09 05:29] Akasurde commented on #2471
_From @benohara on Apr 26, 2018 11:19_

+1

[2021-05-09 05:29] Akasurde commented on #2471
_From @djflux on Aug 15, 2018 14:18_

+1 please :)

[2021-05-09 05:29] Akasurde commented on #2471
_From @Du-St on Sep 13, 2018 12:51_

+1

[2021-05-09 05:29] Akasurde commented on #2471
_From @bachradsusi on Feb 05, 2020 13:40_

Using only .te seems to be inefficient. A standard SELinux module consists of 3 files - .te with type enforcements rules, .fc with file context mappings, and .if with interfaces.

Using only .te means you cannot define a file context mapping when you define a new file type in .te, e.g. I'd have myservice_conf_t type which I want to map to /etc/myservice/*

[2021-05-09 05:29] Akasurde commented on #2471
_From @felixfontein on May 25, 2020 05:55_

Everyone: @bandit145 wants to add a module for this to community.general in ansible-collections/community.general#404. Testing it would be very welcome!

[2021-05-09 18:16] MatthieuBizien opened #2473 "Add ForwardAgent to community.general.ssh_config"
### Summary

I want to configure the ssh config on multiple servers using ansible.

Some of those servers should have `ForwardAgent yes`.

A setting for configuring it using Ansible would be very useful.

### Issue Type

Feature Idea

### Component Name

ssh_config

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-05-10 00:16] quidame opened #2477 "filesystem: drop `util-linux` dependencies in favor of python implementations"
### Summary

Currently, `filesystem` module depends on several `util-linux` commands, in addition to filesystem-type specific commands. The replacement of calls to all or part of these commands (`blockdev`, `findmnt`, `blkid`, `wipefs`, from *util-linux*) could increase portability of the module.

For example, it is based on `blockdev` command to get the size of a block device or a regular file. O

[2021-05-10 04:19] Akasurde commented on #2473
@MatthieuBizien Thanks for reporting this feature request. Let me check the feasibility and get back to you.

[2021-05-10 05:33] felixfontein commented on #2477
I'm not sure whether this is generally a good idea. These specialized tools potentially handle a *lot* of special cases that you would have to replicate and maintain in Python code.

[2021-05-10 05:39] felixfontein commented on #1973
Are you implying it is impossible to install the latest version of some casks when not the latest version of homebrew is installed?

[2021-05-10 08:02] #2269 closed

[2021-05-10 08:32] eoli3n opened #2478 "xbps module fails to report install error"
### Summary

When i install multiple package with xbps module, if one fails to install, the reported package in the error is the wrong package, the last of the list.

[code]
If ``package2`` doesn't exist, the package reported in the error is ``package3``.
It makes task debugging harder than it should.

A workaround is to use a loop over the package list as

[code]

Then is ``package2`` doesn't exi

[2021-05-11 06:14] felixfontein commented on #582
3.0.2 has been released today. The next expected release is 3.1.0 in a week, roughly when Ansible 4.0.0 is released.

[2021-05-11 10:46] aminvakil commented on #2088
Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it. This allows us to keep the iss

[2021-05-11 17:30] #1995 closed

[2021-05-11 17:49] felixfontein commented on #1940
I think it's safe to say this is now fixed, assuming you don't use a too old version of ansible-base 2.10 :)

[2021-05-12 02:24] quidame commented on #2477
@mator this is not offtopic at all :)

I understand that it could be a minefield :) Reinvent the wheel is not my goal, so for clarification, here is a sample of commands that could spot the light on the background of this issue.This is an example you can extend to `lscpu` as well: like `blockdev` and `findmnt`, it is not shipped in FreeBSD's `util-linux` package:
[code]
by the way, note the `newfs

[2021-05-12 05:12] felixfontein commented on #1085
resolved_by_pr #2495

@4n70w4 can you please test whether that change fixes the issue for you?

[2021-05-12 14:50] natewiebe13 opened #2496 "Cloudflare CNAME Record Already Exists"
### Summary

When adding a CNAME record to Cloudflare, a 400 error message is received that the record already exists.

### Issue Type

Bug Report

### Component Name

cloudflare_dns

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04

### Steps to Reproduce

[code]

### Expected Results

I would expect that using `state: present` would ensure that if the re

[2021-05-12 15:33] #2383 closed

[2021-05-12 17:32] natewiebe13 commented on #2496
This was my mistake. I was looking at the wrong task.

[2021-05-12 17:32] #2496 closed

[2021-05-12 21:27] felixfontein commented on #215
Closing since there was no response.

[2021-05-12 21:27] #215 closed

[2021-05-12 21:33] aminvakil commented on #975
@aqw Can you confirm this has been fixed by #2454 ?
It has already been included in `community.general` version 3.0.2.

[2021-05-13 05:56] aqw commented on #975
I can confirm that this bug has been fixed with `community.general` 3.0.2.

Thanks!

[2021-05-13 06:04] #975 closed

[2021-05-13 10:24] gundalow commented on #176
@jborean93 What are the "unit test assumptions"?

[2021-05-13 10:25] gundalow commented on #176
bot_status

[2021-05-13 10:52] jborean93 commented on #176
@gundalow mostly just the unit test expections might need to be updated if we update the skeleton used. I can't remember what exactly we check there but just something to consider https://github.com/ansible/ansible/blob/devel/test/units/cli/test_galaxy.py.

[2021-05-13 11:12] gundalow commented on #176
1. I've updated all the `community.` repos to have a link to the collection on Galaxy
2. Created Updating `ansible-galaxy collection init` tracked as https://github.com/ansible/ansible/issues/74684

FIXME: Link to Zuul feature request (Zuul creates the repos for the Content Team).  (URL, topics, remove `environment` & `packages` from homepage) to follow

[2021-05-13 12:04] 4n70w4 commented on #1085
Thanks for the improvement. At the moment I am not working on a project where this was used. If the opportunity arises, I will definitely check.

[2021-05-13 13:27] ssbarnea opened #2501 "few community modules missing documentation"
### Summary

While trying to dump documentation for all >5400 Ansible modules, I discovered that 4 of them are missing documentation:

-  openstack.collect_logs.ara_influxdb.json
-  openstack.collect_logs.ara_graphite.json
-  fortinet.fortios.fortios_configuration_fact.json
-  cisco.intersight.intersight_local_user_policy.json

Shouldn't we have some pipelines that prevent publishing modules witho

[2021-05-13 13:52] mator commented on #2477
there's a lot of places in ansible code and modules, where check for operating system occurs. Can we do it the same way in your case? Like:
[code]
What ansible module/codepath you're trying to change? Thanks

[2021-05-13 15:18] gundalow commented on #176
@dericcrago pointed out we could remove `collection_template` repo and only use `ansible-galaxy collection init`
This would be nice as
1. No need to keep to places in sync
2. Can use the built in templating to ensure we don't have to manually hack the files in collection_template

[2021-05-13 15:37] Ajpantuso commented on #865
@Akasurde / @felixfontein
I think this can be closed as a usage question.
[code]
`incident_key.` is not a valid parameter however `incident_key` is.

[2021-05-13 15:45] misilot commented on #865
Thanks @Ajpantuso, I didn't even realize I had the extra "." in there. I am sure that is all it was. Sorry for the noise!

[2021-05-13 15:45] #865 closed

[2021-05-13 19:31] felixfontein commented on #2501
@ssbarnea closing this as it is not related to the community.general collection. This is a repository for community.general, not for the collections you mentioned in the issue, and not for generic Ansible things.

[2021-05-13 19:31] #2501 closed

[2021-05-13 19:33] felixfontein commented on #176
Since this discussion is now pretty much off-topic to this collection (the original issue has been solved a long time ago), can we either close it or move it somewhere else?

[2021-05-13 19:35] ssbarnea commented on #2501
Are these collections part of ACD? if so, that should be tracked as an ACD packaging bug, not sure which repo it would be. No module included in ACD should lack documentation, especially as ansible-doc gives a less than nice output when you try to show documentation for them.

[2021-05-13 19:42] felixfontein commented on #2501
They are part of Ansible I think. I don't think this is a packaging bug, since the docs did not got removed during packaging. I'd probably create an issue in https://github.com/ansible-community/community-topics/ so we can discuss this at the community meeting.

[2021-05-13 21:32] the-maldridge commented on #2478
Hmm, yeah this is a known defect I remember from several years ago.  I'll have to dig further into this to figure out a good solution that doesn't have side effects.

[2021-05-14 01:22] Ajpantuso commented on #2311
This is the intended behavior for cache plugins.
By default Ansible uses the `memory` plugin to store facts in memory during playbook execution.
Enabling another cache plugin makes that cache the sole reference for cached facts and setting a timeout is meant to ensure that facts are as fresh as required such that after x time `gather_facts` will need to be run to populate the cache.
Either `gather

[2021-05-14 03:41] the-maldridge commented on #2478
Ok, for those playing along at home what fails here is that the failure message takes the value of 'package' which is a loop iteration variable.  Having been working in Go for the last several years I had to refresh my memory to understand why this was even still in scope at all and not a more serious error.

Since this actually ignores a whole class of errors I'm going to sync with the XBPS devel

[2021-05-14 08:00] #2325 closed

[2021-05-14 08:53] Akasurde opened #2508 "RFE: add `sesudo` for privilege escalation method"
_From @sugitk on May 14, 2021 02:22_

### Summary

A customer wants to use `sesudo` to run commands as root.

### Issue Type

Feature Idea

### Component Name

become

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

_Copied from original issue: ansible/ansible#74694_

[2021-05-14 08:53] Akasurde commented on #2508
_From @relrod on May 14, 2021 05:11_

This become plugin would likely be best as part of a collection, we're generally not taking new plugins in ansible-core.

[2021-05-14 09:29] sugitk commented on #2508
@relrod @Akasurde Thank you!

[2021-05-14 15:28] brainsam opened #2510 "jenkins_plugin: HTTP Error 405: Method Not Allowed on disable/enable plugin"
### Summary

When I use `state: disabled` for jenkins_plugin module for any plugin ansible fails with 405 response code, because jenkins_plugin.py sends GET request to jenkins but jenkins expects POST method for pluginManager/plugin/*  api requests.

I think this issue can easily be fixed with adding method=POST perameter to the _get_url_data here:
https://github.com/ansible-collections/community.

[2021-05-14 20:27] ansiblejunky opened #2512 "nmap inventory plugin error: local variable 'results' referenced before assignment"
### Summary

Using the nmap inventory plugin from collection version 3.x and 2.x I am getting the following error when attempting to do the inventory sync in Ansible:

[code]

I'm assuming the python code references the `results` variable before assignment.

This error did not exist in the previous version of the collection (version 1.x).

### Issue Type

Bug Report

### Component Name

nmap inven

[2021-05-14 20:31] #1670 closed

[2021-05-14 20:35] ansiblejunky commented on #2512
It appears the problem started with collection v2.5.2 where there's a couple lines of code added to the end of the `nmap.py` that references the `results`. I tested with v2.5.1 and it works fine for me, but starting with v2.5.2 it's broken.

[2021-05-14 20:39] felixfontein commented on #2512
That has probably been caused by #2282.

CC @denngie

[2021-05-14 23:51] russoz commented on #371
Hi @Yajo I am starting to work on this. Couple of suggestions there:
- naming it `ansible_galaxy_install` - there are other galaxy actions out there and possibly new modules coming to support those in the future, so I think we'd rather be more explicit here.
- the `requirements` option when installing roles being a file, it is pretty much the same logic of `requirements_file` for installing a coll

[2021-05-15 04:28] Yajo commented on #371
Nice! I'm just thinking now that this should be better a builtin module, right? O therwise, how would I use it to install community.general?

[2021-05-15 04:41] quidame opened #2515 "java_keystore: created file is in PKCS#12 format rather than expected JKS"
### Summary

Depending on the version of Java, the `keytool` command that creates the java keystore from a PKCS#12 bundle (certificate + private key) may or may not need explicit `-deststoretype jks`. Without these arguments, the command may create a `PKCS#12` file rather than the expected `JKS`. Also note that most Java application servers accept PKCS#12 keystores, that makes easy to never notice

[2021-05-15 07:20] felixfontein commented on #2515
@quidame do you want to create a PR to fix this?

[2021-05-15 07:27] felixfontein commented on #371
@Yajo you'll have to argue about that with the core team, not with us :) It might be worth bringing this to the public core meeting (https://github.com/ansible/community/issues/606).

[2021-05-15 22:42] PrimaryCanary opened #2519 "Add option to allow repository metadata to be unsigned"
### Summary

RPM repositories can optionally sign the repository metadata (`repomd.txt`). The `zypper_repository` module's inability to disable metadata signing makes it difficult to add repos that don't sign their metadata. While this can be worked around by disabling `gpgcheck`, doing so is ill-advised.

### Issue Type

Feature Idea

### Component Name

zypper_repository

### Additional Informat

[2021-05-16 03:22] russoz commented on #371
BTW, I am thinking of adding it to `packaging/language/`, but open to discuss other placements.

[2021-05-16 06:17] felixfontein commented on #2519
I'm against adding something general like `extra_args`. Having a specific parameter for this makes more sense IMO.

[2021-05-16 13:13] rgl opened #2523 "iptables_state fails with Unknown arguments found on commandline"
### Summary

[code]

### Issue Type

Bug Report

### Component Name

iptables_state

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04 Host.
Debian 10 Guest/Target.

### Steps to Reproduce

Playbook:

[code]

The `iptables-rules.v4.j2` template:

[code]

### Expected Results

It should have worked. :-)

### Actual Results

[code]

Those temporary files have

[2021-05-16 13:42] rgl commented on #2523
This seems to be related with the `Configure iptables autosave answers` task. When that task is omitted, `iptables_state` works, but I believe it should work even with autosave disabled.

[2021-05-16 23:27] quidame commented on #2523
@rgl thanks for this detailed report ! I've found the culprit piece of code, it will be fixed soon :)

For the record: the issue is due to the function `initialize_from_null_state()`, whose the purpose is to get a reliable `iptables-save` output, that means *usable for rollback*. It is called when first `iptables-save` output is empty or doesn't contain a required table (in your case, both `filter

[2021-05-17 05:32] #1085 closed

[2021-05-17 05:35] #2512 closed

[2021-05-17 08:20] aminvakil opened #2539 "yum_versionlock does not work on Fedora 34"
### Summary

There has been several CI tests (nightly and PR) failing, because of this module integration test which didn't lock packages.

https://dev.azure.com/ansible/community.general/_build/results?buildId=15172&view=logs&j=3f683100-4eb3-5543-aafd-5a8f78237a65&t=eaabe179-f774-5877-fd69-78bb20f95bac

### Issue Type

Bug Report

### Component Name

yum_versionlock

### Ansible Version

[code]

[2021-05-17 12:03] #1990 closed

[2021-05-17 13:49] aminvakil commented on #2539
After further investigation I realized that the only package which has this problem is `procps-ng`!

[code]

Also if someone suspects `check-update` is buggy on this, here is the result from `dnf update`:
[code]

And `sudo dnf versionlock list | wc -l` returns `69`, that's the reason I suspect the problem is either with `procps-ng` package itself or there is something in that package which `versio

[2021-05-17 14:34] aminvakil commented on #2539
Upstream bug: https://bugzilla.redhat.com/show_bug.cgi?id=1961217

[2021-05-17 15:32] rgl commented on #2523
Thanks for looking into this! I really appreciate it.

I have a nagging doubt, I'm currently writing directly to `/etc/iptables/rules.v4` with the `template` module, but, if for some reason, the template generates a bad rules file, the machine will be busted at the next reboot (regardless of this `iptables_state` module doing the correct thing of failing due to invalid rules), because at the next

[2021-05-17 16:48] quidame commented on #2523
Maybe this:

[code]

(this is my own interpretation of [a store last good configuration mechanism](https://man7.org/linux/man-pages/man8/iptables-apply.8.html))

Not really, but I would avoid conditionals (`when` statements). In this case: once the playbook has failed due to a buggy `iptables_state` module, if you replay it with a fixed version of the module on the same hosts it has failed the fir

[2021-05-17 19:00] #2364 closed

[2021-05-17 19:06] rgl commented on #2523
I was also thinking in those lines of backstaging the rules, but that backstage file, made me wonder for a better way.

But anyhow, its better than what I was using, as it does not install broken rules. Thanks for pointing it out :-)

BTW, do you known why `iptables_state` does not support the ansible-playbook --diff mode?

PS: This backstaging solution still leaves me with a funny feeling that I'

[2021-05-17 19:44] sealor commented on #2519
@felixfontein @PrimaryCanary
I agree that adding `extra_args` is too general. I'm fine with a new parameter.

What do you think about adding a parameter for `--no-gpgcheck` and `--gpgcheck-allow-unsigned-repo`?
This approach allows us to use the most secure way which is available.

How do we want to name the new parameters? `gpgcheck: no` and `gpgcheck_allow_unsigned_repo: yes`?
IMHO we do not nee

[2021-05-17 20:09] quidame commented on #2523
Maybe change your point of view and forget the backstage file. Think more about system states. Currently, the module's `state=restored` applies to system runtime/dynamic/in-memory state, that will be lost at shutdown; its `state=saved` applies to system static/on-disk state, that will survive to reboots. This is similar to the differences between mounting a device and recording the mount in /etc/f

[2021-05-17 20:22] felixfontein commented on #2519
@sealor instead of adding two boolean parameters, you could also add a `choices` parameter, especially since not all combinations of the booleans make sense (no GPG check while allowing unsigned repos for example). So you could have an option `gpg_signature_check` with three choices `always` (default), `allow_unsigned_repos`, and `never`. (Or with some better names :) )

[2021-05-18 03:33] skinp commented on #572
Haven't confirmed yet because I'd need to reinstall my test device, but I'm pretty sure this is due to the spaces in the package names list. In your example, [we'd end up querying for installed packages against " htop"](https://github.com/ansible-collections/community.general/blob/d24fc92466cc48d8dc436b80a2613635061b8f07/plugins/modules/packaging/os/opkg.py#L107) because we're not stripping white

[2021-05-18 04:40] felixfontein commented on #572
Yes, it looks like https://github.com/ansible-collections/community.general/blob/main/plugins/modules/packaging/os/opkg.py#L190 is the cause for this problem. It's probably better to let Ansible do the splitting (and support YAML lists as input as well) by changing `name` to be `type='list'` with `elements='str'`, and change that line to `pkgs = p["name"]`

[2021-05-18 04:42] felixfontein commented on #572
(That way people who really need leading or trailing spaces can use YAML lists to pass a string in exactly the form they want. In case anyone actually needs that.)

[2021-05-18 04:50] sealor commented on #2519
Good idea!
What do you think about the following choices for `gpg_signature_check`?

choice | zypper parameter | description
-------------|----------|---
`default` | `--default-gpgcheck` | use global GPG check settings in zypp.conf
`no` | `--no-gpgcheck` | disable all checks
`allow_unsigned` | `--gpgcheck-allow-unsigned` | Short hand for `--gpgcheck-allow-unsigned-repo` and `--gpgcheck-allow-unsig

[2021-05-18 04:56] felixfontein commented on #2519
I would avoid `no`, since boolean processing could change that to `false`. How about `disable` instead? Besides that, sounds good!

[2021-05-18 06:05] rgl opened #2551 "iptables_state: add support for diff mode"
### Summary

Add support for the diff mode. That would allow the user to have another chance at reviewing the iptables rules changes.

### Issue Type

Feature Idea

### Component Name

iptables_state

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-05-18 06:36] rgl commented on #2523
Indeed it leads us to that :-)

Maybe something along the following lines?

[code]

Maybe this could also open the door for saving the rules file as-is they were passed to the `rules` property? I mean, currently, the `saved` state will use `iptables-save` which, understandably, looses all of our rules comments. But maybe this is starting to be too much responsibilities for a single module, would c

[2021-05-18 09:51] #2523 closed

[2021-05-18 12:11] felixfontein commented on #582
3.1.0 has been released today. The next expected release is 3.2.0 in three weeks, for inclusion in Ansible 4.1.0.

[2021-05-18 18:20] sealor commented on #2519
:+1: `disable` is fine!

[2021-05-18 23:00] PrimaryCanary commented on #2519
I've been implementing this on a local branch and I've run into a `zypper` bug preventing me from implementing idempotency. The XML output from `zypper` doesn't seem to be correct.

1. Start by adding any repo with a GPG option:
`sudo zypper addrepo --gpgcheck-allow-unsigned https://ftp.gwdg.de/pub/linux/misc/packman/suse/openSUSE_Tumbleweed/ packman`

2. Verify its correctness:
[code]
3. Verify i

[2021-05-19 06:01] nomadcz commented on #2311
I see. Thank you.

[2021-05-19 06:01] #2311 closed

[2021-05-19 06:26] k-c-p commented on #2460
Tried out most recent versions:
Ansible 4.0.0
Ansible-Core 2.11.0
community.general 3.0.2

Issue persists in these versions too.

[2021-05-19 06:33] felixfontein commented on #2460
It has not yet been fixed, so there's no reason it should suddenly start working again :)

[2021-05-19 08:14] lamm commented on #963
@aminvakil No other issue. This one can be closed.

[2021-05-19 08:14] #963 closed

[2021-05-19 09:18] absynth76 commented on #2460
Hello, I think it's a to be discussed.

Between ansible 3.2.0 and 3.3.0, the logic changed in order to import the certificate, however, as the module synopsis mentions:
"This is a wrapper module around keytool, which can be used to import/remove certificates from a given java keystore"

In the previous code version, when the source was a pkcs12, the "-importkeystore" functionality of keytool was u

[2021-05-19 10:24] Daniel-Sanchez-Fabregas commented on #2372
The example in #2371:
[code]
The xml task creates:
[code]

But, if you try to add a node like:
[code]
in the same way as the example:
[code]

It fails:

[code]

[2021-05-19 11:19] felixfontein commented on #2372
What you are trying to do is not supported by the module.

[2021-05-19 11:30] felixfontein commented on #2372
If someone is interested in implementing this: it probably needs another special key similar to `_` at https://github.com/ansible-collections/community.general/blob/main/plugins/modules/files/xml.py#L729

[2021-05-19 11:42] felixfontein commented on #2460
Unfortunately the original PR (https://github.com/ansible/ansible/pull/24616) does not mention whether importing private keys is a side-effect or not. Also unfortunately the documentation is not very precise, the short description says "Uses keytool to import/remove **key** from java keystore" (emphasis mine). It should have said "certificate".

I agree though that it makes sense to not import pri

[2021-05-19 12:11] russoz opened #2558 "Deprecate serverless module?"
### Summary

I was working on some minor refactors on the cloud/misc modules, when I stumbled upon the module `plugins/modules/cloud/misc/serverless.py`.

A couple of issues with that one:
1. It is about deploying lambda functions in AWS, but then in `community.aws` we have `https://github.com/ansible-collections/community.aws/blob/main/plugins/modules/lambda.py` which seems to be much richer in f

[2021-05-19 12:33] absynth76 commented on #2460
Since you mention previous PR, I also retrieved one of the comment of the #24614 author, found in the really first PR introducing this module: https://github.com/ansible/ansible/pull/20274

so it's clear that the second PR was to introduce the import private key object feature.

Because it's already the second issue found with the new version, I would not mind rolling back until finding a cleaner

[2021-05-19 13:41] felixfontein commented on #1087
@yan12125 the label is there because this issue was mentioned in a PR: #1113. That PR only says "The following are easier to address with these changes: [...] Additional DNS settings: #1087" though, so the label isn't really correct. In any case, please feel free to create a PR for your change! (BTW, you'll need to add `version_added: 3.2.0` for the new options, and add a [changelog fragment](http

[2021-05-19 13:50] yan12125 commented on #1087
Thanks for kind hints! I will cleanup my commit and create a pull request.

[2021-05-19 16:37] absynth76 commented on #2374
I think I found why it does that, I was focusing on an incorrect password, or on the sudo '-i' modifier.
But it's coming from the mistake I mention above,

[2021-05-19 21:42] russoz commented on #855
Hi there

The main development of the nios modules has moved over to https://github.com/infobloxopen/infoblox-ansible/

You should probably create the same issue there and close this one. The nios modules are set for deprecation in community.general on version 5.0.0 (spring 2022, still far away but nonetheless set).

Thanks for your contribution!

[2021-05-19 21:42] russoz commented on #748
Hi there

The main development of the nios modules has moved over to https://github.com/infobloxopen/infoblox-ansible/

You should probably create the same issue there and close this one. The nios modules are set for deprecation in community.general on version 5.0.0 (spring 2022, still far away but nonetheless set).

Thanks for your contribution!

[2021-05-19 21:43] russoz commented on #447
Hi there

The main development of the nios modules has moved over to https://github.com/infobloxopen/infoblox-ansible/

You should probably create the same issue there and close this one. The nios modules are set for deprecation in community.general on version 5.0.0 (spring 2022, still far away but nonetheless set).

Thanks for your contribution!

[2021-05-19 21:43] russoz commented on #446
Hi there

The main development of the nios modules has moved over to https://github.com/infobloxopen/infoblox-ansible/

You should probably create the same issue there and close this one. The nios modules are set for deprecation in community.general on version 5.0.0 (spring 2022, still far away but nonetheless set).

Thanks for your contribution!

[2021-05-19 21:43] russoz commented on #424
Hi there

The main development of the nios modules has moved over to https://github.com/infobloxopen/infoblox-ansible/

You should probably create the same issue there and close this one. The nios modules are set for deprecation in community.general on version 5.0.0 (spring 2022, still far away but nonetheless set).

Thanks for your contribution!

[2021-05-19 21:45] russoz commented on #297
Hi @MTWiley @RoberMB @aminvakil

The main development of the nios modules has moved over to https://github.com/infobloxopen/infoblox-ansible/

You should probably create the same issue there and close this one. The nios modules are set for deprecation in community.general on version 5.0.0 (spring 2022, still far away but nonetheless set).

Thanks for your contribution!

[2021-05-20 06:13] felixfontein commented on #2558
The `functions` parameter never worked, it was already like that in the very first commit: https://github.com/ansible/ansible-modules-extras/pull/3352

[2021-05-20 06:16] felixfontein commented on #2558
It differs a lot, though, by being a frontend for the serverless framework, and not directly operating on AWS. This would be a huge difference for users.

A lot of modules look like that ;)

I'm not sure whether deprecation of the whole module is the right step. I think we need a process of 'orphaning' a module/plugin. I'll create an issue for one of the community meetings.

[2021-05-20 09:03] russoz commented on #2558
OK, so I withdraw the initial proposal.

Yeah, I've felt tempted to move in, but I don't want to impose.

Okie, it makes sense.

[2021-05-20 22:13] drenout opened #2567 "Instead of adding a new host into the ssh config, existing host gets updated"
### Summary

While using the `community.general.ssh_config` plugin, if new host hame is the part of the already existed host (not fully matched, but the existing host name contains the new host name), then new host is not added to the config, but existing one gets updated with the new config.

### Issue Type

Bug Report

### Component Name

`community.general.ssh_config` plugin

### Ansible Versio

[2021-05-20 23:12] russoz commented on #2567
!component = plugins/modules/system/ssh_config.py

[2021-05-20 23:17] russoz commented on #2567
Thanks for reporting @drenout ! I intend to take a look in the next days but if you (or anyone else) wants fix the problem, we will be more than happy to review a PR for it. Cheers!

[2021-05-20 23:19] russoz commented on #2567
!component=plugins/modules/system/ssh_config.py

(no spaces around the equal sign now, sigh)

[2021-05-20 23:22] drenout commented on #2567
Thanks for the quick response @russoz ! Will try to fix the bug and publish the PR

[2021-05-20 23:27] russoz commented on #2567
@russoz Almost noon here in the Middle-Earth with the hobbits, so I sometimes get to the tickets sooner than the folks elsewhere :-)

Let us know if you need help. There is also an IRC channel (but got to keep an eye on changes because of this on-going freenode snafu).
Cheers!

[2021-05-21 07:10] Akasurde commented on #2567
resolved_by_pr #2568

[2021-05-21 07:34] rgl opened #2569 "iptables_state: let the user declare the rules directly without a file"
### Summary

I would like to be able to directly declare the rules in the module usage instead of using a file.

### Issue Type

Feature Idea

### Component Name

iptables_state

### Additional Information

This could be done with something along the lines (we declared the rules in the new `rules` property):

[code]

Maybe this could also open the door for saving the rules file as-is they were pas

[2021-05-21 16:43] felixfontein commented on #2569
!component =plugins/modules/system/iptables_state.py

[2021-05-21 23:40] quidame commented on #2569
hi @rgl , thanks for suggesting this !

I read two proposals in your report:
- pass the ruleset to iptables-restore from stdin rather than a file (that probably means *from a file on the controller rather than a file on the target*)
- restore a ruleset and (once validated) save it in a file, all at once

About passing ruleset to iptables-restore without the need to store it on the target, I think

[2021-05-22 04:55] rgl commented on #2569
Using `src`+`dest` really simplifies the interface! Its now much more alike the `copy` module, which from the outside viewpoint, `iptables_state` is. I like it! :-)

If `content` is the normal/expected ansible property name to define the file content, by all means, lets use that :-)

About the path to implement this, I think that the user should not be able to mix `state`+`path` with `src`+`dest`+

[2021-05-22 09:16] russoz commented on #497
@branleb I took a look at the code, and the fact that it was using `.split(':')` to sort those fields raise a red-flag in my mind. I have raised this PR above to replace that with a regular expression, that should be more solid.

In the long run, I believe we should deprecate the current syntax and try to use a more standard url, maybe in the like of:
[code]
But that should be a different PR than

[2021-05-22 11:33] #2374 closed

[2021-05-22 11:34] #674 closed

[2021-05-22 11:36] felixfontein commented on #2460
I think this (i.e. rolling back) is something we should avoid.

[2021-05-22 15:16] UntouchedWagons opened #2587 "Archive module creates compressed tarball containing a compressed tarball greatly inflating archive size"
### Summary

I'm trying to automate backups of my docker stacks but for some reason the archive module creates a compressed tarball containing another compressed tarball greatly inflating archive size

### Issue Type

Bug Report

### Component Name

archive

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04 in WSL2

### Steps to Reproduce

[code]

### Expec

[2021-05-22 15:40] UntouchedWagons commented on #2587
The exclude_path directive is ignored.

[code]

The excluded folder is still included in the wrapped archive

[2021-05-22 16:06] quidame opened #2589 "generic `file` options not all applicable to any module"
### Summary

The `filesize` module documentation online https://docs.ansible.com/ansible/latest/collections/community/general/filesize_module.html claims that it supports `unsafe_writes` option, that is currently not the case, and will never be, due to the purpose of the module (create, truncate or grow a file, in place).

This `unsafe_writes` option has been automatically added, as a result of mo

[2021-05-22 17:05] felixfontein commented on #2589
It's unfortunately all-or-nothing. What you can do though is overwrite descriptions from doc fragments. So it could be replaced by `This option is not used by this module.`.

[2021-05-22 20:20] #2189 closed

[2021-05-22 22:53] felixfontein commented on #2587
@UntouchedWagons is that a second example a different problem, or was your first example incomplete?

Please note that the documentation of `exclude_path` says "Remote absolute path, glob, or list of paths or globs for the **file or files** to exclude from I(path) list and glob expansion." (emphasis mine).

[2021-05-22 22:56] UntouchedWagons commented on #2587
It's a second example, if I can't exclude folders (which is a reasonable expectation) then it can be ignored for now.

[2021-05-23 07:44] sealor commented on #2519
I notice the same behavior.

[code]

[2021-05-23 08:58] sealor commented on #2519
After `zypper refresh` I get the following repository list:

[code]

[2021-05-23 09:50] aminvakil commented on #2372
needs_contributor

[2021-05-23 10:54] aminvakil commented on #297
@russoz Right, Please reopen your issue in https://github.com/infobloxopen/infoblox-ansible/ if there is still a problem.

[2021-05-23 10:54] #297 closed

[2021-05-23 14:48] Akasurde opened #2597 "Stratis support"
_From @mhalano on May 09, 2019 11:45_

##### SUMMARY
Stratis is a solution made for Red Hat (unfortunately not available on Debian/Ubuntu this time) with the goal to be a Volume-managing Filesystem like BTRFS and ZFS (with pools and so on).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
stratis

##### ADDITIONAL INFORMATION

It's officially available since Red Hat 8.0.
May be will have mul

[2021-05-24 06:41] aminvakil commented on #2597
needs_contributor

[2021-05-24 08:11] Akasurde opened #2600 "GPG module and key lookup"
_From @ageis on May 09, 2019 11:17_

##### SUMMARY
Ansible could use a GPG module, for managing keyrings, importing and exporting keys, verifying and making signatures, and decrypting and encrypting data (both symmetric and non). Working with GPG keys, outside of the context of apt, is an extremely common sysadmin task which we can make it easier to automate. I think the addition of this module co

[2021-05-24 08:20] aminvakil commented on #2600
@Akasurde Not sure about this though, what do you think of moving this to `community.crypto` collection?

[2021-05-24 08:26] Akasurde commented on #2600
@aminvakil Make sense.

[2021-05-24 08:27] Akasurde opened #2601 "Add systemd_escape algorithm as Jinja2 filter"
_From @Zocker1999NET on May 10, 2020 17:14_

##### SUMMARY

Add a Jinja2 filter allowing to escape strings following the [systemd escape algorithm](https://www.freedesktop.org/software/systemd/man/systemd.unit.html#String%20Escaping%20for%20Inclusion%20in%20Unit%20Names). Then the user would not require to mimic the escaping by combining other existing filters because the full implementation is no

[2021-05-24 08:28] Akasurde commented on #2601
_From @wu-lee on May 22, 2021 17:12_

Someone has implemented this, but nevertheless it should probably be in core:

https://github.com/estheruary/ansible-plugin-systemd_escape/

[2021-05-24 12:06] felixfontein commented on #2601
Would IMO also fit in ansible.posix, though it's probably easier to get something included in community.general...

[2021-05-24 12:17] Zocker1999NET commented on #2601
I implemented such filter for my own projects, currently only published as part of a playbook, see [here on my git repo](https://git.banananet.work/banananetwork/ansible/src/commit/05c0d5fa7bd1dbb69104ff3168c9ddb149b024e5/filter_plugins/systemd_escape.py), [licensed under MIT](https://git.banananet.work/banananetwork/ansible/src/commit/05c0d5fa7bd1dbb69104ff3168c9ddb149b024e5/LICENSE), so use it a

[2021-05-24 12:24] Akasurde commented on #2601
@Zocker1999NET Would you be interested in raising a PR against this repo with a GNU GPLv3 license?

[2021-05-24 12:50] Ajpantuso commented on #2587
The emphasis is really on the predicate, _to exclude from I(path) list and glob expansion_, you cannot exclude nested files/directories within a path only a top-level archive path.
From the module examples
[code]
@UntouchedWagons can you maybe give a `tar -tf` showing the compressed tar within the outer `tgz` file? (Doesn't have to be your real data if you can reproduce with a comparable example)

[2021-05-24 13:14] UntouchedWagons commented on #2587
The "outer" file that the archive module makes

[code]

The "inner" file that the archive module makes

[code]

What's weird is when I open the outer file in 7-zip on windows I don't see all the folders that tar lists for the outer file, only what's shown in the image I linked.

[2021-05-24 14:22] Ajpantuso commented on #2587
Ah, now that you said Windows I see that you are using WSL2 and that's probably the issue.

I haven't looked into why the module is adding in the parent directories, but it's likely something to do with `os.walk` and WSL.

I am able to recreate this on a OpenSuSE-15-1 WSL2 distro
![image](https://user-images.githubusercontent.com/13701161/119361120-4f27b880-bc79-11eb-89b6-aa85e8805835.png)

I imag

[2021-05-24 16:34] felixfontein commented on #2587
I think we support WSL2 as a target, and most modules *should* probably support it (assuming they aren't for something that WSL2 does not support). That obviously doesn't mean that every such module just works, as there might be bugs or slight differences in behavior. Which might be the case here, especially when you're crossing file system boundaries, *especially* when crossing to "strange" files

[2021-05-24 20:27] Ajpantuso commented on #2601
What's the requirement for filter security regarding `subprocess`? I know modules require the use of `run_command`, but this would invoke `systemd_escape` on the controller so not sure what the guidance is.

[2021-05-25 03:00] cchang10222 opened #2608 "community.general.slack: Private Channel ID's are not found"
### Summary

When I try to modify a message from a private channel, I am returned a "channel_not_found" message. Looking into the code is seems that the slack.py build_payload_for_slack() function is looking for channels that start with ('#', '@', 'C0') but private channels start with G0#### and a "#" is prefixed into the channel id which misnames the channel id.

[code]

### Issue Type

Bug Repor

[2021-05-25 04:39] felixfontein commented on #2608
I guess `if channel.startswith(('#', '@', 'C0')):` should be changed to `if channel.startswith(('#', '@', 'C0', 'G0')):` then. Can you test whether that fixes your issue?

[2021-05-25 05:14] felixfontein commented on #2601
I don't think there currently are requirements, at least not that I'm aware of.

[2021-05-25 05:18] felixfontein commented on #2601
(Except, of course, the general ones, such as "don't pass sensitive data through the command line".)

[2021-05-25 06:28] Akasurde commented on #2601
I would do - without `shell=True`

[code]

[2021-05-25 08:30] psfshr opened #2609 "community.general.influxdb_user error since "Update influxdb_user.py Fixed Multiple No Privileges #2499""
### Summary

Currently have the following task defined to create a DB user:

- name: InfluxDB - Create a telegraf user on localhost with privileges
  community.general.influxdb_user:
    user_name: "{{ telegraf_influxdb_username }}"
    user_password: "{{ telegraf_influxdb_password }}"
    login_username: "{{ influxdb_admin_username }}"
    login_password: "{{ influxdb_admin_password }}"
    grant

[2021-05-25 08:47] Andersson007 commented on #2558
CC @ryansb

[2021-05-25 08:51] Akasurde commented on #2558
@Andersson007 @ryansb left Ansible org.

[2021-05-25 08:52] Akasurde commented on #2558
cc @jillr @tremble @alinabuzachis @abikouo @goneri @gravesm

[2021-05-25 09:04] tremble commented on #2558
I agree with @felixfontein that this is *not* "deprecated" by the AWS lambda modules.  I suspect the theory of the "serverless framework" was to offer a provider-agnostic framework that could be used.

[2021-05-25 09:14] Andersson007 commented on #2558
@Akasurde I know, thanks. I think it's worth pinging an author. I'm predicting no response as it was before but anyway.

[2021-05-25 10:59] felixfontein commented on #2609
CC @sgalea87

[2021-05-25 11:35] sgalea87 commented on #2609
Apologies, fixed in https://github.com/ansible-collections/community.general/pull/2614

[2021-05-25 12:12] MEschenbacher commented on #1342
We're running into the same issue.

[2021-05-25 12:35] donestefan commented on #446
closed in favor of infobloxopen/infoblox-ansible#58

[2021-05-25 12:35] #446 closed

[2021-05-25 12:38] donestefan commented on #447
closed in favor of infobloxopen/infoblox-ansible#59

[2021-05-25 12:38] #447 closed

[2021-05-25 12:42] donestefan commented on #855
closing this in favor of  infobloxopen/infoblox-ansible#60

[2021-05-25 12:42] #855 closed

[2021-05-26 05:00] #2510 closed

[2021-05-26 05:07] #497 closed

[2021-05-26 07:54] felixfontein opened #2627 "iptables_state seems broken on ansible/ansible devel branch"
### Summary

See:
- https://dev.azure.com/ansible/b24bf3ca-6168-45d7-99e2-bf8029e67c87/_apis/build/builds/16166/logs/1615
- https://dev.azure.com/ansible/b24bf3ca-6168-45d7-99e2-bf8029e67c87/_apis/build/builds/16167/logs/1563

[code]

### Issue Type

Bug Report

### Component Name

iptables_state

### Ansible Version

devel

### Configuration

*

### OS / Environment

*

### Steps to Reproduce

*

[2021-05-26 07:55] felixfontein opened #2628 "Become plugin tests fail on devel"
### Summary

https://dev.azure.com/ansible/b24bf3ca-6168-45d7-99e2-bf8029e67c87/_apis/build/builds/16166/logs/1631
https://dev.azure.com/ansible/b24bf3ca-6168-45d7-99e2-bf8029e67c87/_apis/build/builds/16167/logs/1586
[code]

### Issue Type

Bug Report

### Component Name

become plugins unit tests

### Ansible Version

devel

### Configuration

*

### OS / Environment

*

### Steps to Reproduce

*

[2021-05-26 08:04] felixfontein commented on #2627
This is likely related to https://github.com/ansible/ansible/pull/74577

[2021-05-26 08:04] felixfontein commented on #2628
This is related to https://github.com/ansible/ansible/pull/74790

[2021-05-26 08:34] #2628 closed

[2021-05-26 13:41] lotheac commented on #1521
this should be fixed in #2540 #2544 - somehow i missed the existence of this issue when creating that PR

[2021-05-26 16:35] felixfontein commented on #1521
@loop-evgeny can you check whether this issue is fixed for you with the latest version?

needs_info

[2021-05-26 16:48] loop-evgeny commented on #1521
@felixfontein No, sorry, I'm not working with that code now, and running the latest version of Ansible would not be trivial. I worked around the issue somehow and moved on. Let's just assume it's fixed. :)

[2021-05-26 18:32] robert-mullvad opened #2636 "proxmox_kvm: Wrong vmid returned if VM already exists"
### Summary

Running a task with `state: present` against a VM that already exists, returns the `vmid` but incremented by one.

I think this line looks suspicious: https://github.com/ansible-collections/community.general/blob/main/plugins/modules/cloud/misc/proxmox_kvm.py#L1176

### Issue Type

Bug Report

### Component Name

proxmox_kvm.py

### Ansible Version

ansible 2.9.15
  config file = /hom

[2021-05-26 19:43] Ajpantuso commented on #2636
The issue is the second case below.
[code]

[2021-05-26 20:50] felixfontein commented on #1521
@loop-evgeny fine for me; thanks for replying :)

[2021-05-26 20:50] #1521 closed

[2021-05-26 21:36] quidame commented on #2627
!component+=plugins/action/system/iptables_state.py

[2021-05-27 05:21] aminvakil commented on #2636
@robert-mullvad @Ajpantuso Are you interested in creating a PR fixing this?

[2021-05-27 06:01] #2609 closed

[2021-05-27 06:06] felixfontein commented on #2627
#2641 will temporarily disable the iptables_state tests until this is fixed.

[2021-05-27 12:19] Ajpantuso commented on #2636
See #2648, just wanted to capture some before/after evidence first.

[2021-05-27 13:56] aminvakil commented on #2608
@cchang10222 If you have tested https://github.com/ansible-collections/community.general/issues/2608#issuecomment-847523920 fixed your issue, are you interested in making a PR fixing this for everyone using module?

[2021-05-27 14:18] hostep opened #2649 "Allow to specify path of composer binary"
### Summary

Hi!

I'm currently trying to implement some deployment scripts using Ansible for some PHP projects.
I'm currently trying to setup the `composer install` step, but I keep running into a problem when trying to deploy 2 different PHP projects on the same server where one project needs composer v1 and another composer v2 (both composer versions should theoretically be able to work on the

[2021-05-27 15:58] cchang10222 commented on #2608
@aminvakil @felixfontein I tested and this did fix my issue, I could give it a try and open a PR for this.

[2021-05-27 16:45] aminvakil commented on #2608
@cchang10222 Great!

[2021-05-27 19:36] OtherDevOpsGene opened #2661 "maven_artifact fails for FIPS"
### Summary

I am using `maven_artifact` on a system configured to use FIPS-compliant algorithms. Unless I set `verify_checksum` to `never`, I get an error:

    FAILED! => {"changed": false, "msg": "error:060800A3:digital envelope routines:EVP_DigestInit_ex:disabled for fips"}

This is because `is_invalid_md5` is using MD5 for the checksum and MD5 is blocked if FIPS is enabled.

SHA1 is allowed b

[2021-05-28 10:49] #2649 closed

[2021-05-28 10:49] robert-mullvad commented on #2636
#2648 fixes the problem in my case. Thank you @Ajpantuso!

[2021-05-29 02:35] maspotts opened #2672 "homebrew module installing awscli failed (incorrectly) apparently due to formula building from source"
### Summary

When I try to install the awscli formula it fails; the error is a warning about building from source (because my HOMEBREW_PREFIX is nonstandard).  But when I install manually (brew install awscli) it installs (builds from source) with no errors.  Subsequent to a manual build, ansible sees that it is installed and moves past it.

### Issue Type

Bug Report

### Component Name

communit

[2021-05-29 02:37] maspotts commented on #2672
Output of (successful) manual install:

[code]

[2021-05-29 06:51] aminvakil commented on #2672
!component =plugins/modules/packaging/os/homebrew.py

[2021-05-29 07:00] #2636 closed

[2021-05-29 08:50] #2627 closed

[2021-05-29 19:40] Ajpantuso commented on #2587
I did look at this more and `format=zip` works as expected so the issue occurs within `tarfile`, but I wasn't able to identify where. My suspicion is that it has something to do with the pax headers. Running `tar` directly from WSL2 targeting a DrvFs mount works fine and the pax headers are visible within the `tgz` file from 7zip whereas the "inner" `tgz` created by `archive` has no pax headers, b

[2021-05-30 18:28] thebinary opened #2683 "open_iscsi login multiple selective portals of same target"
### Summary

I am trying to login to multiple portals of same target.
For eg:
target = 2021-05.org.example:target1
portals = 10.10.10.1:3260 and 10.10.11.1:3260 (multiple network paths)

But I am not being able to since 'portal' argument is single string, so I cannot specify multiple portals.

Also, I cannot do so using 2 tasks each for different portals, since the module checks if target is logge

[2021-05-30 18:31] thebinary commented on #2683
https://github.com/ansible-collections/community.general/blob/bef3c04d1c7dfaf87d00f3777dd844c1e09e2a99/plugins/modules/system/open_iscsi.py#L336

I think  'target_loggedon' check should consider portal as well in addition to target

[2021-05-30 21:38] thebinary opened #2685 "open_iscsi automatic/manual startup specific portal override"
### Summary

I am trying to override node.startup of specific portals of a target
For eg:
target = 2021-05.org.example:target1
portals = 10.10.10.1:3260, 10.10.11.1:3260 and 10.10.12.1:3260 (multiple network paths)
automatic startup portals = 10.10.10.1:3260, 10.10.11.1:3260

But I am not being able to do so since node.startup is considered only for target as a whole.

### Issue Type

Feature Idea

[2021-05-31 09:46] absynth76 commented on #2460
Agreed, the other issue is solved anyway, it was due to a typo, for this specific one, I think it needs discussion, looking at the way we use the module, we never relied on the fact it could potentially import a keypair, assuming the initial description was a valid statement.

[2021-05-31 19:28] felixfontein commented on #2460
I guess it would be nice to re-add support for it, since it obviously was supported before, even though it wasn't documented.

[2021-05-31 21:31] norg commented on #2356
At least we can use the opts as a workaround in some scenarios:

[code]

But I agree that a builtin option would be better, the `other_devices` idea sounds like one valid way.

[2021-06-01 01:48] maspotts commented on #2672
This issue seems to have resolved overnight: the only change I made was:
  1.  manually uninstalled (the manually installed awscli): brew uninstall awscli

[2021-06-01 01:50] #2672 closed

[2021-06-01 14:12] shaharmor commented on #2021
Is there any plan to fix this?

[2021-06-01 20:04] #1087 closed

[2021-06-01 20:06] #2661 closed

[2021-06-01 20:25] felixfontein commented on #582
3.2.0 and 2.5.3 will be released on Tuesday, June 8th (i.e. in a week).

[2021-06-02 06:15] aminvakil commented on #2021
needs_contributor

[2021-06-02 14:27] tonk opened #2692 "Logstash callback plugin gives 'CallbackModule' object has no attribute '_options'"
### Summary

With Ansible 3.0.0 and up the `logstash` callback plugin throws an error

[code]

The `ansible.cfg` contains:

[code]

This seems to be related to https://github.com/ansible-collections/community.general/commit/298e0f60be2eda314525cd8b5248fecaa7a12056, because when I remove the section

[code]

the plugin works fine.

### Issue Type

Bug Report

### Component Name

The logstash callba

[2021-06-02 15:00] felixfontein commented on #2692
CC @ujenmr

[2021-06-02 15:04] ujenmr commented on #2692
I'll check

[2021-06-03 06:06] felixfontein commented on #2685
!component =plugins/modules/system/open_iscsi.py

[2021-06-03 06:59] thebinary commented on #2683
!component =plugins/modules/system/open_iscsi.py

[2021-06-03 08:07] dev-zero commented on #1985
I don't have time to work on this atm, but from a `zypper lr -u` my guess is that those repovars need to be expanded for the `refresh -r` command to work with an URI.

A description on where those vars are coming from can be found here: https://doc.opensuse.org/projects/libzypp/HEAD/zypp-repovars.html if one wants to do the replacement (`$basearch` is probably the output of `rpm --eval %{_arch}` w

[2021-06-03 08:07] dev-zero commented on #1985
@matze do you have any preference?

[2021-06-03 08:15] matze commented on #1985
I haven't worked with openSUSE in a long time hence no need for the Zypper module. So 1) I don't have a preference and 2) it might be a good time to find someone else maintaining this module.

[2021-06-03 19:23] felixfontein commented on #1985
@matze if you no longer want to maintain this module, could you create a PR to remove yourself from https://github.com/ansible-collections/community.general/blob/main/.github/BOTMETA.yml#L720 ? Since you are at the same time the author of this module, you need to add `ignore: matze` next to it as well (then the bot should stop pinging you).

[2021-06-03 20:06] felixfontein opened #2700 "iptables_state is broken again on ansible/ansible's devel branch"
### Summary

I think this time it's due to https://github.com/ansible/ansible/commit/9c718ccc4288473d44ebf13599a409913d43e3cc

See https://dev.azure.com/ansible/b24bf3ca-6168-45d7-99e2-bf8029e67c87/_apis/build/builds/16908/logs/1600 and https://dev.azure.com/ansible/b24bf3ca-6168-45d7-99e2-bf8029e67c87/_apis/build/builds/16908/logs/1583 for CI runs.

### Issue Type

Bug Report

### Component Name

[2021-06-03 20:29] felixfontein commented on #2700
According to @bcoca we must not call the async_status *module*, but the async_status *action plugin*. An example how to do that is in the template action plugin: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/template.py#L179-L186

[2021-06-03 20:29] matze commented on #1985
Done with #2701 and thanks for the pointing out the process :+1:

[2021-06-03 20:33] felixfontein commented on #2700
This will get fixed in ansible/ansible's devel branch, with the code of the async_status module getting a deprecation, but we should still switch to using the action plugin because a) it's the correct way to do it since ansible >= 0.4 (according to @bcoca), and b) it will break again once the deprecation expires :)

[2021-06-03 20:40] felixfontein commented on #2700
(https://github.com/ansible/ansible/pull/74908 resurrects the async_status module for now)

[2021-06-04 09:14] quidame commented on #2700
!component +=plugins/action/system/iptables_state.py

[2021-06-04 09:23] quidame commented on #2700
!component =plugins/action/system/iptables_state.py

[2021-06-04 09:59] mortenlj opened #2715 "xfconf fails to set double value when LC_NUMERIC is set to nb_NO.UTF-8"
### Summary

In https://github.com/ansible-collections/community.general/pull/744 `LANGUAGE` is used to force `xfconf-query` to return doubles using the expected format. This fails when `LC_NUMERIC` is set. From the article linked to in https://github.com/ansible-collections/community.general/pull/744, it seems like setting `LANGUAGE` should override `LC_NUMERIC`, but that isn't actually the case.

[2021-06-05 10:30] russoz commented on #2715
hi @mortenlj thanks for reporting this bug! Will look into it in the next couple of days.

[2021-06-05 12:53] #2567 closed

[2021-06-05 20:40] #2683 closed

[2021-06-06 06:20] #2700 closed

[2021-06-06 10:53] omula opened #2730 "nmcli: add ipv4.routing-rules, ipv4.may-fail options and disabled to method6"
### Summary

I am trying to configure our network setup which is possible with nmcli command line but there are some missing options in the ansible collections which prevents us from using it. Adding this options will extend the possible configuration that the collection can do and get closer to nmcli command capabilities.

### Issue Type

Feature Idea

### Component Name

nmcli

### Additional In

[2021-06-06 16:21] felixfontein commented on #2730
!component =plugins/modules/net_tools/nmcli.py

[2021-06-06 17:30] PrimaryCanary commented on #2519
I've submitted a bug report to Zypper. In the meantime, my implementation is available https://github.com/PrimaryCanary/community.general/tree/zypper-gpg. I'll wait to see what the Zypper maintainers say then finish implementing idempotency. Perhaps we can issue a warning for Zypper versions less than X.Y.Z saying Ansible will incorrectly report changed status.

[2021-06-07 09:01] bendwyer opened #2734 "onepassword lookup does not work for 1password.eu"
### Summary

When using the community.general.onepassword lookup, the module assumes a subdomain of 1password.com, so tasks using subdomains of 1password.eu fail.

### Issue Type

Bug Report

### Component Name

https://github.com/ansible-collections/community.general/blob/f74b83663bcc1f6269a2bb56ba646f24f6218578/plugins/lookup/onepassword.py#L171

### Ansible Version

[code]

### Configuration

[

[2021-06-07 09:17] felixfontein commented on #2734
!component =community.general/plugins/lookup/onepassword.py

[2021-06-07 11:06] #2715 closed

[2021-06-07 19:22] #1863 closed

[2021-06-07 20:39] l8gravely commented on #1946
Charlie> Hey there, @l8gravely! We are working on a Linode (APIv4
Charlie> only) module internally right now with support for more than
Charlie> just instances. That should be released independently of the
Charlie> community.general module soon.

Is there any update on this?  I'd love to try and test this out in the
near future if I can.

[2021-06-08 06:23] #1985 closed

[2021-06-08 08:24] bendwyer commented on #2734
Hi @aminvakil,

I tested it this morning and am still encountering the same error I referenced when I opened this issue:

[code]

Using the exact same credentials (copy + paste) into the `op` cli works, but the flow is a little different:

[code]

Alternatively, it is possible to login all at once by also passing the master password:

[code]

Here is an updated playbook that I am using to try and

[2021-06-08 08:47] aminvakil commented on #2734
Just making sure you have used the latest code from https://github.com/ansible-collections/community.general/pull/2735 branch, right?

[2021-06-08 09:07] bendwyer commented on #2734
Hi @aminvakil ,

I just started in a new folder with a local collection directory pulling your branch, and the playbook above worked. Sorry for the confusion.

[2021-06-08 09:12] aminvakil commented on #2734
@bendwyer Great! If you would also review PR and approve or mention any other stuff in PR that needs to be changed would be great.

[2021-06-08 09:41] #2734 closed

[2021-06-08 12:08] antivirtel opened #2761 "yum_versionlock is not idempotent when using wildcard"
### Summary

I've just started using `community.general.yum_versionlock`, and it looks like it's not idempotent when using wildcard `*` in package names. Eg. `*kernel*`.

### Issue Type

Bug Report

### Component Name
yum_versionlock
community.general version 3.1.0

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

MacOS/ CentOS7 control node
CentOS 6 & 7 target

### St

[2021-06-08 12:10] aminvakil commented on #2761
!component =plugins/modules/packaging/os/yum_versionlock.py

[2021-06-08 13:24] felixfontein commented on #582
3.2.0 has been released. The next expected 3.x.y release is 3.3.0 at the end of June.

[2021-06-08 16:29] dantheta opened #2762 "xml module strips DOCTYPE from xml document"
### Summary

When performing a simple XML manipulation, the target document has its doctype declaration removed.

### Issue Type

Bug Report

### Component Name

community.general.xml

community.general version 1.3.2, using python-lxml version 4.5.0

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

ubuntu 18.04, centos 7

### Steps to Reproduce

xmltest.yml:

[code]

t

[2021-06-08 17:40] fostermi opened #2763 "keycloak_client module uses deprecated client templates instead of client scopes"
### Summary

Since Keycloak 4.0, "Client Templates" has been renamed to "Client Scopes". The corresponding client representation in the API uses "defaultClientScopes" and "optionalClientScopes" as arrays.

Attempting to use "client_template" (as a list of Available Client Scopess" and "use_template_scope = true" has no affect on the client. "client_template" is looking for a string and even if usi

[2021-06-08 21:20] ernestk86 opened #2764 "ImportError: No module named jenkins"
### Summary

I am trying to manage a jenkins job using an Ansible playbook and plugin community.general.jenkins_job. When I run the playbook I get the error message:

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ImportError: No module named jenkins
[WARNING]: Platform linux on host 18.223.113.29 is using the discovered Python interpreter at /usr/

[2021-06-08 21:32] jlosito opened #2765 "Does maven_artifact module only support md5 checksum verification?"
### Summary

I have a couple of machines in my garage which use a FIPS compatible version of OpenSSL. When pulling artifacts using the `maven_artifact` module, I believe it is trying to verify the artifact's checksum using md5 according to the [documentation](https://docs.ansible.com/ansible/2.9/modules/maven_artifact_module.html#parameter-verify_checksum). The FIPS version of OpenSSL doesn't like

[2021-06-08 21:49] #2765 closed

[2021-06-08 22:29] Ajpantuso commented on #2764
Have you tried:
- running `/usr/bin/python -m pip list` on that target host to see if `python-jenkins` is available to that interpreter?
- Adding a preceding task to ensure `python-jenkins` is installed?
example:
[code]

[2021-06-09 04:55] felixfontein commented on #2765
The `checksum_alg` option has been added in community.general 3.2.0, released a couple of hours before you asked :)

[2021-06-09 05:52] akimran82 opened #2766 "Add a new key, value using Ansible consul_kv"
### Summary

I have a new key, value pair which I'd like to add to a remote consul. With the current setup, values are updated for an existing key. But new key, value pairs are not added. This is the setup I have :

[code]

### Issue Type

Feature Idea

### Component Name

consul_kv

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-06-09 08:17] btck30351 opened #2767 "Support project group when modifying gitlab_project_members"
### Summary

Currently if we have multiple projects with the same name but in different group, the module only modify the first found project.

https://github.com/ansible-collections/community.general/blob/1e968bce27f8cab0b6decd89c53a2475f63ca6e3/plugins/modules/source_control/gitlab/gitlab_project_members.py#L123

Example structure:

GroupA/Common
GroupB/Common

Is it possible to search the proje

[2021-06-09 10:19] henkkuli opened #2768 "Wrong documentation for access_level on gitlab_runner"
### Summary

[Documentation](https://docs.ansible.com/ansible/latest/collections/community/general/gitlab_runner_module.html#parameter-access_level) for `access_level` parameter of `community.general.gitlab_runner` states:

According to my understanding, this implies the runner always picks jobs from unprotected branches, and when this is defined, jobs from both protected and unprotected branches

[2021-06-09 11:18] jlosito commented on #2765
Yes. I see sha1 was added. Thank you. After I saw it was added I tried to quickly close this.

[2021-06-09 12:58] psykotox opened #2769 "[scaleway inventory] JSON object must be str, not 'bytes'"
### Summary

When I try to do an inventory with the community.general.scaleway plugin, the return of the API seems to be an invalid JSON

### Issue Type

Bug Report

### Component Name

plugins/inventory/scaleway.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Debian Buster

### Steps to Reproduce

Inventory file **_scaleway.yml_**:
[code]

The problem happen when

[2021-06-09 13:35] dj-wasabi opened #2770 "Can not create group (and/or project) at Gitlab.com"
### Summary

I want to create a group and project on Gitlab.com, but all I get is a 401 (when using username/password) or a 403 (when using the token)

### Issue Type

Bug Report

### Component Name

gitlab_group
gitlab_project

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Max OS X

### Steps to Reproduce

[code]

### Expected Results

Would expect to have a group

[2021-06-10 08:33] dj-wasabi commented on #2770
When using the `api_token` I get the error:

[code]

I am using a Personal access token, with the `api` scope (and the rest as well) configured.

[2021-06-10 09:01] Anas-Hamadeh opened #2774 "Module datadog_event API endpoint definition"
### Summary

I'm trying to define an API endpoint for the datadog_event module to send data to. By default, it sends to api.datadog.com which is not necessarily always the case.
It would be helpful if we have that as an optional parameter to pass to the module in order for the events to reach the right location. The current workaround is to hardcode the API endpoint into the datadog python library

[2021-06-10 11:27] Akasurde commented on #2768
@henkkuli Thanks for reporting this issue. What do you think about following doc modification -

[code]

[2021-06-10 14:11] Akasurde commented on #467
@silviuvulcan Thanks for reporting this issue. Sorry for the delay. `variables` is a dictionary with `key` as the variable name and `value` as the template value.

The string is not templated, whereas other values are templated (including numbers). You may want to double-quote your string so that it will be passed through the template engine.

[code]

Here, `bar` is not a template value so you nee

[2021-06-10 14:57] Akasurde commented on #467
For me -

[code]

Returns
[code]

[2021-06-10 14:58] henkkuli commented on #2768
No, I think that is still incorrect. I think it should be
[code]

[2021-06-10 15:10] fkuep commented on #2124
I can confirm the issue is fixed now.

Using the playbook at the end:
* I could reproduce the error with the distribution version of community.general .
* Then I updated with `ansible-galaxy collection install community.general`  , which gave me :  3.2.0
* now it succeeds :

[code]
*Playbook used:*

[code]

[2021-06-10 15:10] #2124 closed

[2021-06-10 15:43] Akasurde commented on #467
resolved_by_pr #2776

[2021-06-10 21:32] lamawithonel opened #2778 "Splunk plugin: Configurable session IDs"
### Summary

I am trying to correlate related Ansible runs in Splunk, and I think adding a configurable session ID to the Splunk callback plugin would be a fairly straightforward way to do this.

Right now the Splunk plugin generates a random UUID at startup and attaches it to every task executed during that run (lifetime of the SplunkCallback instance.) This makes it easy to correlate tasks from

[2021-06-11 05:29] felixfontein commented on #2778
!component =plugins/callback/splunk.py

[2021-06-11 09:22] Akasurde commented on #2768
@henkkuli OK. Got it. Thanks. I will create for this.

[2021-06-11 10:23] sstagnaro opened #2780 "RFE: Add 802.1X parameters to `nmcli`"
### Summary

The `nmcli` module is lacking support for 802.1X authentication. One is forced to use the non-idempotent command like in this example:

[code]
Please add all the relevant parameters for NetworkManager `802-1x` section.

### Issue Type

Feature Idea

### Component Name

nmcli

### Additional Information

_No response_

### Code of Conduct

- [X] I agree to follow the Ansible Code of Co

[2021-06-11 11:11] aminvakil commented on #2769
Fixed in https://github.com/ansible-collections/community.general/pull/2771.

[2021-06-11 11:11] #2769 closed

[2021-06-11 11:24] #467 closed

[2021-06-11 12:28] Akasurde commented on #2768
cc @alinabuzachis @abikouo @srirachanaachyuthuni

[2021-06-11 12:48] Akasurde commented on #424
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/infobloxopen/infoblox-ansible

Migrated this issue in the above repository - https://github.com/infobloxopen/infoblox-ansible/issues/61.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net

[2021-06-11 12:48] #424 closed

[2021-06-11 13:09] Akasurde commented on #861
@opoplawski Following works for me -

[code]

[code]

needs_info

[2021-06-11 14:15] Akasurde commented on #1942
resolved_by_pr #2789

[2021-06-11 20:28] felixfontein commented on #861
The code only resolves one DNS name, so the last one wins: https://github.com/ansible-collections/community.general/blob/main/plugins/lookup/dig.py#L311 This is consistent with the result @Akasurde shows, all six IP addresses resolve to Yahoo servers (`host -t NS yahoo.com` only gives me five nameservers though), and the four nameservers `google.com` is using have different IPs.

[2021-06-12 02:49] saito-hideki commented on #2770
Hi, I replicated the same issue with `python-gitlab` and public GitLab like below. I think you are facing the following Gitlab issue

- https://gitlab.com/gitlab-org/gitlab/-/issues/244345

For now, we can create a subgroup under a specified parent group using the `gitlab_group` module that calling GitLab API. But If we want to create a parent group via API, we probably need to wait for a fix on G

[2021-06-12 06:24] Akasurde commented on #861
Correct.

[2021-06-12 08:51] dj-wasabi commented on #2770
Hi @saito-hideki

Thank you! This will help me indeed. Will close this issue as it is clearly not an issue with the modules.

[2021-06-12 08:51] #2770 closed

[2021-06-12 13:24] Ajpantuso commented on #2766
This module already behaves the way you expect it to.
Can you run a task with a new key, value pair and the `-v` flag set on the playbook?
If the result has `changed: false` and the remaining result values are `Null` then the PUT request to your Consul cluster is failing and I would review the cluster logs if possible.

[code]

[2021-06-13 06:25] #2768 closed

[2021-06-13 14:26] Akasurde commented on #748
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/infobloxopen/infoblox-ansible

Migrated this issue in the above repository - https://github.com/infobloxopen/infoblox-ansible/issues/62.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net

[2021-06-13 14:26] #748 closed

[2021-06-14 02:03] luborjurena commented on #2248
I still have the problem with 2.11.1

[2021-06-14 04:03] luborjurena commented on #2248
Fixed in my configuration.
```ansible_host=REMOTE_LXD:CONTAINER_NAME``` is not supprted anymore, the correct configuration is ```ansible_lxd_remote=REMOTE_LXD```

[2021-06-14 04:03] #2248 closed

[2021-06-14 16:22] #1942 closed

[2021-06-14 16:40] akimran82 commented on #2766
You are right @Ajpantuso
There was something else in our code which was stopping this from happening. Thanks for letting me know.

[2021-06-14 16:40] #2766 closed

[2021-06-15 08:40] trondhindenes commented on #2464
sorry, I didn't realize I was that far back. Closing this, thanks for the help!!

[2021-06-15 08:40] #2464 closed

[2021-06-15 12:07] rossengeorgiev commented on #1892
I've encountered the same issues @roumano. My use case is simple, I have a list of users and I need to make sure they created in gitlab, and have permissions to a specific group. I running gitlab on-prem. Maybe gitlab.com could be different.

`password` being required makes no sense to me:

1. Gitlab will send an email to the user to activate their account when I created it from the Web UI

![imag

[2021-06-15 16:19] amg1127 commented on #273
Hi there,

I wanted to comment that systemd configuration frequently uses multiple options with a same name on their configuration files. Without support for multiple options with the same name in `ini_file` module, idempotent systemd configuration can be achieved with modules such as `template` or `blockinfile`, however those alternatives may unwillingly remove settings unmanaged by Ansible.

Sup

[2021-06-15 17:21] felixfontein commented on #1892
I think #2691 implements a password reset.

[2021-06-16 06:53] Akasurde commented on #2601
@Zocker1999NET Are you OK if I open a new PR with your code with some modifications and do the re-licensing (MIT -> GNU GPLv3 or later)? Thanks in advance.

[2021-06-16 07:01] #1311 closed

[2021-06-16 08:16] Akasurde commented on #1954
@pfuntner Thanks for reporting this issue. `pamd` module does not handle `authselect` template files. You need to modify `/etc/pam.d/system-auth` after you do the` authselect select sssd` command.

I will update the docs stating this explicitly.

[2021-06-16 08:32] Akasurde commented on #1954
resolved_by_pr https://github.com/ansible-collections/community.general/pull/2815

[2021-06-16 10:56] drTr0jan commented on #2460
Also after #2008 java_cert doesn't import a certificates chain.
Before refactoring: there was an _import_pkcs12_path()_ function with _keytool -importkeystore_ feature
After refactoring: there's an _import_cert_path()_ function with _keytool -importcert_ feature which doesn't import a certificate chain.

[2021-06-16 17:58] #2778 closed

[2021-06-16 18:59] anappi-vc opened #2818 "The archive module"
### Summary

When I try to archive a single file as a .zip file using the archive module, it creates the zip file with the correct name but the file itself inside the archive is missing the first letter. I tested this on the latest release as well as the devel branch.

For example, if I archive `message.txt`, the name of the zip file is `message.txt.zip` (which is correct) but the file inside is n

[2021-06-16 19:28] felixfontein commented on #2818
Huh, that sounds like a "funny" bug. Thanks for reporting it!

@russoz @Ajpantuso since you're more familiar with the module, can you take a look?

[2021-06-16 19:38] Ajpantuso commented on #2818
Yes, I took a look.
If the file is in the current working directory then the root is defined as the os path separator which always has length 1.
[code]
Later on for single file zip compression the file name in the archive has the root stripped via slicing, but if the path was supplied as just the file name that will slice the first letter off the name. I can roll this fix into my open PR.
[code]

[2021-06-16 19:51] anappi-vc commented on #2818
Thank you for looking at this

[2021-06-16 20:34] Ajpantuso commented on #2818
Updated #2816 with the following regex substitution:
[code]
Behavior is now consistent with the logic for archiving multiple files.

[2021-06-16 21:28] russoz commented on #2764
@ernestk86 Could you please confirm if @Ajpantuso suggestions helped you? So far this looks like a work-as-expected situation, but it would be nice to have the confirmation so we can close the issue (or not if there's something else going on).

[2021-06-16 21:43] ernestk86 commented on #2764
Sure!

Yes @Ajpantuso your suggestion helped. To fix the issue I had to add the following code before mine to get it to work. My confusion came from the fact that I had python-jenkins installed on my machine. To get the Ansible task to work I had to ensure that python-jenkins was installed in the host machine, which in this case is different from my local.

[code]

[2021-06-16 21:44] #2764 closed

[2021-06-16 21:48] russoz commented on #2764
Glad you were able to solve it. Thanks for closing, and don't hesitate to raise issues again if bumping onto any other walls. :-)

[2021-06-16 22:52] TizeN85 commented on #2442
Hello, I was about to create a new bug request for this, but find this one, so I'm here.

Juste to say that the only thing to change to fix this bug is to change the line 226 in ipa_sudorule.py from this :
`226         return self._post_json(method='sudorule_add_allow_command_group', name=name, item={'sudocmdgroup': item})`
to this :
`226         return self._post_json(method='sudorule_add_allow_c

[2021-06-16 22:54] russoz commented on #2442
Thanks @ahambrick and @TizeN85 for spotting this. If you would like to write a PR for fixing this bug, we would be more than happy to review it.

[2021-06-16 23:17] ahambrick commented on #2442
Will defer to @TizeN85  on what he wants to do - since he's the one that put in the work and time to actually look into this.

[2021-06-17 12:26] omula commented on #1950
As far as I can see the mode is not used for configuring teaming devices.
Red Hat [documentation](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/networking_guide/sec-configure_a_network_team_using-the_command_line) show that json format can be used to specify the configuration for the team.

I am considering implementing something like the sample below and then use `

[2021-06-17 12:59] ahambrick commented on #2442
Awesome, thanks @TizeN85 ! :)

[2021-06-17 17:08] #2442 closed

[2021-06-18 05:45] jbsky commented on #473
Hello,

That you can't put a vlan with networkmanager is really a bad surprise.

Where it works with brctl and ip commands, it fails (miserably!) with nmcli.

Yes, this is a feature that must be given priority in order for NetworkManager to be complete.

Sincerely.

[2021-06-18 09:44] manzil007 commented on #822
Bit still maven_artifact: module is not working for me yet

[2021-06-18 10:13] tumbl3w33d commented on #822
It looks like you are trying to use maven_artifact to download a nuget artifact. Apparently their repo structures differ, so this tool won't help you in its current state.

[2021-06-18 14:07] Akasurde opened #2834 "Generate word-based passwords"
_From @PeterNerlich on Jun 11, 2021 13:38_

### Summary

<details><summary>For the <i>Why</i> of word based passwords, allow me to refer to <a href="https://xkcd.com/936/" target="_blank">xkcd 936</a>:</summary>
<img src="https://imgs.xkcd.com/comics/password_strength.png">
</details>

I think this might be a useful extension of the [password lookup plugin](https://github.com/ansible/ansible/blob/

[2021-06-18 14:07] Akasurde commented on #2834
_From @PeterNerlich on Jun 14, 2021 14:55_

Another python package that might be better than passwdgen because it comes with a few wordlists already is [xkcdpass](https://github.com/redacted/XKCD-password-generator): In addition to English it has Spanish, Finnish, Italian, German, Norwegian, French and Portuguese. Also it was directly inspired by the comic I used for explanation, too.

[2021-06-18 14:07] Akasurde commented on #2834
_From @bcoca on Jun 15, 2021 15:06_

Hi!

Thank you very much for your submission to Ansible. It sincerely means a lot to us that you've taken the time to contribute.

We are no longer accepting new one off modules/plugins, or modules/plugins that create a new category.

However, we recommend looking into providing this functionality through Ansible Galaxy via Ansible Collections. You can find mor

[2021-06-18 14:07] Akasurde commented on #2834
_From @PeterNerlich on Jun 15, 2021 21:19_

Ah okay, thanks for the feedback. Yeah, I originally decided against just making a standalone plugin as it made more sense to me to include it as a new option in this password module.

I'm definitely having a look at writing custom plugins, I'll see whether I'll stick with it long enough and get to a point where I feel confident enough to publish it.

[2021-06-18 15:42] jkman340 opened #2835 "snap module fails with state absent on snap that is not installed"
### Summary

Using snap module to ensure a snap is not installed on system.  Task fails with error "No snap matching 'foo' available."

### Issue Type

Bug Report

### Component Name

community.general.snap

### Ansible Version

  ansible 2.10.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/user/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']

[2021-06-18 15:43] jkman340 commented on #2835
Same as this closed issue https://github.com/ansible-collections/community.general/issues/1433 but does not work for me.  Confirmed snapd is running on remote system.

[2021-06-18 16:39] mkubilus opened #2836 "When using tfenv the Ansible terraform module (community.general.terraform version 3.2.0) will tend to fail on version check."
### Summary

Essentially the version check here: https://github.com/ansible-collections/community.general/blob/main/plugins/modules/cloud/misc/terraform.py#L230  does not use the provided project_path.  When tfenv is used the `terraform version` command may either return an incorrect system version, or an error like ` Version could not be resolved (set by /opt/tfenv/version or tfenv use <version>)

[2021-06-18 16:47] mkubilus commented on #2836
Workaround is to symlink the .terraform-version file to the ansible current working directory.  Not sure how you would handle this if you tried to execute multiple terraform paths with different versions though.

[2021-06-18 20:08] #2021 closed

[2021-06-19 00:11] quidame commented on #2835
!component =plugins/modules/packaging/os/snap.py

[2021-06-19 06:12] anupcshan opened #2840 "proxmox_kvm: Creating VM on ZFS store fails"
### Summary

I'm trying to create a new Proxmox VM (or ensure that it exists) using Ansible. The target Proxmox instance uses ZFS to store disks/isos/dumps etc. VM creation fails because device info string for ZFS-devices appears to be getting parsed incorrectly (see traceback below).

### Issue Type

Bug Report

### Component Name

proxmox_kvm

### Ansible Version

[code]

### Configuration

[cod

[2021-06-19 09:21] aminvakil commented on #2836
!component =plugins/modules/cloud/misc/terraform.py

[2021-06-19 09:40] rainerleber commented on #2836
Hi @mkubilus,
thank you for reporting this issue. But in my opinion it is not really realated to the module.
So you use tfenv(not from Hashicorp and not supported from Hashicorp) to install a specific version of terraform.

The recommended way to install terraform is to download the binary from here: https://releases.hashicorp.com/
or install it via package manager realted to OS.

For reference: h

[2021-06-19 09:43] aminvakil commented on #2835
Taking a quick look at code it seems that it fails here:
https://github.com/ansible-collections/community.general/blob/1ed4394c5ed4e3e9e31165b7979e5b38e16def05/plugins/modules/packaging/os/snap.py#L229
which calls here:
https://github.com/ansible-collections/community.general/blob/1ed4394c5ed4e3e9e31165b7979e5b38e16def05/plugins/modules/packaging/os/snap.py#L189-L193
which checks this:
https://git

[2021-06-19 12:27] felixfontein commented on #2835
Please note that the snap module in the `main` branch is pretty much different from the one in stable-3, since the backport https://github.com/ansible-collections/community.general/pull/2542 hasn't yet been merged. (I accidentally merged the original PR too early; I'm still waiting for someone to test the backport before merging it.)

[2021-06-19 12:42] #2730 closed

[2021-06-19 13:07] Ajpantuso commented on #1608
I was able to recreate this modprobe behavior on an `arm` installation of `focal`.
I have a PR ready to trigger task failure in this scenario and enhance log output.
Will push it shortly.
[code]

[2021-06-19 13:24] felixfontein commented on #1337
Please note that the inventory and vault scripts were moved from community.general to https://github.com/ansible-community/contrib-scripts. They will be no longer contained in community.general 4.0.0, and have been deprecated in community.general 3.2.0, and are no longer part of this repository's `main` branch.

Please create a PR to fix this issue in https://github.com/ansible-community/contrib-s

[2021-06-19 13:24] #1337 closed

[2021-06-20 05:47] russoz commented on #2558
@Andersson007 @Akasurde @tremble @felixfontein
I have raise #2845 to deprecate the unused  `functions` parameter, but that is not quite what this issue was originally about. So, unless anyone has any other expectations out of this issue, I reckon we should close it - will do so in a couple of days if no one complains.

[2021-06-20 10:42] #2840 closed

[2021-06-20 11:17] #2429 closed

[2021-06-21 08:01] russoz commented on #679
hi @badnetmask tudo bom? :brazil:

As mentioned before, it will make more sense to work on this issue in the context of the infoblox.nios_modules repository. Given that, is there any particular reason for us to keep this issue open here? TIA

[2021-06-21 08:29] Akasurde commented on #679
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/infobloxopen/infoblox-ansible

Migrated this issue in the above repository - https://github.com/infobloxopen/infoblox-ansible/issues/64.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net

[2021-06-21 08:29] #679 closed

[2021-06-21 09:39] russoz commented on #616
Hi @xterms013 any updates? Given the problem has reportedly been solved, we would like to close this issue.

[2021-06-21 09:40] russoz commented on #616
needs_info

[2021-06-22 07:44] omula commented on #1950
@felixfontein what are your thoughts?

[2021-06-22 10:43] felixfontein commented on #1950
@omula I personally prefer strict validation, but I know that others do not want that. Since I'm not maintaining and using that module, my preferences are not that important :)

[2021-06-22 19:02] BrainStone opened #2856 "JMESPathError in json_query filter plugin in v2.9.23"
### Summary

When using a `json_query` filter after updating to 2.9.23 from 2.9.21 (can't 100% pinpoint this but I believe the critical change happened when updating from v2.9.22 to v2.9.23) I get this error:

[code]

Seems to be a recurrance of https://github.com/ansible/ansible/issues/27299

### Issue Type

Bug Report

### Component Name

json_query

### Ansible Version

[code]

### Configuratio

[2021-06-22 19:08] BrainStone commented on #2856
The workaround presented in the original issue still works btw:

Broken:
[code]

Working:
[code]

[2021-06-22 19:09] felixfontein commented on #2856
You are apparently using the filter included in Ansible 2.9, and not the one from this repository. In any case, the filter itself in Ansible 2.9 did not change (https://github.com/ansible/ansible/blob/stable-2.9/lib/ansible/plugins/filter/json_query.py was last changed in 2017). Please note that Ansible 2.9 is in maintenance mode and only receives security fixes, so you likely will have to install

[2021-06-22 19:12] BrainStone commented on #2856
Interesting that security fixes introduce regressions.

I'd be happy to report the issue there if the bot would let me: https://github.com/ansible/ansible/issues/75091

Also pretty sure I have it installed, not sure what exactly changed that it suddely broke. And the reason for me using this version is simply that that's the version being shipped on Debian 10.

[2021-06-22 19:46] felixfontein commented on #2856
Are you actually sure that it worked with 2.9.21? I did run your reproducer with Ansible 2.9.20, 2.9.21, 2.9.22 and 2.9.23, and it always resulted in `fatal: [localhost]: FAILED! => {"msg": "JMESPathError in json_query filter plugin:\nIn function ends_with(), invalid type for value: test.yml, expected one of: ['string'], received: \"unknown\""}`.

[2021-06-22 19:47] felixfontein commented on #2856
Debian 10 comes with Ansible 2.7.7, btw (https://packages.debian.org/buster/ansible).

[2021-06-22 19:54] felixfontein commented on #2856
Your reproducer works fine with the version of json_query included in this repo, btw. (Which is not surprising, since it has been fixed in #320.)

[2021-06-22 20:09] BrainStone commented on #2856
Right. Now that you mention it. I actually use the version on `http://ppa.launchpad.net/ansible/ansible/ubuntu trusty`. As 2.7 was too old for my use case.

[code]

[2021-06-23 08:39] gthieleb opened #2857 "Terraform module returns output in object format"
### Summary

When I try to run an terraform module with ansibles builtin terraform module, the output contains json data but in some mixed object formatted code.

### Issue Type

Bug Report

### Component Name

terraform

### Ansible Version

[code]

### Configuration

[code]
^^ empty

### OS / Environment

[code]

### Steps to Reproduce

[code]

### Expected Results

Desired output:

[code]

###

[2021-06-23 09:24] duck-rh commented on #977
I can confirm this problem, and even worse `ldap_entry` has the same problem if an entry already exists, breaking idempotency.

[2021-06-23 11:43] coffeelover opened #2858 "nmcli does not modify connections without type parameter"
### Summary

When setting a static configuration on an already configured interface, the parameters ip4, manual, etc. are ignored when type is missing. But the module does not complain.

### Issue Type

Bug Report

### Component Name

nmcli

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL8

### Steps to Reproduce

[code]

### Expected Results

I expected a static

[2021-06-23 12:16] aminvakil commented on #2858
What do you think about fixing it by making `nmcli` module retrieving `type` itself when it has not been set for modifying a connection?

[2021-06-23 12:24] coffeelover commented on #2858
@aminvakil Yeah, would be a better solution from the ansible point of view. I agree :smile: Will change my pull request.

[2021-06-23 12:46] Ajpantuso commented on #2857
[Values representation](https://www.terraform.io/docs/internals/json-format.html#values-representation) comes straight from `HashiCorp`. I guess it's possible to add a utility to use that meta data to convert to `Ansible` friendly objects, but the format is versioned so that's not a trivial effort.

The objects are still filterable however.

Below are a few examples:
[code]

[2021-06-23 13:21] deniscostadsc commented on #864
I'm having similar problem.

**My task**

[code]

**Error I see:**
[code]

**Ansible version:**
[code]

**My OS info:**
![Screen Shot 2021-06-23 at 10 16 11](https://user-images.githubusercontent.com/358777/123103093-10b62280-d40c-11eb-916f-32bbb691f283.png)

[2021-06-23 13:48] coffeelover commented on #2858
Needed another call of nmcli but works OK.

[2021-06-23 18:52] gthieleb commented on #2857
@Ajpantuso: Thanks for answering and the examples you've given. My (mis)interpretion as I was interpreting output as some kind of python object.

If it is an upstream format we should not touch it.

I was not aware dict2items will help here. Perhaps we could add your examples in the help section of terraform module?

[2021-06-23 18:59] slobberbone opened #2860 "Proxmox inventory plugin"
### Summary

If you try to use this plugin for auto discovery inventory, the sample will not work. To make it works you have to set
`want_facts: yes`

By the way, by default it's no :
[code]
It should be yes by default, if not the plugin is not able to auto create group like keyed_groups defined it.

### Issue Type

Documentation Report

### Component Name

plugin inventory community.general.proxm

[2021-06-23 20:43] Ajpantuso commented on #2857
The module describes the return values pretty well, but if you wanted to add an example using `dict2items` to address resources with dynamic names I'd be happy to review.
[code]

[2021-06-23 20:46] Ajpantuso commented on #2860
!component -plugins/inventory/cobbler.py
!component -plugins/inventory/gitlab_runners.py
!component -plugins/inventory/linode.py
!component -plugins/inventory/lxd.py
!component -plugins/inventory/nmap.py
!component -plugins/inventory/online.py
!component -plugins/inventory/scaleway.py
!component -plugins/inventory/stackpath_compute.py
!component -plugins/inventory/virtualbox.py
!component -tests/u

[2021-06-24 10:34] shawarma-x opened #2862 "Terraform Module. state: absent parameter is not working"
### Summary

I have an ansible script that will deploy terraform compartment and I was able to do that using (state: present) parameter. But when I try to destroy/uninstall the compartment using (state: absent) it is not uninstalling.

### Issue Type

Bug Report

### Component Name

etc

### Ansible Version

[code]
2.9.6

### Configuration

_No response_

### OS / Environment

Linux

### Steps to

[2021-06-24 11:18] aminvakil commented on #2862
!component =plugins/modules/cloud/misc/terraform.py

[2021-06-24 11:33] #2818 closed

[2021-06-24 19:52] jillr opened #2866 "nmcli module has unwelcoming language"
### Summary

community.general.nmcli uses terminology (ie, `bridge-slave'`) that the Ansible community has committed to removing in Ansible code and collections.  These terms come from upstream nmcli, but we should still consider if there's anything we can do to provide alternatives to users.

Since Network Manager is a project that Red Hat is actively involved in we can also reach out to other Re

[2021-06-24 19:53] jillr commented on #2866
In the D&I working group meeting we took an action to raise this with the internal Red Hat conscious language group

[2021-06-24 19:53] felixfontein commented on #2866
@jillr thanks a lot!

[2021-06-25 16:54] rainerleber commented on #2862
Hi @shawarma-x, thank you for reporting this issue but i can not reproduce you error. Maybe you should try upgrade ansible and community.general to the latest version.

[2021-06-25 21:59] jmgilman opened #2876 "Docs for validating certificates in consul_kv_lookup are inaccurate"
### Summary

The documentation for the `consul_kv_lookup` plugin is not correct. Per the [docs](https://docs.ansible.com/ansible/latest/collections/community/general/consul_kv_lookup.html) as well as the [code](https://github.com/ansible-collections/community.general/blob/main/plugins/lookup/consul_kv.py#L55) the `validate_certs` parameter should be a boolean value which dictates if certs should b

[2021-06-26 06:09] russoz commented on #666
@staticdev since you seem to be using snap, would you be interested in writing a PR for fixing this issue?

[2021-06-26 06:15] #2558 closed

[2021-06-26 08:24] aminvakil commented on #2862
FYI latest `community.general` is 3.2.0 which has been included in ansible 4.1.0.

I think you have installed this collection manually though (as you're using 2.9 which didn't have community.general collection modules separately as a collection), check your version using this command:
`ansible-galaxy collection list community.general`
And upgrade it using `ansible-galaxy collection install --upgra

[2021-06-26 08:27] aminvakil commented on #2876
!component =plugins/lookup/consul_kv.py

[2021-06-26 08:28] felixfontein commented on #2862
(Also Ansible 2.9.6 is seriously outdated, better upgrade to the latest Ansible 2.9.23, which also contains a lot of security fixes.)

[2021-06-26 08:30] aminvakil commented on #2876
@jmgilman Thanks for reporting this, would you like to open a PR adding this to documentation?

[2021-06-26 08:32] felixfontein commented on #2876
I don't think this should be documented, but prevented. `validte_certs` should be a boolean parameter, and not a "different behavior on different parameter types" parameter. If it should be possible to specify a path to the CA cert(s), this should be a separate option.

[2021-06-26 08:34] aminvakil commented on #2876
@felixfontein Right, it would be a breaking change then.

[2021-06-26 08:36] felixfontein commented on #2876
It's not really a breaking change, since the documented behavior does not change. `validate_certs` should always be a boolean parameter.

[2021-06-26 08:37] aminvakil commented on #2876
Users may expect and use this behaviour (even not documented), changing this will break their playbooks.

[2021-06-26 08:45] felixfontein commented on #2876
Users can also rely on a bug, and their playbooks can break when the bug is fixed. Not having `type: bool` here is IMO a bug.

[2021-06-26 08:46] felixfontein commented on #2876
The correct way to fix this is probably add a new option `ca_path` (of type string), deprecate non-boolean values for `validate_certs`, and add `type: bool` once the deprecation expires.

[2021-06-26 09:02] aminvakil commented on #2876
DO NOT BREAK THEIR [WORKFLOW](https://xkcd.com/1172/)!

[2021-06-26 10:42] staticdev commented on #666
@russoz unfortunately I can't commit to that now, I am still overloaded with some other commitments I made. Also I would prioritize helping https://github.com/ansible-collections/community.general/issues/2835 since it is a bug that is creating some problems on the roles I maintain.

[2021-06-26 11:27] #1608 closed

[2021-06-26 12:14] felixfontein commented on #2876
The problem with this is that this behavior of the consul lib is an undocumented implementation detail. The documentation for the `verify` parameter says `verify is whether to verify the SSL certificate for HTTPS requests` (https://python-consul.readthedocs.io/en/latest/#consul); that the `verify` parameter has this double meaning because it is eventually forwarded to `requests`'s `verify` paramet

[2021-06-26 12:20] felixfontein commented on #2876
Also: basically the client's development stopped in August 2018. It looks like there's a fork that's somewhat active (https://github.com/poppyred/python-consul2/, see also https://github.com/cablehead/python-consul/issues/250) though.

[2021-06-26 15:09] jmgilman commented on #2876
That was the problem I was trying to bring light to towards the end of my submission: the underlying problem can be tracked all the way back to the `python)consul` dependency. It wasn't until I looked through the code and saw the eventual call to `requests` that I attempted to pass a path to the `verify` parameter and realized it worked. I found nothing in the documentation that suggested this was

[2021-06-27 11:43] C0rn3j opened #2889 "pacman: pointless 'removed' state?"
### Summary

https://docs.ansible.com/ansible/latest/collections/community/general/pacman_module.html

The 'state' parameter has two seemingly synonymous options - absent and removed.

removed is not used in any example.

https://github.com/ansible-collections/community.general/blob/main/plugins/modules/packaging/os/pacman.py#L398-L402

It seems to me that removed is simply an alias for absent? Th

[2021-06-27 12:14] felixfontein commented on #2889
Yes, it's an alias, same as `installed` is an alias for `present`.

See https://github.com/ansible-collections/community.general/blob/main/plugins/modules/packaging/os/pacman.py#L463-L464

[2021-06-27 12:25] C0rn3j commented on #2889
It should probably be mentioned in the Comments page, Yum has an identical layout with mentions:
https://docs.ansible.com/ansible/latest/collections/ansible/builtin/yum_module.html#parameter-state

I can send a PR if desired

---

Semi-irrelevant sidenote, the states are not alphabetical.

[2021-06-27 12:32] felixfontein commented on #2889
Would be great if you could create a PR to improve the docs :)

[2021-06-27 12:56] #2515 closed

[2021-06-27 14:40] #2761 closed

[2021-06-27 15:24] #1047 closed

[2021-06-27 16:47] #2889 closed

[2021-06-27 19:32] felixfontein commented on #484
This has long been resolved.

[2021-06-27 19:32] #484 closed

[2021-06-28 18:46] #766 closed

[2021-06-28 20:18] felixfontein commented on #582
1.3.11 has been released, mainly with some small maintenance updates, like updating the IRC channel network from Freenode to Libera.chat. The next 1.3.x release will be 1.3.12, whenever needed, probably only for major bugfixes or security issues.

[2021-06-28 21:40] Noles commented on #977
Modules are normally saved with index number in `cn=module{0},cn=config`
For example:
[code]
So if you use:
[code]
the matching should work but only in case of `memberof.so` is your first module in index.
Another problem begins if you have already active modules and like to update/add them with different index numbers.

[2021-06-29 03:26] duck-rh commented on #977
With state=present the expectation is to be added if it does not already exist, so this matches what the [draft RFC](https://datatracker.ietf.org/doc/html/draft-chu-ldap-xordered) says: If a value being added does not have an ordering-prefix, it is simply appended to the list and the appropriate ordering-prefix is automatically generated.

When you add a value you do not necessarily wish to enforc

[2021-06-29 04:40] felixfontein commented on #582
2.5.4 has been released. 3.3.0 will follow later today.

[2021-06-29 11:11] felixfontein commented on #582
3.3.0 has been released. The next expected 3.x.0 release is in three weeks, around July 20th.

[2021-06-29 22:16] Noles commented on #977
In `ldap_attrs` module the `ordered: true` option should allow an automatic numbering but if I get it right the attribute order is still relevant because it will only prepend an index count to every attribute. I never used it so I am not absolutely sure.

As I can see, this option does not exists for `ldap_entry`

[2021-06-30 07:17] bonddim opened #2906 "snap module is broken in 3.3.0 release"
### Summary

snap state parameter is converted to list:
[code]
module fails on unknown command "i"

https://github.com/bonddim/ansible-collection-linux/actions/runs/985033045

### Issue Type

Bug Report

### Component Name

snap

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu-20.04, Ubuntu-18.04, Debian 10, Fedora 34, Fedora 33, CentOs 8, CentOs 7

### Steps t

[2021-06-30 11:26] felixfontein commented on #2906
I think this line: https://github.com/ansible-collections/community.general/blob/main/plugins/modules/packaging/os/snap.py#L126 needs to be changed to `return [__state_map[value]]` (i.e. return a one-element list). @russoz can you take a look?

[2021-06-30 12:05] aminvakil commented on #2906
@felixfontein Applying your change results in another error:
[code]

[2021-06-30 13:08] felixfontein commented on #2906
Thanks to @aminvakil we now have tests for this module (#2909). The PR that fixes this issue will have to enable them since they are currently disabled (since the module is broken, they would fail...).

[2021-06-30 20:00] russoz commented on #2906
Sure, will take a look at it today.

[2021-06-30 20:04] felixfontein commented on #2906
resolved_by_pr #2912

[2021-06-30 20:17] felixfontein commented on #2835
I *think* this is also fixed by #2912.

[2021-07-01 04:37] russoz commented on #1043
@mdavis-xyz I have added your example as an integration test case and it results in successes AND failures if I run it multiple times. I have not yet zeroed on the problem - why it works part of the times and fails the others.

[2021-07-01 04:46] patsevanton commented on #2906
[code]

[2021-07-01 06:27] russoz commented on #1420
@Ajpantuso would you please check whether your latest revamp on the archive module still suffers the same problem or not?

[2021-07-01 10:17] Ajpantuso commented on #1043
@russoz I have a fix for this prepared, but I'm waiting on #2913 before I submit a PR. During testing for that I did notice that size would be sporadically off by 1 byte when replacing a file which might be happening here. To really understand we'd probably have to inspect the table and headers within the zip.

[2021-07-01 10:27] Ajpantuso commented on #1420
I did some local testing for this and had no issues, but I also didn't encounter those issues when testing the same behavior before my change.  From a logic standpoint the `os.walk` occurs before the archive is written so not sure what was happening on that platform. I can play around more, but if anyone can reproduce this please pass along the test case.

[2021-07-01 13:24] pisaniej opened #2914 "become_method dzdo does not gather expected facts"
### Summary

When using `become_method=dzdo`, ansible fails to gather the `facter_virtual` fact, which can be gathered successfully when using `become_method=sudo`.

### Issue Type

Bug Report

### Component Name

become

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8

### Steps to Reproduce

[code]

### Expected Results

I expected to gather the `facter_virtu

[2021-07-01 16:53] #2835 closed

[2021-07-01 18:44] felixfontein commented on #582
3.3.1 has been released. It contains a critical bugfix for the `snap` module.

[2021-07-01 18:48] felixfontein commented on #2906
community.genreal 3.3.1 has been released with a fix for this.

[2021-07-01 18:48] #2906 closed

[2021-07-01 20:18] Ajpantuso commented on #2914
!component =plugins/become/dzdo.py

[2021-07-01 21:11] daxxog opened #2916 "snap: error: unknown flag `classic'"
### Summary

When install neovim via my ansible playbook using the following yaml, I get an error.

### Issue Type

Bug Report

### Component Name

snap

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Amazon Linux 2

### Steps to Reproduce

`ansible-playbook -vvv playbooks/test.yml -K`
[code]

### Expected Results

I expect the playbook to install neovim, but instead

[2021-07-01 21:14] daxxog commented on #2916
I think the issue has to do with the script putting the flags in the wrong order.
[code]

[2021-07-01 21:22] jasonaowen opened #2917 "Installing npm dependencies from package.json broken in 3.3.0"
### Summary

When I try to use the community.general.npm plugin to install dependencies from a `package.json` file, the step fails with a stacktrace ending in `KeyError: 'version'`.

This started breaking with 3.3.0, and was working previously. I believe it comes from this line: https://github.com/ansible-collections/community.general/blob/1ed4394c5ed4e3e9e31165b7979e5b38e16def05/plugins/modules/p

[2021-07-01 22:07] Ajpantuso commented on #2917
These types of tests are covered by [integration](https://github.com/ansible-collections/community.general/blob/main/tests/integration/targets/npm/tasks/test.yml), but still there is no test case for installing a list of dependencies from a `package.json` file. The output of `npm list --json --long` has `requiredBy` instead of `version` in the dependency object in this case.
[code]
@shaharmor woul

[2021-07-02 03:20] quidame commented on #2477
ok, I've started (#2902) with OS-specific commands (`diskinfo`, `fstyp`). So I close this issue.

[2021-07-02 03:20] #2477 closed

[2021-07-02 04:15] quidame commented on #2916
@daxxog thanks for reporting this issue.
Does something like `sudo snap install --classic nvim` work as expected too ? (it should, imho)

[2021-07-02 05:19] felixfontein commented on #2916
CC @russoz

[2021-07-02 05:46] shaharmor commented on #2917
Sure. I'll fix it later today

[2021-07-02 07:08] laurent-indermuehle opened #2919 "Archive 'remove' fails in AWX/Tower templates in 3.3.0, 3.2.0 works"
### Summary

Using archive method "Remove" works with Ansible 4.2.0 (with community.general 3.3.0) from anywhere but the UI of AWX/Tower. If I ssh into Tower and run the playbook from the CLI, then it works.

The TAR is ok and the source files are deleted correctly, so I don't get why it fails at the "remove" step.

If it set Tower to use Ansible 4.1.0 (with community.general 3.2.0) then it works.

[2021-07-02 10:51] felixfontein commented on #2919
If this only happens with Tower, you should file a bug with Tower, resp. contact Tower support. They might be able to help.

[2021-07-02 11:19] laurent-indermuehle commented on #2919
Ok then, I'll open a support request at Tower support.

[2021-07-02 11:36] ryanmerolle commented on #1759
Ah apologies.  I lost track of this.

https://github.com/ansible-collections/ansible.netcommon/issues/42#issuecomment-656733078

I basically think there is a need for SCP upload and download similar to how you can use the ansible.builtin.get_url to download via ftp.

The use case would be for locked down/limited shell devices (upload to or download from) like network managed PDUs, UPS, and console

[2021-07-02 11:40] daxxog commented on #2916
Yes it does! Just doesn't work when it put the '--classic' flag first, which is where I think the script is going wrong.

[2021-07-02 11:53] Ajpantuso commented on #2919
@felixfontein, this is an issue introduced with `3.3.0` which I have reproduced.
It's a one line fix however so I will push shortly with an accompanying test case to prevent regression.

[2021-07-02 12:44] pisaniej commented on #2914
Well this is embarrassing... it looks like `facter` wasn't installed on any of my target hosts that I have to use `dzdo` for. It's installed on all hosts where `sudo` is available (because the sudoers file *and* `facter` package are placed there by puppet).

Closing this as I've tested and it's working as expected.

[2021-07-02 12:44] #2914 closed

[2021-07-02 12:47] aminvakil commented on #2914
@pisaniej Thanks for providing information! If you think documentation can be improved feel free to open a PR.

[2021-07-02 14:13] ggbecker opened #2925 "pamd module raises IndexError exception when the file being edited contains only one line"
### Summary

When I use pamd module to edit a file that contains only one line, it raises IndexError.

The problem is that the `__str__` directly uses `lines[1]` without checking the list size

Here: https://github.com/ansible-collections/community.general/blob/00aa1250eec0582953e8a39faab8228b4ffd6cab/plugins/modules/system/pamd.py#L740

### Issue Type

Bug Report

### Component Name

pamd

### An

[2021-07-02 17:35] goldyfruit commented on #2692
Same behavior with Ansible Core 2.11.2

[code]

[2021-07-02 19:30] #2919 closed

[2021-07-02 19:33] felixfontein commented on #2692
!component =plugins/callback/logstash.py

[2021-07-02 19:42] #2917 closed

[2021-07-03 13:00] adamus1red opened #2931 "Proxmox Inventory fails when a cluster node is offline"
### Summary

When querying the proxmox API with the ansible inventory plugin. If one server of the cluster is offline then the inventory fails to build.

i.e. Proxmox inventory connects to server2 and if server1 is offline then the proxmox inventory is unable to generate an inventory.

### Issue Type

Bug report

### Component Name

plugins/inventory/proxmox.py

### Ansible Version

[code]

### Co

[2021-07-03 14:31] #2916 closed

[2021-07-03 15:17] felixfontein commented on #2931
!component =plugins/inventory/proxmox.py

[2021-07-03 16:25] ilijamt commented on #2931
if the pve02 host is down there is no way to generate the inventory, you need to point it to an active host.
In the log I see that the pve02 host is down and then the behavior is expected.

The inventory has no idea of a proxmox, even when the node is up, the node that you query generates the data from all the nodes.

Currently the inventory doesn't support multiple hosts when that is implemented

[2021-07-03 20:35] adamus1red commented on #2931
Pve02 is the online host. Pve01 is the offline host

[2021-07-03 23:27] russoz commented on #2344
Hi @conloos , that would be a very nice improvement. Are you still planning on working on this?

[2021-07-04 00:16] russoz commented on #2931
Give the specific error message, I reckon it popped up from: https://github.com/ansible-collections/community.general/blob/main/plugins/inventory/proxmox.py#L225-L232

But I am not very familiar with inventory plugins nor proxmox. Not sure how to mitigate (if possible).

[2021-07-04 05:26] russoz commented on #2925
Hi @ggbecker thanks for spotting that problem. If you want to raise a PR for it we would be more than happy to review it.

[2021-07-04 09:39] ilijamt commented on #2931
If you run the same curl command what does the server give you?

I will need to spin up two proxmox installations to test this.

On Sun, 4 Jul 2021, 02:16 Alexei Znamensky, ***@***.***>
wrote:

[2021-07-04 10:06] felixfontein commented on #2931
The only way to mitigate this is if the plugin accepts a list of URLs, and then tries all of them until one works (or fails if none work). Right now the plugin only accepts one URL.

So this is basically a feature request.

[2021-07-04 10:09] felixfontein commented on #2931
Hmm, looks like I didn't completely reload, and missed some of the messages. Sorry :)

[2021-07-04 10:59] russoz commented on #1925
Hi @gdubicki , thanks (once again) for your contribution!
It seems this hasn't gathered much traction in the community. Do you want to pursue the proposed solution? If not, then I think it might be the time for us to close.

[2021-07-05 01:56] pflorczyk opened #2934 "lvol with thinpool option ignores check mode"
### Summary

When I run ansible in check mode lvol module ignores it and creates lv. This only happens if thinpool option is specified (thinpool already exists).

### Issue Type

Bug Report

### Component Name

lvol

### Ansible Version

[code]

### Configuration

_No response_

### OS / Environment

target os: ubuntu 20.04 (focal)

### Steps to Reproduce

[code]

[code]

### Expected Results

I e

[2021-07-05 06:51] aminvakil commented on #1925
needs_info

[2021-07-05 07:26] aminvakil commented on #2862
@shawarma-x Can you confirm if upgrading to latest `c.g` and a supported version of ansible 2.9 (or ansible-base 2.10 or ansible-core 2.11) fixes the issue?

needs_info

[2021-07-05 07:30] aminvakil commented on #2856
@BrainStone Can you confirm issue has been fixed using `json_query` filter from community.general collection?

needs_info

[2021-07-05 07:32] aminvakil commented on #2836
Closing per @rainerleber's comment.

[2021-07-05 07:32] #2836 closed

[2021-07-05 07:34] aminvakil commented on #2774
resolved_by_pr #2775

[2021-07-05 07:34] #2774 closed

[2021-07-05 07:36] aminvakil commented on #2608
@cchang10222 Are you still planning to work on this?

[2021-07-05 07:43] aminvakil commented on #2519
As https://github.com/openSUSE/zypper/issues/390 has been closed with a corresponding PR, would you like to open a PR for this issue?

Although I'm not sure when will `libzypp=17.27.0` hit opensuse 15.2 and when will ansible test containers get updated, but we can definitely create a PR meanwhile.

[2021-07-05 08:16] Akasurde commented on #2692
@ujenmr Are you still working on this?

[2021-07-05 08:19] aminvakil commented on #361
needs_contributor

[2021-07-05 08:37] aminvakil commented on #1758
The problem is pacman asks for packages in `IgnorePkg` like this:
`:: pkg_name is in IgnorePkg/IgnoreGroup. Install anyway? [Y/n] n`
But it will installs it anyway when `--noconfirm` is present.

Module should check for `ignorepkg` and `ignoregroup` in `/etc/pacman.conf` and passes them to cmd using `--ignore` and `--ignoregroup` flags.

[2021-07-05 08:58] aminvakil commented on #1933
resolved_by_pr #1934

[2021-07-05 08:58] #1933 closed

[2021-07-05 08:59] aminvakil commented on #1875
resolved_by_pr #1895

[2021-07-05 08:59] #1875 closed

[2021-07-05 09:04] aminvakil commented on #1633
needs_contributor

[2021-07-05 09:04] aminvakil commented on #1286
needs_contributor

[2021-07-05 09:05] aminvakil commented on #438
@maxbrunet Are you still willing to work on this?

[2021-07-05 09:11] #2539 closed

[2021-07-05 09:15] aminvakil commented on #1459
needs_contributor

[2021-07-05 09:16] aminvakil commented on #2685
resolved_by_pr #2684

[2021-07-05 09:16] #2685 closed

[2021-07-05 10:44] Schrottfresse commented on #1758
I'm not passing any package to the pacman module:
[code]
I'm just upgrading stuff. But this is not even the problem.

The output of the module is wrong. It outputs that it updated the package while not updating it. My handler for restarting updated services checks the output of the pacman module and then restarts the not updated service.

[2021-07-05 10:50] aminvakil commented on #1758
So the problem is something else, because I've just tested your playbook and it did not upgrade ignored packages.
It executed this command which does not upgrade ignored packages, so we're good at that.
`/usr/bin/pacman --sync --sysupgrade --quiet --noconfirm`

About changed, you're right, this is a bug. The package which I held back (shaderc) did not get upgraded, but module returned changed anyh

[2021-07-05 10:57] felixfontein commented on #2934
resolved_by_pr #2935

[2021-07-05 11:14] pflorczyk commented on #2934
Sorry, I needed to get some sleep...
Unfortunately with this pr lvol now throws traceback:
[code]

[2021-07-05 12:01] pflorczyk commented on #2934
Thank you for quick fix. Now it works as expected.

[2021-07-05 12:01] #2934 closed

[2021-07-06 06:54] gdubicki commented on #1925
There seems to be no interest in this, let's close it.

[2021-07-06 06:54] #1925 closed

[2021-07-06 08:16] russoz commented on #1925
Thanks @gdubicki !

[2021-07-06 11:50] DirectorSloan opened #2942 "rhsm_release did not change anything"
### Summary

Trying to use https://docs.ansible.com/ansible/latest/collections/community/general/rhsm_release_module.html for to pin the release of our Red Hat Servers to specific Version.

Module shows `changed` but nothing happens (`ansible-playbook filer.yml -t redhat -CD -K -vvv`):

[code]

When running the playbook a second time it shows the same. Looking after release manually it still says

[2021-07-06 11:55] yan12125 opened #2943 "nmcli: alow to make wifi connections as ports/links of bridges"
### Summary

I'm trying to use nmcli create a bridge that connects an ethernet interface and a wifi interface. However, I cannot make the wifi connection to be a port/link of a bridge as nmcli.py hard-coded slave-type to `bond` [1]. It will be very helpful if it is possible to specify the slave type for wifi connections. For example, with `slave-type: bridge`, or another key name to avoid unwelcom

[2021-07-06 15:45] aminvakil commented on #2942
Have you actually ran it using `ansible-playbook filer.yml -t redhat -CD -K -vvv`?
Because there is `-C` in your command which is equivalent to `--check` that does this:
`don't make any changes; instead, try to predict some of the changes that may occur`

So this is the expected behaviour.

needs_info

[2021-07-06 20:06] #1758 closed

[2021-07-06 23:01] maxbrunet commented on #438
Hi @aminvakil, no, I haven't even started, please feel free to take a stab at it if you have time.

[2021-07-07 00:40] BrainStone commented on #2856
Yes the `community.general` version works as expected.

So as it seems that this issue doesn't belong here it would be very much aprechiated if my issue (ansible/ansible#75091) over on the Ansible repo could be reopened after it has been closed by a bot (and I can't reopen it)

[2021-07-07 04:26] #2856 closed

[2021-07-07 06:22] DirectorSloan commented on #2942
I realized it this morning in the car and was just about closing this issue. Sorry for that :).
Thanks for your quick reply.

[2021-07-07 06:22] #2942 closed

[2021-07-07 18:32] wspit opened #2950 "udm_user fails with Creating/editing user failed"
### Summary

After executing udm_user ansible role via
- udm_user:
    username: hmuster
    firstname: Hans
    lastname: Muster
    password: password

the role exits with the following exception:
/tmp/ansible_udm_user_payload_iHxfmV/ansible_udm_user_payload.zip/ansible/modules/cloud/univention/udm_user.py", line 441, in main.

### Issue Type

Bug Report

### Component Name

udm_user

### Ansibl

[2021-07-07 19:24] felixfontein commented on #2950
This seems to be a consequence of https://github.com/ansible/ansible/commit/10a2eb930466254c6f24583436fb1875cb47d11e, which missed that the code needs to be adjusted as well. The code expects a module option `displayName`, which isn't there since the option is called `display_name` (`displayName` is an alias and only present when explicitly set by the user).

[2021-07-07 21:10] adamus1red commented on #2931
The actual response from the server is empty.

[code]

Obviously when I query the api for pve-02 the data returns as expected
[code]

[2021-07-07 23:40] russoz commented on #566
@dmp1ce @imjoseangel I was taking a look at this, and I can't help think that it would be better to have a separate command, say, `snap_alias` with states `present`, `absent` to set/unset the aliases. We could perform the operation on multiple elements at the same time. And not add a lot of `if`s and `else`s in `snap` code. What do you think?

[2021-07-08 06:50] wspit commented on #2950
After setting displayName in the role variables the following error is now present. How can we fix this? Is a hotfix for UCS needed?

`WARNING: The below traceback may *not* be related to the actual failure.
  File "/tmp/ansible_udm_user_payload__XDptI/ansible_udm_user_payload.zip/ansible/modules/cloud/univention/udm_user.py", line 463, in main
[WARNING]: Module did not set no_log for update_*****

[2021-07-08 07:57] eoli3n opened #2953 "community.general.snap can't install packages"
### Summary

community.general.snap is broken.

### Issue Type

Bug Report

### Component Name

community.general.snap

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Debian 10 Buster

### Steps to Reproduce

[code]

### Expected Results

Package is installed

### Actual Results

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-07-08 07:57] eoli3n commented on #2953
Similar to https://github.com/ansible/ansible/issues/75172

[2021-07-08 08:05] felixfontein commented on #2953
This has been fixed and the fix was already released as community.general 3.3.1.

[2021-07-08 08:06] eoli3n commented on #2953
Just saw, sorry for this, now i face the classic one...

[2021-07-08 08:06] #2953 closed

[2021-07-08 08:14] felixfontein commented on #2953
I'm working on a 3.3.2 release right now that will fix that one as well. Currently I'm waiting for CI, but it should be done in at most a couple of hours (right now all the "nightly" CI runs are running...).

[2021-07-08 08:52] kazu-bueli opened #2954 "There is an error message on NEC IX router using cli_command"
### Summary

There is an error message.
It seems that the job's authority could not change to enable mode.

The target (inventory) is a NEC IX router.

Could you please tell me the reason. And teach me the way to resolve the problem.

### Issue Type

Bug Report

### Component Name

network_cli

### Ansible Version

-sh-4.2$ ansible --version
ansible 2.10.5
config file = None
configured module sear

[2021-07-08 08:54] felixfontein commented on #2954
This collection is not about network devices. You probably want to ask in the cisco.ios repository: https://github.com/ansible-collections/cisco.ios

[2021-07-08 08:54] #2954 closed

[2021-07-08 09:02] felixfontein commented on #582
3.3.2 has been released. It contains another important fix for the `snap` module, and some more bugfixes.

[2021-07-08 13:50] Tyler-2 opened #2956 "datadog_monitor should support composite monitors"
### Summary

The `datadog_monitor` module checks that a valid monitor `type` is provided. But [this list](https://github.com/ansible-collections/community.general/blob/518ace25621ee7ed08debd4d87509b0b2be33f2c/plugins/modules/monitoring/datadog/datadog_monitor.py#L54) is outdated and does not cover the monitor types supported in the [Datadog API](https://docs.datadoghq.com/api/latest/monitors/#crea

[2021-07-08 15:35] mrrauch opened #2957 "Proxmox Inventory fails when no templates are present"
### Summary

If there are no templates present on the Proxmox host, Ansible fails to parse the inventory.

### Issue Type

Bug Report

### Component Name

community.general.proxmox

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora 34

### Steps to Reproduce

[code]

### Expected Results

@all:
  |--@proxmox_all_lxc:
  |--@proxmox_all_qemu:
  |--@proxmox_all_runn

[2021-07-08 15:48] Ajpantuso commented on #2957
!component =plugins/inventory/proxmox.py

[2021-07-08 15:52] mrrauch commented on #2957
I'm new to this so bare with me, here is the code its calling out.

[code]

If I add this to the end it seems to fix the issue regardless of having a template. I'm sure someone more senior may have a better method but thought I'd throw that our there.
[code]

[2021-07-08 16:13] Ajpantuso commented on #2957
Which PVE version are you running?
The issue from the stacktrace looks more like a key error for `'template'` which shouldn't be the case. `template` is either `""` or `0` or `1`. Can you insert the following line and try?
[code]
There something unusual about one of the `qemu.conf` files for that cluster.

[2021-07-08 16:31] mrrauch commented on #2957
Still can't define template without it existing

[2021-07-08 17:07] Ajpantuso commented on #2957
That wasn't a fix. It will just enable you to inspect the `qemu` object to see if:
1. It is a dictionary
2. It has the attribute `template`

A fix might be replacing:
[code]
with
[code]
but difficult to tell without inspecting the issue further.
That segment of code is just excluding templates from the inventory and the key should always be present.

[2021-07-08 17:12] mrrauch commented on #2957
So if I'm reading the code correctly, its taking an inventory of all qemu items on the cluster and  since it doesn't have any templates it is assuming that it doesn't exist. Looking at the Proxmox API (https://pve.proxmox.com/pve-docs/api-viewer/index.html), could it be that Template is a subset of vmid rather than directly under qemu?

[2021-07-08 17:18] Ajpantuso commented on #2957
At this point in the code it's already nested in a loop iterating over each PVE node so it's only considering a subset of the total qemu guests.

Not sure what the exact meaning of this statement is, but basically qemu templates are being skipped because by definition there are not really infrastructure just configuration. And you wouldn't want to execute ansible tasks against configurations.

Her

[2021-07-08 17:21] mrrauch commented on #2957
That fix you suggested, worked. Yeah ended up deleting that comment after a few minutes looking at it more... First time doing something like this so trying to learn as I go. I appreciate the help!

[2021-07-09 06:36] felixfontein commented on #2956
!component =plugins/modules/monitoring/datadog/datadog_monitor.py

[2021-07-09 07:52] staticdev commented on #2916
@felixfontein @russoz I've seen new PRs were merged and this issue was closed and 3.3.2 mentions this as fixed. But I think this should be reopened.

I just fresh run 3.3.2 with:

[code]

Output:
[code]

[2021-07-09 12:13] wspit commented on #2950
We figured that the function in udm_users
`old_password = obj['password'].split('}', 2)[1] `
fails due to list index out of range

[2021-07-09 17:04] erinn opened #2968 "Create requirements.txt or equivalent for AWX/Tower execution environments"
### Summary

AWX and ansible tower are moving to using [execution environments](https://developers.redhat.com/ansiblefest/2020/using-ansible-execution-environments) (containers, basically) versus virtualenvs, as such [ansible-builder](https://github.com/ansible/ansible-builder) has been put together to build execution environments. [ansible-builder collection documentation](https://ansible-builder

[2021-07-09 19:45] hugo-ninja opened #2969 "Missing datadog_api_client module from Community.general collection"
### Summary

When I try to use https://docs.ansible.com/ansible/latest/collections/community/general/datadog_downtime_module.html I get the following error:

ImportError: No module named datadog_api_client.v1

I took a look in the zip of the Community.general collection and in the modules folder im not seeing that module.

### Issue Type

Bug Report

### Component Name

datadog_api_client.v1

###

[2021-07-09 19:51] staticdev opened #2970 "snap module does not provide a helpful message when snap is down"
### Summary

Today (9/july/2021) we had a major outage on snap, which was good to test.

When a package is installed with snap module and it is down, we get the same message as an inexistent package:
Eg.
No snap matching 'pycharm-professional' available.

The way snap module was made it first runs `snap info`, which in turn returns this same message.  But if you try directly to install with snap (

[2021-07-09 19:53] Ajpantuso commented on #2969
The module being referred to is a `python` package not an `Ansible` module.
Try adding the following task before invoking `community.general.datadog_downtime`:
[code]

[2021-07-09 19:54] Ajpantuso commented on #2969
!component =plugins/modules/monitoring/datadog_downtime,py

[2021-07-09 20:31] hugo-ninja commented on #2969
Here are the results with more verbose details

The ensure datadog-api-client run worked fine

stdout": "Requirement already satisfied: datadog-api-client in /usr/local/lib/python3.9/site-packages (1.2.0)\nRequirement already satisfied: certifi in /usr/local/lib/python3.9/site-packages (from datadog-api-client)

But the downtime portion still failed with:

Traceback (most recent call last):
  File

[2021-07-10 01:05] russoz commented on #2916
@staticdev The install command is now using the `--classic` in the right position. This output you produced tells us that snap name does not exist, it wasn't found in the output of `snap info`. Will take a look at it later today or tomorrow.

Not sure *this* issue should be reopened though.

[2021-07-10 10:44] felixfontein commented on #2968
This is quite a huge task, since community.general has a huge amount of plugins and modules. Keeping a requirements file up-to-date for such a collection is quite a task.

In any case, we were about to discuss this soon anyway (ansible-community/community-topics#31).

[2021-07-10 10:50] felixfontein commented on #2916
I don't think this issue should be reopened. There's already #2970 for the new problem (snap being down not resulting in helpful error messages).

[2021-07-10 10:51] felixfontein commented on #2970
I'm not sure there is much we can do, since snap itself does not provide a helpful error message in this case. The module returns stdout/stderr from snap, and as you can see it simply says `error: no snap found for "pycharm-professional"`. I don't see how the module should distinguish between "snap is down" and "the snap name you provided does not exist".

[2021-07-10 10:52] felixfontein commented on #2969
!component =plugins/modules/monitoring/datadog/datadog_downtime.py

[2021-07-10 10:56] felixfontein commented on #2969
Are you sure that you are running the pip task on **the same machine** than the datadog_downtime task? The error message of datadog_downtime explicitly mentions Python `/Library/Developer/CommandLineTools/usr/bin/python3` on a machine called `ninja-hugos-MacBook-Pro.local`. The pip output mentions `/usr/local/lib/python3.9/site-packages`, which looks like a different machine.

[2021-07-10 11:00] felixfontein commented on #2950
It looks like there are quite a few things broken in that module that need to be fixed. @keachi since you are a maintainer for this module, do you have time to look at this?

[2021-07-10 11:15] felixfontein opened #2978 "passwordstore lookup tests fail on macOS/OSX (while installing passwordstore)"
### Summary

This has been happening for a week now. See logs at:
- https://dev.azure.com/ansible/b24bf3ca-6168-45d7-99e2-bf8029e67c87/_apis/build/builds/19926/logs/1744
- https://dev.azure.com/ansible/b24bf3ca-6168-45d7-99e2-bf8029e67c87/_apis/build/builds/19926/logs/1746
- https://dev.azure.com/ansible/b24bf3ca-6168-45d7-99e2-bf8029e67c87/_apis/build/builds/19926/logs/1733
- https://dev.azure.co

[2021-07-10 14:39] #2931 closed

[2021-07-10 16:13] staticdev commented on #2970
@felixfontein I may be losing context, but why `snap info` is needed before `snap install`?

[2021-07-10 17:22] felixfontein commented on #2970
It does that to provide a helpful error message that the snap does not exist.

[2021-07-10 18:30] staticdev commented on #2970
But if you run:

[code]

[2021-07-10 18:43] felixfontein commented on #2970
I don't know why someone made the decision to use `snap info` ages ago. Maybe it was necessary back then? At least the behavior was to use `snap info` for quite some time (in fact since it was added: https://github.com/ansible/ansible/pull/44939).

[2021-07-10 18:55] staticdev commented on #2970
I really don't think this call is necessary though.. `snap info` is a command just to get metadata about a snap (https://snapcraft.io/docs/getting-started). If you are using the ansible module to install, you need `snap install` only. Same goes to `snap remove`.

I've seen the code on `plugins/modules/packaging/os/snap.py` and I would say this `snap info` is doing more harm than solving anything.

[2021-07-11 04:46] itviet2021 opened #2991 "Does community.general.lvg support extend volume group?"
### Summary

- name: create from 1 disk and 2 partitions
      lvg:
        vg: vg03
        pvs: /dev/nvme0n3,/dev/nvme0n4p2,/dev/nvme0n5p3

// check by command
# vgdisplay vg03
...
      Cur PV                3             --> OK, It's create new vg03 with 3 physical volume
      Act PV                3
      VG Size               6.39 GiB

Now I need to extend vg03 by add 1 partition

- name: e

[2021-07-11 08:24] Zocker1999NET commented on #2601
@Akasurde Sure, use my code as you like.

[2021-07-11 11:48] russoz commented on #2970
@staticdev I also think it is an unnecessary check, but as I was writing the revamp'd version of the module I did not want to add more changes to it. I have very little familiarity with snap, so this is a call I am not comfortable in doing. It would be nice to have more users of snap itself and/or the c.g.snap module to pitch in.

[2021-07-11 14:27] felixfontein commented on #2970
I don't think that just removing it is a good idea. If it is removed, there needs to be (at least) better error handling for a failed install that detects when the install failed because the snap does not exist. Potentially some more error handling is needed in other situations as well.

[2021-07-11 16:23] keachi commented on #2950
I don't have the time to fix this module. Can we deprecate this module? I don't have any Univention UCS anymore to test the module.

[2021-07-11 16:37] WissemChb opened #2995 "Add Environment variables to Terraform module"
### Summary

I started using the Terraform module to deploy resources into the **GCP** provider. And I found that there is no way to pass an OS environment variables used to execute terraform such as:
- `GOOGLE_CREDENTIALS` to authorise Terraform to manage resources in **Google cloud** provider.
- `VAULT_ADDR` and `VAULT_TOKEN`: to authorise Terraform to securely fetch secrets from the Vault witho

[2021-07-11 16:56] m-yosefpor commented on #2995
Please take a look at https://docs.ansible.com/ansible/latest/user_guide/playbooks_environment.html

You can use env vars with any ansible modules.

[2021-07-11 20:04] felixfontein commented on #2950
I don't think we should just deprecate modules because of this, the module should rather be orphaned (assuming we ever define a process for that, see https://github.com/ansible-community/community-topics/issues/20 :) ).

[2021-07-12 05:31] Akasurde commented on #2978
Enable tests via - https://github.com/ansible-collections/community.general/pull/2996

[2021-07-12 12:37] imjoseangel commented on #566
Thanks @russoz honestly I haven't have time lately. I will throw a PR ASAP with a new module.

[2021-07-12 15:12] hugo-ninja commented on #2969
I should be, if im understanding things correctly im running it against my local machine where the playbook is running from and reaching out to the datadog api, unless im missunderstanding what it does, basically i want to run it from my local machine to reach out to the DD api to schedule a downtime in general against a env:prod for example( not against a particular machine ).

[2021-07-12 18:11] vwbusguy opened #2997 "Use glob to select Jenkins plugins for upgrade"
### Summary

I'm using Ansible to update all installed Jenkins plugins.  I came up with a workaround for getting all currently installed plugins to feed it to this plugin since it doesn't yet exist.  In thinking of how this might be useful for others, selecting the plugins to update/install via glob would probably be the most widely useful.

Here's what I did as a workaround to get all currently i

[2021-07-12 18:29] qermit opened #2998 "yum_versionlock does not removes packagefrom versionlock list"
### Summary

yum_versionlock does not find any package to remove from versionlock list after https://github.com/ansible-collections/community.general/commit/0a9cf3811880bd3e7640b637ffef2978df8f5429

the `fnmatch` will never find any package

[code]
result
[code]

### Issue Type

Bug Report

### Component Name

yum_versionlock

### Ansible Version

[code]

### Configuration

[code]

### OS / Enviro

[2021-07-12 19:33] Ajpantuso commented on #2997
Not an expert on this module, but based on the current features I think just extracting the below functionality into an `_info` module and returning a list of plugin objects instead of searching for a single one may be a better way to go. Although you could also just use that to directly add something like an `update_all` option.  https://github.com/ansible-collections/community.general/blob/5079e

[2021-07-12 22:25] vwbusguy commented on #2997
update_all could be an option, but name and state are required fields, so there would need to be logic to not error out or what to do if both get passed, etc.  As a user, I would assume something like how the yum plugin works, ie, "name=* state=latest" updates all installed packages, but doesn't install any that don't already exist.

[2021-07-12 22:53] jeff-cook opened #2999 "hpilo_info current system power status"
### Summary

I don't see in the docs how to get the current `System Power` status.

### Issue Type

Documentation Report

### Component Name

hpilo_info

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

iLO 4
ProLiant DL360 Gen9

### Additional Information

_No response_

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-07-13 04:55] felixfontein commented on #2969
Did you also run the `pip` task on your local machine? Or did you run that one on a remote machine, as opposed to the `datadog_downtime` module? `datadog-api-client` needs to be installed on the same machine and for the same Python with which the `datadog_downtime` Ansible module is executed.

[2021-07-13 05:03] felixfontein commented on #2997
!component =plugins/modules/web_infrastructure/jenkins_plugin.py

`update_all` would definitely complicate the logic. Moving the enumeration code to a `_info` module would definitely be better. (That might be useful for other things as well.)

If `name=*` would be implemented (I'm not really sure it's a good idea), it would need to be handled in all cases (and not just for `state=latest`). This wo

[2021-07-13 05:25] felixfontein commented on #2998
I guess there should be some code to pre-process `versionlock_packages` and split it in a list of package names (without versions and the preceding `*:`).

[2021-07-13 07:53] suukit opened #3001 "Enhance gitlab_project module to allow to manage more (all) properties handled by at least python-gitlab"
### Summary

The existing module community.general.gitlab_project needs to be enhanced to allow to manage additional properties provided by the gitlab API. Those should be at least the once managed by python-gitlab module - which is used by the ansible module.

In a first step simple scalar values could be handled, later on complex calues like protected branches.

### Issue Type

Feature Idea

###

[2021-07-13 09:50] qermit commented on #2998
according to manual page yum-versionlock uses following notation:
**EPOCH:NAME-VERSION-RELEASE.ARCH**

[2021-07-13 13:49] lockejan commented on #864
I would also expect using `ansible.builtin.package` to invoke the homebrew_cask and not the homebrew module.
Right now this doesn't happen and I have to explicitly use `homebrew_cask` for my play to work.

[code]

[2021-07-13 14:47] hugo-ninja commented on #2969
Thanks for the help felix, I got it working, while i was testing it out i was specifying the python version in the inventory file once I removed that it worked.

[2021-07-13 14:47] #2969 closed

[2021-07-13 17:52] williamhanseneric opened #3004 "Failed to import the required Python library (python-ldap) - Continued"
### Summary

I have the same problem as outlined in https://github.com/ansible/ansible/issues/69045

The problem appeared after upgrading the python virtual environment the project uses from python2 to python3. I have loaded 'python3-ldap', and that didn't solve the problem. The confirmation that this is loaded is below from python_requirements_info for the virtual env in use,

TASK [Print python

[2021-07-13 19:44] sylgeist opened #3005 "BootOverride feature behaves incorrectly"
### Summary

When disabling the boot override mode this module fails if the boot device is not specified even though that is not used or needed for that functionality.

This was an oversight when I proposed PR #825

### Issue Type

Bug Report

### Component Name

redfish_utils.py

### Ansible Version

[code]

### Configuration

_No response_

### OS / Environment

Ubuntu 18.04

### Steps to Reprod

[2021-07-13 19:46] sylgeist commented on #3005
The disable argument is getting caught by:
https://github.com/ansible-collections/community.general/blob/3fc97bf80aae8c695288e8920df3ea48b151a369/plugins/module_utils/redfish_utils.py#L1588

which requires a boot device argument even though it has no requirement or effect when just disabling the override.

[2021-07-14 00:00] QCU87Z opened #3007 "community.general.gitlab_runner SSLError cert verify failed"
### Summary

I am trying to register some gitlab runners. On new openstack instances.
I get a SSL certificate verify failed error as the return.

If I curl the gitlab url from the command line of the box that I am trying to register I get a response back no TLS issues.
The gitlab servers certificate is signed by an internal CA, which is installed into the system ca-trust /etc/pki/ca-trust/source/a

[2021-07-14 06:07] felixfontein commented on #3007
It looks like Python isn't using the system ca-trust then.

[2021-07-14 06:13] felixfontein commented on #3004
Thanks for creating this issue. This is not a bug report though, but a user question (you have a problem with installing the requirements for the correct Python), so the same applies as in https://github.com/ansible/ansible/issues/69045#issuecomment-616639831. The module itself works fine with Python 3.

[2021-07-14 06:13] #3004 closed

[2021-07-14 06:19] felixfontein commented on #864
@lockejan not sure how that is related to this bug report? Also we have no influence on what the package module does, that module is part of ansible-core.

[2021-07-14 06:21] felixfontein commented on #2998
Can `NAME`, `VERSION`, `RELEASE` or `ARCH` contain dashes themselves?

[2021-07-14 06:22] felixfontein commented on #3001
!component =plugins/modules/source_control/gitlab/gitlab_project.py

[2021-07-14 06:24] #1950 closed

[2021-07-14 08:40] edvinas31 opened #3011 "Issue upgrading to terraform 1.0.0"
### Summary

When trying to use terraform 1.0.0 https://docs.ansible.com/ansible/latest/collections/community/general/terraform_module.html module fails. Does this module support terraform 1.0.0? I have noticed that terraform validate command has changed if compare to terraform0.14.10:

terraform0.14.10 validate --help
Usage: terraform validate [options] [dir]

terraform1.0.0 validate --help
Usage

[2021-07-14 11:04] #2925 closed

[2021-07-14 12:49] edvinas31 commented on #3011
I did some research on what command exactly fails and found differences between terraform 1.0.0 and 0.14.10

When testing locally terraform 0.14.10 plan runs successfully:

[code]

However when I try locally run terraform 1.0.0

[code]

I get simillar error to the ansible:

[code]

[2021-07-14 16:06] qermit commented on #2998
as far as I know only `NAME` may contain dash. So the regex may look like:
[code]

[2021-07-15 05:16] rainerleber commented on #3011
Hi @edvinas31 thank you for reporting the issue. This Bug is fixed a few months ago. Please upgrade your ansible version (your version is very old) and latest community general collection.

regards

[2021-07-15 08:49] jayooin commented on #3007
I have the same problem, only tested with community.general.gitlab_group, but if needed I can try with community.general.gitlab_users as well.

The problem seems to come from the python-gitlab module.

Here is what I tried:

### On Python
[code]

I get no error. If the certificate is absent from my system, then I would have one.

### On python-gitlab
I defined the $HOME/.python-gitlab.cfg as follo

[2021-07-15 15:17] yan12125 commented on #2943
Noticed a similar issue https://github.com/ansible-collections/community.general/issues/473, just with vlan instead of wifi as the type of bridge links.

[2021-07-15 21:08] QCU87Z commented on #3007
@jayooin thanks for confirming the issue isn't just with my setup.

[2021-07-16 00:12] vwbusguy commented on #2997
@felixfontein - IMO that would be unexpected behavior.  For the yum command, for example, 'name=* state=latest' does not try to install all packages in all repos.  I could, however, see a use case for installing by glob.  For example, if you wanted to install all the blueocean, so using 'name=blueocean-* state=present'.  The question is if some blue ocean plugins are present already should  'blueo

[2021-07-16 00:44] triplepoint opened #3014 "Snap module incorrectly assembles snap command"
### Summary

When attempting to install a snap package an error ocurrs

Something about this code in `snap.py` (lines 174:175) are incorrectly interpreting "info" as a list of args:
[code]

### Issue Type

Bug Report

### Component Name

snap

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 21.04 on the host, guest was the `ubuntu/focal64` vagrant box.

### Ste

[2021-07-16 01:00] triplepoint commented on #3014
Hmm, I ran:
[code]
and it now succeeds.

Running `ansible-galaxy collection list` shows:
[code]
So I guess this was fixed between 3.3.0 and 3.3.2.

[2021-07-16 01:00] #3014 closed

[2021-07-16 01:18] triplepoint commented on #3014
Sure seems like updating the latest versions of the ansible and ansible-core pip packages should have brought in the bugfix for this.  I'm really not enjoying this collections concept.

[2021-07-16 05:35] felixfontein commented on #3014
The Ansible package has been released when community.general 3.3.0 was available and thus contains 3.3.0, and not a newer version. The next Ansible release (should be next week) will contain community.general 3.4.0 which will also have the required bugfixes.

[2021-07-16 05:38] felixfontein commented on #2997
The `name=*` "convention" is a convention of **some** modules. There is no reason why suddenly **all** modules should accept it.

[2021-07-16 05:41] felixfontein commented on #3007
@jayooin there should be two variables: `ca_path` (type `path`) for allowing to specify a path to a CA certificate, and `validate_certs` (type `bool`) for enabling/disabling certificate validation. These two inputs need to be combined together to the parameter for python-gitlab.

[2021-07-16 09:38] edvinas31 commented on #3011
Hi @rainerleber , thank you for quick answer. Can you follow up which versions of ansible and community general collection are known that is working with terraform 1.0.0?

[2021-07-16 17:02] #3005 closed

[2021-07-16 18:59] davexre opened #3023 "module java_cert: _export_public_cert_from_pkcs12 doesn't send password to keytool"
### Summary

Running community.general.java_cert causes keytool to experience a Java NullPointerException, because java_cert isn't passing a (required) password to the keytool command. This exact play previously worked - it seems that #2008 may have broken it. Also, note that changing the module to just "java_cert" in the play below (rather than "community.general.java_cert" works correctly.

###

[2021-07-17 13:35] felixfontein commented on #582
FYI: the release process for 3.4.0 will start on the evening of July 19th (European time).

[2021-07-17 14:04] lockejan commented on #864
@felixfontein my bad.
In my case it failed when invoking the wrong variant of the homebrew module, but worked when explicitily calling the "correct" one, which is somewhat different on second sight to what the initial issuer seems to experience.

My initial thought was: why is it not possible to have one homebrew module for both variants (casks and non-casks)?
Such as one is used to when using any

[2021-07-17 14:38] patsevanton opened #3025 "Support parameter revision for snap"
### Summary

Hello!
Thanks for snap module.

I try install by ansible microk8s with specific revision
`snap install microk8s --channel=1.18/stable --classic --revision 2270`

[code]

But error
[code]

### Issue Type

Feature Idea

### Component Name

snap

### Additional Information

_No response_

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-07-17 14:48] patsevanton commented on #3025
Sorry. Snap dont support.

[2021-07-17 14:48] #3025 closed

[2021-07-17 15:06] patsevanton opened #3026 "error: snap is not available on {0}/stable but is available to install on the following tracks"
### Summary

version community.general
[code]

Work on 2.5.4 version.
But on 3.3.2 version get error:
[code]

### Issue Type

Bug Report

### Component Name

snap

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 18.04

### Steps to Reproduce

Ansible code
[code]

### Expected Results

worked code

### Actual Results

[code]

### Code of Conduct

- [X] I agree t

[2021-07-17 16:20] staticdev commented on #2970
For me, it makes sense to improve error handling AND remove the call. This unnecessary calls to _snap info_ can make errors even more confusing.

[2021-07-17 16:39] felixfontein commented on #3026
CC @russoz

[2021-07-17 16:52] felixfontein commented on #864
I guess that would be great. I know too little about homebrew and casks to be able to say whether this is possible in a backwards-compatible way for the `homebrew` module. (I don't use homebrew at all.)

[2021-07-17 17:25] Pimmetje opened #3027 "Add support for keycloak User Federation"
### Summary

I would love to have support for configuring User Federation and it's (ldap) mappers in keycloak.

### Issue Type

Feature Idea

### Component Name

keycloak_user_federation

### Additional Information

This would allow for a playbook that install's and configures a keycloak server with ldap integration.

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2021-07-17 17:58] WissemChb commented on #2995
Thank you very much. This is awesome. With this method, I can add environment variables to any Ansible Task.

[2021-07-17 17:58] #2995 closed

[2021-07-17 18:17] felixfontein commented on #3027
!component =plugins/modules/identity/keycloak/

[2021-07-18 11:20] felixfontein commented on #3026
I created a fix in #3028. Would be glad if you could test this ASAP so we can include it in the next release (which I'll start making tomorrow evening).

[2021-07-18 11:57] patsevanton commented on #3026
@felixfontein Thanks! Dont worry.

[2021-07-18 19:42] rfdparker commented on #3026
@felixfontein Thanks! I encountered the same issue with the module `community.general.snap` with version `3.3.2` of this collection but this appears to be resolved by your change (tested [felixfontein:fix-snap](https://github.com/felixfontein/community.general/tree/fix-snap) at commit 332b7b09d1b8e71e3ed891259c013eaea6569d44).

[2021-07-18 20:40] heaveaxy commented on #473
Agree with the need for this feature

[2021-07-19 01:36] #3026 closed

[2021-07-19 08:10] russoz commented on #3011
Hi @edvinas31 ,

Ideally the latest versions:
- Ansible 2.11.2
- community.general 3.3.2

You may use `pip` and `ansible-galaxy` to install them, respectively.

[2021-07-19 08:15] felixfontein commented on #3011
@russoz you mean ansible-core, not Ansible :) The current Ansible version is 4.2.0, and the current ansible-core version is 2.11.2.

[2021-07-19 09:44] ziegenberg opened #3031 "ini_file: inconsistent handling of 'value' with empty string and 'allow_no_value' set to false"
### Summary

When adding an option with `value` set to the empty string in a non-existing section and `allow_no_value` is set to `false`, the section gets added at the bottom and the option is added as `option = `, whereas on the other hand when adding an option with `value` set to the empty string to already existing section and `allow_no_value` is set to `false` the option is not added.

That's

[2021-07-19 16:57] #2957 closed

[2021-07-19 18:35] sangeethdba commented on #1216
fatal: [xxx.xxx.com]: FAILED! => {"msg": "An unhandled exception occurred while running the lookup plugin 'hashi_vault'. Error was a <class 'ansible.errors.AnsibleError'>, original message: The secret secret/data/dbre/elasticsearch/ESBOO/kibanapwd does not contain the field 'content'. for hashi_vault lookup"}

im getting this error when ansible version is 2.9.. the same works when the ansible vers

[2021-07-19 18:43] briantist commented on #1216
@sangeethdba please open a new issue in the community.hashi_vault collection repo: https://github.com/ansible-collections/community.hashi_vault/issues

[2021-07-20 07:24] felixfontein commented on #582
3.4.0 has been released. The next expected stable-3 release is 3.5.0.

[2021-07-20 10:03] russoz commented on #3011
Yes, my confusion, sorry. In any case, @edvinas31 please let us know when you are able to test that in more recent versions of the products.

[2021-07-20 17:04] vwbusguy commented on #2997
That's fair, but if that is the goal, then I'll kindly close this as it will no longer fit my use case of being able to update all currently installed plugins.

[2021-07-21 00:18] quidame commented on #2991
hi @itviet2021 , this is the expected behaviour :) The module creates a VG from the given PVs

Module (current) documentation says https://github.com/ansible-collections/community.general/blob/11cdb1b661b302aca06edb62b17f0f42a4daa609/plugins/modules/system/lvg.py#L25-L31

Have you tried with:
[code]
?

or with YAML lists:
[code]
?

Both should work as expected (I mean: as stated by the tasks names

[2021-07-21 01:40] quidame commented on #3023
hi @davexre thanks for reporting this !

I agree that it seems to come from #2008, which mainly focused on certificate fingerprints (vs aliases) to be more accurate, but unfortunately left private keys behind. I'm afraid that it was not detected by integration tests !

The previous command ran to import the PKCS12 keystore entry into the java keystore was something like:
[code]
and is now:
[code]

[2021-07-21 02:06] quidame commented on #3031
hi @ziegenberg , thank you for this detailed report !

Maybe there is some confusion somewhere in the code between an empty value and no value at all. I will take a deeper look in a few days.

[2021-07-21 08:33] felixfontein commented on #3023
See also #2460 for a related problem.

[2021-07-21 10:44] suukit opened #3038 "Add support for GitHub OnPrem for github_repo module"
### Summary

The github_repo module currently only supports actions against github.com. The same API can be used for on-premise installations. We'd just have to introduce a parameter giving the URL to the API as option. If omitted we'll go with github.com to not break the current implementation

### Issue Type

Feature Idea

### Component Name

github_repo

### Additional Information

[code]

###

[2021-07-21 11:57] MartinHerren opened #3040 "Issue with nmcli module after upgrade to 3.4.0"
### Summary

After upgrade to 3.4.0 our nmcli task stopped working with following error:

[code]

Task is
[code]

Didn't find a mention in the release changelog that there was a breaking change in this module, just an added feature.

Downgrading to 3.3.2 fixes the issue. Even works fine on 1.2.0.

### Issue Type

Bug Report

### Component Name

nmcli

### Ansible Version

Reproduced with multiple